In [1]:
#Libraries

#Python Libs
import sys
import os
import glob
import traceback
from datetime import datetime
import time
from geopy import distance


#Data Analysis Libs
import pandas as pd
import numpy as np

In [3]:
#Functions
def select_input_files(enh_buste_base_path,init_date,fin_date,suffix):
        selected_files = []
        all_files = glob.glob(os.path.join(enh_buste_base_path,"*"))

        for file_ in all_files:
                try:
                        file_date = pd.to_datetime(file_.split('/')[-1],format=('%Y_%m_%d' + suffix  + '.csv'))
                        if (file_date >= init_date) and (file_date <= fin_date):
                                selected_files.append((file_,file_date))
                except:
                        continue

        return sorted(selected_files)

def get_gtfs_path(query_date):
    INTERMEDIATE_OTP_DATE = pd.to_datetime("2019-02-10", format="%Y-%m-%d")
    router_id = ''

    if (query_date <= INTERMEDIATE_OTP_DATE):
        return 'campina-gtfs-2019'
    else:
        return 'campina-gtfs-2017'

## Main

In [4]:
otp_suggestions_filepath = 'data/output/2019_02_10_bus_trips_otp_itineraries.csv'
bus_trips_folderpath = 'data/input'
gtfs_base_folderpath = 'data/input'
output_folderpath = 'data/output'

In [7]:
#gtfs_base_folderpath + os.sep + get_gtfs_path(file_date) + os.sep

NameError: name 'file_date' is not defined

In [5]:
file_date_str = otp_suggestions_filepath.split('/')[-1].split('_bus_trips_')[0]
file_date = pd.to_datetime(file_date_str,format='%Y_%m_%d')
print "Processing File:", otp_suggestions_filepath

Processing File: data/output/2019_02_10_bus_trips_otp_itineraries.csv

In [6]:
    # Extracting itinerary part name for later use
    itinerary_part_name = otp_suggestions_filepath.split('/')[-1].split('_')[5]
    # Read OTP Suggestions
    otp_suggestions_raw = pd.read_csv(otp_suggestions_filepath, parse_dates=['date','otp_start_time','otp_end_time'])

    if len(otp_suggestions_raw) == 0:
        print "Zero OTP suggestions found."
        print "Skipping next steps..."
        exit(0)

In [7]:
def prepare_otp_data(otp_data):
        #Fixing prefix
        otp_data.columns = otp_data.columns.str.replace('otp_','')
        otp_data = otp_data.add_prefix('otp_')
        
        #Fixing Timezone difference - when needed
        otp_data['otp_start_time'] = otp_data['otp_start_time'] - pd.Timedelta('10800 s')
        otp_data['otp_end_time'] = otp_data['otp_end_time'] - pd.Timedelta('10800 s')
        
        #Adjusting route format to have 3 numbers
        otp_data['otp_route'] = otp_data['otp_route'].astype(str)
        otp_data['otp_route'] = np.where(otp_data['otp_mode'] == 'BUS',
                            otp_data['otp_route'].astype(str).str.replace("\.0",'').str.zfill(3),
                            otp_data['otp_route'])

        return otp_data

In [8]:
    # Prepare OTP data for analysis
    otp_suggestions = prepare_otp_data(otp_suggestions_raw)    
    
    # Read stops data
    stops_filepath = gtfs_base_folderpath + os.sep + get_gtfs_path(file_date) + os.sep + 'stops.txt'
    stops_df = pd.read_csv(stops_filepath)
    
    # Adding Parent Stop data to OTP Suggestions TODO
    stops_parent_stations = stops_df[['stop_id','parent_station']]
    otp_suggestions = otp_suggestions.merge(stops_parent_stations.add_prefix('from_'),
                                                left_on='otp_from_stop_id',
                                                right_on='from_stop_id',
                                                how='left') \
                                        .merge(stops_parent_stations.add_prefix('to_'),
                                                left_on='otp_to_stop_id',
                                                right_on='to_stop_id',
                                                how='left') \
                                        .drop(['from_stop_id','to_stop_id'], axis=1) \
                                        .rename(index=str, columns={'from_parent_station':'otp_from_parent_station',
                                                                    'to_parent_station':'otp_to_parent_station'})
        
    otp_suggestions_bus_legs = otp_suggestions[otp_suggestions['otp_mode'] == 'BUS']
    otp_suggestions_walk_legs = otp_suggestions[otp_suggestions['otp_mode'] == 'WALK']

In [9]:
#otp_suggestions.drop_duplicates(subset=['otp_leg_id','otp_end_time','otp_mode','otp_duration_mins'],inplace=True)
#otp_suggestions.duplicated(subset=['otp_leg_id','otp_end_time','otp_mode','otp_duration_mins'])
otp_suggestions.tail(10)

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
146459,2019-02-10,1141130.0,66,2,2019-02-10 22:52:58,2019-02-10 23:14:02,BUS,022,386259.0,386651.0,21.066667,NaN,NaN
146460,2019-02-10,1141130.0,66,3,2019-02-10 23:14:03,2019-02-10 23:26:22,WALK,nan,NaN,NaN,12.316667,NaN,NaN
146461,2019-02-10,1141130.0,67,1,2019-02-10 22:50:55,2019-02-10 23:06:31,WALK,nan,NaN,NaN,15.600000,NaN,NaN
146462,2019-02-10,1141130.0,67,2,2019-02-10 23:06:32,2019-02-10 23:24:35,BUS,922,385945.0,386333.0,18.050000,NaN,NaN
146463,2019-02-10,1141130.0,67,3,2019-02-10 23:24:36,2019-02-10 23:38:13,WALK,nan,NaN,NaN,13.616667,NaN,NaN
146464,2019-02-10,1141130.0,68,1,2019-02-10 22:50:00,2019-02-10 23:15:32,WALK,nan,NaN,NaN,25.533333,NaN,NaN
146465,2019-02-10,1141130.0,68,2,2019-02-10 23:15:33,2019-02-10 23:25:41,BUS,245,386397.0,386221.0,10.133333,NaN,NaN
146466,2019-02-10,1141130.0,68,3,2019-02-10 23:25:41,2019-02-10 23:34:52,WALK,nan,NaN,NaN,9.183333,NaN,NaN
146467,2019-02-10,1141130.0,68,4,2019-02-10 23:40:29,2019-02-10 23:58:22,BUS,444,386127.0,386651.0,17.883333,NaN,NaN
146468,2019-02-10,1141130.0,68,5,2019-02-10 23:58:23,2019-02-11 00:10:42,WALK,nan,NaN,NaN,12.316667,NaN,NaN

## Read and Prepare Bus Trip Data

In [10]:
bus_trips_filepath = bus_trips_folderpath + os.sep + file_date_str + '_bus_trips.csv'
bus_trips = pd.read_csv(bus_trips_filepath, dtype={'route': object},parse_dates=['gps_datetime']) \
                                        .sort_values(['route','busCode','tripNum','gps_datetime']) \
                                        .assign(route = lambda x: x['route'].astype(str).str.replace("\.0",'').str.zfill(3))  \
                                        .drop_duplicates()

/home/hector/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (1,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
bus_trips.head()

,route,tripNum,shapeId,routeFrequency,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,busCode,gpsPointId,gpsLat,gpsLon,distanceToShapePoint,gps_datetime,stopPointId,streetName,problem
33887,004,1,72948,high_frequency,362,-7.25413,-35.87884,16022.0,3023,24843,-7.254136,-35.878219,68.502594,10-02-2019 11:37:53,386681,-,NO_PROBLEM
33888,004,1,72948,high_frequency,319,-7.25235,-35.88532,14414.0,3023,25835,-7.252356,-35.885307,1.5815763,10-02-2019 11:49:22,385800,-,NO_PROBLEM
33889,004,1,72948,high_frequency,295,-7.24573,-35.88404,13494.0,3023,26142,-7.245819,-35.88398,11.90551,10-02-2019 11:53:11,386310,-,NO_PROBLEM
33890,004,1,72948,high_frequency,83,-7.24614,-35.88426,2423.0,3023,-,-,-,-,10-02-2019 11:53:17,386304,-,BETWEEN
33891,004,1,72948,high_frequency,100,-7.24202,-35.88208,3109.0,3023,-,-,-,-,10-02-2019 11:53:48,491145,-,BETWEEN

In [160]:
#bus_trips[(bus_trips.route == "944") & (bus_trips.stopPointId == 491551.0)].head()
#bus_trips['gps_datetime'] = pd.to_datetime(bus_trips['gps_datetime'], format='%Y_%m_%d %H:%M:%S')

In [161]:
#trezentos = bus_trips[(bus_trips.route == "333")]
#output = trezentos.to_csv("data/output/trezentos.csv",index=False)

In [11]:
bus_trips_clean = bus_trips.filter(['route','busCode','tripNum','stopPointId','gps_datetime'])

In [16]:
bus_trips_clean.head()

      route busCode tripNum  stopPointId         gps_datetime
33887   004    3023       1       386681  10-02-2019 11:37:53
33888   004    3023       1       385800  10-02-2019 11:49:22
33889   004    3023       1       386310  10-02-2019 11:53:11
33890   004    3023       1       386304  10-02-2019 11:53:17
33891   004    3023       1       491145  10-02-2019 11:53:48

In [164]:
#bus_trips_clean[bus_trips_clean.route == "944"].head()

In [165]:
bus_trips_clean.dtypes

route           object
busCode         object
tripNum         object
stopPointId      int64
gps_datetime    object
dtype: object

In [166]:
otp_suggestions_bus_legs.dtypes

otp_date                   datetime64[ns]
otp_user_trip_id                  float64
otp_itinerary_id                    int64
otp_leg_id                          int64
otp_start_time             datetime64[ns]
otp_end_time               datetime64[ns]
otp_mode                           object
otp_route                          object
otp_from_stop_id                  float64
otp_to_stop_id                    float64
otp_duration_mins                 float64
otp_from_parent_station           float64
otp_to_parent_station             float64
dtype: object

## Identify Possible Matches between OTP Itineraries and Bus Trips Observed Data

In [12]:
#bus_trips_clean.gps_datetime = bus_trips_clean.drop(bus_trips_clean.gps_datetime[bus_trips_clean.gps_datetime == "-"].index, inplace=True)

bus_trips_clean.drop(bus_trips_clean.loc[bus_trips_clean['gps_datetime']=='-'].index, inplace=True)


#bus_trips_clean = bus_trips_clean[bus_trips_clean.gps_datetime == "-"]
bus_trips_clean.dtypes
#bus_trips_clean.gps_datetime = pd.to_datetime(bus_trips_clean.gps_datetime)
#pd.to_datetime('01-02-2019 06:01:01')
bus_trips_clean.head()

      route busCode tripNum  stopPointId         gps_datetime
33887   004    3023       1       386681  10-02-2019 11:37:53
33888   004    3023       1       385800  10-02-2019 11:49:22
33889   004    3023       1       386310  10-02-2019 11:53:11
33890   004    3023       1       386304  10-02-2019 11:53:17
33891   004    3023       1       491145  10-02-2019 11:53:48

In [13]:
bus_trips_clean['gps_datetime'] = pd.to_datetime(bus_trips_clean['gps_datetime'], format='%d-%m-%Y %H:%M:%S')
bus_trips_clean.head()

      route busCode tripNum  stopPointId        gps_datetime
33887   004    3023       1       386681 2019-02-10 11:37:53
33888   004    3023       1       385800 2019-02-10 11:49:22
33889   004    3023       1       386310 2019-02-10 11:53:11
33890   004    3023       1       386304 2019-02-10 11:53:17
33891   004    3023       1       491145 2019-02-10 11:53:48

In [14]:
scheduled_itin_observed_o = otp_suggestions_bus_legs.merge(bus_trips_clean.add_prefix('bt_'),
                                left_on=['otp_route','otp_from_stop_id'],
                                right_on=['bt_route','bt_stopPointId'],
                                how='inner') \
                                .drop(['bt_route','bt_stopPointId'], axis=1) \
                                .rename(index=str, columns={'bt_gps_datetime':'bt_start_time',
                                                            'bt_tripNum':'bt_trip_num',
                                                            'bt_busCode':'bt_bus_code'}) \
                                .assign(sched_obs_start_timediff = 
                                        lambda x: np.absolute(pd.to_datetime(x['bt_start_time']) - x['otp_start_time']))

In [170]:
#bus_trips_clean[(bus_trips_clean.route == "944") & (bus_trips_clean.stopPointId == 491551.0)].sort_values(by=['gps_datetime']).head()

In [20]:
scheduled_itin_observed_o.head()

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff
0,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2026,1,2019-02-10 05:50:39,14:05:59
1,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2026,2,2019-02-10 06:57:55,12:58:43
2,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2026,3,2019-02-10 08:47:11,11:09:27
3,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2026,4,2019-02-10 10:36:53,09:19:45
4,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2026,5,2019-02-10 12:29:14,07:27:24

In [172]:
#scheduled_itin_observed_o[(scheduled_itin_observed_o.otp_route == "944") & (scheduled_itin_observed_o.otp_start_time == '2019-05-13 14:05:47')][['otp_itinerary_id',"otp_start_time","otp_route","otp_from_stop_id",
                                                                           #"otp_from_stop_id", "bt_start_time", "sched_obs_start_timediff"]].sort_values(by=['sched_obs_start_timediff']).head()
#scheduled_itin_observed_o[(scheduled_itin_observed_o.otp_itinerary_id == 112)]

In [15]:
scheduled_itin_observed_o_1 = scheduled_itin_observed_o[(scheduled_itin_observed_o.otp_mode == "BUS") & (scheduled_itin_observed_o.sched_obs_start_timediff >= pd.Timedelta('0s'))  ]#& (scheduled_itin_observed_o.sched_obs_start_timediff < pd.Timedelta('1.5h'))]
scheduled_itin_observed_o_1

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff
0,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2026,1,2019-02-10 05:50:39,14:05:59
1,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2026,2,2019-02-10 06:57:55,12:58:43
2,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2026,3,2019-02-10 08:47:11,11:09:27
3,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2026,4,2019-02-10 10:36:53,09:19:45
4,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2026,5,2019-02-10 12:29:14,07:27:24
5,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2026,6,2019-02-10 14:18:58,05:37:40
6,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2026,7,2019-02-10 17:20:20,02:36:18
7,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2042,1,2019-02-10 07:46:14,12:10:24
8,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2042,2,2019-02-10 09:26:06,10:30:32
9,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2042,3,2019-02-10 10:51:17,09:05:21
10,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2042,4,2019-02-10 12:42:58,07:13:40
11,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2042,5,2019-02-10 13:16:26,06:40:12
12,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2042,6,2019-02-10 15:02:46,04:53:52
13,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2042,7,2019-02-10 18:12:19,01:44:19
14,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2042,8,2019-02-10 20:05:14,00:08:36
15,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2053,1,2019-02-10 07:13:07,12:43:31
16,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2053,2,2019-02-10 09:27:26,10:29:12
17,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2053,3,2019-02-10 10:46:20,09:10:18
18,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2053,4,2019-02-10 11:05:54,08:50:44
19,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2053,6,2019-02-10 12:39:19,07:17:19
20,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2053,7,2019-02-10 15:00:14,04:56:24
21,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,23.533333,NaN,NaN,2053,9,2019-02-10 16:58:35,02:58:03
22,2019-02-10,385702.0,8,2,2019-02-10 20:26:38,2019-02-10 20:56:06,BUS,092,386176.0,386160.0,29.466667,NaN,NaN,2026,1,2019-02-10 05:50:39,14:35:59
23,2019-02-10,385702.0,8,2,2019-02-10 20:26:38,2019-02-10 20:56:06,BUS,092,386176.0,386160.0,29.466667,NaN,NaN,2026,2,2019-02-10 06:57:55,13:28:43
24,2019-02-10,385702.0,8,2,2019-02-10 20:26:38,2019-02-10 20:56:06,BUS,092,386176.0,386160.0,29.466667,NaN,NaN,2026,3,2019-02-10 08:47:11,11:39:27
25,2019-02-10,385702.0,8,2,2019-02-10 20:26:38,2019-02-10 20:56:06,BUS,092,386176.0,386160.0,29.466667,NaN,NaN,2026,4,2019-02-10 10:36:53,09:49:45
26,2019-02-10,385702.0,8,2,2019-02-10 20:26:38,2019-02-10 20:56:06,BUS,092,386176.0,386160.0,29.466667,NaN,NaN,2026,5,2019-02-10 12:29:14,07:57:24
27,2019-02-10,385702.0,8,2,2019-02-10 20:26:38,2019-02-10 20:56:06,BUS,092,386176.0,386160.0,29.466667,NaN,NaN,2026,6,2019-02-10 14:18:58,06:07:40
28,2019-02-10,385702.0,8,2,2019-02-10 20:26:38,2019-02-10 20:56:06,BUS,092,386176.0,386160.0,29.466667,NaN,NaN,2026,7,2019-02-10 17:20:20,03:06:18
29,2019-02-10,385702.0,8,2,2019-02-10 20:26:38,2019-02-10 20:56:06,BUS,092,386176.0,386160.0,29.466667,NaN,NaN,2042,1,2019-02-10 07:46:14,12:40:24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1030586,2019-02-10,768732.0,12,4,2019-02-10 18:02:22,2019-02-10 18:06:40,BUS,263A,386383.0,497784.0,4.300000,NaN,NaN,1041,3,2019-02-10 11:41:37,06:20:45
1030587,2019-02-10,768732.0,12,4,2019-02-10 18:02:22,2019-02-10 18:06:40,BUS,263A,386383.0,497784.0,4.300000,NaN,NaN,1041,4,2019-02-10 12:38:51,05:23:31
1030588,2019-02-10,768732.0,12,4,2019-02-10 18:02:22,2019-02-10 18:06:40,BUS,263A,386383.0,497784.0,4.300000,NaN,NaN,1041,5,2019-02-10 13:55:16,04:07:06
1030589,2019-02-10,768732.0,12,4,2019-02-10 18:02:22,2019-02-10 18:06:40,BUS,263A,386383.0,497784.0,4.300000,NaN,NaN,1041,6,2019-02-10 16:02:47,01:59:35
1030590,2019-02-10,768732.0,12,4,2019-02-10 18:02:22,2019-02-10 18:06:40,BUS,263A,386383.0,497784.0,4.300000,NaN,NaN,1084,1,2019-02-10 06:49:26,11:12:56
1030591,2019-02-10,768732.0,25,4,2019-02-10 18:41:28,2019-02-10 18:55:00,BUS,066,386636.0,497784.0,13.533333,NaN,NaN,1081,1,2019-02-10 06:56:31,11:44:57
1030592,2019-02-10,768732.0,25,4,2019-02-10 18:41:28,2019-02-10 18:55:00,BUS,066,386636.0,497784.0,13.533333,NaN,NaN,1081,10,2019-02-10 15:51:06,02:50:22
1030593,2019-02-10,768732.0,25,4,2019-02-10 18:41:28,2019-02-10 18:55:00,BUS,066,386636.0,497784.0,13.533333,NaN,NaN,1081,11,2019-02-10 16:52:25,01:49:03
1030594,2019-02-10,768732.0,25,4,2019-02-10 18:41:28,2019-02-10 18:55:00,BUS,066,386636.0,497784.0,13.533333,NaN,NaN,1081,12,2019-02-10 17:52:14,00:49:14
1030595,2019-02-10,768732.0,25,4,2019-02-10 18:41:28,2019-02-10 18:55:00,BUS,066,386636.0,497784.0,13.533333,NaN,NaN,1081,13,2019-02-10 18:26:01,00:15:27
1030596,2019-02-10,768732.0,25,4,2019-02-10 18:41:28,2019-02-10 18:55:00,BUS,066,386636.0,497784.0,13.533333,NaN,NaN,1081,14,2019-02-10 19:48:49,01:07:21
1030597,2019-02-10,768732.0,25,4,2019-02-10 18:41:28,2019-02-10 18:55:00,BUS,066,386636.0,497784.0,13.533333,NaN,NaN,1081,2,2019-02-10 07:34:18,11:07:10
1030598,2019-02-10,768732.0,25,4,2019-02-10 18:41:28,2019-02-10 18:55:00,BUS,066,386636.0,497784.0,13.533333,NaN,NaN,1081,3,2019-02-10 08:33:29,10:07:59
1030599,2019-02-10,768732.0,25,4,2019-02-10 18:41:28,2019-02-10 18:55:00,BUS,066,386636.0,497784.0,13.533333,NaN,NaN,1081,4,2019-02-10 09:24:26,09:17:02
1030600,2019-02-10,768732.0,25,4,2019-02-10 18:41:28,2019-02-10 18:55:00,BUS,066,386636.0,497784.0,13.533333,NaN,NaN,1081,5,2019-02-10 10:29:55,08:11:33
1030601,2019-02-10,768732.0,25,4,2019-02-10 18:41:28,2019-02-10 18:55:00,BUS,066,386636.0,497784.0,13.533333,NaN,NaN,1081,6,2019-02-10 11:28:52,07:12:36
1030602,2019-02-10,768732.0,25,4,2019-02-10 18:41:28,2019-02-10 18:55:00,BUS,066,386636.0,497784.0,13.533333,NaN,NaN,1081,7,2019-02-10 12:48:59,05:52:29
1030603,2019-02-10,768732.0,25,4,2019-02-10 18:41:28,2019-02-10 18:55:00,BUS,066,386636.0,497784.0,13.533333,NaN,NaN,1081,8,2019-02-10 13:48:52,04:52:36
1030604,2019-02-10,768732.0,25,4,2019-02-10 18:41:28,2019-02-10 18:55:00,BUS,066,386636.0,497784.0,13.533333,NaN,NaN,1081,9,2019-02-10 14:30:53,04:10:35
1030605,2019-02-10,768732.0,30,6,2019-02-10 19:14:49,2019-02-10 19:18:28,BUS,245,386379.0,386522.0,3.650000,NaN,NaN,1027,1,2019-02-10 06:06:58,13:07:51
1030606,2019-02-10,768732.0,30,6,2019-02-10 19:14:49,2019-02-10 19:18:28,BUS,245,386379.0,386522.0,3.650000,NaN,NaN,1027,2,2019-02-10 08:04:28,11:10:21
1030607,2019-02-10,768732.0,30,6,2019-02-10 19:14:49,2019-02-10 19:18:28,BUS,245,386379.0,386522.0,3.650000,NaN,NaN,1027,3,2019-02-10 10:05:10,09:09:39
1030608,2019-02-10,768732.0,30,6,2019-02-10 19:14:49,2019-02-10 19:18:28,BUS,245,386379.0,386522.0,3.650000,NaN,NaN,1027,4,2019-02-10 12:04:20,07:10:29
1030609,2019-02-10,768732.0,30,6,2019-02-10 19:14:49,2019-02-10 19:18:28,BUS,245,386379.0,386522.0,3.650000,NaN,NaN,1027,5,2019-02-10 14:09:57,05:04:52
1030610,2019-02-10,768732.0,30,6,2019-02-10 19:14:49,2019-02-10 19:18:28,BUS,245,386379.0,386522.0,3.650000,NaN,NaN,1027,6,2019-02-10 17:04:42,02:10:07
1030611,2019-02-10,768732.0,30,6,2019-02-10 19:14:49,2019-02-10 19:18:28,BUS,245,386379.0,386522.0,3.650000,NaN,NaN,1062,1,2019-02-10 09:45:04,09:29:45
1030612,2019-02-10,768732.0,30,6,2019-02-10 19:14:49,2019-02-10 19:18:28,BUS,245,386379.0,386522.0,3.650000,NaN,NaN,1062,2,2019-02-10 12:53:54,06:20:55
1030613,2019-02-10,768732.0,30,6,2019-02-10 19:14:49,2019-02-10 19:18:28,BUS,245,386379.0,386522.0,3.650000,NaN,NaN,1062,3,2019-02-10 13:42:18,05:32:31
1030614,2019-02-10,768732.0,30,6,2019-02-10 19:14:49,2019-02-10 19:18:28,BUS,245,386379.0,386522.0,3.650000,NaN,NaN,1062,4,2019-02-10 16:06:34,03:08:15
1030615,2019-02-10,768732.0,30,6,2019-02-10 19:14:49,2019-02-10 19:18:28,BUS,245,386379.0,386522.0,3.650000,NaN,NaN,1062,5,2019-02-10 19:31:24,00:16:35

In [16]:
scheduled_itin_observed_od = scheduled_itin_observed_o.merge(bus_trips_clean.add_prefix('bt_'),
                                left_on=['otp_route','bt_bus_code','bt_trip_num','otp_to_stop_id'],
                                right_on=['bt_route','bt_busCode','bt_tripNum','bt_stopPointId'],
                                how='inner') \
                                .drop(['bt_route','bt_stopPointId'], axis=1) \
                                .rename(index=str, columns={'bt_gps_datetime':'bt_end_time'}) \
                                .assign(sched_obs_end_timediff = 
                                        lambda x: np.absolute(x['bt_end_time'] - x['otp_end_time'])) \
                                .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','sched_obs_start_timediff','sched_obs_end_timediff'])

In [23]:
scheduled_itin_observed_od.head()

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,...,otp_from_parent_station,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff,bt_busCode,bt_tripNum,bt_end_time,sched_obs_end_timediff
8666,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,NaN,2042,8,2019-02-10 20:05:14,00:08:36,2042,8,2019-02-10 19:35:23,00:44:47
8047,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,NaN,2042,7,2019-02-10 18:12:19,01:44:19,2042,7,2019-02-10 17:48:12,02:31:58
3714,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,NaN,2026,7,2019-02-10 17:20:20,02:36:18,2026,7,2019-02-10 16:25:10,03:55:00
12999,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,NaN,2053,9,2019-02-10 16:58:35,02:58:03,2053,9,2019-02-10 16:49:00,03:31:10
7428,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,NaN,2042,6,2019-02-10 15:02:46,04:53:52,2042,6,2019-02-10 15:30:07,04:50:03

In [17]:
scheduled_itin_observed_od['bt_duration_mins'] = (scheduled_itin_observed_od['bt_end_time'] - scheduled_itin_observed_od['bt_start_time'])/pd.Timedelta(minutes=1)
scheduled_itin_observed_od = scheduled_itin_observed_od[scheduled_itin_observed_od['bt_duration_mins'] > 0]

In [25]:
scheduled_itin_observed_od

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,...,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff,bt_busCode,bt_tripNum,bt_end_time,sched_obs_end_timediff,bt_duration_mins
7428,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2042,6,2019-02-10 15:02:46,04:53:52,2042,6,2019-02-10 15:30:07,04:50:03,27.350000
3095,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2026,6,2019-02-10 14:18:58,05:37:40,2026,6,2019-02-10 15:12:06,05:08:04,53.133333
6809,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2042,5,2019-02-10 13:16:26,06:40:12,2042,5,2019-02-10 14:00:09,06:20:01,43.716667
11761,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2053,6,2019-02-10 12:39:19,07:17:19,2053,6,2019-02-10 13:32:26,06:47:44,53.116667
2476,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2026,5,2019-02-10 12:29:14,07:27:24,2026,5,2019-02-10 13:23:44,06:56:26,54.500000
11142,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2053,4,2019-02-10 11:05:54,08:50:44,2053,4,2019-02-10 11:39:37,08:40:33,33.716667
1857,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2026,4,2019-02-10 10:36:53,09:19:45,2026,4,2019-02-10 11:25:10,08:55:00,48.283333
9904,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2053,2,2019-02-10 09:27:26,10:29:12,2053,2,2019-02-10 09:49:12,10:30:58,21.766667
1238,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2026,3,2019-02-10 08:47:11,11:09:27,2026,3,2019-02-10 09:32:27,10:47:43,45.266667
4333,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2042,1,2019-02-10 07:46:14,12:10:24,2042,1,2019-02-10 08:33:27,11:46:43,47.216667
9285,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2053,1,2019-02-10 07:13:07,12:43:31,2053,1,2019-02-10 07:55:09,12:25:01,42.033333
619,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2026,2,2019-02-10 06:57:55,12:58:43,2026,2,2019-02-10 07:26:46,12:53:24,28.850000
197444,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2033,11,2019-02-10 22:23:34,01:54:03,2033,11,2019-02-10 22:28:44,01:54:02,5.166667
197500,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2033,8,2019-02-10 18:32:55,01:56:36,2033,8,2019-02-10 18:39:08,01:55:34,6.216667
197572,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2048,8,2019-02-10 17:18:10,03:11:21,2048,8,2019-02-10 17:55:35,02:39:07,37.416667
197492,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2033,7,2019-02-10 17:11:33,03:17:58,2033,7,2019-02-10 17:16:59,03:17:43,5.433333
197484,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2033,6,2019-02-10 15:47:22,04:42:09,2033,6,2019-02-10 15:52:49,04:41:53,5.450000
197556,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2048,6,2019-02-10 14:43:26,05:46:05,2048,6,2019-02-10 15:13:41,05:21:01,30.250000
197548,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2048,5,2019-02-10 13:28:39,07:00:52,2048,5,2019-02-10 13:51:17,06:43:25,22.633333
197468,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2033,4,2019-02-10 13:09:56,07:19:35,2033,4,2019-02-10 13:15:14,07:19:28,5.300000
197540,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2048,4,2019-02-10 12:08:36,08:20:55,2048,4,2019-02-10 12:31:40,08:03:02,23.066667
197460,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2033,3,2019-02-10 11:45:46,08:43:45,2033,3,2019-02-10 11:51:37,08:43:05,5.850000
197532,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2048,3,2019-02-10 10:55:23,09:34:08,2048,3,2019-02-10 11:14:58,09:19:44,19.583333
197452,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2033,2,2019-02-10 10:35:12,09:54:19,2033,2,2019-02-10 10:41:19,09:53:23,6.116667
197524,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2048,2,2019-02-10 09:21:46,11:07:45,2048,2,2019-02-10 09:53:23,10:41:19,31.616667
197516,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2048,1,2019-02-10 08:01:39,12:27:52,2048,1,2019-02-10 08:26:43,12:07:59,25.066667
202597,2019-02-10,385702.0,2,2,2019-02-10 19:55:33,2019-02-10 20:30:39,BUS,245,386397.0,385820.0,...,NaN,1027,6,2019-02-10 17:16:55,02:38:38,1027,6,2019-02-10 17:47:24,02:43:15,30.483333
202498,2019-02-10,385702.0,2,2,2019-02-10 19:55:33,2019-02-10 20:30:39,BUS,245,386397.0,385820.0,...,NaN,1027,5,2019-02-10 14:19:31,05:36:02,1027,5,2019-02-10 14:51:09,05:39:30,31.633333
202399,2019-02-10,385702.0,2,2,2019-02-10 19:55:33,2019-02-10 20:30:39,BUS,245,386397.0,385820.0,...,NaN,1027,4,2019-02-10 12:26:19,07:29:14,1027,4,2019-02-10 12:59:22,07:31:17,33.050000
202300,2019-02-10,385702.0,2,2,2019-02-10 19:55:33,2019-02-10 20:30:39,BUS,245,386397.0,385820.0,...,NaN,1027,3,2019-02-10 10:21:37,09:33:56,1027,3,2019-02-10 10:54:44,09:35:55,33.116667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341098,2019-02-10,1141130.0,67,2,2019-02-10 23:06:32,2019-02-10 23:24:35,BUS,922,385945.0,386333.0,...,NaN,2030,3,2019-02-10 11:29:06,11:37:26,2030,3,2019-02-10 12:00:47,11:23:48,31.683333
339834,2019-02-10,1141130.0,67,2,2019-02-10 23:06:32,2019-02-10 23:24:35,BUS,922,385945.0,386333.0,...,NaN,2030,2,2019-02-10 10:37:46,12:28:46,2030,2,2019-02-10 10:49:19,12:35:16,11.550000
338570,2019-02-10,1141130.0,67,2,2019-02-10 23:06:32,2019-02-10 23:24:35,BUS,922,385945.0,386333.0,...,NaN,2030,1,2019-02-10 09:01:19,14:05:13,2030,1,2019-02-10 09:24:48,13:59:47,23.483333
215395,2019-02-10,1141130.0,68,2,2019-02-10 23:15:33,2019-02-10 23:25:41,BUS,245,386397.0,386221.0,...,NaN,1027,6,2019-02-10 17:16:55,05:58:38,1027,6,2019-02-10 17:25:38,06:00:03,8.716667
213602,2019-02-10,1141130.0,68,2,2019-02-10 23:15:33,2019-02-10 23:25:41,BUS,245,386397.0,386221.0,...,NaN,1027,5,2019-02-10 14:19:31,08:56:02,1027,5,2019-02-10 14:28:45,08:56:56,9.233333
211809,2019-02-10,1141130.0,68,2,2019-02-10 23:15:33,2019-02-10 23:25:41,BUS,245,386397.0,386221.0,...,NaN,1027,4,2019-02-10 12:26:19,10:49:14,1027,4,2019-02-10 12:36:23,10:49:18,10.066667
210016,2019-02-10,1141130.0,68,2,2019-02-10 23:15:33,2019-02-10 23:25:41,BUS,245,386397.0,386221.0,...,NaN,1027,3,2019-02-10 10:21:37,12:53:56,1027,3,2019-02-10 10:31:57,12:53:44,10.333333
208223,2019-02-10,1141130.0,68,2,2019-02-10 23:15:33,2019-02-10 23:25:41,BUS,245,386397.0,386221.0,...,NaN,1027,2,2019-02-10 08:22:47,14:52:46,1027,2,2019-02-10 08:33:10,14:52:31,10.383333
206430,2019-02-10,1141130.0,68,2,2019-02-10 23:15:33,2019-02-10 23:25:41,BUS,245,386397.0,386221.0,...,NaN,1027,1,2019-02-10 06:18:12,16:57:21,1027,1,2019-02-10 06:26:53,16:58:48,8.683333
318078,2019-02-10,1141130.0,68,4,2019-02-10 23:40:29,2019-02-10 23:58:22,BUS,444,386127.0,386651.0,...,NaN,3057,9,2019-02-10 19:43:41,03:56:48,3057,9,2019-02-10 19:59:29,03:58:53,15.800000
317259,2019-02-10,1141130.0,68,4,2019-02-10 23:40:29,2019-02-10 23:58:22,BUS,444,386127.0,386651.0,...,NaN,3002,8,2019-02-10 18:54:04,04:46:25,3002,8,2019-02-10 18:59:07,04:59:15,5.050000
318039,2019-02-10,1141130.0,68,4,2019-02-10 23:40:29,2019-02-10 23:58:22,BUS,444,386127.0,386651.0,...,NaN,3057,8,2019-02-10 18:23:55,05:16:34,3057,8,2019-02-10 18:45:17,05:13:05,21.366667
317688,2019-02-10,1141130.0,68,4,2019-02-10 23:40:29,2019-02-10 23:58:22,BUS,444,386127.0,386651.0,...,NaN,3009,11,2019-02-10 18:10:23,05:30:06,3009,11,2019-02-10 18:33:53,05:24:29,23.500000
318000,2019-02-10,1141130.0,68,4,2019-02-10 23:40:29,2019-02-10 23:58:22,BUS,444,386127.0,386651.0,...,NaN,3057,7,2019-02-10 17:05:04,06:35:25,3057,7,2019-02-10 17:23:51,06:34:31,18.783333
317220,2019-02-10,1141130.0,68,4,2019-02-10 23:40:29,2019-02-10 23:58:22,BUS,444,386127.0,386651.0,...,NaN,3002,7,2019-02-10 16:52:44,06:47:45,3002,7,2019-02-10 17:53:39,06:04:43,60.916667
318117,2019-02-10,1141130.0,68,4,2019-02-10 23:40:29,2019-02-10 23:58:22,BUS,444,386127.0,386651.0,...,NaN,3055,10,2019-02-10 16:31:58,07:08:31,3055,10,2019-02-10 16:52:09,07:06:13,20.183333
317610,2019-02-10,1141130.0,68,4,2019-02-10 23:40:29,2019-02-10 23:58:22,BUS,444,386127.0,386651.0,...,NaN,3009,9,2019-02-10 15:41:48,07:58:41,3009,9,2019-02-10 16:04:17,07:54:05,22.483333
317181,2019-02-10,1141130.0,68,4,2019-02-10 23:40:29,2019-02-10 23:58:22,BUS,444,386127.0,386651.0,...,NaN,3002,6,2019-02-10 15:01:50,08:38:39,3002,6,2019-02-10 15:25:35,08:32:47,23.750000
317571,2019-02-10,1141130.0,68,4,2019-02-10 23:40:29,2019-02-10 23:58:22,BUS,444,386127.0,386651.0,...,NaN,3009,8,2019-02-10 14:23:32,09:16:57,3009,8,2019-02-10 14:49:15,09:09:07,25.716667
317532,2019-02-10,1141130.0,68,4,2019-02-10 23:40:29,2019-02-10 23:58:22,BUS,444,386127.0,386651.0,...,NaN,3009,7,2019-02-10 13:10:21,10:30:08,3009,7,2019-02-10 13:30:02,10:28:20,19.683333
317142,2019-02-10,1141130.0,68,4,2019-02-10 23:40:29,2019-02-10 23:58:22,BUS,444,386127.0,386651.0,...,NaN,3002,5,2019-02-10 12:36:16,11:04:13,3002,5,2019-02-10 12:56:40,11:01:42,20.400000
317883,2019-02-10,1141130.0,68,4,2019-02-10 23:40:29,2019-02-10 23:58:22,BUS,444,386127.0,386651.0,...,NaN,3057,4,2019-02-10 12:15:46,11:24:43,3057,4,2019-02-10 12:36:48,11:21:34,21.033333
318195,2019-02-10,1141130.0,68,4,2019-02-10 23:40:29,2019-02-10 23:58:22,BUS,444,386127.0,386651.0,...,NaN,3055,4,2019-02-10 11:47:26,11:53:03,3055,4,2019-02-10 12:09:51,11:48:31,22.416667
317103,2019-02-10,1141130.0,68,4,2019-02-10 23:40:29,2019-02-10 23:58:22,BUS,444,386127.0,386651.0,...,NaN,3002,4,2019-02-10 11:29:39,12:10:50,3002,4,2019-02-10 11:50:20,12:08:02,20.683333
317844,2019-02-10,1141130.0,68,4,2019-02-10 23:40:29,2019-02-10 23:58:22,BUS,444,386127.0,386651.0,...,NaN,3057,3,2019-02-10 11:05:06,12:35:23,3057,3,2019-02-10 11:25:17,12:33:05,20.183333
318156,2019-02-10,1141130.0,68,4,2019-02-10 23:40:29,2019-02-10 23:58:22,BUS,444,386127.0,386651.0,...,NaN,3055,3,2019-02-10 10:29:50,13:10:39,3055,3,2019-02-10 10:51:13,13:07:09,21.383333
317064,2019-02-10,1141130.0,68,4,2019-02-10 23:40:29,2019-02-10 23:58:22,BUS,444,386127.0,386651.0,...,NaN,3002,3,2019-02-10 10:20:32,13:19:57,3002,3,2019-02-10 10:41:56,13:16:26,21.400000
317025,2019-02-10,1141130.0,68,4,2019-02-10 23:40:29,2019-02-10 23:58:22,BUS,444,386127.0,386651.0,...,NaN,3002,2,2019-02-10 09:11:44,14:28:45,3002,2,2019-02-10 09:34:39,14:23:43,22.916667
317337,2019-02-10,1141130.0,68,4,2019-02-10 23:40:29,2019-02-10 23:58:22,BUS,444,386127.0,386651.0,...,NaN,3009,2,2019-02-10 08:04:47,15:35:42,3009,2,2019-02-10 08:28:34,15:29:48,23.783333
317298,2019-02-10,1141130.0,68,4,2019-02-10 23:40:29,2019-02-10 23:58:22,BUS,444,386127.0,386651.0,...,NaN,3009,1,2019-02-10 06:54:40,16:45:49,3009,1,2019-02-10 07:15:08,16:43:14,20.466667

In [18]:
scheduled_itin_observed_od_full = pd.concat([scheduled_itin_observed_od,otp_suggestions_walk_legs], sort=False)
scheduled_itin_observed_od_full

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,...,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff,bt_busCode,bt_tripNum,bt_end_time,sched_obs_end_timediff,bt_duration_mins
7428,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2042,6,2019-02-10 15:02:46,04:53:52,2042,6,2019-02-10 15:30:07,04:50:03,27.350000
3095,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2026,6,2019-02-10 14:18:58,05:37:40,2026,6,2019-02-10 15:12:06,05:08:04,53.133333
6809,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2042,5,2019-02-10 13:16:26,06:40:12,2042,5,2019-02-10 14:00:09,06:20:01,43.716667
11761,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2053,6,2019-02-10 12:39:19,07:17:19,2053,6,2019-02-10 13:32:26,06:47:44,53.116667
2476,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2026,5,2019-02-10 12:29:14,07:27:24,2026,5,2019-02-10 13:23:44,06:56:26,54.500000
11142,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2053,4,2019-02-10 11:05:54,08:50:44,2053,4,2019-02-10 11:39:37,08:40:33,33.716667
1857,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2026,4,2019-02-10 10:36:53,09:19:45,2026,4,2019-02-10 11:25:10,08:55:00,48.283333
9904,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2053,2,2019-02-10 09:27:26,10:29:12,2053,2,2019-02-10 09:49:12,10:30:58,21.766667
1238,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2026,3,2019-02-10 08:47:11,11:09:27,2026,3,2019-02-10 09:32:27,10:47:43,45.266667
4333,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2042,1,2019-02-10 07:46:14,12:10:24,2042,1,2019-02-10 08:33:27,11:46:43,47.216667
9285,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2053,1,2019-02-10 07:13:07,12:43:31,2053,1,2019-02-10 07:55:09,12:25:01,42.033333
619,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2026,2,2019-02-10 06:57:55,12:58:43,2026,2,2019-02-10 07:26:46,12:53:24,28.850000
197444,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2033,11,2019-02-10 22:23:34,01:54:03,2033,11,2019-02-10 22:28:44,01:54:02,5.166667
197500,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2033,8,2019-02-10 18:32:55,01:56:36,2033,8,2019-02-10 18:39:08,01:55:34,6.216667
197572,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2048,8,2019-02-10 17:18:10,03:11:21,2048,8,2019-02-10 17:55:35,02:39:07,37.416667
197492,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2033,7,2019-02-10 17:11:33,03:17:58,2033,7,2019-02-10 17:16:59,03:17:43,5.433333
197484,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2033,6,2019-02-10 15:47:22,04:42:09,2033,6,2019-02-10 15:52:49,04:41:53,5.450000
197556,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2048,6,2019-02-10 14:43:26,05:46:05,2048,6,2019-02-10 15:13:41,05:21:01,30.250000
197548,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2048,5,2019-02-10 13:28:39,07:00:52,2048,5,2019-02-10 13:51:17,06:43:25,22.633333
197468,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2033,4,2019-02-10 13:09:56,07:19:35,2033,4,2019-02-10 13:15:14,07:19:28,5.300000
197540,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2048,4,2019-02-10 12:08:36,08:20:55,2048,4,2019-02-10 12:31:40,08:03:02,23.066667
197460,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2033,3,2019-02-10 11:45:46,08:43:45,2033,3,2019-02-10 11:51:37,08:43:05,5.850000
197532,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2048,3,2019-02-10 10:55:23,09:34:08,2048,3,2019-02-10 11:14:58,09:19:44,19.583333
197452,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2033,2,2019-02-10 10:35:12,09:54:19,2033,2,2019-02-10 10:41:19,09:53:23,6.116667
197524,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2048,2,2019-02-10 09:21:46,11:07:45,2048,2,2019-02-10 09:53:23,10:41:19,31.616667
197516,2019-02-10,385702.0,1,3,2019-02-10 20:29:31,2019-02-10 20:34:42,BUS,555,386142.0,385702.0,...,NaN,2048,1,2019-02-10 08:01:39,12:27:52,2048,1,2019-02-10 08:26:43,12:07:59,25.066667
202597,2019-02-10,385702.0,2,2,2019-02-10 19:55:33,2019-02-10 20:30:39,BUS,245,386397.0,385820.0,...,NaN,1027,6,2019-02-10 17:16:55,02:38:38,1027,6,2019-02-10 17:47:24,02:43:15,30.483333
202498,2019-02-10,385702.0,2,2,2019-02-10 19:55:33,2019-02-10 20:30:39,BUS,245,386397.0,385820.0,...,NaN,1027,5,2019-02-10 14:19:31,05:36:02,1027,5,2019-02-10 14:51:09,05:39:30,31.633333
202399,2019-02-10,385702.0,2,2,2019-02-10 19:55:33,2019-02-10 20:30:39,BUS,245,386397.0,385820.0,...,NaN,1027,4,2019-02-10 12:26:19,07:29:14,1027,4,2019-02-10 12:59:22,07:31:17,33.050000
202300,2019-02-10,385702.0,2,2,2019-02-10 19:55:33,2019-02-10 20:30:39,BUS,245,386397.0,385820.0,...,NaN,1027,3,2019-02-10 10:21:37,09:33:56,1027,3,2019-02-10 10:54:44,09:35:55,33.116667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146420,2019-02-10,1141130.0,55,3,2019-02-10 20:32:53,2019-02-10 20:32:56,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146422,2019-02-10,1141130.0,55,5,2019-02-10 21:12:30,2019-02-10 21:26:21,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146423,2019-02-10,1141130.0,56,1,2019-02-10 20:30:00,2019-02-10 20:55:32,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146426,2019-02-10,1141130.0,56,4,2019-02-10 21:19:55,2019-02-10 21:33:32,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146427,2019-02-10,1141130.0,57,1,2019-02-10 20:53:24,2019-02-10 21:11:37,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146429,2019-02-10,1141130.0,57,3,2019-02-10 21:30:29,2019-02-10 21:44:06,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146430,2019-02-10,1141130.0,58,1,2019-02-10 21:05:56,2019-02-10 21:29:56,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146432,2019-02-10,1141130.0,58,3,2019-02-10 21:52:35,2019-02-10 22:04:54,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146433,2019-02-10,1141130.0,59,1,2019-02-10 21:23:24,2019-02-10 21:41:37,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146435,2019-02-10,1141130.0,59,3,2019-02-10 22:00:29,2019-02-10 22:14:06,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146436,2019-02-10,1141130.0,60,1,2019-02-10 21:03:30,2019-02-10 21:29:02,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146439,2019-02-10,1141130.0,60,4,2019-02-10 22:01:16,2019-02-10 22:14:53,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146440,2019-02-10,1141130.0,61,1,2019-02-10 21:36:13,2019-02-10 21:47:57,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146442,2019-02-10,1141130.0,61,3,2019-02-10 22:09:02,2019-02-10 22:10:35,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146444,2019-02-10,1141130.0,61,5,2019-02-10 22:14:08,2019-02-10 22:16:30,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146445,2019-02-10,1141130.0,62,1,2019-02-10 21:45:55,2019-02-10 22:01:31,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146447,2019-02-10,1141130.0,62,3,2019-02-10 22:19:36,2019-02-10 22:33:13,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146448,2019-02-10,1141130.0,63,1,2019-02-10 21:53:24,2019-02-10 22:11:37,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146450,2019-02-10,1141130.0,63,3,2019-02-10 22:30:29,2019-02-10 22:44:06,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146451,2019-02-10,1141130.0,64,1,2019-02-10 21:55:00,2019-02-10 22:20:32,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146454,2019-02-10,1141130.0,64,4,2019-02-10 22:41:16,2019-02-10 22:54:53,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146455,2019-02-10,1141130.0,65,1,2019-02-10 22:28:24,2019-02-10 22:46:37,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146457,2019-02-10,1141130.0,65,3,2019-02-10 23:05:29,2019-02-10 23:19:06,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146458,2019-02-10,1141130.0,66,1,2019-02-10 22:41:13,2019-02-10 22:52:57,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146460,2019-02-10,1141130.0,66,3,2019-02-10 23:14:03,2019-02-10 23:26:22,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146461,2019-02-10,1141130.0,67,1,2019-02-10 22:50:55,2019-02-10 23:06:31,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146463,2019-02-10,1141130.0,67,3,2019-02-10 23:24:36,2019-02-10 23:38:13,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146464,2019-02-10,1141130.0,68,1,2019-02-10 22:50:00,2019-02-10 23:15:32,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146466,2019-02-10,1141130.0,68,3,2019-02-10 23:25:41,2019-02-10 23:34:52,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
146468,2019-02-10,1141130.0,68,5,2019-02-10 23:58:23,2019-02-11 00:10:42,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN

In [27]:
otp_suggestions_walk_legs

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,2019-02-10,385702.0,1,1,2019-02-10 19:38:24,2019-02-10 19:56:37,WALK,nan,NaN,NaN,18.216667,NaN,NaN
3,2019-02-10,385702.0,1,4,2019-02-10 20:34:43,2019-02-10 20:34:46,WALK,nan,NaN,NaN,0.050000,NaN,NaN
4,2019-02-10,385702.0,2,1,2019-02-10 19:30:00,2019-02-10 19:55:32,WALK,nan,NaN,NaN,25.533333,NaN,NaN
6,2019-02-10,385702.0,2,3,2019-02-10 20:30:40,2019-02-10 20:43:45,WALK,nan,NaN,NaN,13.083333,NaN,NaN
7,2019-02-10,385702.0,3,1,2019-02-10 19:35:06,2019-02-10 19:50:42,WALK,nan,NaN,NaN,15.600000,NaN,NaN
9,2019-02-10,385702.0,3,3,2019-02-10 19:55:56,2019-02-10 19:56:00,WALK,nan,NaN,NaN,0.066667,NaN,NaN
11,2019-02-10,385702.0,3,5,2019-02-10 20:20:57,2019-02-10 20:21:48,WALK,nan,NaN,NaN,0.850000,NaN,NaN
13,2019-02-10,385702.0,3,7,2019-02-10 20:36:37,2019-02-10 20:45:34,WALK,nan,NaN,NaN,8.950000,NaN,NaN
14,2019-02-10,385702.0,4,1,2019-02-10 19:26:59,2019-02-10 19:43:03,WALK,nan,NaN,NaN,16.066667,NaN,NaN
16,2019-02-10,385702.0,4,3,2019-02-10 19:43:34,2019-02-10 19:59:52,WALK,nan,NaN,NaN,16.300000,NaN,NaN
18,2019-02-10,385702.0,4,5,2019-02-10 20:21:15,2019-02-10 20:21:44,WALK,nan,NaN,NaN,0.483333,NaN,NaN
20,2019-02-10,385702.0,4,7,2019-02-10 20:31:08,2019-02-10 20:48:28,WALK,nan,NaN,NaN,17.333333,NaN,NaN
21,2019-02-10,385702.0,5,1,2019-02-10 20:00:55,2019-02-10 20:16:31,WALK,nan,NaN,NaN,15.600000,NaN,NaN
23,2019-02-10,385702.0,5,3,2019-02-10 20:34:35,2019-02-10 20:34:51,WALK,nan,NaN,NaN,0.266667,NaN,NaN
25,2019-02-10,385702.0,5,5,2019-02-10 20:52:17,2019-02-10 20:55:00,WALK,nan,NaN,NaN,2.716667,NaN,NaN
26,2019-02-10,385702.0,6,1,2019-02-10 19:27:48,2019-02-10 19:51:28,WALK,nan,NaN,NaN,23.666667,NaN,NaN
29,2019-02-10,385702.0,6,4,2019-02-10 20:42:34,2019-02-10 21:02:43,WALK,nan,NaN,NaN,20.150000,NaN,NaN
30,2019-02-10,385702.0,7,1,2019-02-10 19:55:56,2019-02-10 20:19:56,WALK,nan,NaN,NaN,24.000000,NaN,NaN
32,2019-02-10,385702.0,7,3,2019-02-10 20:39:46,2019-02-10 20:39:59,WALK,nan,NaN,NaN,0.216667,NaN,NaN
34,2019-02-10,385702.0,7,5,2019-02-10 20:47:01,2019-02-10 21:04:29,WALK,nan,NaN,NaN,17.466667,NaN,NaN
35,2019-02-10,385702.0,8,1,2019-02-10 20:08:24,2019-02-10 20:26:37,WALK,nan,NaN,NaN,18.216667,NaN,NaN
37,2019-02-10,385702.0,8,3,2019-02-10 20:56:07,2019-02-10 21:05:49,WALK,nan,NaN,NaN,9.700000,NaN,NaN
38,2019-02-10,385702.0,9,1,2019-02-10 20:31:13,2019-02-10 20:42:57,WALK,nan,NaN,NaN,11.733333,NaN,NaN
40,2019-02-10,385702.0,9,3,2019-02-10 21:01:51,2019-02-10 21:02:39,WALK,nan,NaN,NaN,0.800000,NaN,NaN
42,2019-02-10,385702.0,9,5,2019-02-10 21:14:43,2019-02-10 21:14:46,WALK,nan,NaN,NaN,0.050000,NaN,NaN
43,2019-02-10,385702.0,10,1,2019-02-10 19:50:06,2019-02-10 20:05:42,WALK,nan,NaN,NaN,15.600000,NaN,NaN
45,2019-02-10,385702.0,10,3,2019-02-10 20:07:30,2019-02-10 20:13:50,WALK,nan,NaN,NaN,6.333333,NaN,NaN
47,2019-02-10,385702.0,10,5,2019-02-10 20:49:07,2019-02-10 20:49:45,WALK,nan,NaN,NaN,0.633333,NaN,NaN
49,2019-02-10,385702.0,10,7,2019-02-10 21:06:37,2019-02-10 21:15:34,WALK,nan,NaN,NaN,8.950000,NaN,NaN
50,2019-02-10,385702.0,11,1,2019-02-10 20:03:30,2019-02-10 20:29:02,WALK,nan,NaN,NaN,25.533333,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146420,2019-02-10,1141130.0,55,3,2019-02-10 20:32:53,2019-02-10 20:32:56,WALK,nan,NaN,NaN,0.050000,NaN,NaN
146422,2019-02-10,1141130.0,55,5,2019-02-10 21:12:30,2019-02-10 21:26:21,WALK,nan,NaN,NaN,13.850000,NaN,NaN
146423,2019-02-10,1141130.0,56,1,2019-02-10 20:30:00,2019-02-10 20:55:32,WALK,nan,NaN,NaN,25.533333,NaN,NaN
146426,2019-02-10,1141130.0,56,4,2019-02-10 21:19:55,2019-02-10 21:33:32,WALK,nan,NaN,NaN,13.616667,NaN,NaN
146427,2019-02-10,1141130.0,57,1,2019-02-10 20:53:24,2019-02-10 21:11:37,WALK,nan,NaN,NaN,18.216667,NaN,NaN
146429,2019-02-10,1141130.0,57,3,2019-02-10 21:30:29,2019-02-10 21:44:06,WALK,nan,NaN,NaN,13.616667,NaN,NaN
146430,2019-02-10,1141130.0,58,1,2019-02-10 21:05:56,2019-02-10 21:29:56,WALK,nan,NaN,NaN,24.000000,NaN,NaN
146432,2019-02-10,1141130.0,58,3,2019-02-10 21:52:35,2019-02-10 22:04:54,WALK,nan,NaN,NaN,12.316667,NaN,NaN
146433,2019-02-10,1141130.0,59,1,2019-02-10 21:23:24,2019-02-10 21:41:37,WALK,nan,NaN,NaN,18.216667,NaN,NaN
146435,2019-02-10,1141130.0,59,3,2019-02-10 22:00:29,2019-02-10 22:14:06,WALK,nan,NaN,NaN,13.616667,NaN,NaN
146436,2019-02-10,1141130.0,60,1,2019-02-10 21:03:30,2019-02-10 21:29:02,WALK,nan,NaN,NaN,25.533333,NaN,NaN
146439,2019-02-10,1141130.0,60,4,2019-02-10 22:01:16,2019-02-10 22:14:53,WALK,nan,NaN,NaN,13.616667,NaN,NaN
146440,2019-02-10,1141130.0,61,1,2019-02-10 21:36:13,2019-02-10 21:47:57,WALK,nan,NaN,NaN,11.733333,NaN,NaN
146442,2019-02-10,1141130.0,61,3,2019-02-10 22:09:02,2019-02-10 22:10:35,WALK,nan,NaN,NaN,1.550000,NaN,NaN
146444,2019-02-10,1141130.0,61,5,2019-02-10 22:14:08,2019-02-10 22:16:30,WALK,nan,NaN,NaN,2.366667,NaN,NaN
146445,2019-02-10,1141130.0,62,1,2019-02-10 21:45:55,2019-02-10 22:01:31,WALK,nan,NaN,NaN,15.600000,NaN,NaN
146447,2019-02-10,1141130.0,62,3,2019-02-10 22:19:36,2019-02-10 22:33:13,WALK,nan,NaN,NaN,13.616667,NaN,NaN
146448,2019-02-10,1141130.0,63,1,2019-02-10 21:53:24,2019-02-10 22:11:37,WALK,nan,NaN,NaN,18.216667,NaN,NaN
146450,2019-02-10,1141130.0,63,3,2019-02-10 22:30:29,2019-02-10 22:44:06,WALK,nan,NaN,NaN,13.616667,NaN,NaN
146451,2019-02-10,1141130.0,64,1,2019-02-10 21:55:00,2019-02-10 22:20:32,WALK,nan,NaN,NaN,25.533333,NaN,NaN
146454,2019-02-10,1141130.0,64,4,2019-02-10 22:41:16,2019-02-10 22:54:53,WALK,nan,NaN,NaN,13.616667,NaN,NaN
146455,2019-02-10,1141130.0,65,1,2019-02-10 22:28:24,2019-02-10 22:46:37,WALK,nan,NaN,NaN,18.216667,NaN,NaN
146457,2019-02-10,1141130.0,65,3,2019-02-10 23:05:29,2019-02-10 23:19:06,WALK,nan,NaN,NaN,13.616667,NaN,NaN
146458,2019-02-10,1141130.0,66,1,2019-02-10 22:41:13,2019-02-10 22:52:57,WALK,nan,NaN,NaN,11.733333,NaN,NaN
146460,2019-02-10,1141130.0,66,3,2019-02-10 23:14:03,2019-02-10 23:26:22,WALK,nan,NaN,NaN,12.316667,NaN,NaN
146461,2019-02-10,1141130.0,67,1,2019-02-10 22:50:55,2019-02-10 23:06:31,WALK,nan,NaN,NaN,15.600000,NaN,NaN
146463,2019-02-10,1141130.0,67,3,2019-02-10 23:24:36,2019-02-10 23:38:13,WALK,nan,NaN,NaN,13.616667,NaN,NaN
146464,2019-02-10,1141130.0,68,1,2019-02-10 22:50:00,2019-02-10 23:15:32,WALK,nan,NaN,NaN,25.533333,NaN,NaN
146466,2019-02-10,1141130.0,68,3,2019-02-10 23:25:41,2019-02-10 23:34:52,WALK,nan,NaN,NaN,9.183333,NaN,NaN
146468,2019-02-10,1141130.0,68,5,2019-02-10 23:58:23,2019-02-11 00:10:42,WALK,nan,NaN,NaN,12.316667,NaN,NaN

In [180]:
#scheduled_itin_observed_od_full[scheduled_itin_observed_od_full.otp_itinerary_id == 296]

Empty DataFrame
Columns: [otp_date, otp_user_trip_id, otp_itinerary_id, otp_leg_id, otp_start_time, otp_end_time, otp_mode, otp_route, otp_from_stop_id, otp_to_stop_id, otp_duration_mins, otp_from_parent_station, otp_to_parent_station, bt_bus_code, bt_trip_num, bt_start_time, sched_obs_start_timediff, bt_busCode, bt_tripNum, bt_end_time, sched_obs_end_timediff, bt_duration_mins]
Index: []

[0 rows x 22 columns]

In [181]:
#bus_trips_clean[(bus_trips['route'] == '944') & (bus_trips['stopPointId'] == 491551)].sort_values(['gps_datetime'])

/home/hector/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

      route busCode tripNum  stopPointId        gps_datetime
43243   944    1064       2       491551 2019-02-10 09:08:14
43281   944    1064       3       491551 2019-02-10 09:31:55
4232    944    1083       2       491551 2019-02-10 11:58:10
8953    944    1078       3       491551 2019-02-10 12:17:56
8993    944    1078       4       491551 2019-02-10 12:42:29
4353    944    1083       3       491551 2019-02-10 13:03:59
9065    944    1078       5       491551 2019-02-10 13:43:49
4528    944    1083       8       491551 2019-02-10 16:16:23
4593    944    1083       9       491551 2019-02-10 17:09:10
4656    944    1083      10       491551 2019-02-10 18:09:36
4725    944    1083      11       491551 2019-02-10 19:12:03
4792    944    1083      12       491551 2019-02-10 20:10:27
4864    944    1083      13       491551 2019-02-10 21:20:13
43732   944    1064      11       491551 2019-02-10 21:54:11
43769   944    1064      12       491551 2019-02-10 22:19:12
43816   944    1064      13       491551 2019-02-10 22:48:20

In [19]:
scheduled_itin_observed_od_full_clean = scheduled_itin_observed_od_full \
                            .filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_mode','otp_route',
                                     'bt_bus_code','bt_trip_num','otp_from_stop_id','otp_start_time',
                                     'bt_start_time','sched_obs_start_timediff','otp_to_stop_id',
                                     'otp_end_time','bt_end_time','sched_obs_end_timediff','otp_duration_mins','minimun_obs_start_time','bt_duration_mins']) \
                            .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

In [20]:
scheduled_itin_observed_od_full.head() \
                            .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,...,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff,bt_busCode,bt_tripNum,bt_end_time,sched_obs_end_timediff,bt_duration_mins
7428,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2042,6,2019-02-10 15:02:46,04:53:52,2042,6,2019-02-10 15:30:07,04:50:03,27.350000
3095,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2026,6,2019-02-10 14:18:58,05:37:40,2026,6,2019-02-10 15:12:06,05:08:04,53.133333
6809,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2042,5,2019-02-10 13:16:26,06:40:12,2042,5,2019-02-10 14:00:09,06:20:01,43.716667
11761,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2053,6,2019-02-10 12:39:19,07:17:19,2053,6,2019-02-10 13:32:26,06:47:44,53.116667
2476,2019-02-10,385702.0,1,2,2019-02-10 19:56:38,2019-02-10 20:20:10,BUS,092,386176.0,386142.0,...,NaN,2026,5,2019-02-10 12:29:14,07:27:24,2026,5,2019-02-10 13:23:44,06:56:26,54.500000

In [184]:
coisa = scheduled_itin_observed_od_full_clean[(scheduled_itin_observed_od_full_clean.otp_route == "944") & (scheduled_itin_observed_od_full_clean.otp_start_time == '2019-05-13 15:05:47')][['otp_itinerary_id',"otp_start_time","otp_route","otp_from_stop_id",
                                                                           "otp_from_stop_id", "bt_start_time", "sched_obs_start_timediff"]].sort_values(by=['sched_obs_start_timediff'])

coisa

Empty DataFrame
Columns: [otp_itinerary_id, otp_start_time, otp_route, otp_from_stop_id, otp_from_stop_id, bt_start_time, sched_obs_start_timediff]
Index: []

In [21]:
scheduled_itin_observed_od_full_clean = scheduled_itin_observed_od_full \
                            .filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_mode','otp_route',
                                     'bt_bus_code','bt_trip_num','otp_from_stop_id','otp_start_time',
                                     'bt_start_time','sched_obs_start_timediff','otp_to_stop_id',
                                     'otp_end_time','bt_end_time','sched_obs_end_timediff','otp_duration_mins','minimun_obs_start_time','bt_duration_mins']) \
                            .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

In [53]:
scheduled_itin_observed_od_full_clean

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,bt_duration_mins
0,385702.0,1,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:38:24,NaT,NaT,NaN,2019-02-10 19:56:37,NaT,NaT,18.216667,NaN
7428,385702.0,1,2,BUS,092,2042,6,386176.0,2019-02-10 19:56:38,2019-02-10 15:02:46,04:53:52,386142.0,2019-02-10 20:20:10,2019-02-10 15:30:07,04:50:03,23.533333,27.350000
3095,385702.0,1,2,BUS,092,2026,6,386176.0,2019-02-10 19:56:38,2019-02-10 14:18:58,05:37:40,386142.0,2019-02-10 20:20:10,2019-02-10 15:12:06,05:08:04,23.533333,53.133333
6809,385702.0,1,2,BUS,092,2042,5,386176.0,2019-02-10 19:56:38,2019-02-10 13:16:26,06:40:12,386142.0,2019-02-10 20:20:10,2019-02-10 14:00:09,06:20:01,23.533333,43.716667
11761,385702.0,1,2,BUS,092,2053,6,386176.0,2019-02-10 19:56:38,2019-02-10 12:39:19,07:17:19,386142.0,2019-02-10 20:20:10,2019-02-10 13:32:26,06:47:44,23.533333,53.116667
2476,385702.0,1,2,BUS,092,2026,5,386176.0,2019-02-10 19:56:38,2019-02-10 12:29:14,07:27:24,386142.0,2019-02-10 20:20:10,2019-02-10 13:23:44,06:56:26,23.533333,54.500000
11142,385702.0,1,2,BUS,092,2053,4,386176.0,2019-02-10 19:56:38,2019-02-10 11:05:54,08:50:44,386142.0,2019-02-10 20:20:10,2019-02-10 11:39:37,08:40:33,23.533333,33.716667
1857,385702.0,1,2,BUS,092,2026,4,386176.0,2019-02-10 19:56:38,2019-02-10 10:36:53,09:19:45,386142.0,2019-02-10 20:20:10,2019-02-10 11:25:10,08:55:00,23.533333,48.283333
9904,385702.0,1,2,BUS,092,2053,2,386176.0,2019-02-10 19:56:38,2019-02-10 09:27:26,10:29:12,386142.0,2019-02-10 20:20:10,2019-02-10 09:49:12,10:30:58,23.533333,21.766667
1238,385702.0,1,2,BUS,092,2026,3,386176.0,2019-02-10 19:56:38,2019-02-10 08:47:11,11:09:27,386142.0,2019-02-10 20:20:10,2019-02-10 09:32:27,10:47:43,23.533333,45.266667
4333,385702.0,1,2,BUS,092,2042,1,386176.0,2019-02-10 19:56:38,2019-02-10 07:46:14,12:10:24,386142.0,2019-02-10 20:20:10,2019-02-10 08:33:27,11:46:43,23.533333,47.216667
9285,385702.0,1,2,BUS,092,2053,1,386176.0,2019-02-10 19:56:38,2019-02-10 07:13:07,12:43:31,386142.0,2019-02-10 20:20:10,2019-02-10 07:55:09,12:25:01,23.533333,42.033333
619,385702.0,1,2,BUS,092,2026,2,386176.0,2019-02-10 19:56:38,2019-02-10 06:57:55,12:58:43,386142.0,2019-02-10 20:20:10,2019-02-10 07:26:46,12:53:24,23.533333,28.850000
197444,385702.0,1,3,BUS,555,2033,11,386142.0,2019-02-10 20:29:31,2019-02-10 22:23:34,01:54:03,385702.0,2019-02-10 20:34:42,2019-02-10 22:28:44,01:54:02,5.183333,5.166667
197500,385702.0,1,3,BUS,555,2033,8,386142.0,2019-02-10 20:29:31,2019-02-10 18:32:55,01:56:36,385702.0,2019-02-10 20:34:42,2019-02-10 18:39:08,01:55:34,5.183333,6.216667
197572,385702.0,1,3,BUS,555,2048,8,386142.0,2019-02-10 20:29:31,2019-02-10 17:18:10,03:11:21,385702.0,2019-02-10 20:34:42,2019-02-10 17:55:35,02:39:07,5.183333,37.416667
197492,385702.0,1,3,BUS,555,2033,7,386142.0,2019-02-10 20:29:31,2019-02-10 17:11:33,03:17:58,385702.0,2019-02-10 20:34:42,2019-02-10 17:16:59,03:17:43,5.183333,5.433333
197484,385702.0,1,3,BUS,555,2033,6,386142.0,2019-02-10 20:29:31,2019-02-10 15:47:22,04:42:09,385702.0,2019-02-10 20:34:42,2019-02-10 15:52:49,04:41:53,5.183333,5.450000
197556,385702.0,1,3,BUS,555,2048,6,386142.0,2019-02-10 20:29:31,2019-02-10 14:43:26,05:46:05,385702.0,2019-02-10 20:34:42,2019-02-10 15:13:41,05:21:01,5.183333,30.250000
197548,385702.0,1,3,BUS,555,2048,5,386142.0,2019-02-10 20:29:31,2019-02-10 13:28:39,07:00:52,385702.0,2019-02-10 20:34:42,2019-02-10 13:51:17,06:43:25,5.183333,22.633333
197468,385702.0,1,3,BUS,555,2033,4,386142.0,2019-02-10 20:29:31,2019-02-10 13:09:56,07:19:35,385702.0,2019-02-10 20:34:42,2019-02-10 13:15:14,07:19:28,5.183333,5.300000
197540,385702.0,1,3,BUS,555,2048,4,386142.0,2019-02-10 20:29:31,2019-02-10 12:08:36,08:20:55,385702.0,2019-02-10 20:34:42,2019-02-10 12:31:40,08:03:02,5.183333,23.066667
197460,385702.0,1,3,BUS,555,2033,3,386142.0,2019-02-10 20:29:31,2019-02-10 11:45:46,08:43:45,385702.0,2019-02-10 20:34:42,2019-02-10 11:51:37,08:43:05,5.183333,5.850000
197532,385702.0,1,3,BUS,555,2048,3,386142.0,2019-02-10 20:29:31,2019-02-10 10:55:23,09:34:08,385702.0,2019-02-10 20:34:42,2019-02-10 11:14:58,09:19:44,5.183333,19.583333
197452,385702.0,1,3,BUS,555,2033,2,386142.0,2019-02-10 20:29:31,2019-02-10 10:35:12,09:54:19,385702.0,2019-02-10 20:34:42,2019-02-10 10:41:19,09:53:23,5.183333,6.116667
197524,385702.0,1,3,BUS,555,2048,2,386142.0,2019-02-10 20:29:31,2019-02-10 09:21:46,11:07:45,385702.0,2019-02-10 20:34:42,2019-02-10 09:53:23,10:41:19,5.183333,31.616667
197516,385702.0,1,3,BUS,555,2048,1,386142.0,2019-02-10 20:29:31,2019-02-10 08:01:39,12:27:52,385702.0,2019-02-10 20:34:42,2019-02-10 08:26:43,12:07:59,5.183333,25.066667
3,385702.0,1,4,WALK,nan,NaN,NaN,NaN,2019-02-10 20:34:43,NaT,NaT,NaN,2019-02-10 20:34:46,NaT,NaT,0.050000,NaN
4,385702.0,2,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:30:00,NaT,NaT,NaN,2019-02-10 19:55:32,NaT,NaT,25.533333,NaN
202597,385702.0,2,2,BUS,245,1027,6,386397.0,2019-02-10 19:55:33,2019-02-10 17:16:55,02:38:38,385820.0,2019-02-10 20:30:39,2019-02-10 17:47:24,02:43:15,35.100000,30.483333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146464,1141130.0,68,1,WALK,nan,NaN,NaN,NaN,2019-02-10 22:50:00,NaT,NaT,NaN,2019-02-10 23:15:32,NaT,NaT,25.533333,NaN
215395,1141130.0,68,2,BUS,245,1027,6,386397.0,2019-02-10 23:15:33,2019-02-10 17:16:55,05:58:38,386221.0,2019-02-10 23:25:41,2019-02-10 17:25:38,06:00:03,10.133333,8.716667
213602,1141130.0,68,2,BUS,245,1027,5,386397.0,2019-02-10 23:15:33,2019-02-10 14:19:31,08:56:02,386221.0,2019-02-10 23:25:41,2019-02-10 14:28:45,08:56:56,10.133333,9.233333
211809,1141130.0,68,2,BUS,245,1027,4,386397.0,2019-02-10 23:15:33,2019-02-10 12:26:19,10:49:14,386221.0,2019-02-10 23:25:41,2019-02-10 12:36:23,10:49:18,10.133333,10.066667
210016,1141130.0,68,2,BUS,245,1027,3,386397.0,2019-02-10 23:15:33,2019-02-10 10:21:37,12:53:56,386221.0,2019-02-10 23:25:41,2019-02-10 10:31:57,12:53:44,10.133333,10.333333
208223,1141130.0,68,2,BUS,245,1027,2,386397.0,2019-02-10 23:15:33,2019-02-10 08:22:47,14:52:46,386221.0,2019-02-10 23:25:41,2019-02-10 08:33:10,14:52:31,10.133333,10.383333
206430,1141130.0,68,2,BUS,245,1027,1,386397.0,2019-02-10 23:15:33,2019-02-10 06:18:12,16:57:21,386221.0,2019-02-10 23:25:41,2019-02-10 06:26:53,16:58:48,10.133333,8.683333
146466,1141130.0,68,3,WALK,nan,NaN,NaN,NaN,2019-02-10 23:25:41,NaT,NaT,NaN,2019-02-10 23:34:52,NaT,NaT,9.183333,NaN
318078,1141130.0,68,4,BUS,444,3057,9,386127.0,2019-02-10 23:40:29,2019-02-10 19:43:41,03:56:48,386651.0,2019-02-10 23:58:22,2019-02-10 19:59:29,03:58:53,17.883333,15.800000
317259,1141130.0,68,4,BUS,444,3002,8,386127.0,2019-02-10 23:40:29,2019-02-10 18:54:04,04:46:25,386651.0,2019-02-10 23:58:22,2019-02-10 18:59:07,04:59:15,17.883333,5.050000
318039,1141130.0,68,4,BUS,444,3057,8,386127.0,2019-02-10 23:40:29,2019-02-10 18:23:55,05:16:34,386651.0,2019-02-10 23:58:22,2019-02-10 18:45:17,05:13:05,17.883333,21.366667
317688,1141130.0,68,4,BUS,444,3009,11,386127.0,2019-02-10 23:40:29,2019-02-10 18:10:23,05:30:06,386651.0,2019-02-10 23:58:22,2019-02-10 18:33:53,05:24:29,17.883333,23.500000
318000,1141130.0,68,4,BUS,444,3057,7,386127.0,2019-02-10 23:40:29,2019-02-10 17:05:04,06:35:25,386651.0,2019-02-10 23:58:22,2019-02-10 17:23:51,06:34:31,17.883333,18.783333
317220,1141130.0,68,4,BUS,444,3002,7,386127.0,2019-02-10 23:40:29,2019-02-10 16:52:44,06:47:45,386651.0,2019-02-10 23:58:22,2019-02-10 17:53:39,06:04:43,17.883333,60.916667
318117,1141130.0,68,4,BUS,444,3055,10,386127.0,2019-02-10 23:40:29,2019-02-10 16:31:58,07:08:31,386651.0,2019-02-10 23:58:22,2019-02-10 16:52:09,07:06:13,17.883333,20.183333
317610,1141130.0,68,4,BUS,444,3009,9,386127.0,2019-02-10 23:40:29,2019-02-10 15:41:48,07:58:41,386651.0,2019-02-10 23:58:22,2019-02-10 16:04:17,07:54:05,17.883333,22.483333
317181,1141130.0,68,4,BUS,444,3002,6,386127.0,2019-02-10 23:40:29,2019-02-10 15:01:50,08:38:39,386651.0,2019-02-10 23:58:22,2019-02-10 15:25:35,08:32:47,17.883333,23.750000
317571,1141130.0,68,4,BUS,444,3009,8,386127.0,2019-02-10 23:40:29,2019-02-10 14:23:32,09:16:57,386651.0,2019-02-10 23:58:22,2019-02-10 14:49:15,09:09:07,17.883333,25.716667
317532,1141130.0,68,4,BUS,444,3009,7,386127.0,2019-02-10 23:40:29,2019-02-10 13:10:21,10:30:08,386651.0,2019-02-10 23:58:22,2019-02-10 13:30:02,10:28:20,17.883333,19.683333
317142,1141130.0,68,4,BUS,444,3002,5,386127.0,2019-02-10 23:40:29,2019-02-10 12:36:16,11:04:13,386651.0,2019-02-10 23:58:22,2019-02-10 12:56:40,11:01:42,17.883333,20.400000
317883,1141130.0,68,4,BUS,444,3057,4,386127.0,2019-02-10 23:40:29,2019-02-10 12:15:46,11:24:43,386651.0,2019-02-10 23:58:22,2019-02-10 12:36:48,11:21:34,17.883333,21.033333
318195,1141130.0,68,4,BUS,444,3055,4,386127.0,2019-02-10 23:40:29,2019-02-10 11:47:26,11:53:03,386651.0,2019-02-10 23:58:22,2019-02-10 12:09:51,11:48:31,17.883333,22.416667
317103,1141130.0,68,4,BUS,444,3002,4,386127.0,2019-02-10 23:40:29,2019-02-10 11:29:39,12:10:50,386651.0,2019-02-10 23:58:22,2019-02-10 11:50:20,12:08:02,17.883333,20.683333
317844,1141130.0,68,4,BUS,444,3057,3,386127.0,2019-02-10 23:40:29,2019-02-10 11:05:06,12:35:23,386651.0,2019-02-10 23:58:22,2019-02-10 11:25:17,12:33:05,17.883333,20.183333
318156,1141130.0,68,4,BUS,444,3055,3,386127.0,2019-02-10 23:40:29,2019-02-10 10:29:50,13:10:39,386651.0,2019-02-10 23:58:22,2019-02-10 10:51:13,13:07:09,17.883333,21.383333
317064,1141130.0,68,4,BUS,444,3002,3,386127.0,2019-02-10 23:40:29,2019-02-10 10:20:32,13:19:57,386651.0,2019-02-10 23:58:22,2019-02-10 10:41:56,13:16:26,17.883333,21.400000
317025,1141130.0,68,4,BUS,444,3002,2,386127.0,2019-02-10 23:40:29,2019-02-10 09:11:44,14:28:45,386651.0,2019-02-10 23:58:22,2019-02-10 09:34:39,14:23:43,17.883333,22.916667
317337,1141130.0,68,4,BUS,444,3009,2,386127.0,2019-02-10 23:40:29,2019-02-10 08:04:47,15:35:42,386651.0,2019-02-10 23:58:22,2019-02-10 08:28:34,15:29:48,17.883333,23.783333
317298,1141130.0,68,4,BUS,444,3009,1,386127.0,2019-02-10 23:40:29,2019-02-10 06:54:40,16:45:49,386651.0,2019-02-10 23:58:22,2019-02-10 07:15:08,16:43:14,17.883333,20.466667
146468,1141130.0,68,5,WALK,nan,NaN,NaN,NaN,2019-02-10 23:58:23,NaT,NaT,NaN,2019-02-11 00:10:42,NaT,NaT,12.316667,NaN

In [22]:
scheduled_itin_observed_od_full_clean \
                        .groupby(['otp_itinerary_id', 'otp_leg_id']) \
                        .apply(lambda x: x.sort_values(["sched_obs_start_timediff"]))

                                    otp_user_trip_id  otp_itinerary_id  \
otp_itinerary_id otp_leg_id
1                1          0               385702.0                 1
                            157             385706.0                 1
                            355             385720.0                 1
                            719             385728.0                 1
                            1235            385739.0                 1
                            1391            385743.0                 1
                            1894            385745.0                 1
                            2371            385747.0                 1
                            2836            385753.0                 1
                            3469            385755.0                 1
                            4096            385759.0                 1
                            4444            385760.0                 1
                            4734            385761.0                 1
                            4914            385763.0                 1
                            5195            385766.0                 1
                            5543            385774.0                 1
                            6053            385776.0                 1
                            6210            385783.0                 1
                            6666            385784.0                 1
                            6750            385788.0                 1
                            6854            385790.0                 1
                            6940            385793.0                 1
                            7032            385804.0                 1
                            7215            385806.0                 1
                            7367            385811.0                 1
                            7383            385813.0                 1
                            7404            385815.0                 1
                            7506            385820.0                 1
                            7822            385822.0                 1
                            7965            385824.0                 1
...                                              ...               ...
184              4          318056          386168.0               184
                            317237          386168.0               184
                            318017          386168.0               184
                            317666          386168.0               184
                            317978          386168.0               184
                            317198          386168.0               184
                            318095          386168.0               184
                            317588          386168.0               184
                            317159          386168.0               184
                            317549          386168.0               184
                            317510          386168.0               184
                            317120          386168.0               184
                            317861          386168.0               184
                            318173          386168.0               184
                            317081          386168.0               184
                            317822          386168.0               184
                            318134          386168.0               184
                            317042          386168.0               184
                            317003          386168.0               184
                            317315          386168.0               184
                            317276          386168.0               184
                 5          40309           386168.0               184
185              1          58625           386335.0               185
                 2          225992          386335.0               185
                            225933          386335.0               185
                            225874          386335.0               185
                            225815          386335.0               185
                            225756          386335.0               185
                            225697          386335.0               185
                 3          58627           386335.0               185

                                    otp_leg_id otp_mode otp_route bt_bus_code  \
otp_itinerary_id otp_leg_id
1                1          0                1     WALK       nan         NaN
                            157              1     WALK       nan         NaN
                            355              1     WALK       nan         NaN
                            719              1     WALK       nan         NaN
                            1235             1     WALK       nan         NaN
                            1391             1     WALK       nan         NaN
                            1894             1     WALK       nan         NaN
                            2371             1     WALK       nan         NaN
                            2836             1     WALK       nan         NaN
                            3469             1     WALK       nan         NaN
                            4096             1     WALK       nan         NaN
                            4444             1     WALK       nan         NaN
                            4734             1     WALK       nan         NaN
                            4914             1     WALK       nan         NaN
                            5195             1     WALK       nan         NaN
                            5543             1     WALK       nan         NaN
                            6053             1     WALK       nan         NaN
                            6210             1     WALK       nan         NaN
                            6666             1     WALK       nan         NaN
                            6750             1     WALK       nan         NaN
                            6854             1     WALK       nan         NaN
                            6940             1     WALK       nan         NaN
                            7032             1     WALK       nan         NaN
                            7215             1     WALK       nan         NaN
                            7367             1     WALK       nan         NaN
                            7383             1     WALK       nan         NaN
                            7404             1     WALK       nan         NaN
                            7506             1     WALK       nan         NaN
                            7822             1     WALK       nan         NaN
                            7965             1     WALK       nan         NaN
...                                        ...      ...       ...         ...
184              4          318056           4      BUS       444        3057
                            317237           4      BUS       444        3002
                            318017           4      BUS       444        3057
                            317666           4      BUS       444        3009
                            317978           4      BUS       444        3057
                            317198           4      BUS       444        3002
                            318095           4      BUS       444        3055
                            317588           4      BUS       444        3009
                            317159           4      BUS       444        3002
                            317549           4      BUS       444        3009
                            317510           4      BUS       444        3009
                            317120           4      BUS       444        3002
                            317861           4      BUS       444        3057
                            318173           4      BUS       444        3055
                            317081           4      BUS       444        3002
                            317822           4      BUS       444        3057
                            318134           4      BUS       444        3055
                            317042           4      BUS       444        3002
                            317003           4      BUS       444        3002
                            317315           4      BUS       444        3009
                            317276           4      BUS       444        3009
                 5          40309            5     WALK       nan         NaN
185              1          58625            1     WALK       nan         NaN
                 2          225992           2      BUS       245        1027
                            225933           2      BUS       245        1027
                            225874           2      BUS       245        1027
                            225815           2      BUS       245        1027
                            225756           2      BUS       245        1027
                            225697           2      BUS       245        1027
                 3          58627            3     WALK       nan         NaN

                                   bt_trip_num  otp_from_stop_id  \
otp_itinerary_id otp_leg_id
1                1          0              NaN               NaN
                            157            NaN               NaN
                            355            NaN               NaN
                            719            NaN               NaN
                            1235           NaN               NaN
                            1391           NaN               NaN
                            1894           NaN               NaN
                            2371           NaN               NaN
                            2836           NaN               NaN
                            3469           NaN               NaN
                            4096           NaN               NaN
                            4444           NaN               NaN
                            4734           NaN               NaN
                            4914           NaN               NaN
                            5195           NaN               NaN
                            5543           NaN               NaN
                            6053           NaN               NaN
                            6210           NaN               NaN
                            6666           NaN               NaN
                            6750           NaN               NaN
                            6854           NaN               NaN
                            6940           NaN               NaN
                            7032           NaN               NaN
                            7215           NaN               NaN
                            7367           NaN               NaN
                            7383           NaN               NaN
                            7404           NaN               NaN
                            7506           NaN               NaN
                            7822           NaN               NaN
                            7965           NaN               NaN
...                                        ...               ...
184              4          318056           9          386127.0
                            317237           8          386127.0
                            318017           8          386127.0
                            317666          11          386127.0
                            317978           7          386127.0
                            317198           7          386127.0
                            318095          10          386127.0
                            317588           9          386127.0
                            317159           6          386127.0
                            317549           8          386127.0
                            317510           7          386127.0
                            317120           5          386127.0
                            317861           4          386127.0
                            318173           4          386127.0
                            317081           4          386127.0
                            317822           3          386127.0
                            318134           3          386127.0
                            317042           3          386127.0
                            317003           2          386127.0
                            317315           2          386127.0
                            317276           1          386127.0
                 5          40309          NaN               NaN
185              1          58625          NaN               NaN
                 2          225992           6          386397.0
                            225933           5          386397.0
                            225874           4          386397.0
                            225815           3          386397.0
                            225756           2          386397.0
                            225697           1          386397.0
                 3          58627          NaN               NaN

                                        otp_start_time       bt_start_time  \
otp_itinerary_id otp_leg_id
1                1          0      2019-02-10 19:38:24                 NaT
                            157    2019-02-10 17:53:24                 NaT
                            355    2019-02-10 13:39:57                 NaT
                            719    2019-02-10 08:55:55                 NaT
                            1235   2019-02-10 18:50:55                 NaT
                            1391   2019-02-10 10:40:55                 NaT
                            1894   2019-02-10 10:40:55                 NaT
                            2371   2019-02-10 10:40:55                 NaT
                            2836   2019-02-10 09:38:24                 NaT
                            3469   2019-02-10 09:38:24                 NaT
                            4096   2019-02-10 15:08:24                 NaT
                            4444   2019-02-10 15:46:13                 NaT
                            4734   2019-02-10 18:50:55                 NaT
                            4914   2019-02-10 15:46:13                 NaT
                            5195   2019-02-10 15:08:24                 NaT
                            5543   2019-02-10 13:27:48                 NaT
                            6053   2019-02-10 19:21:13                 NaT
                            6210   2019-02-10 10:38:24                 NaT
                            6666   2019-02-10 20:35:55                 NaT
                            6750   2019-02-10 20:20:06                 NaT
                            6854   2019-02-10 20:35:55                 NaT
                            6940   2019-02-10 20:35:55                 NaT
                            7032   2019-02-10 18:50:55                 NaT
                            7215   2019-02-10 19:21:13                 NaT
                            7367   2019-02-10 20:53:24                 NaT
                            7383   2019-02-10 20:08:24                 NaT
                            7404   2019-02-10 11:23:24                 NaT
                            7506   2019-02-10 15:46:13                 NaT
                            7822   2019-02-10 19:38:24                 NaT
                            7965   2019-02-10 19:38:24                 NaT
...                                                ...                 ...
184              4          318056 2019-02-10 23:40:29 2019-02-10 19:43:41
                            317237 2019-02-10 23:40:29 2019-02-10 18:54:04
                            318017 2019-02-10 23:40:29 2019-02-10 18:23:55
                            317666 2019-02-10 23:40:29 2019-02-10 18:10:23
                            317978 2019-02-10 23:40:29 2019-02-10 17:05:04
                            317198 2019-02-10 23:40:29 2019-02-10 16:52:44
                            318095 2019-02-10 23:40:29 2019-02-10 16:31:58
                            317588 2019-02-10 23:40:29 2019-02-10 15:41:48
                            317159 2019-02-10 23:40:29 2019-02-10 15:01:50
                            317549 2019-02-10 23:40:29 2019-02-10 14:23:32
                            317510 2019-02-10 23:40:29 2019-02-10 13:10:21
                            317120 2019-02-10 23:40:29 2019-02-10 12:36:16
                            317861 2019-02-10 23:40:29 2019-02-10 12:15:46
                            318173 2019-02-10 23:40:29 2019-02-10 11:47:26
                            317081 2019-02-10 23:40:29 2019-02-10 11:29:39
                            317822 2019-02-10 23:40:29 2019-02-10 11:05:06
                            318134 2019-02-10 23:40:29 2019-02-10 10:29:50
                            317042 2019-02-10 23:40:29 2019-02-10 10:20:32
                            317003 2019-02-10 23:40:29 2019-02-10 09:11:44
                            317315 2019-02-10 23:40:29 2019-02-10 08:04:47
                            317276 2019-02-10 23:40:29 2019-02-10 06:54:40
                 5          40309  2019-02-10 23:58:23                 NaT
185              1          58625  2019-02-10 22:50:00                 NaT
                 2          225992 2019-02-10 23:15:33 2019-02-10 17:16:55
                            225933 2019-02-10 23:15:33 2019-02-10 14:19:31
                            225874 2019-02-10 23:15:33 2019-02-10 12:26:19
                            225815 2019-02-10 23:15:33 2019-02-10 10:21:37
                            225756 2019-02-10 23:15:33 2019-02-10 08:22:47
                            225697 2019-02-10 23:15:33 2019-02-10 06:18:12
                 3          58627  2019-02-10 23:46:23                 NaT

                                   sched_obs_start_timediff  otp_to_stop_id  \
otp_itinerary_id otp_leg_id
1                1          0                           NaT             NaN
                            157                         NaT             NaN
                            355                         NaT             NaN
                            719                         NaT             NaN
                            1235                        NaT             NaN
                            1391                        NaT             NaN
                            1894                        NaT             NaN
                            2371                        NaT             NaN
                            2836                        NaT             NaN
                            3469                        NaT             NaN
                            4096                        NaT             NaN
                            4444                        NaT             NaN
                            4734                        NaT             NaN
                            4914                        NaT             NaN
                            5195                        NaT             NaN
                            5543                        NaT             NaN
                            6053                        NaT             NaN
                            6210                        NaT             NaN
                            6666                        NaT             NaN
                            6750                        NaT             NaN
                            6854                        NaT             NaN
                            6940                        NaT             NaN
                            7032                        NaT             NaN
                            7215                        NaT             NaN

In [188]:
#scheduled_itin_observed_od_full_clean[(scheduled_itin_observed_od_full_clean.otp_route == "944") & (scheduled_itin_observed_od_full_clean.otp_start_time == '2019-05-13 14:05:47') & (scheduled_itin_observed_od_full_clean.otp_itinerary_id == 230)][['otp_itinerary_id','otp_leg_id',"otp_start_time","otp_route","otp_from_stop_id",
                                                                           #"otp_from_stop_id", "bt_start_time", "sched_obs_start_timediff"]].sort_values(by=['sched_obs_start_timediff']).head()

In [23]:
scheduled_itin_observed_od_full_clean = scheduled_itin_observed_od_full_clean.drop_duplicates(subset=['otp_itinerary_id','otp_leg_id'])

In [55]:
scheduled_itin_observed_od_full_clean

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,bt_duration_mins
0,385702.0,1,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:38:24,NaT,NaT,NaN,2019-02-10 19:56:37,NaT,NaT,18.216667,NaN
7428,385702.0,1,2,BUS,092,2042,6,386176.0,2019-02-10 19:56:38,2019-02-10 15:02:46,04:53:52,386142.0,2019-02-10 20:20:10,2019-02-10 15:30:07,04:50:03,23.533333,27.350000
3095,385702.0,1,2,BUS,092,2026,6,386176.0,2019-02-10 19:56:38,2019-02-10 14:18:58,05:37:40,386142.0,2019-02-10 20:20:10,2019-02-10 15:12:06,05:08:04,23.533333,53.133333
6809,385702.0,1,2,BUS,092,2042,5,386176.0,2019-02-10 19:56:38,2019-02-10 13:16:26,06:40:12,386142.0,2019-02-10 20:20:10,2019-02-10 14:00:09,06:20:01,23.533333,43.716667
11761,385702.0,1,2,BUS,092,2053,6,386176.0,2019-02-10 19:56:38,2019-02-10 12:39:19,07:17:19,386142.0,2019-02-10 20:20:10,2019-02-10 13:32:26,06:47:44,23.533333,53.116667
2476,385702.0,1,2,BUS,092,2026,5,386176.0,2019-02-10 19:56:38,2019-02-10 12:29:14,07:27:24,386142.0,2019-02-10 20:20:10,2019-02-10 13:23:44,06:56:26,23.533333,54.500000
11142,385702.0,1,2,BUS,092,2053,4,386176.0,2019-02-10 19:56:38,2019-02-10 11:05:54,08:50:44,386142.0,2019-02-10 20:20:10,2019-02-10 11:39:37,08:40:33,23.533333,33.716667
1857,385702.0,1,2,BUS,092,2026,4,386176.0,2019-02-10 19:56:38,2019-02-10 10:36:53,09:19:45,386142.0,2019-02-10 20:20:10,2019-02-10 11:25:10,08:55:00,23.533333,48.283333
9904,385702.0,1,2,BUS,092,2053,2,386176.0,2019-02-10 19:56:38,2019-02-10 09:27:26,10:29:12,386142.0,2019-02-10 20:20:10,2019-02-10 09:49:12,10:30:58,23.533333,21.766667
1238,385702.0,1,2,BUS,092,2026,3,386176.0,2019-02-10 19:56:38,2019-02-10 08:47:11,11:09:27,386142.0,2019-02-10 20:20:10,2019-02-10 09:32:27,10:47:43,23.533333,45.266667
4333,385702.0,1,2,BUS,092,2042,1,386176.0,2019-02-10 19:56:38,2019-02-10 07:46:14,12:10:24,386142.0,2019-02-10 20:20:10,2019-02-10 08:33:27,11:46:43,23.533333,47.216667
9285,385702.0,1,2,BUS,092,2053,1,386176.0,2019-02-10 19:56:38,2019-02-10 07:13:07,12:43:31,386142.0,2019-02-10 20:20:10,2019-02-10 07:55:09,12:25:01,23.533333,42.033333
619,385702.0,1,2,BUS,092,2026,2,386176.0,2019-02-10 19:56:38,2019-02-10 06:57:55,12:58:43,386142.0,2019-02-10 20:20:10,2019-02-10 07:26:46,12:53:24,23.533333,28.850000
197444,385702.0,1,3,BUS,555,2033,11,386142.0,2019-02-10 20:29:31,2019-02-10 22:23:34,01:54:03,385702.0,2019-02-10 20:34:42,2019-02-10 22:28:44,01:54:02,5.183333,5.166667
197500,385702.0,1,3,BUS,555,2033,8,386142.0,2019-02-10 20:29:31,2019-02-10 18:32:55,01:56:36,385702.0,2019-02-10 20:34:42,2019-02-10 18:39:08,01:55:34,5.183333,6.216667
197572,385702.0,1,3,BUS,555,2048,8,386142.0,2019-02-10 20:29:31,2019-02-10 17:18:10,03:11:21,385702.0,2019-02-10 20:34:42,2019-02-10 17:55:35,02:39:07,5.183333,37.416667
197492,385702.0,1,3,BUS,555,2033,7,386142.0,2019-02-10 20:29:31,2019-02-10 17:11:33,03:17:58,385702.0,2019-02-10 20:34:42,2019-02-10 17:16:59,03:17:43,5.183333,5.433333
197484,385702.0,1,3,BUS,555,2033,6,386142.0,2019-02-10 20:29:31,2019-02-10 15:47:22,04:42:09,385702.0,2019-02-10 20:34:42,2019-02-10 15:52:49,04:41:53,5.183333,5.450000
197556,385702.0,1,3,BUS,555,2048,6,386142.0,2019-02-10 20:29:31,2019-02-10 14:43:26,05:46:05,385702.0,2019-02-10 20:34:42,2019-02-10 15:13:41,05:21:01,5.183333,30.250000
197548,385702.0,1,3,BUS,555,2048,5,386142.0,2019-02-10 20:29:31,2019-02-10 13:28:39,07:00:52,385702.0,2019-02-10 20:34:42,2019-02-10 13:51:17,06:43:25,5.183333,22.633333
197468,385702.0,1,3,BUS,555,2033,4,386142.0,2019-02-10 20:29:31,2019-02-10 13:09:56,07:19:35,385702.0,2019-02-10 20:34:42,2019-02-10 13:15:14,07:19:28,5.183333,5.300000
197540,385702.0,1,3,BUS,555,2048,4,386142.0,2019-02-10 20:29:31,2019-02-10 12:08:36,08:20:55,385702.0,2019-02-10 20:34:42,2019-02-10 12:31:40,08:03:02,5.183333,23.066667
197460,385702.0,1,3,BUS,555,2033,3,386142.0,2019-02-10 20:29:31,2019-02-10 11:45:46,08:43:45,385702.0,2019-02-10 20:34:42,2019-02-10 11:51:37,08:43:05,5.183333,5.850000
197532,385702.0,1,3,BUS,555,2048,3,386142.0,2019-02-10 20:29:31,2019-02-10 10:55:23,09:34:08,385702.0,2019-02-10 20:34:42,2019-02-10 11:14:58,09:19:44,5.183333,19.583333
197452,385702.0,1,3,BUS,555,2033,2,386142.0,2019-02-10 20:29:31,2019-02-10 10:35:12,09:54:19,385702.0,2019-02-10 20:34:42,2019-02-10 10:41:19,09:53:23,5.183333,6.116667
197524,385702.0,1,3,BUS,555,2048,2,386142.0,2019-02-10 20:29:31,2019-02-10 09:21:46,11:07:45,385702.0,2019-02-10 20:34:42,2019-02-10 09:53:23,10:41:19,5.183333,31.616667
197516,385702.0,1,3,BUS,555,2048,1,386142.0,2019-02-10 20:29:31,2019-02-10 08:01:39,12:27:52,385702.0,2019-02-10 20:34:42,2019-02-10 08:26:43,12:07:59,5.183333,25.066667
3,385702.0,1,4,WALK,nan,NaN,NaN,NaN,2019-02-10 20:34:43,NaT,NaT,NaN,2019-02-10 20:34:46,NaT,NaT,0.050000,NaN
4,385702.0,2,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:30:00,NaT,NaT,NaN,2019-02-10 19:55:32,NaT,NaT,25.533333,NaN
202597,385702.0,2,2,BUS,245,1027,6,386397.0,2019-02-10 19:55:33,2019-02-10 17:16:55,02:38:38,385820.0,2019-02-10 20:30:39,2019-02-10 17:47:24,02:43:15,35.100000,30.483333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146464,1141130.0,68,1,WALK,nan,NaN,NaN,NaN,2019-02-10 22:50:00,NaT,NaT,NaN,2019-02-10 23:15:32,NaT,NaT,25.533333,NaN
215395,1141130.0,68,2,BUS,245,1027,6,386397.0,2019-02-10 23:15:33,2019-02-10 17:16:55,05:58:38,386221.0,2019-02-10 23:25:41,2019-02-10 17:25:38,06:00:03,10.133333,8.716667
213602,1141130.0,68,2,BUS,245,1027,5,386397.0,2019-02-10 23:15:33,2019-02-10 14:19:31,08:56:02,386221.0,2019-02-10 23:25:41,2019-02-10 14:28:45,08:56:56,10.133333,9.233333
211809,1141130.0,68,2,BUS,245,1027,4,386397.0,2019-02-10 23:15:33,2019-02-10 12:26:19,10:49:14,386221.0,2019-02-10 23:25:41,2019-02-10 12:36:23,10:49:18,10.133333,10.066667
210016,1141130.0,68,2,BUS,245,1027,3,386397.0,2019-02-10 23:15:33,2019-02-10 10:21:37,12:53:56,386221.0,2019-02-10 23:25:41,2019-02-10 10:31:57,12:53:44,10.133333,10.333333
208223,1141130.0,68,2,BUS,245,1027,2,386397.0,2019-02-10 23:15:33,2019-02-10 08:22:47,14:52:46,386221.0,2019-02-10 23:25:41,2019-02-10 08:33:10,14:52:31,10.133333,10.383333
206430,1141130.0,68,2,BUS,245,1027,1,386397.0,2019-02-10 23:15:33,2019-02-10 06:18:12,16:57:21,386221.0,2019-02-10 23:25:41,2019-02-10 06:26:53,16:58:48,10.133333,8.683333
146466,1141130.0,68,3,WALK,nan,NaN,NaN,NaN,2019-02-10 23:25:41,NaT,NaT,NaN,2019-02-10 23:34:52,NaT,NaT,9.183333,NaN
318078,1141130.0,68,4,BUS,444,3057,9,386127.0,2019-02-10 23:40:29,2019-02-10 19:43:41,03:56:48,386651.0,2019-02-10 23:58:22,2019-02-10 19:59:29,03:58:53,17.883333,15.800000
317259,1141130.0,68,4,BUS,444,3002,8,386127.0,2019-02-10 23:40:29,2019-02-10 18:54:04,04:46:25,386651.0,2019-02-10 23:58:22,2019-02-10 18:59:07,04:59:15,17.883333,5.050000
318039,1141130.0,68,4,BUS,444,3057,8,386127.0,2019-02-10 23:40:29,2019-02-10 18:23:55,05:16:34,386651.0,2019-02-10 23:58:22,2019-02-10 18:45:17,05:13:05,17.883333,21.366667
317688,1141130.0,68,4,BUS,444,3009,11,386127.0,2019-02-10 23:40:29,2019-02-10 18:10:23,05:30:06,386651.0,2019-02-10 23:58:22,2019-02-10 18:33:53,05:24:29,17.883333,23.500000
318000,1141130.0,68,4,BUS,444,3057,7,386127.0,2019-02-10 23:40:29,2019-02-10 17:05:04,06:35:25,386651.0,2019-02-10 23:58:22,2019-02-10 17:23:51,06:34:31,17.883333,18.783333
317220,1141130.0,68,4,BUS,444,3002,7,386127.0,2019-02-10 23:40:29,2019-02-10 16:52:44,06:47:45,386651.0,2019-02-10 23:58:22,2019-02-10 17:53:39,06:04:43,17.883333,60.916667
318117,1141130.0,68,4,BUS,444,3055,10,386127.0,2019-02-10 23:40:29,2019-02-10 16:31:58,07:08:31,386651.0,2019-02-10 23:58:22,2019-02-10 16:52:09,07:06:13,17.883333,20.183333
317610,1141130.0,68,4,BUS,444,3009,9,386127.0,2019-02-10 23:40:29,2019-02-10 15:41:48,07:58:41,386651.0,2019-02-10 23:58:22,2019-02-10 16:04:17,07:54:05,17.883333,22.483333
317181,1141130.0,68,4,BUS,444,3002,6,386127.0,2019-02-10 23:40:29,2019-02-10 15:01:50,08:38:39,386651.0,2019-02-10 23:58:22,2019-02-10 15:25:35,08:32:47,17.883333,23.750000
317571,1141130.0,68,4,BUS,444,3009,8,386127.0,2019-02-10 23:40:29,2019-02-10 14:23:32,09:16:57,386651.0,2019-02-10 23:58:22,2019-02-10 14:49:15,09:09:07,17.883333,25.716667
317532,1141130.0,68,4,BUS,444,3009,7,386127.0,2019-02-10 23:40:29,2019-02-10 13:10:21,10:30:08,386651.0,2019-02-10 23:58:22,2019-02-10 13:30:02,10:28:20,17.883333,19.683333
317142,1141130.0,68,4,BUS,444,3002,5,386127.0,2019-02-10 23:40:29,2019-02-10 12:36:16,11:04:13,386651.0,2019-02-10 23:58:22,2019-02-10 12:56:40,11:01:42,17.883333,20.400000
317883,1141130.0,68,4,BUS,444,3057,4,386127.0,2019-02-10 23:40:29,2019-02-10 12:15:46,11:24:43,386651.0,2019-02-10 23:58:22,2019-02-10 12:36:48,11:21:34,17.883333,21.033333
318195,1141130.0,68,4,BUS,444,3055,4,386127.0,2019-02-10 23:40:29,2019-02-10 11:47:26,11:53:03,386651.0,2019-02-10 23:58:22,2019-02-10 12:09:51,11:48:31,17.883333,22.416667
317103,1141130.0,68,4,BUS,444,3002,4,386127.0,2019-02-10 23:40:29,2019-02-10 11:29:39,12:10:50,386651.0,2019-02-10 23:58:22,2019-02-10 11:50:20,12:08:02,17.883333,20.683333
317844,1141130.0,68,4,BUS,444,3057,3,386127.0,2019-02-10 23:40:29,2019-02-10 11:05:06,12:35:23,386651.0,2019-02-10 23:58:22,2019-02-10 11:25:17,12:33:05,17.883333,20.183333
318156,1141130.0,68,4,BUS,444,3055,3,386127.0,2019-02-10 23:40:29,2019-02-10 10:29:50,13:10:39,386651.0,2019-02-10 23:58:22,2019-02-10 10:51:13,13:07:09,17.883333,21.383333
317064,1141130.0,68,4,BUS,444,3002,3,386127.0,2019-02-10 23:40:29,2019-02-10 10:20:32,13:19:57,386651.0,2019-02-10 23:58:22,2019-02-10 10:41:56,13:16:26,17.883333,21.400000
317025,1141130.0,68,4,BUS,444,3002,2,386127.0,2019-02-10 23:40:29,2019-02-10 09:11:44,14:28:45,386651.0,2019-02-10 23:58:22,2019-02-10 09:34:39,14:23:43,17.883333,22.916667
317337,1141130.0,68,4,BUS,444,3009,2,386127.0,2019-02-10 23:40:29,2019-02-10 08:04:47,15:35:42,386651.0,2019-02-10 23:58:22,2019-02-10 08:28:34,15:29:48,17.883333,23.783333
317298,1141130.0,68,4,BUS,444,3009,1,386127.0,2019-02-10 23:40:29,2019-02-10 06:54:40,16:45:49,386651.0,2019-02-10 23:58:22,2019-02-10 07:15:08,16:43:14,17.883333,20.466667
146468,1141130.0,68,5,WALK,nan,NaN,NaN,NaN,2019-02-10 23:58:23,NaT,NaT,NaN,2019-02-11 00:10:42,NaT,NaT,12.316667,NaN

In [191]:
#scheduled_itin_observed_od_full_clean[["otp_itinerary_id","otp_leg_id","otp_mode","otp_route","bt_start_time","bt_end_time"]]

In [24]:
# Filtering out itineraries which lost bus legs along the processing


curr_matched_itins_num_legs = scheduled_itin_observed_od_full_clean.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(np.unique(x))}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})

In [25]:
original_suggested_itins_num_legs = otp_suggestions.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(x)}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})

In [26]:
complete_matched_itins = original_suggested_itins_num_legs

In [59]:
complete_matched_itins.head()

   otp_user_trip_id  otp_itinerary_id  num_legs
0          385702.0                 1         4
1          385702.0                 2         3
2          385702.0                 3         7
3          385702.0                 4         7
4          385702.0                 5         5

In [27]:
all_complete_vehicle_legs_options = scheduled_itin_observed_od_full_clean.merge(complete_matched_itins.drop('num_legs', axis=1), how='inner')

In [28]:
all_complete_vehicle_legs_options.drop_duplicates(keep='first',subset=['otp_mode','otp_route','bt_bus_code','bt_trip_num', 'otp_from_stop_id','otp_start_time','bt_start_time','sched_obs_start_timediff','otp_to_stop_id','otp_end_time','bt_end_time','sched_obs_end_timediff','otp_duration_mins'])

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,bt_duration_mins
0,385702.0,1,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:38:24,NaT,NaT,NaN,2019-02-10 19:56:37,NaT,NaT,18.216667,NaN
1,385702.0,1,2,BUS,092,2042,6,386176.0,2019-02-10 19:56:38,2019-02-10 15:02:46,04:53:52,386142.0,2019-02-10 20:20:10,2019-02-10 15:30:07,04:50:03,23.533333,27.350000
2,385702.0,1,3,BUS,555,2033,11,386142.0,2019-02-10 20:29:31,2019-02-10 22:23:34,01:54:03,385702.0,2019-02-10 20:34:42,2019-02-10 22:28:44,01:54:02,5.183333,5.166667
3,385702.0,1,4,WALK,nan,NaN,NaN,NaN,2019-02-10 20:34:43,NaT,NaT,NaN,2019-02-10 20:34:46,NaT,NaT,0.050000,NaN
4,385702.0,2,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:30:00,NaT,NaT,NaN,2019-02-10 19:55:32,NaT,NaT,25.533333,NaN
5,385702.0,2,2,BUS,245,1027,6,386397.0,2019-02-10 19:55:33,2019-02-10 17:16:55,02:38:38,385820.0,2019-02-10 20:30:39,2019-02-10 17:47:24,02:43:15,35.100000,30.483333
6,385702.0,2,3,WALK,nan,NaN,NaN,NaN,2019-02-10 20:30:40,NaT,NaT,NaN,2019-02-10 20:43:45,NaT,NaT,13.083333,NaN
7,385702.0,3,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:35:06,NaT,NaT,NaN,2019-02-10 19:50:42,NaT,NaT,15.600000,NaN
8,385702.0,3,2,BUS,092,2002,11,385945.0,2019-02-10 19:50:43,2019-02-10 18:50:08,01:00:35,386736.0,2019-02-10 19:55:56,2019-02-10 18:52:30,01:03:26,5.216667,2.366667
9,385702.0,3,3,WALK,nan,NaN,NaN,NaN,2019-02-10 19:55:56,NaT,NaT,NaN,2019-02-10 19:56:00,NaT,NaT,0.066667,NaN
10,385702.0,3,5,WALK,nan,NaN,NaN,NaN,2019-02-10 20:20:57,NaT,NaT,NaN,2019-02-10 20:21:48,NaT,NaT,0.850000,NaN
11,385702.0,3,6,BUS,333,1042,13,703787.0,2019-02-10 20:28:36,2019-02-10 20:19:13,00:09:23,491440.0,2019-02-10 20:36:36,2019-02-10 20:28:25,00:08:11,8.000000,9.200000
12,385702.0,3,7,WALK,nan,NaN,NaN,NaN,2019-02-10 20:36:37,NaT,NaT,NaN,2019-02-10 20:45:34,NaT,NaT,8.950000,NaN
13,385702.0,4,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:26:59,NaT,NaT,NaN,2019-02-10 19:43:03,NaT,NaT,16.066667,NaN
14,385702.0,4,2,BUS,922,2030,7,386717.0,2019-02-10 19:43:04,2019-02-10 19:14:33,00:28:31,497898.0,2019-02-10 19:43:34,2019-02-10 19:14:46,00:28:48,0.500000,0.216667
15,385702.0,4,3,WALK,nan,NaN,NaN,NaN,2019-02-10 19:43:34,NaT,NaT,NaN,2019-02-10 19:59:52,NaT,NaT,16.300000,NaN
16,385702.0,4,5,WALK,nan,NaN,NaN,NaN,2019-02-10 20:21:15,NaT,NaT,NaN,2019-02-10 20:21:44,NaT,NaT,0.483333,NaN
17,385702.0,4,6,BUS,444,3002,8,386330.0,2019-02-10 20:22:51,2019-02-10 18:55:32,01:27:19,385833.0,2019-02-10 20:31:07,2019-02-10 19:02:52,01:28:15,8.266667,7.333333
18,385702.0,4,7,WALK,nan,NaN,NaN,NaN,2019-02-10 20:31:08,NaT,NaT,NaN,2019-02-10 20:48:28,NaT,NaT,17.333333,NaN
19,385702.0,5,1,WALK,nan,NaN,NaN,NaN,2019-02-10 20:00:55,NaT,NaT,NaN,2019-02-10 20:16:31,NaT,NaT,15.600000,NaN
20,385702.0,5,2,BUS,922,2024,7,385945.0,2019-02-10 20:16:32,2019-02-10 19:57:22,00:19:10,386333.0,2019-02-10 20:34:35,2019-02-10 19:57:33,00:37:02,18.050000,0.183333
21,385702.0,5,3,WALK,nan,NaN,NaN,NaN,2019-02-10 20:34:35,NaT,NaT,NaN,2019-02-10 20:34:51,NaT,NaT,0.266667,NaN
22,385702.0,5,5,WALK,nan,NaN,NaN,NaN,2019-02-10 20:52:17,NaT,NaT,NaN,2019-02-10 20:55:00,NaT,NaT,2.716667,NaN
23,385702.0,6,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:27:48,NaT,NaT,NaN,2019-02-10 19:51:28,NaT,NaT,23.666667,NaN
24,385702.0,6,2,BUS,245,1062,5,386425.0,2019-02-10 19:51:29,2019-02-10 18:48:20,01:03:09,386228.0,2019-02-10 20:10:14,2019-02-10 19:42:37,00:27:37,18.750000,54.283333
25,385702.0,6,3,BUS,903B,1090,9,386228.0,2019-02-10 20:28:00,2019-02-10 18:42:25,01:45:35,385834.0,2019-02-10 20:42:33,2019-02-10 19:00:54,01:41:39,14.550000,18.483333
26,385702.0,6,4,WALK,nan,NaN,NaN,NaN,2019-02-10 20:42:34,NaT,NaT,NaN,2019-02-10 21:02:43,NaT,NaT,20.150000,NaN
27,385702.0,7,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:55:56,NaT,NaT,NaN,2019-02-10 20:19:56,NaT,NaT,24.000000,NaN
28,385702.0,7,2,BUS,220,1076,13,386172.0,2019-02-10 20:19:57,2019-02-10 20:03:32,00:16:25,386254.0,2019-02-10 20:39:46,2019-02-10 20:39:33,00:00:13,19.816667,36.016667
29,385702.0,7,3,WALK,nan,NaN,NaN,NaN,2019-02-10 20:39:46,NaT,NaT,NaN,2019-02-10 20:39:59,NaT,NaT,0.216667,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1325,497487.0,12,9,WALK,nan,NaN,NaN,NaN,2019-02-10 21:33:34,NaT,NaT,NaN,2019-02-10 21:46:04,NaT,NaT,12.500000,NaN
1326,497519.0,6,8,WALK,nan,NaN,NaN,NaN,2019-02-10 16:56:41,NaT,NaT,NaN,2019-02-10 17:17:51,NaT,NaT,21.166667,NaN
1327,497519.0,23,8,WALK,nan,NaN,NaN,NaN,2019-02-10 18:56:41,NaT,NaT,NaN,2019-02-10 19:17:51,NaT,NaT,21.166667,NaN
1328,497525.0,76,8,WALK,nan,NaN,NaN,NaN,2019-02-10 13:45:41,NaT,NaT,NaN,2019-02-10 13:55:02,NaT,NaT,9.350000,NaN
1329,497525.0,109,8,WALK,nan,NaN,NaN,NaN,2019-02-10 17:01:15,NaT,NaT,NaN,2019-02-10 17:01:45,NaT,NaT,0.500000,NaN
1330,497525.0,110,8,WALK,nan,NaN,NaN,NaN,2019-02-10 16:56:41,NaT,NaT,NaN,2019-02-10 17:06:02,NaT,NaT,9.350000,NaN
1331,497525.0,112,8,WALK,nan,NaN,NaN,NaN,2019-02-10 16:53:37,NaT,NaT,NaN,2019-02-10 17:15:34,NaT,NaT,21.950000,NaN
1332,497525.0,122,7,WALK,nan,NaN,NaN,NaN,2019-02-10 18:11:15,NaT,NaT,NaN,2019-02-10 18:11:45,NaT,NaT,0.500000,NaN
1333,497525.0,125,7,WALK,nan,NaN,NaN,NaN,2019-02-10 18:17:59,NaT,NaT,NaN,2019-02-10 18:27:17,NaT,NaT,9.300000,NaN
1334,497525.0,135,8,WALK,nan,NaN,NaN,NaN,2019-02-10 19:21:15,NaT,NaT,NaN,2019-02-10 19:21:45,NaT,NaT,0.500000,NaN
1335,497525.0,157,7,WALK,nan,NaN,NaN,NaN,2019-02-10 21:36:41,NaT,NaT,NaN,2019-02-10 21:46:02,NaT,NaT,9.350000,NaN
1336,497525.0,162,8,WALK,nan,NaN,NaN,NaN,2019-02-10 22:11:41,NaT,NaT,NaN,2019-02-10 22:21:02,NaT,NaT,9.350000,NaN
1337,497525.0,166,6,WALK,nan,NaN,NaN,NaN,2019-02-10 22:21:59,NaT,NaT,NaN,2019-02-10 22:43:56,NaT,NaT,21.950000,NaN
1338,497525.0,171,6,WALK,nan,NaN,NaN,NaN,2019-02-10 23:17:40,NaT,NaT,NaN,2019-02-10 23:18:10,NaT,NaT,0.500000,NaN
1339,497530.0,4,8,WALK,nan,NaN,NaN,NaN,2019-02-10 16:36:41,NaT,NaT,NaN,2019-02-10 16:53:05,NaT,NaT,16.400000,NaN
1340,497530.0,50,8,WALK,nan,NaN,NaN,NaN,2019-02-10 22:56:41,NaT,NaT,NaN,2019-02-10 23:13:05,NaT,NaT,16.400000,NaN
1341,497541.0,35,8,BUS,555,2033,8,491486.0,2019-02-10 18:06:45,2019-02-10 18:03:25,00:03:20,386181.0,2019-02-10 18:16:40,2019-02-10 18:16:43,00:00:03,9.916667,13.300000
1342,497541.0,35,9,WALK,nan,NaN,NaN,NaN,2019-02-10 18:16:41,NaT,NaT,NaN,2019-02-10 18:21:42,NaT,NaT,5.016667,NaN
1343,497541.0,78,8,WALK,nan,NaN,NaN,NaN,2019-02-10 22:56:41,NaT,NaT,NaN,2019-02-10 23:01:42,NaT,NaT,5.016667,NaN
1344,497795.0,137,7,WALK,nan,NaN,NaN,NaN,2019-02-10 21:34:24,NaT,NaT,NaN,2019-02-10 21:34:45,NaT,NaT,0.350000,NaN
1346,497828.0,18,8,WALK,nan,NaN,NaN,NaN,2019-02-10 11:08:40,NaT,NaT,NaN,2019-02-10 11:34:30,NaT,NaT,25.833333,NaN
1347,497828.0,67,8,WALK,nan,NaN,NaN,NaN,2019-02-10 14:58:05,NaT,NaT,NaN,2019-02-10 15:14:36,NaT,NaT,16.516667,NaN
1348,497828.0,83,8,WALK,nan,NaN,NaN,NaN,2019-02-10 16:09:05,NaT,NaT,NaN,2019-02-10 16:25:36,NaT,NaT,16.516667,NaN
1349,497829.0,154,6,WALK,nan,NaN,NaN,NaN,2019-02-10 23:12:53,NaT,NaT,NaN,2019-02-10 23:28:27,NaT,NaT,15.566667,NaN
1350,692513.0,179,4,BUS,910,2051,11,386647.0,2019-02-10 23:03:06,2019-02-10 16:48:58,06:14:08,692514.0,2019-02-10 23:12:52,2019-02-10 16:55:36,06:17:16,9.766667,6.633333
1351,692513.0,179,5,WALK,nan,NaN,NaN,NaN,2019-02-10 23:12:53,NaT,NaT,NaN,2019-02-10 23:14:05,NaT,NaT,1.200000,NaN
1352,692513.0,181,5,WALK,nan,NaN,NaN,NaN,2019-02-10 23:36:07,NaT,NaT,NaN,2019-02-10 23:40:10,NaT,NaT,4.050000,NaN
1354,692513.0,183,5,WALK,nan,NaN,NaN,NaN,2019-02-10 23:58:23,NaT,NaT,NaN,2019-02-11 00:21:20,NaT,NaT,22.950000,NaN
1355,723525.0,11,9,WALK,nan,NaN,NaN,NaN,2019-02-10 18:19:57,NaT,NaT,NaN,2019-02-10 18:42:29,NaT,NaT,22.533333,NaN
1356,723525.0,54,8,BUS,555,2033,11,386322.0,2019-02-10 22:02:56,2019-02-10 22:00:09,00:02:47,386170.0,2019-02-10 22:14:56,2019-02-10 22:14:28,00:00:28,12.000000,14.316667

In [29]:
def is_new_itinerary(prev_trip_id,curr_trip_id,prev_itin_id,curr_itin_id):
    return ((prev_trip_id != curr_trip_id) | (prev_itin_id != curr_itin_id))

def choose_leg_matches(leg_matches_groups):
        colnames = leg_matches_groups.obj.columns.values
        chosen_leg_matches = pd.DataFrame(columns = colnames)
        prev_trip_id = -1
        prev_itin_id = -1
        prev_leg_mode = ""
        prev_leg_end_time = pd.NaT
        num_groups_not_survived = 0
        new_itinerary = False

        for name, group in leg_matches_groups:
            
                #print
                #print "Name:", name
                #print "Group:"
                #print group
                #print
                
                curr_trip_id = group['otp_user_trip_id'].iloc[0]
                curr_itin_id = group['otp_itinerary_id'].iloc[0]
                curr_leg_id = group['otp_leg_id'].iloc[0]
                curr_leg_mode = group['otp_mode'].iloc[0]
                
                new_itinerary = is_new_itinerary(prev_trip_id,curr_trip_id,prev_itin_id,curr_itin_id)
                if new_itinerary:
                    prev_leg_end_time = group['otp_start_time'].dt.floor('d').iloc[0]

                #if (prev_group_id == ()):
                #        prev_leg_end_time = group['bt_start_time'].dt.floor('d')[0]

                #print
                #print "Previous itinerary id:", prev_itin_id
                #print "Previous leg mode:", prev_leg_mode
                #print "Previous leg end time:", prev_leg_end_time
                #print "Current leg id:", curr_leg_id
                #print "Current leg mode:", curr_leg_mode
                #print
                #print "Original Group"
                #print group.filter(['otp_start_time','bt_start_time','bt_end_time'])
                
                if (curr_leg_mode == 'WALK'):
                    #print "Walking duration:", filtered_group['otp_duration_mins']
                    filtered_group = group.reset_index()
                    if new_itinerary: #first leg is a WALK leg
                        filtered_group.loc[0,'bt_end_time'] = prev_leg_end_time
                    else:
                        filtered_group.loc[0,'bt_start_time'] = prev_leg_end_time
                        filtered_group.loc[0,'bt_end_time'] = prev_leg_end_time + \
                            pd.Timedelta(minutes=np.rint(filtered_group['otp_duration_mins'].iloc[0]))
                    #print "Filtered Group"
                    #print filtered_group
                else:
                    filtered_group = group[group['bt_start_time'] > prev_leg_end_time]
                
                #print
                #print "Filtered Group"
                #print filtered_group.filter(['otp_start_time','bt_start_time','bt_end_time'])

                if (len(filtered_group) == 0):
                        #print "Group did not survive! =("
                        #print
                        #print "Previous itinerary id:", prev_itin_id
                        #print "Previous leg mode:", prev_leg_mode
                        #print "Previous leg end time:", prev_leg_end_time
                        #print "Current leg id:", curr_leg_id
                        #print "Current leg mode:", curr_leg_mode
                        #print
                        #print "Original Group"
                        #print group#.filter(['otp_start_time','bt_start_time','bt_end_time'])
                        num_groups_not_survived += 1
                        continue

                chosen_leg_match = filtered_group.sort_values('bt_start_time').iloc[0]
                
                if ((curr_leg_id == 2) & 
                    ((curr_leg_mode == 'BUS') & (prev_leg_mode == 'WALK'))):
                        #Update previous walk start/end_times
                        #print
                        #print "Chosen Leg Matches"
                        #print chosen_leg_matches.iloc[-1]
                        #print
                        chosen_leg_matches.iloc[-1,chosen_leg_matches.columns.get_loc('bt_start_time')] = chosen_leg_match['bt_start_time'] - \
                            pd.Timedelta(minutes=np.rint(chosen_leg_matches.iloc[-1].otp_duration_mins))
                        chosen_leg_matches.iloc[-1,chosen_leg_matches.columns.get_loc('bt_end_time')] = chosen_leg_match['bt_start_time']
                #print "Chosen Leg"
                #print chosen_leg_match

                chosen_leg_matches = chosen_leg_matches.append(chosen_leg_match)

                #Update variables
                #prev_group_id = name
                prev_trip_id = curr_trip_id
                prev_itin_id = curr_itin_id
                prev_leg_mode = curr_leg_mode
                prev_leg_end_time = chosen_leg_match['bt_end_time']

        #print "Number of groups which did not survive:", num_groups_not_survived
        return chosen_leg_matches.filter(colnames)

In [30]:
legs_groups = all_complete_vehicle_legs_options.groupby(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

In [31]:
legs_groups.obj.columns.values

array(['otp_user_trip_id', 'otp_itinerary_id', 'otp_leg_id', 'otp_mode',
       'otp_route', 'bt_bus_code', 'bt_trip_num', 'otp_from_stop_id',
       'otp_start_time', 'bt_start_time', 'sched_obs_start_timediff',
       'otp_to_stop_id', 'otp_end_time', 'bt_end_time',
       'sched_obs_end_timediff', 'otp_duration_mins', 'bt_duration_mins'],
      dtype=object)

In [32]:
# Choose best actual leg matches (based on feasibility and start time)
import time

start = time.time()
#chosen_legs = choose_leg_matches(sample_itinerary_options.groupby(['otp_user_trip_id','otp_itinerary_id','otp_leg_id']))
feasible_legs = choose_leg_matches(legs_groups)
end = time.time()

print "Execution time in s:", (end-start)
feasible_legs

Execution time in s: 14.9385869503

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,bt_duration_mins
0,385702.0,1,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:38:24,2019-02-10 14:44:46,NaT,NaN,2019-02-10 19:56:37,2019-02-10 15:02:46,NaT,18.216667,NaN
1,385702.0,1,2,BUS,092,2042,6,386176.0,2019-02-10 19:56:38,2019-02-10 15:02:46,0 days 04:53:52,386142.0,2019-02-10 20:20:10,2019-02-10 15:30:07,0 days 04:50:03,23.533333,27.350000
2,385702.0,1,3,BUS,555,2033,11,386142.0,2019-02-10 20:29:31,2019-02-10 22:23:34,0 days 01:54:03,385702.0,2019-02-10 20:34:42,2019-02-10 22:28:44,0 days 01:54:02,5.183333,5.166667
0,385702.0,1,4,WALK,nan,NaN,NaN,NaN,2019-02-10 20:34:43,2019-02-10 22:28:44,NaT,NaN,2019-02-10 20:34:46,2019-02-10 22:28:44,NaT,0.050000,NaN
0,385702.0,2,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:30:00,2019-02-10 16:50:55,NaT,NaN,2019-02-10 19:55:32,2019-02-10 17:16:55,NaT,25.533333,NaN
5,385702.0,2,2,BUS,245,1027,6,386397.0,2019-02-10 19:55:33,2019-02-10 17:16:55,0 days 02:38:38,385820.0,2019-02-10 20:30:39,2019-02-10 17:47:24,0 days 02:43:15,35.100000,30.483333
0,385702.0,2,3,WALK,nan,NaN,NaN,NaN,2019-02-10 20:30:40,2019-02-10 17:47:24,NaT,NaN,2019-02-10 20:43:45,2019-02-10 18:00:24,NaT,13.083333,NaN
0,385702.0,3,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:35:06,2019-02-10 18:34:08,NaT,NaN,2019-02-10 19:50:42,2019-02-10 18:50:08,NaT,15.600000,NaN
8,385702.0,3,2,BUS,092,2002,11,385945.0,2019-02-10 19:50:43,2019-02-10 18:50:08,0 days 01:00:35,386736.0,2019-02-10 19:55:56,2019-02-10 18:52:30,0 days 01:03:26,5.216667,2.366667
0,385702.0,3,3,WALK,nan,NaN,NaN,NaN,2019-02-10 19:55:56,2019-02-10 18:52:30,NaT,NaN,2019-02-10 19:56:00,2019-02-10 18:52:30,NaT,0.066667,NaN
0,385702.0,3,5,WALK,nan,NaN,NaN,NaN,2019-02-10 20:20:57,2019-02-10 18:52:30,NaT,NaN,2019-02-10 20:21:48,2019-02-10 18:53:30,NaT,0.850000,NaN
11,385702.0,3,6,BUS,333,1042,13,703787.0,2019-02-10 20:28:36,2019-02-10 20:19:13,0 days 00:09:23,491440.0,2019-02-10 20:36:36,2019-02-10 20:28:25,0 days 00:08:11,8.000000,9.200000
0,385702.0,3,7,WALK,nan,NaN,NaN,NaN,2019-02-10 20:36:37,2019-02-10 20:28:25,NaT,NaN,2019-02-10 20:45:34,2019-02-10 20:37:25,NaT,8.950000,NaN
0,385702.0,4,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:26:59,2019-02-10 18:58:33,NaT,NaN,2019-02-10 19:43:03,2019-02-10 19:14:33,NaT,16.066667,NaN
14,385702.0,4,2,BUS,922,2030,7,386717.0,2019-02-10 19:43:04,2019-02-10 19:14:33,0 days 00:28:31,497898.0,2019-02-10 19:43:34,2019-02-10 19:14:46,0 days 00:28:48,0.500000,0.216667
0,385702.0,4,3,WALK,nan,NaN,NaN,NaN,2019-02-10 19:43:34,2019-02-10 19:14:46,NaT,NaN,2019-02-10 19:59:52,2019-02-10 19:30:46,NaT,16.300000,NaN
0,385702.0,4,5,WALK,nan,NaN,NaN,NaN,2019-02-10 20:21:15,2019-02-10 19:30:46,NaT,NaN,2019-02-10 20:21:44,2019-02-10 19:30:46,NaT,0.483333,NaN
0,385702.0,4,7,WALK,nan,NaN,NaN,NaN,2019-02-10 20:31:08,2019-02-10 19:30:46,NaT,NaN,2019-02-10 20:48:28,2019-02-10 19:47:46,NaT,17.333333,NaN
0,385702.0,5,1,WALK,nan,NaN,NaN,NaN,2019-02-10 20:00:55,2019-02-10 19:41:22,NaT,NaN,2019-02-10 20:16:31,2019-02-10 19:57:22,NaT,15.600000,NaN
20,385702.0,5,2,BUS,922,2024,7,385945.0,2019-02-10 20:16:32,2019-02-10 19:57:22,0 days 00:19:10,386333.0,2019-02-10 20:34:35,2019-02-10 19:57:33,0 days 00:37:02,18.050000,0.183333
0,385702.0,5,3,WALK,nan,NaN,NaN,NaN,2019-02-10 20:34:35,2019-02-10 19:57:33,NaT,NaN,2019-02-10 20:34:51,2019-02-10 19:57:33,NaT,0.266667,NaN
0,385702.0,5,5,WALK,nan,NaN,NaN,NaN,2019-02-10 20:52:17,2019-02-10 19:57:33,NaT,NaN,2019-02-10 20:55:00,2019-02-10 20:00:33,NaT,2.716667,NaN
0,385702.0,6,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:27:48,2019-02-10 18:24:20,NaT,NaN,2019-02-10 19:51:28,2019-02-10 18:48:20,NaT,23.666667,NaN
24,385702.0,6,2,BUS,245,1062,5,386425.0,2019-02-10 19:51:29,2019-02-10 18:48:20,0 days 01:03:09,386228.0,2019-02-10 20:10:14,2019-02-10 19:42:37,0 days 00:27:37,18.750000,54.283333
0,385702.0,6,4,WALK,nan,NaN,NaN,NaN,2019-02-10 20:42:34,2019-02-10 19:42:37,NaT,NaN,2019-02-10 21:02:43,2019-02-10 20:02:37,NaT,20.150000,NaN
0,385702.0,7,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:55:56,2019-02-10 19:39:32,NaT,NaN,2019-02-10 20:19:56,2019-02-10 20:03:32,NaT,24.000000,NaN
28,385702.0,7,2,BUS,220,1076,13,386172.0,2019-02-10 20:19:57,2019-02-10 20:03:32,0 days 00:16:25,386254.0,2019-02-10 20:39:46,2019-02-10 20:39:33,0 days 00:00:13,19.816667,36.016667
0,385702.0,7,3,WALK,nan,NaN,NaN,NaN,2019-02-10 20:39:46,2019-02-10 20:39:33,NaT,NaN,2019-02-10 20:39:59,2019-02-10 20:39:33,NaT,0.216667,NaN
0,385702.0,7,5,WALK,nan,NaN,NaN,NaN,2019-02-10 20:47:01,2019-02-10 20:39:33,NaT,NaN,2019-02-10 21:04:29,2019-02-10 20:56:33,NaT,17.466667,NaN
0,385702.0,8,1,WALK,nan,NaN,NaN,NaN,2019-02-10 20:08:24,2019-02-10 16:40:35,NaT,NaN,2019-02-10 20:26:37,2019-02-10 16:58:35,NaT,18.216667,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,497519.0,23,8,WALK,nan,NaN,NaN,NaN,2019-02-10 18:56:41,NaT,NaT,NaN,2019-02-10 19:17:51,2019-02-10 00:00:00,NaT,21.166667,NaN
0,497525.0,76,8,WALK,nan,NaN,NaN,NaN,2019-02-10 13:45:41,NaT,NaT,NaN,2019-02-10 13:55:02,2019-02-10 00:00:00,NaT,9.350000,NaN
0,497525.0,109,8,WALK,nan,NaN,NaN,NaN,2019-02-10 17:01:15,NaT,NaT,NaN,2019-02-10 17:01:45,2019-02-10 00:00:00,NaT,0.500000,NaN
0,497525.0,110,8,WALK,nan,NaN,NaN,NaN,2019-02-10 16:56:41,NaT,NaT,NaN,2019-02-10 17:06:02,2019-02-10 00:00:00,NaT,9.350000,NaN
0,497525.0,112,8,WALK,nan,NaN,NaN,NaN,2019-02-10 16:53:37,NaT,NaT,NaN,2019-02-10 17:15:34,2019-02-10 00:00:00,NaT,21.950000,NaN
0,497525.0,122,7,WALK,nan,NaN,NaN,NaN,2019-02-10 18:11:15,NaT,NaT,NaN,2019-02-10 18:11:45,2019-02-10 00:00:00,NaT,0.500000,NaN
0,497525.0,125,7,WALK,nan,NaN,NaN,NaN,2019-02-10 18:17:59,NaT,NaT,NaN,2019-02-10 18:27:17,2019-02-10 00:00:00,NaT,9.300000,NaN
0,497525.0,135,8,WALK,nan,NaN,NaN,NaN,2019-02-10 19:21:15,NaT,NaT,NaN,2019-02-10 19:21:45,2019-02-10 00:00:00,NaT,0.500000,NaN
0,497525.0,157,7,WALK,nan,NaN,NaN,NaN,2019-02-10 21:36:41,NaT,NaT,NaN,2019-02-10 21:46:02,2019-02-10 00:00:00,NaT,9.350000,NaN
0,497525.0,162,8,WALK,nan,NaN,NaN,NaN,2019-02-10 22:11:41,NaT,NaT,NaN,2019-02-10 22:21:02,2019-02-10 00:00:00,NaT,9.350000,NaN
0,497525.0,166,6,WALK,nan,NaN,NaN,NaN,2019-02-10 22:21:59,NaT,NaT,NaN,2019-02-10 22:43:56,2019-02-10 00:00:00,NaT,21.950000,NaN
0,497525.0,171,6,WALK,nan,NaN,NaN,NaN,2019-02-10 23:17:40,NaT,NaT,NaN,2019-02-10 23:18:10,2019-02-10 00:00:00,NaT,0.500000,NaN
0,497530.0,4,8,WALK,nan,NaN,NaN,NaN,2019-02-10 16:36:41,NaT,NaT,NaN,2019-02-10 16:53:05,2019-02-10 00:00:00,NaT,16.400000,NaN
0,497530.0,50,8,WALK,nan,NaN,NaN,NaN,2019-02-10 22:56:41,NaT,NaT,NaN,2019-02-10 23:13:05,2019-02-10 00:00:00,NaT,16.400000,NaN
1341,497541.0,35,8,BUS,555,2033,8,491486.0,2019-02-10 18:06:45,2019-02-10 18:03:25,0 days 00:03:20,386181.0,2019-02-10 18:16:40,2019-02-10 18:16:43,0 days 00:00:03,9.916667,13.300000
0,497541.0,35,9,WALK,nan,NaN,NaN,NaN,2019-02-10 18:16:41,2019-02-10 18:16:43,NaT,NaN,2019-02-10 18:21:42,2019-02-10 18:21:43,NaT,5.016667,NaN
0,497541.0,78,8,WALK,nan,NaN,NaN,NaN,2019-02-10 22:56:41,NaT,NaT,NaN,2019-02-10 23:01:42,2019-02-10 00:00:00,NaT,5.016667,NaN
0,497795.0,137,7,WALK,nan,NaN,NaN,NaN,2019-02-10 21:34:24,NaT,NaT,NaN,2019-02-10 21:34:45,2019-02-10 00:00:00,NaT,0.350000,NaN
1345,497814.0,15,8,BUS,245,1062,5,386453.0,2019-02-10 22:02:57,2019-02-10 18:52:53,0 days 03:10:04,386454.0,2019-02-10 22:03:28,2019-02-10 19:03:03,0 days 03:00:25,0.516667,10.166667
0,497828.0,18,8,WALK,nan,NaN,NaN,NaN,2019-02-10 11:08:40,NaT,NaT,NaN,2019-02-10 11:34:30,2019-02-10 00:00:00,NaT,25.833333,NaN
0,497828.0,67,8,WALK,nan,NaN,NaN,NaN,2019-02-10 14:58:05,NaT,NaT,NaN,2019-02-10 15:14:36,2019-02-10 00:00:00,NaT,16.516667,NaN
0,497828.0,83,8,WALK,nan,NaN,NaN,NaN,2019-02-10 16:09:05,NaT,NaT,NaN,2019-02-10 16:25:36,2019-02-10 00:00:00,NaT,16.516667,NaN
0,497829.0,154,6,WALK,nan,NaN,NaN,NaN,2019-02-10 23:12:53,NaT,NaT,NaN,2019-02-10 23:28:27,2019-02-10 00:00:00,NaT,15.566667,NaN
1350,692513.0,179,4,BUS,910,2051,11,386647.0,2019-02-10 23:03:06,2019-02-10 16:48:58,0 days 06:14:08,692514.0,2019-02-10 23:12:52,2019-02-10 16:55:36,0 days 06:17:16,9.766667,6.633333
0,692513.0,179,5,WALK,nan,NaN,NaN,NaN,2019-02-10 23:12:53,2019-02-10 16:55:36,NaT,NaN,2019-02-10 23:14:05,2019-02-10 16:56:36,NaT,1.200000,NaN
0,692513.0,181,5,WALK,nan,NaN,NaN,NaN,2019-02-10 23:36:07,NaT,NaT,NaN,2019-02-10 23:40:10,2019-02-10 00:00:00,NaT,4.050000,NaN
1353,692513.0,183,4,BUS,444,3057,9,386127.0,2019-02-10 23:40:29,2019-02-10 19:43:41,0 days 03:56:48,386651.0,2019-02-10 23:58:22,2019-02-10 19:59:29,0 days 03:58:53,17.883333,15.800000
0,692513.0,183,5,WALK,nan,NaN,NaN,NaN,2019-02-10 23:58:23,2019-02-10 19:59:29,NaT,NaN,2019-02-11 00:21:20,2019-02-10 20:22:29,NaT,22.950000,NaN
0,723525.0,11,9,WALK,nan,NaN,NaN,NaN,2019-02-10 18:19:57,NaT,NaT,NaN,2019-02-10 18:42:29,2019-02-10 00:00:00,NaT,22.533333,NaN
1356,723525.0,54,8,BUS,555,2033,11,386322.0,2019-02-10 22:02:56,2019-02-10 22:00:09,0 days 00:02:47,386170.0,2019-02-10 22:14:56,2019-02-10 22:14:28,0 days 00:00:28,12.000000,14.316667

In [33]:
if len(feasible_legs) == 0:
    print "No matches left after matching and selecting feasible bus legs."
    print "Skipping next steps..."
    exit(0)

# Filtering out itineraries which lost bus legs after feasible legs choice processing
feasible_itins_num_legs = feasible_legs.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(x)}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})
feasible_itins_num_legs.head(20)

    otp_user_trip_id  otp_itinerary_id  num_legs
0           385702.0                 1         4
1           385702.0                 2         3
2           385702.0                 3         6
3           385702.0                 4         5
4           385702.0                 5         4
5           385702.0                 6         3
6           385702.0                 7         4
7           385702.0                 8         3
8           385702.0                 9         4
9           385702.0                10         6
10          385702.0                11         5
11          385702.0                12         6
12          385702.0                13         4
13          385702.0                14         5
14          385702.0                15         3
15          385702.0                16         5
16          385702.0                17         6
17          385702.0                18         3
18          385702.0                19         5
19          385702.0                20         4

In [34]:
feasible_complete_itins = feasible_itins_num_legs.merge(original_suggested_itins_num_legs,how='inner')

feasible_complete_itins.head(20)

    otp_user_trip_id  otp_itinerary_id  num_legs
0           385702.0                 1         4
1           385702.0                 2         3
2           385702.0                 8         3
3           385702.0                11         5
4           385702.0                13         4
5           385702.0                15         3
6           385702.0                16         5
7           385702.0                18         3
8           385702.0                24         3
9           385702.0                25         3
10          385702.0                27         5
11          385702.0                28         3
12          385702.0                29         3
13          385702.0                30         3
14          385702.0                32         4
15          385702.0                33         3
16          385706.0                34         3
17          385706.0                35         3
18          385706.0                38         3
19          385706.0                39         3

In [35]:
feasible_complete_itins_legs = feasible_legs.merge(feasible_complete_itins.drop('num_legs', axis=1),how='inner')

feasible_complete_itins_legs.head()

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,bt_duration_mins
0,385702.0,1,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:38:24,2019-02-10 14:44:46,NaT,NaN,2019-02-10 19:56:37,2019-02-10 15:02:46,NaT,18.216667,NaN
1,385702.0,1,2,BUS,092,2042,6,386176.0,2019-02-10 19:56:38,2019-02-10 15:02:46,0 days 04:53:52,386142.0,2019-02-10 20:20:10,2019-02-10 15:30:07,0 days 04:50:03,23.533333,27.350000
2,385702.0,1,3,BUS,555,2033,11,386142.0,2019-02-10 20:29:31,2019-02-10 22:23:34,0 days 01:54:03,385702.0,2019-02-10 20:34:42,2019-02-10 22:28:44,0 days 01:54:02,5.183333,5.166667
3,385702.0,1,4,WALK,nan,NaN,NaN,NaN,2019-02-10 20:34:43,2019-02-10 22:28:44,NaT,NaN,2019-02-10 20:34:46,2019-02-10 22:28:44,NaT,0.050000,NaN
4,385702.0,2,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:30:00,2019-02-10 16:50:55,NaT,NaN,2019-02-10 19:55:32,2019-02-10 17:16:55,NaT,25.533333,NaN

In [36]:
def add_stops_data_to_legs(itineraries_legs,stops_locs):
    itineraries_legs_stops = itineraries_legs.merge(stops_locs, left_on='otp_from_stop_id', right_on='stop_id', how='left') \
                                                                                .drop('stop_id', axis=1) \
                                                                                .rename(index=str, columns={'stop_lat':'from_stop_lat','stop_lon':'from_stop_lon'}) \
                                                                                .merge(stops_locations, left_on='otp_to_stop_id', right_on='stop_id', how='left') \
                                                                                .drop('stop_id', axis=1) \
                                                                                .rename(index=str, columns={'stop_lat':'to_stop_lat','stop_lon':'to_stop_lon'}) 
    return itineraries_legs_stops

In [37]:
stops_locations = stops_df[['stop_id','stop_lat','stop_lon']]
itineraries_legs = add_stops_data_to_legs(feasible_complete_itins_legs,stops_locations)

itineraries_legs.head()

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,...,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,bt_duration_mins,from_stop_lat,from_stop_lon,to_stop_lat,to_stop_lon
0,385702.0,1,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:38:24,2019-02-10 14:44:46,...,NaN,2019-02-10 19:56:37,2019-02-10 15:02:46,NaT,18.216667,NaN,NaN,NaN,NaN,NaN
1,385702.0,1,2,BUS,092,2042,6,386176.0,2019-02-10 19:56:38,2019-02-10 15:02:46,...,386142.0,2019-02-10 20:20:10,2019-02-10 15:30:07,0 days 04:50:03,23.533333,27.350000,-7.251851,-35.930824,-7.218871,-35.875774
2,385702.0,1,3,BUS,555,2033,11,386142.0,2019-02-10 20:29:31,2019-02-10 22:23:34,...,385702.0,2019-02-10 20:34:42,2019-02-10 22:28:44,0 days 01:54:02,5.183333,5.166667,-7.218871,-35.875774,-7.227365,-35.868314
3,385702.0,1,4,WALK,nan,NaN,NaN,NaN,2019-02-10 20:34:43,2019-02-10 22:28:44,...,NaN,2019-02-10 20:34:46,2019-02-10 22:28:44,NaT,0.050000,NaN,NaN,NaN,NaN,NaN
4,385702.0,2,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:30:00,2019-02-10 16:50:55,...,NaN,2019-02-10 19:55:32,2019-02-10 17:16:55,NaT,25.533333,NaN,NaN,NaN,NaN,NaN

In [38]:
feasible_complete_itins_legs.head()
output = feasible_complete_itins_legs.to_csv("data/output/output_2019_02_10_atualizado_partindo_do_centro.csv",index=False)
#feasible_complete_itins_legs[["otp_itinerary_id","otp_leg_id","otp_mode","otp_route","bt_start_time","bt_end_time"]]

In [208]:
teste = feasible_complete_itins_legs.drop_duplicates(keep='first',subset=['otp_leg_id','otp_mode','otp_route','bt_bus_code','bt_trip_num', 'otp_from_stop_id','otp_start_time','bt_start_time',
                'sched_obs_start_timediff','otp_to_stop_id','otp_end_time','bt_end_time','sched_obs_end_timediff'])
#feasible_complete_itins_legs_drop_duplicates = choose_leg_matches_drop_duplicates(feasible_complete_itins_legs)
#output = teste.to_csv("data/output/output.csv",index=False)
teste

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins
0,385702.0,1,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:38:24,2019-02-10 14:44:46,NaT,NaN,2019-02-10 19:56:37,2019-02-10 15:02:46,NaT,18.216667
1,385702.0,1,2,BUS,092,2042,6,386176.0,2019-02-10 19:56:38,2019-02-10 15:02:46,0 days 04:53:52,386142.0,2019-02-10 20:20:10,2019-02-10 15:30:07,0 days 04:50:03,23.533333
2,385702.0,1,3,BUS,555,2033,11,386142.0,2019-02-10 20:29:31,2019-02-10 22:23:34,0 days 01:54:03,385702.0,2019-02-10 20:34:42,2019-02-10 22:28:44,0 days 01:54:02,5.183333
3,385702.0,1,4,WALK,nan,NaN,NaN,NaN,2019-02-10 20:34:43,2019-02-10 22:28:44,NaT,NaN,2019-02-10 20:34:46,2019-02-10 22:28:44,NaT,0.050000
4,385702.0,2,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:30:00,2019-02-10 16:50:55,NaT,NaN,2019-02-10 19:55:32,2019-02-10 17:16:55,NaT,25.533333
5,385702.0,2,2,BUS,245,1027,6,386397.0,2019-02-10 19:55:33,2019-02-10 17:16:55,0 days 02:38:38,385820.0,2019-02-10 20:30:39,2019-02-10 17:47:24,0 days 02:43:15,35.100000
6,385702.0,2,3,WALK,nan,NaN,NaN,NaN,2019-02-10 20:30:40,2019-02-10 17:47:24,NaT,NaN,2019-02-10 20:43:45,2019-02-10 18:00:24,NaT,13.083333
7,385702.0,8,1,WALK,nan,NaN,NaN,NaN,2019-02-10 20:08:24,2019-02-10 16:40:35,NaT,NaN,2019-02-10 20:26:37,2019-02-10 16:58:35,NaT,18.216667
8,385702.0,8,2,BUS,092,2053,9,386176.0,2019-02-10 20:26:38,2019-02-10 16:58:35,0 days 03:28:03,386160.0,2019-02-10 20:56:06,2019-02-10 17:07:54,0 days 03:48:12,29.466667
9,385702.0,8,3,WALK,nan,NaN,NaN,NaN,2019-02-10 20:56:07,2019-02-10 17:07:54,NaT,NaN,2019-02-10 21:05:49,2019-02-10 17:17:54,NaT,9.700000
10,385702.0,11,1,WALK,nan,NaN,NaN,NaN,2019-02-10 20:03:30,2019-02-10 16:50:55,NaT,NaN,2019-02-10 20:29:02,2019-02-10 17:16:55,NaT,25.533333
11,385702.0,11,2,BUS,245,1027,6,386397.0,2019-02-10 20:29:03,2019-02-10 17:16:55,0 days 03:12:08,491287.0,2019-02-10 21:08:44,2019-02-10 17:49:20,0 days 03:19:24,39.683333
12,385702.0,11,3,WALK,nan,NaN,NaN,NaN,2019-02-10 21:08:44,2019-02-10 17:49:20,NaT,NaN,2019-02-10 21:09:48,2019-02-10 17:50:20,NaT,1.066667
13,385702.0,11,4,BUS,505,2037,11,386267.0,2019-02-10 21:11:43,2019-02-10 21:13:32,0 days 00:01:49,497863.0,2019-02-10 21:18:03,2019-02-10 21:21:57,0 days 00:03:54,6.333333
14,385702.0,11,5,WALK,nan,NaN,NaN,NaN,2019-02-10 21:18:04,2019-02-10 21:21:57,NaT,NaN,2019-02-10 21:18:13,2019-02-10 21:21:57,NaT,0.150000
15,385702.0,13,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:57:48,2019-02-10 18:24:20,NaT,NaN,2019-02-10 20:21:28,2019-02-10 18:48:20,NaT,23.666667
16,385702.0,13,2,BUS,245,1062,5,386425.0,2019-02-10 20:21:29,2019-02-10 18:48:20,0 days 01:33:09,386228.0,2019-02-10 20:40:14,2019-02-10 19:42:37,0 days 00:57:37,18.750000
17,385702.0,13,3,BUS,303,1063,11,386228.0,2019-02-10 20:56:14,2019-02-10 21:03:10,0 days 00:06:56,385709.0,2019-02-10 21:12:00,2019-02-10 21:20:23,0 days 00:08:23,15.766667
18,385702.0,13,4,WALK,nan,NaN,NaN,NaN,2019-02-10 21:12:01,2019-02-10 21:20:23,NaT,NaN,2019-02-10 21:29:29,2019-02-10 21:37:23,NaT,17.466667
19,385702.0,15,1,WALK,nan,NaN,NaN,NaN,2019-02-10 20:30:00,2019-02-10 16:50:55,NaT,NaN,2019-02-10 20:55:32,2019-02-10 17:16:55,NaT,25.533333
20,385702.0,15,2,BUS,245,1027,6,386397.0,2019-02-10 20:55:33,2019-02-10 17:16:55,0 days 03:38:38,385820.0,2019-02-10 21:30:39,2019-02-10 17:47:24,0 days 03:43:15,35.100000
21,385702.0,15,3,WALK,nan,NaN,NaN,NaN,2019-02-10 21:30:40,2019-02-10 17:47:24,NaT,NaN,2019-02-10 21:43:45,2019-02-10 18:00:24,NaT,13.083333
22,385702.0,16,1,WALK,nan,NaN,NaN,NaN,2019-02-10 20:35:55,2019-02-10 19:41:22,NaT,NaN,2019-02-10 20:51:31,2019-02-10 19:57:22,NaT,15.600000
23,385702.0,16,2,BUS,922,2024,7,385945.0,2019-02-10 20:51:32,2019-02-10 19:57:22,0 days 00:54:10,386333.0,2019-02-10 21:09:35,2019-02-10 19:57:33,0 days 01:12:02,18.050000
24,385702.0,16,3,WALK,nan,NaN,NaN,NaN,2019-02-10 21:09:35,2019-02-10 19:57:33,NaT,NaN,2019-02-10 21:10:26,2019-02-10 19:58:33,NaT,0.850000
25,385702.0,16,4,BUS,333,1042,13,703787.0,2019-02-10 21:28:36,2019-02-10 20:19:13,0 days 01:09:23,491440.0,2019-02-10 21:36:36,2019-02-10 20:28:25,0 days 01:08:11,8.000000
26,385702.0,16,5,WALK,nan,NaN,NaN,NaN,2019-02-10 21:36:37,2019-02-10 20:28:25,NaT,NaN,2019-02-10 21:45:34,2019-02-10 20:37:25,NaT,8.950000
27,385702.0,18,1,WALK,nan,NaN,NaN,NaN,2019-02-10 20:53:24,2019-02-10 16:40:35,NaT,NaN,2019-02-10 21:11:37,2019-02-10 16:58:35,NaT,18.216667
28,385702.0,18,2,BUS,092,2053,9,386176.0,2019-02-10 21:11:38,2019-02-10 16:58:35,0 days 04:13:03,386160.0,2019-02-10 21:41:06,2019-02-10 17:07:54,0 days 04:33:12,29.466667
29,385702.0,18,3,WALK,nan,NaN,NaN,NaN,2019-02-10 21:41:07,2019-02-10 17:07:54,NaT,NaN,2019-02-10 21:50:49,2019-02-10 17:17:54,NaT,9.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,385965.0,164,2,BUS,220,1076,13,386172.0,2019-02-10 21:29:57,2019-02-10 20:03:32,0 days 01:26:25,386254.0,2019-02-10 21:49:46,2019-02-10 20:39:33,0 days 01:10:13,19.816667
357,385965.0,164,3,WALK,nan,NaN,NaN,NaN,2019-02-10 21:49:47,2019-02-10 20:39:33,NaT,NaN,2019-02-10 21:53:05,2019-02-10 20:42:33,NaT,3.300000
359,385965.0,165,2,BUS,092,2042,6,386176.0,2019-02-10 21:41:38,2019-02-10 15:02:46,0 days 06:38:52,386333.0,2019-02-10 22:00:28,2019-02-10 16:01:56,0 days 05:58:32,18.833333
360,385965.0,165,3,WALK,nan,NaN,NaN,NaN,2019-02-10 22:00:29,2019-02-10 16:01:56,NaT,NaN,2019-02-10 22:04:48,2019-02-10 16:05:56,NaT,4.316667
363,385965.0,166,3,BUS,077,3028,12,386221.0,2019-02-10 21:51:43,2019-02-10 20:13:49,0 days 01:37:54,386333.0,2019-02-10 22:01:15,2019-02-10 20:29:20,0 days 01:31:55,9.533333
364,385965.0,166,4,WALK,nan,NaN,NaN,NaN,2019-02-10 22:01:16,2019-02-10 20:29:20,NaT,NaN,2019-02-10 22:05:35,2019-02-10 20:33:20,NaT,4.316667
367,385965.0,168,3,WALK,nan,NaN,NaN,NaN,2019-02-10 22:19:36,2019-02-10 19:57:33,NaT,NaN,2019-02-10 22:23:55,2019-02-10 20:01:33,NaT,4.316667
369,385965.0,169,2,BUS,092,2042,6,386176.0,2019-02-10 22:11:38,2019-02-10 15:02:46,0 days 07:08:52,386333.0,2019-02-10 22:30:28,2019-02-10 16:01:56,0 days 06:28:32,18.833333
370,385965.0,169,3,WALK,nan,NaN,NaN,NaN,2019-02-10 22:30:29,2019-02-10 16:01:56,NaT,NaN,2019-02-10 22:34:48,2019-02-10 16:05:56,NaT,4.316667
373,385965.0,170,3,BUS,077,3028,12,386221.0,2019-02-10 22:31:43,2019-02-10 20:13:49,0 days 02:17:54,386333.0,2019-02-10 22:41:15,2019-02-10 20:29:20,0 days 02:11:55,9.533333
374,385965.0,170,4,WALK,nan,NaN,NaN,NaN,2019-02-10 22:41:16,2019-02-10 20:29:20,NaT,NaN,2019-02-10 22:45:35,2019-02-10 20:33:20,NaT,4.316667
376,385965.0,171,2,BUS,092,2042,6,386176.0,2019-02-10 22:46:38,2019-02-10 15:02:46,0 days 07:43:52,386333.0,2019-02-10 23:05:28,2019-02-10 16:01:56,0 days 07:03:32,18.833333
377,385965.0,171,3,WALK,nan,NaN,NaN,NaN,2019-02-10 23:05:29,2019-02-10 16:01:56,NaT,NaN,2019-02-10 23:09:48,2019-02-10 16:05:56,NaT,4.316667
379,385965.0,173,2,BUS,922,2024,7,385945.0,2019-02-10 23:06:32,2019-02-10 19:57:22,0 days 03:09:10,386333.0,2019-02-10 23:24:35,2019-02-10 19:57:33,0 days 03:27:02,18.050000
380,385965.0,173,3,WALK,nan,NaN,NaN,NaN,2019-02-10 23:24:36,2019-02-10 19:57:33,NaT,NaN,2019-02-10 23:28:55,2019-02-10 20:01:33,NaT,4.316667
382,385965.0,174,2,BUS,245,1027,6,386397.0,2019-02-10 23:15:33,2019-02-10 17:16:55,0 days 05:58:38,491275.0,2019-02-10 23:46:22,2019-02-10 17:43:38,0 days 06:02:44,30.816667
383,385965.0,174,3,WALK,nan,NaN,NaN,NaN,2019-02-10 23:46:23,2019-02-10 17:43:38,NaT,NaN,2019-02-11 00:06:20,2019-02-10 18:03:38,NaT,19.950000
385,386098.0,175,2,BUS,245,1027,6,386397.0,2019-02-10 23:15:33,2019-02-10 17:16:55,0 days 05:58:38,491273.0,2019-02-10 23:44:11,2019-02-10 17:42:04,0 days 06:02:07,28.633333
386,386098.0,175,3,WALK,nan,NaN,NaN,NaN,2019-02-10 23:44:12,2019-02-10 17:42:04,NaT,NaN,2019-02-11 00:07:14,2019-02-10 18:05:04,NaT,23.033333
389,386168.0,176,3,WALK,nan,NaN,NaN,NaN,2019-02-10 22:05:11,2019-02-10 15:30:07,NaT,NaN,2019-02-10 22:09:17,2019-02-10 15:34:07,NaT,4.100000
392,386168.0,178,3,WALK,nan,NaN,NaN,NaN,2019-02-10 22:26:47,2019-02-10 19:57:36,NaT,NaN,2019-02-10 22:30:49,2019-02-10 20:01:36,NaT,4.033333
395,386168.0,179,3,WALK,nan,NaN,NaN,NaN,2019-02-10 22:35:11,2019-02-10 15:30:07,NaT,NaN,2019-02-10 22:39:17,2019-02-10 15:34:07,NaT,4.100000
399,386168.0,180,4,WALK,nan,NaN,NaN,NaN,2019-02-10 22:44:32,2019-02-10 20:25:51,NaT,NaN,2019-02-10 22:48:34,2019-02-10 20:29:51,NaT,4.033333
402,386168.0,181,3,WALK,nan,NaN,NaN,NaN,2019-02-10 23:10:11,2019-02-10 15:30:07,NaT,NaN,2019-02-10 23:14:17,2019-02-10 15:34:07,NaT,4.100000
405,386168.0,183,3,WALK,nan,NaN,NaN,NaN,2019-02-10 23:31:47,2019-02-10 19:57:36,NaT,NaN,2019-02-10 23:35:49,2019-02-10 20:01:36,NaT,4.033333
407,386168.0,184,2,BUS,245,1027,6,386397.0,2019-02-10 23:15:33,2019-02-10 17:16:55,0 days 05:58:38,386221.0,2019-02-10 23:25:41,2019-02-10 17:25:38,0 days 06:00:03,10.133333
408,386168.0,184,3,WALK,nan,NaN,NaN,NaN,2019-02-10 23:25:41,2019-02-10 17:25:38,NaT,NaN,2019-02-10 23:34:52,2019-02-10 17:34:38,NaT,9.183333
409,386168.0,184,4,BUS,444,3057,9,386127.0,2019-02-10 23:40:29,2019-02-10 19:43:41,0 days 03:56:48,386651.0,2019-02-10 23:58:22,2019-02-10 19:59:29,0 days 03:58:53,17.883333
410,386168.0,184,5,WALK,nan,NaN,NaN,NaN,2019-02-10 23:58:23,2019-02-10 19:59:29,NaT,NaN,2019-02-11 00:07:55,2019-02-10 20:09:29,NaT,9.533333
413,386335.0,185,3,WALK,nan,NaN,NaN,NaN,2019-02-10 23:46:23,2019-02-10 17:43:38,NaT,NaN,2019-02-11 00:03:02,2019-02-10 18:00:38,NaT,16.650000

In [209]:
output2 = teste.to_csv("data/output/output_2019_02_10.csv",index=False)

In [135]:
teste = teste[~teste.duplicated(['otp_leg_id','otp_mode','otp_route','bt_bus_code','bt_trip_num', 'otp_from_stop_id','otp_start_time','bt_start_time',
                'sched_obs_start_timediff','otp_to_stop_id','otp_end_time','bt_end_time','sched_obs_end_timediff'])
              .groupby(teste['otp_itinerary_id']).transform('any')]
teste
output = teste.to_csv("data/output/output_2019_02_10.csv",index=False)

In [ ]:
grouped = teste.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(x) < 5}).reset_index()

In [ ]:
grouped2 = teste.groupby(['otp_user_trip_id','otp_itinerary_id']).filter(lambda g: len(g.otp_leg_id) == 5)
grouped2

In [ ]:
grouped3 = grouped2.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(x) < 5})