In [64]:
#Libraries

#Python Libs
import sys
import os
import glob
import traceback
from datetime import datetime
import time
from geopy import distance


#Data Analysis Libs
import pandas as pd
import numpy as np

In [65]:
#Functions
def select_input_files(enh_buste_base_path,init_date,fin_date,suffix):
        selected_files = []
        all_files = glob.glob(os.path.join(enh_buste_base_path,"*"))

        for file_ in all_files:
                try:
                        file_date = pd.to_datetime(file_.split('/')[-1],format=('%Y_%m_%d' + suffix  + '.csv'))
                        if (file_date >= init_date) and (file_date <= fin_date):
                                selected_files.append((file_,file_date))
                except:
                        continue

        return sorted(selected_files)

def get_gtfs_path(query_date):
    INTERMEDIATE_OTP_DATE = pd.to_datetime("2019-05-13", format="%Y-%m-%d")
    router_id = ''

    if (query_date <= INTERMEDIATE_OTP_DATE):
        return 'campina-gtfs-2019'
    else:
        return 'campina-gtfs-2017'

## Main

In [66]:
otp_suggestions_filepath = 'data/output/2019_05_13_bus_trips_otp_itineraries.csv'
bus_trips_folderpath = 'data/input'
gtfs_base_folderpath = 'data/input'
output_folderpath = 'data/output'

In [67]:
file_date_str = otp_suggestions_filepath.split('/')[-1].split('_bus_trips_')[0]
file_date = pd.to_datetime(file_date_str,format='%Y_%m_%d')
print "Processing File:", otp_suggestions_filepath

Processing File: data/output/2019_05_13_bus_trips_otp_itineraries.csv

In [68]:
    # Extracting itinerary part name for later use
    itinerary_part_name = otp_suggestions_filepath.split('/')[-1].split('_')[5]
    # Read OTP Suggestions
    otp_suggestions_raw = pd.read_csv(otp_suggestions_filepath, parse_dates=['date','otp_start_time','otp_end_time'])

    if len(otp_suggestions_raw) == 0:
        print "Zero OTP suggestions found."
        print "Skipping next steps..."
        exit(0)

In [69]:
def prepare_otp_data(otp_data):
        #Fixing prefix
        otp_data.columns = otp_data.columns.str.replace('otp_','')
        otp_data = otp_data.add_prefix('otp_')
        
        #Fixing Timezone difference - when needed
        otp_data['otp_start_time'] = otp_data['otp_start_time'] - pd.Timedelta('10800 s')
        otp_data['otp_end_time'] = otp_data['otp_end_time'] - pd.Timedelta('10800 s')
        
        #Adjusting route format to have 3 numbers
        otp_data['otp_route'] = otp_data['otp_route'].astype(str)
        otp_data['otp_route'] = np.where(otp_data['otp_mode'] == 'BUS',
                            otp_data['otp_route'].astype(str).str.replace("\.0",'').str.zfill(3),
                            otp_data['otp_route'])

        return otp_data

In [70]:
    # Prepare OTP data for analysis
    otp_suggestions = prepare_otp_data(otp_suggestions_raw)    
    
    # Read stops data
    stops_filepath = gtfs_base_folderpath + os.sep + get_gtfs_path(file_date) + os.sep + 'stops.txt'
    stops_df = pd.read_csv(stops_filepath)
    
    # Adding Parent Stop data to OTP Suggestions TODO
    stops_parent_stations = stops_df[['stop_id','parent_station']]
    otp_suggestions = otp_suggestions.merge(stops_parent_stations.add_prefix('from_'),
                                                left_on='otp_from_stop_id',
                                                right_on='from_stop_id',
                                                how='left') \
                                        .merge(stops_parent_stations.add_prefix('to_'),
                                                left_on='otp_to_stop_id',
                                                right_on='to_stop_id',
                                                how='left') \
                                        .drop(['from_stop_id','to_stop_id'], axis=1) \
                                        .rename(index=str, columns={'from_parent_station':'otp_from_parent_station',
                                                                    'to_parent_station':'otp_to_parent_station'})
        
    otp_suggestions_bus_legs = otp_suggestions[otp_suggestions['otp_mode'] == 'BUS']
    otp_suggestions_walk_legs = otp_suggestions[otp_suggestions['otp_mode'] == 'WALK']

In [71]:
otp_suggestions.head()

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,2019-05-13,491551.0,1,1,2019-05-13 05:13:45,2019-05-13 05:13:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
1,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN
2,2019-05-13,491551.0,1,3,2019-05-13 05:43:31,2019-05-13 05:47:06,WALK,nan,NaN,NaN,3.583333,NaN,NaN
3,2019-05-13,491551.0,1,4,2019-05-13 05:47:40,2019-05-13 05:56:33,BUS,903B,386641.0,386291.0,8.883333,NaN,NaN
4,2019-05-13,491551.0,1,5,2019-05-13 05:56:34,2019-05-13 05:56:35,WALK,nan,NaN,NaN,0.016667,NaN,NaN

## Read and Prepare Bus Trip Data

In [72]:
bus_trips_filepath = bus_trips_folderpath + os.sep + file_date_str + '_bus_trips.csv'
bus_trips = pd.read_csv(bus_trips_filepath, dtype={'route': object},parse_dates=['gps_datetime']) \
                                        .sort_values(['route','busCode','tripNum','gps_datetime']) \
                                        .assign(route = lambda x: x['route'].astype(str).str.replace("\.0",'').str.zfill(3))  \
                                        .drop_duplicates()

In [73]:
bus_trips.head()

,route,tripNum,shapeId,routeFrequency,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,busCode,gpsPointId,gpsLat,gpsLon,distanceToShapePoint,gps_datetime,stopPointId,problem
94276,004A,1,90026,low_frequency,173,-7.23043,-35.87588,9535.0,3005,11553,-7.230581,-35.87565,30.42416,2019-05-13 06:45:24,385835,NO_PROBLEM
94216,004A,1,90026,low_frequency,45,-7.22907,-35.87689,3163.0,3005,11678,-7.228993,-35.87696,11.529692,2019-05-13 06:45:55,386394,NO_PROBLEM
94048,004A,1,90026,low_frequency,74,-7.22220,-35.87565,4030.0,3005,-,-,-,-,2019-05-13 06:47:47,386129,BETWEEN
93932,004A,1,90026,low_frequency,86,-7.21908,-35.87549,4429.0,3005,12300,-7.219028,-35.8755,5.8864255,2019-05-13 06:48:59,386131,NO_PROBLEM
93692,004A,1,90026,low_frequency,152,-7.22434,-35.87674,8788.0,3005,-,-,-,-,2019-05-13 06:51:35,385833,BETWEEN

In [74]:
bus_trips_clean = bus_trips.filter(['route','busCode','tripNum','stopPointId','gps_datetime'])

In [75]:
bus_trips_clean.head()

      route  busCode  tripNum  stopPointId        gps_datetime
94276  004A     3005        1       385835 2019-05-13 06:45:24
94216  004A     3005        1       386394 2019-05-13 06:45:55
94048  004A     3005        1       386129 2019-05-13 06:47:47
93932  004A     3005        1       386131 2019-05-13 06:48:59
93692  004A     3005        1       385833 2019-05-13 06:51:35

In [76]:
bus_trips_clean.dtypes

route                   object
busCode                  int64
tripNum                  int64
stopPointId              int64
gps_datetime    datetime64[ns]
dtype: object

In [77]:
otp_suggestions_bus_legs.dtypes

otp_date                   datetime64[ns]
otp_user_trip_id                  float64
otp_itinerary_id                    int64
otp_leg_id                          int64
otp_start_time             datetime64[ns]
otp_end_time               datetime64[ns]
otp_mode                           object
otp_route                          object
otp_from_stop_id                  float64
otp_to_stop_id                    float64
otp_duration_mins                 float64
otp_from_parent_station           float64
otp_to_parent_station             float64
dtype: object

## Identify Possible Matches between OTP Itineraries and Bus Trips Observed Data

In [78]:
scheduled_itin_observed_o = otp_suggestions_bus_legs.merge(bus_trips_clean.add_prefix('bt_'),
                                left_on=['otp_route','otp_from_stop_id'],
                                right_on=['bt_route','bt_stopPointId'],
                                how='inner') \
                                .drop(['bt_route','bt_stopPointId'], axis=1) \
                                .rename(index=str, columns={'bt_gps_datetime':'bt_start_time',
                                                            'bt_tripNum':'bt_trip_num',
                                                            'bt_busCode':'bt_bus_code'}) \
                                .assign(sched_obs_start_timediff = 
                                        lambda x: np.absolute(x['bt_start_time'] - x['otp_start_time']))

In [79]:
scheduled_itin_observed_od = scheduled_itin_observed_o.merge(bus_trips_clean.add_prefix('bt_'),
                                left_on=['otp_route','bt_bus_code','bt_trip_num','otp_to_stop_id'],
                                right_on=['bt_route','bt_busCode','bt_tripNum','bt_stopPointId'],
                                how='inner') \
                                .drop(['bt_route','bt_stopPointId'], axis=1) \
                                .rename(index=str, columns={'bt_gps_datetime':'bt_end_time'}) \
                                .assign(sched_obs_end_timediff = 
                                        lambda x: np.absolute(x['bt_end_time'] - x['otp_end_time'])) \
                                .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','sched_obs_start_timediff','sched_obs_end_timediff'])

In [80]:
len(scheduled_itin_observed_od)

26845

In [81]:
scheduled_itin_observed_od['bt_duration_mins'] = (scheduled_itin_observed_od['bt_end_time'] - scheduled_itin_observed_od['bt_start_time'])/pd.Timedelta(minutes=1)
scheduled_itin_observed_od = scheduled_itin_observed_od[scheduled_itin_observed_od['bt_duration_mins'] > 0]

In [82]:
len(scheduled_itin_observed_od)

22121

In [83]:
scheduled_itin_observed_od_full = pd.concat([scheduled_itin_observed_od,otp_suggestions_walk_legs], sort=False)

In [99]:
otp_suggestions[]

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,2019-05-13,491551.0,1,1,2019-05-13 05:13:45,2019-05-13 05:13:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
1,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN
2,2019-05-13,491551.0,1,3,2019-05-13 05:43:31,2019-05-13 05:47:06,WALK,nan,NaN,NaN,3.583333,NaN,NaN
3,2019-05-13,491551.0,1,4,2019-05-13 05:47:40,2019-05-13 05:56:33,BUS,903B,386641.0,386291.0,8.883333,NaN,NaN
4,2019-05-13,491551.0,1,5,2019-05-13 05:56:34,2019-05-13 05:56:35,WALK,nan,NaN,NaN,0.016667,NaN,NaN
5,2019-05-13,491551.0,2,1,2019-05-13 05:13:45,2019-05-13 05:13:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
6,2019-05-13,491551.0,2,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN
7,2019-05-13,491551.0,2,3,2019-05-13 05:43:31,2019-05-13 05:47:06,WALK,nan,NaN,NaN,3.583333,NaN,NaN
8,2019-05-13,491551.0,2,4,2019-05-13 05:47:40,2019-05-13 05:56:33,BUS,903B,386641.0,386291.0,8.883333,NaN,NaN
9,2019-05-13,491551.0,2,5,2019-05-13 05:56:34,2019-05-13 05:56:35,WALK,nan,NaN,NaN,0.016667,NaN,NaN
10,2019-05-13,491551.0,3,1,2019-05-13 05:13:45,2019-05-13 05:13:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
11,2019-05-13,491551.0,3,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN
12,2019-05-13,491551.0,3,3,2019-05-13 05:43:31,2019-05-13 05:47:06,WALK,nan,NaN,NaN,3.583333,NaN,NaN
13,2019-05-13,491551.0,3,4,2019-05-13 05:47:40,2019-05-13 05:56:33,BUS,903B,386641.0,386291.0,8.883333,NaN,NaN
14,2019-05-13,491551.0,3,5,2019-05-13 05:56:34,2019-05-13 05:56:35,WALK,nan,NaN,NaN,0.016667,NaN,NaN
15,2019-05-13,491551.0,4,1,2019-05-13 05:13:45,2019-05-13 05:13:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
16,2019-05-13,491551.0,4,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN
17,2019-05-13,491551.0,4,3,2019-05-13 05:43:31,2019-05-13 05:47:06,WALK,nan,NaN,NaN,3.583333,NaN,NaN
18,2019-05-13,491551.0,4,4,2019-05-13 05:47:40,2019-05-13 05:56:33,BUS,903B,386641.0,386291.0,8.883333,NaN,NaN
19,2019-05-13,491551.0,4,5,2019-05-13 05:56:34,2019-05-13 05:56:35,WALK,nan,NaN,NaN,0.016667,NaN,NaN
20,2019-05-13,491551.0,5,1,2019-05-13 05:18:45,2019-05-13 05:18:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
21,2019-05-13,491551.0,5,2,2019-05-13 05:18:47,2019-05-13 05:47:02,BUS,944,491551.0,386255.0,28.250000,NaN,NaN
22,2019-05-13,491551.0,5,3,2019-05-13 05:47:02,2019-05-13 05:47:17,WALK,nan,NaN,NaN,0.250000,NaN,NaN
23,2019-05-13,491551.0,5,4,2019-05-13 05:48:13,2019-05-13 06:03:34,BUS,020,386254.0,386291.0,15.350000,NaN,NaN
24,2019-05-13,491551.0,5,5,2019-05-13 06:03:35,2019-05-13 06:03:36,WALK,nan,NaN,NaN,0.016667,NaN,NaN
25,2019-05-13,491551.0,6,1,2019-05-13 05:17:45,2019-05-13 05:17:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
26,2019-05-13,491551.0,6,2,2019-05-13 05:17:47,2019-05-13 05:46:02,BUS,944,491551.0,386255.0,28.250000,NaN,NaN
27,2019-05-13,491551.0,6,3,2019-05-13 05:46:02,2019-05-13 05:46:17,WALK,nan,NaN,NaN,0.250000,NaN,NaN
28,2019-05-13,491551.0,6,4,2019-05-13 05:48:13,2019-05-13 06:03:34,BUS,020,386254.0,386291.0,15.350000,NaN,NaN
29,2019-05-13,491551.0,6,5,2019-05-13 06:03:35,2019-05-13 06:03:36,WALK,nan,NaN,NaN,0.016667,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002,2019-05-13,491551.0,404,1,2019-05-13 22:33:45,2019-05-13 22:33:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
2003,2019-05-13,491551.0,404,2,2019-05-13 22:33:47,2019-05-13 23:03:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN
2004,2019-05-13,491551.0,404,3,2019-05-13 23:03:31,2019-05-13 23:05:08,WALK,nan,NaN,NaN,1.616667,NaN,NaN
2005,2019-05-13,491551.0,404,4,2019-05-13 23:13:33,2019-05-13 23:28:53,BUS,555,386113.0,386318.0,15.333333,NaN,NaN
2006,2019-05-13,491551.0,404,5,2019-05-13 23:28:54,2019-05-13 23:29:36,WALK,nan,NaN,NaN,0.700000,NaN,NaN
2007,2019-05-13,491551.0,405,1,2019-05-13 23:03:45,2019-05-13 23:03:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
2008,2019-05-13,491551.0,405,2,2019-05-13 23:03:47,2019-05-13 23:22:02,BUS,944,491551.0,385788.0,18.250000,NaN,NaN
2009,2019-05-13,491551.0,405,3,2019-05-13 23:22:02,2019-05-13 23:22:05,WALK,nan,NaN,NaN,0.050000,NaN,NaN
2010,2019-05-13,491551.0,405,4,2019-05-13 23:25:14,2019-05-14 00:04:41,BUS,245,491277.0,386228.0,39.450000,NaN,NaN
2011,2019-05-13,491551.0,405,5,2019-05-14 00:04:42,2019-05-14 00:14:18,WALK,nan,NaN,NaN,9.600000,NaN,NaN
2012,2019-05-13,491551.0,406,1,2019-05-13 23:09:45,2019-05-13 23:09:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
2013,2019-05-13,491551.0,406,2,2019-05-13 23:09:47,2019-05-13 23:42:47,BUS,944,491551.0,385834.0,33.000000,NaN,NaN
2014,2019-05-13,491551.0,406,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,14.000000,NaN,NaN
2015,2019-05-13,491551.0,406,4,2019-05-14 05:26:34,2019-05-14 05:26:35,WALK,nan,NaN,NaN,0.016667,NaN,NaN
2016,2019-05-13,491551.0,407,1,2019-05-13 23:09:45,2019-05-13 23:09:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
2017,2019-05-13,491551.0,407,2,2019-05-13 23:09:47,2019-05-13 23:42:47,BUS,944,491551.0,385834.0,33.000000,NaN,NaN
2018,2019-05-13,491551.0,407,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,14.000000,NaN,NaN
2019,2019-05-13,491551.0,407,4,2019-05-14 05:26:34,2019-05-14 05:26:35,WALK,nan,NaN,NaN,0.016667,NaN,NaN
2020,2019-05-13,491551.0,408,1,2019-05-13 23:09:45,2019-05-13 23:09:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
2021,2019-05-13,491551.0,408,2,2019-05-13 23:09:47,2019-05-13 23:42:47,BUS,944,491551.0,385834.0,33.000000,NaN,NaN
2022,2019-05-13,491551.0,408,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,14.000000,NaN,NaN
2023,2019-05-13,491551.0,408,4,2019-05-14 05:26:34,2019-05-14 05:26:35,WALK,nan,NaN,NaN,0.016667,NaN,NaN
2024,2019-05-13,491551.0,409,1,2019-05-13 23:09:45,2019-05-13 23:09:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
2025,2019-05-13,491551.0,409,2,2019-05-13 23:09:47,2019-05-13 23:42:47,BUS,944,491551.0,385834.0,33.000000,NaN,NaN
2026,2019-05-13,491551.0,409,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,14.000000,NaN,NaN
2027,2019-05-13,491551.0,409,4,2019-05-14 05:26:34,2019-05-14 05:26:35,WALK,nan,NaN,NaN,0.016667,NaN,NaN
2028,2019-05-13,491551.0,410,1,2019-05-13 23:03:45,2019-05-13 23:03:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
2029,2019-05-13,491551.0,410,2,2019-05-13 23:03:47,2019-05-13 23:36:47,BUS,944,491551.0,385834.0,33.000000,NaN,NaN
2030,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,14.000000,NaN,NaN
2031,2019-05-13,491551.0,410,4,2019-05-14 05:26:34,2019-05-14 05:26:35,WALK,nan,NaN,NaN,0.016667,NaN,NaN

In [85]:
bus_trips_clean[(bus_trips['route'] == '944') & (bus_trips['stopPointId'] == 491551)].sort_values(['gps_datetime'])

      route  busCode  tripNum  stopPointId        gps_datetime
95910   944     1002        2       491551 2019-05-13 06:29:21
94030   944     1052        2       491551 2019-05-13 06:47:57
92092   944     1096        2       491551 2019-05-13 07:06:16
87640   944     1002        3       491551 2019-05-13 07:44:09
85996   944     1051        2       491551 2019-05-13 07:56:49
85067   944     1052        3       491551 2019-05-13 08:04:18
83326   944     1096        3       491551 2019-05-13 08:18:15
78256   944     1002        4       491551 2019-05-13 08:54:42
75567   944     1096        5       491551 2019-05-13 09:34:54
71392   944     1002        5       491551 2019-05-13 10:08:54
70211   944     1051        3       491551 2019-05-13 10:19:02
66874   944     1096        6       491551 2019-05-13 10:45:12
62009   944     1002        6       491551 2019-05-13 11:25:35
61979   944     1051        4       491551 2019-05-13 11:25:48
60694   944     1051        5       491551 2019-05-13 11:36:10
58328   944     1096        7       491551 2019-05-13 11:57:15
55237   944     1052        6       491551 2019-05-13 12:22:26
53344   944     1002        7       491551 2019-05-13 12:38:05
51822   944     1051        6       491551 2019-05-13 12:50:51
50830   944     1096        8       491551 2019-05-13 13:00:06
46292   944     1052        7       491551 2019-05-13 13:40:01
45386   944     1002        8       491551 2019-05-13 13:47:41
44887   944     1002        9       491551 2019-05-13 13:51:44
38431   944     1052        8       491551 2019-05-13 14:52:34
36651   944     1002       10       491551 2019-05-13 15:09:42
32186   944     1096        9       491551 2019-05-13 15:51:29
31784   944     1096       10       491551 2019-05-13 15:55:46
30493   944     1052        9       491551 2019-05-13 16:08:39
28323   944     1002       12       491551 2019-05-13 16:28:21
27701   944     1051        8       491551 2019-05-13 16:34:07
27282   944     1051        9       491551 2019-05-13 16:38:11
23724   944     1096       11       491551 2019-05-13 17:11:14
22109   944     1052       10       491551 2019-05-13 17:25:59
20314   944     1002       13       491551 2019-05-13 17:43:07
19148   944     1051       10       491551 2019-05-13 17:54:37
19144   944     1002       14       491551 2019-05-13 17:54:40
15240   944     1096       12       491551 2019-05-13 18:34:03
15081   944     1052       11       491551 2019-05-13 18:35:26
12495   944     1002       15       491551 2019-05-13 18:58:51
11369   944     1051       11       491551 2019-05-13 19:09:40
8645    944     1096       13       491551 2019-05-13 19:44:08
8385    944     1052       13       491551 2019-05-13 19:48:22
6634    944     1051       12       491551 2019-05-13 20:16:21
5316    944     1096       14       491551 2019-05-13 20:38:54
1210    944     1052       15       491551 2019-05-13 22:20:39
553     944     1051       13       491551 2019-05-13 22:51:30
495     944     1051       14       491551 2019-05-13 22:55:35

In [86]:
scheduled_itin_observed_od_full.head() \
                            .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,...,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff,bt_busCode,bt_tripNum,bt_end_time,sched_obs_end_timediff,bt_duration_mins
0,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1002.0,2.0,2019-05-13 06:29:21,01:15:34,1002.0,2.0,2019-05-13 07:11:02,01:27:31,41.683333
2520,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1052.0,2.0,2019-05-13 06:47:57,01:34:10,1052.0,2.0,2019-05-13 07:31:28,01:47:57,43.516667
3480,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1096.0,2.0,2019-05-13 07:06:16,01:52:29,1096.0,2.0,2019-05-13 07:47:36,02:04:05,41.333333
120,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1002.0,3.0,2019-05-13 07:44:09,02:30:22,1002.0,3.0,2019-05-13 08:23:26,02:39:55,39.283333
1200,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1051.0,2.0,2019-05-13 07:56:49,02:43:02,1051.0,2.0,2019-05-13 09:49:33,04:06:02,112.733333

In [87]:
scheduled_itin_observed_od_full_clean = scheduled_itin_observed_od_full \
                            .filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_mode','otp_route',
                                     'bt_bus_code','bt_trip_num','otp_from_stop_id','otp_start_time',
                                     'bt_start_time','sched_obs_start_timediff','otp_to_stop_id',
                                     'otp_end_time','bt_end_time','sched_obs_end_timediff','otp_duration_mins','minimun_obs_start_time']) \
                            .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

In [88]:
scheduled_itin_observed_od_full_clean

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins
0,491551.0,1,1,WALK,nan,NaN,NaN,NaN,2019-05-13 05:13:45,NaT,NaT,NaN,2019-05-13 05:13:46,NaT,NaT,0.016667
0,491551.0,1,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:13:47,2019-05-13 06:29:21,01:15:34,386521.0,2019-05-13 05:43:31,2019-05-13 07:11:02,01:27:31,29.733333
2520,491551.0,1,2,BUS,944,1052.0,2.0,491551.0,2019-05-13 05:13:47,2019-05-13 06:47:57,01:34:10,386521.0,2019-05-13 05:43:31,2019-05-13 07:31:28,01:47:57,29.733333
3480,491551.0,1,2,BUS,944,1096.0,2.0,491551.0,2019-05-13 05:13:47,2019-05-13 07:06:16,01:52:29,386521.0,2019-05-13 05:43:31,2019-05-13 07:47:36,02:04:05,29.733333
120,491551.0,1,2,BUS,944,1002.0,3.0,491551.0,2019-05-13 05:13:47,2019-05-13 07:44:09,02:30:22,386521.0,2019-05-13 05:43:31,2019-05-13 08:23:26,02:39:55,29.733333
1200,491551.0,1,2,BUS,944,1051.0,2.0,491551.0,2019-05-13 05:13:47,2019-05-13 07:56:49,02:43:02,386521.0,2019-05-13 05:43:31,2019-05-13 09:49:33,04:06:02,29.733333
3600,491551.0,1,2,BUS,944,1096.0,3.0,491551.0,2019-05-13 05:13:47,2019-05-13 08:18:15,03:04:28,386521.0,2019-05-13 05:43:31,2019-05-13 08:26:03,02:42:32,29.733333
240,491551.0,1,2,BUS,944,1002.0,4.0,491551.0,2019-05-13 05:13:47,2019-05-13 08:54:42,03:40:55,386521.0,2019-05-13 05:43:31,2019-05-13 09:36:25,03:52:54,29.733333
3720,491551.0,1,2,BUS,944,1096.0,5.0,491551.0,2019-05-13 05:13:47,2019-05-13 09:34:54,04:21:07,386521.0,2019-05-13 05:43:31,2019-05-13 10:13:32,04:30:01,29.733333
360,491551.0,1,2,BUS,944,1002.0,5.0,491551.0,2019-05-13 05:13:47,2019-05-13 10:08:54,04:55:07,386521.0,2019-05-13 05:43:31,2019-05-13 10:53:29,05:09:58,29.733333
1320,491551.0,1,2,BUS,944,1051.0,3.0,491551.0,2019-05-13 05:13:47,2019-05-13 10:19:02,05:05:15,386521.0,2019-05-13 05:43:31,2019-05-13 10:25:05,04:41:34,29.733333
3840,491551.0,1,2,BUS,944,1096.0,6.0,491551.0,2019-05-13 05:13:47,2019-05-13 10:45:12,05:31:25,386521.0,2019-05-13 05:43:31,2019-05-13 11:25:37,05:42:06,29.733333
480,491551.0,1,2,BUS,944,1002.0,6.0,491551.0,2019-05-13 05:13:47,2019-05-13 11:25:35,06:11:48,386521.0,2019-05-13 05:43:31,2019-05-13 12:08:36,06:25:05,29.733333
1560,491551.0,1,2,BUS,944,1051.0,5.0,491551.0,2019-05-13 05:13:47,2019-05-13 11:36:10,06:22:23,386521.0,2019-05-13 05:43:31,2019-05-13 12:19:40,06:36:09,29.733333
3960,491551.0,1,2,BUS,944,1096.0,7.0,491551.0,2019-05-13 05:13:47,2019-05-13 11:57:15,06:43:28,386521.0,2019-05-13 05:43:31,2019-05-13 12:31:31,06:48:00,29.733333
2640,491551.0,1,2,BUS,944,1052.0,6.0,491551.0,2019-05-13 05:13:47,2019-05-13 12:22:26,07:08:39,386521.0,2019-05-13 05:43:31,2019-05-13 13:07:57,07:24:26,29.733333
1680,491551.0,1,2,BUS,944,1051.0,6.0,491551.0,2019-05-13 05:13:47,2019-05-13 12:50:51,07:37:04,386521.0,2019-05-13 05:43:31,2019-05-13 13:32:38,07:49:07,29.733333
4080,491551.0,1,2,BUS,944,1096.0,8.0,491551.0,2019-05-13 05:13:47,2019-05-13 13:00:06,07:46:19,386521.0,2019-05-13 05:43:31,2019-05-13 14:04:19,08:20:48,29.733333
2760,491551.0,1,2,BUS,944,1052.0,7.0,491551.0,2019-05-13 05:13:47,2019-05-13 13:40:01,08:26:14,386521.0,2019-05-13 05:43:31,2019-05-13 14:23:23,08:39:52,29.733333
720,491551.0,1,2,BUS,944,1002.0,9.0,491551.0,2019-05-13 05:13:47,2019-05-13 13:51:44,08:37:57,386521.0,2019-05-13 05:43:31,2019-05-13 14:39:42,08:56:11,29.733333
2880,491551.0,1,2,BUS,944,1052.0,8.0,491551.0,2019-05-13 05:13:47,2019-05-13 14:52:34,09:38:47,386521.0,2019-05-13 05:43:31,2019-05-13 15:37:31,09:54:00,29.733333
4320,491551.0,1,2,BUS,944,1096.0,10.0,491551.0,2019-05-13 05:13:47,2019-05-13 15:55:46,10:41:59,386521.0,2019-05-13 05:43:31,2019-05-13 16:40:14,10:56:43,29.733333
3000,491551.0,1,2,BUS,944,1052.0,9.0,491551.0,2019-05-13 05:13:47,2019-05-13 16:08:39,10:54:52,386521.0,2019-05-13 05:43:31,2019-05-13 16:51:29,11:07:58,29.733333
840,491551.0,1,2,BUS,944,1002.0,12.0,491551.0,2019-05-13 05:13:47,2019-05-13 16:28:21,11:14:34,386521.0,2019-05-13 05:43:31,2019-05-13 16:34:37,10:51:06,29.733333
1920,491551.0,1,2,BUS,944,1051.0,9.0,491551.0,2019-05-13 05:13:47,2019-05-13 16:38:11,11:24:24,386521.0,2019-05-13 05:43:31,2019-05-13 17:18:25,11:34:54,29.733333
4440,491551.0,1,2,BUS,944,1096.0,11.0,491551.0,2019-05-13 05:13:47,2019-05-13 17:11:14,11:57:27,386521.0,2019-05-13 05:43:31,2019-05-13 18:01:54,12:18:23,29.733333
3120,491551.0,1,2,BUS,944,1052.0,10.0,491551.0,2019-05-13 05:13:47,2019-05-13 17:25:59,12:12:12,386521.0,2019-05-13 05:43:31,2019-05-13 18:05:57,12:22:26,29.733333
2040,491551.0,1,2,BUS,944,1051.0,10.0,491551.0,2019-05-13 05:13:47,2019-05-13 17:54:37,12:40:50,386521.0,2019-05-13 05:43:31,2019-05-13 18:40:04,12:56:33,29.733333
1080,491551.0,1,2,BUS,944,1002.0,14.0,491551.0,2019-05-13 05:13:47,2019-05-13 17:54:40,12:40:53,386521.0,2019-05-13 05:43:31,2019-05-13 18:29:45,12:46:14,29.733333
4560,491551.0,1,2,BUS,944,1096.0,12.0,491551.0,2019-05-13 05:13:47,2019-05-13 18:34:03,13:20:16,386521.0,2019-05-13 05:43:31,2019-05-13 19:17:24,13:33:53,29.733333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15874,491551.0,410,3,BUS,903B,2050.0,8.0,385834.0,2019-05-14 05:12:33,2019-05-13 16:20:53,12:51:40,386291.0,2019-05-14 05:26:33,2019-05-13 16:41:49,12:44:44,14.000000
16189,491551.0,410,3,BUS,903B,2065.0,12.0,385834.0,2019-05-14 05:12:33,2019-05-13 16:09:03,13:03:30,386291.0,2019-05-14 05:26:33,2019-05-13 16:30:15,12:56:18,14.000000
15594,491551.0,410,3,BUS,903B,2010.0,9.0,385834.0,2019-05-14 05:12:33,2019-05-13 15:33:08,13:39:25,386291.0,2019-05-14 05:26:33,2019-05-13 15:55:19,13:31:14,14.000000
14684,491551.0,410,3,BUS,903B,1016.0,10.0,385834.0,2019-05-14 05:12:33,2019-05-13 14:47:43,14:24:50,386291.0,2019-05-14 05:26:33,2019-05-13 15:05:34,14:20:59,14.000000
16154,491551.0,410,3,BUS,903B,2065.0,10.0,385834.0,2019-05-14 05:12:33,2019-05-13 14:29:59,14:42:34,386291.0,2019-05-14 05:26:33,2019-05-13 14:50:58,14:35:35,14.000000
15139,491551.0,410,3,BUS,903B,1043.0,8.0,385834.0,2019-05-14 05:12:33,2019-05-13 14:16:58,14:55:35,386291.0,2019-05-14 05:26:33,2019-05-13 14:36:57,14:49:36,14.000000
15804,491551.0,410,3,BUS,903B,2050.0,5.0,385834.0,2019-05-14 05:12:33,2019-05-13 13:22:24,15:50:09,386291.0,2019-05-14 05:26:33,2019-05-13 13:41:16,15:45:17,14.000000
14649,491551.0,410,3,BUS,903B,1016.0,9.0,385834.0,2019-05-14 05:12:33,2019-05-13 13:22:19,15:50:14,386291.0,2019-05-14 05:26:33,2019-05-13 13:37:56,15:48:37,14.000000
16119,491551.0,410,3,BUS,903B,2065.0,8.0,385834.0,2019-05-14 05:12:33,2019-05-13 12:58:23,16:14:10,386291.0,2019-05-14 05:26:33,2019-05-13 13:16:27,16:10:06,14.000000
15104,491551.0,410,3,BUS,903B,1043.0,6.0,385834.0,2019-05-14 05:12:33,2019-05-13 12:47:08,16:25:25,386291.0,2019-05-14 05:26:33,2019-05-13 13:02:39,16:23:54,14.000000
14614,491551.0,410,3,BUS,903B,1016.0,7.0,385834.0,2019-05-14 05:12:33,2019-05-13 11:47:35,17:24:58,386291.0,2019-05-14 05:26:33,2019-05-13 12:09:49,17:16:44,14.000000
16084,491551.0,410,3,BUS,903B,2065.0,6.0,385834.0,2019-05-14 05:12:33,2019-05-13 11:25:16,17:47:17,386291.0,2019-05-14 05:26:33,2019-05-13 11:49:42,17:36:51,14.000000
15069,491551.0,410,3,BUS,903B,1043.0,5.0,385834.0,2019-05-14 05:12:33,2019-05-13 11:14:53,17:57:40,386291.0,2019-05-14 05:26:33,2019-05-13 11:34:46,17:51:47,14.000000
15489,491551.0,410,3,BUS,903B,2010.0,5.0,385834.0,2019-05-14 05:12:33,2019-05-13 11:02:54,18:09:39,386291.0,2019-05-14 05:26:33,2019-05-13 11:18:49,18:07:44,14.000000
14894,491551.0,410,3,BUS,903B,1019.0,5.0,385834.0,2019-05-14 05:12:33,2019-05-13 10:46:17,18:26:16,386291.0,2019-05-14 05:26:33,2019-05-13 11:00:18,18:26:15,14.000000
15769,491551.0,410,3,BUS,903B,2050.0,4.0,385834.0,2019-05-14 05:12:33,2019-05-13 10:27:01,18:45:32,386291.0,2019-05-14 05:26:33,2019-05-13 10:45:53,18:40:40,14.000000
16049,491551.0,410,3,BUS,903B,2065.0,5.0,385834.0,2019-05-14 05:12:33,2019-05-13 10:01:29,19:11:04,386291.0,2019-05-14 05:26:33,2019-05-13 10:18:22,19:08:11,14.000000
15034,491551.0,410,3,BUS,903B,1043.0,4.0,385834.0,2019-05-14 05:12:33,2019-05-13 09:48:08,19:24:25,386291.0,2019-05-14 05:26:33,2019-05-13 10:10:04,19:16:29,14.000000
15454,491551.0,410,3,BUS,903B,2010.0,4.0,385834.0,2019-05-14 05:12:33,2019-05-13 09:31:58,19:40:35,386291.0,2019-05-14 05:26:33,2019-05-13 09:57:39,19:28:54,14.000000
14859,491551.0,410,3,BUS,903B,1019.0,3.0,385834.0,2019-05-14 05:12:33,2019-05-13 09:11:59,20:00:34,386291.0,2019-05-14 05:26:33,2019-05-13 09:24:31,20:02:02,14.000000
15419,491551.0,410,3,BUS,903B,2010.0,2.0,385834.0,2019-05-14 05:12:33,2019-05-13 07:59:02,21:13:31,386291.0,2019-05-14 05:26:33,2019-05-13 08:18:26,21:08:07,14.000000
14824,491551.0,410,3,BUS,903B,1019.0,2.0,385834.0,2019-05-14 05:12:33,2019-05-13 07:58:07,21:14:26,386291.0,2019-05-14 05:26:33,2019-05-13 08:15:16,21:11:17,14.000000
15699,491551.0,410,3,BUS,903B,2050.0,2.0,385834.0,2019-05-14 05:12:33,2019-05-13 07:41:42,21:30:51,386291.0,2019-05-14 05:26:33,2019-05-13 08:01:03,21:25:30,14.000000
14509,491551.0,410,3,BUS,903B,1016.0,3.0,385834.0,2019-05-14 05:12:33,2019-05-13 07:20:03,21:52:30,386291.0,2019-05-14 05:26:33,2019-05-13 07:35:50,21:50:43,14.000000
16014,491551.0,410,3,BUS,903B,2065.0,3.0,385834.0,2019-05-14 05:12:33,2019-05-13 07:00:56,22:11:37,386291.0,2019-05-14 05:26:33,2019-05-13 07:11:53,22:14:40,14.000000
14964,491551.0,410,3,BUS,903B,1043.0,2.0,385834.0,2019-05-14 05:12:33,2019-05-13 06:40:58,22:31:35,386291.0,2019-05-14 05:26:33,2019-05-13 06:45:20,22:41:13,14.000000
15384,491551.0,410,3,BUS,903B,2010.0,1.0,385834.0,2019-05-14 05:12:33,2019-05-13 06:30:49,22:41:44,386291.0,2019-05-14 05:26:33,2019-05-13 06:47:02,22:39:31,14.000000
14474,491551.0,410,3,BUS,903B,1016.0,1.0,385834.0,2019-05-14 05:12:33,2019-05-13 05:54:48,23:17:45,386291.0,2019-05-14 05:26:33,2019-05-13 06:06:31,23:20:02,14.000000
15944,491551.0,410,3,BUS,903B,2065.0,1.0,385834.0,2019-05-14 05:12:33,2019-05-13 05:22:32,23:50:01,386291.0,2019-05-14 05:26:33,2019-05-13 05:42:43,23:43:50,14.000000
2031,491551.0,410,4,WALK,nan,NaN,NaN,NaN,2019-05-14 05:26:34,NaT,NaT,NaN,2019-05-14 05:26:35,NaT,NaT,0.016667

In [122]:
scheduled_itin_observed_od_full_clean \
                        .groupby(['otp_itinerary_id', 'otp_leg_id']) \
                        .apply(lambda x: x.sort_values(["sched_obs_start_timediff"]))

                                   otp_user_trip_id  otp_itinerary_id  \
otp_itinerary_id otp_leg_id
1                2          0              491551.0                 1
                 4          14440          491551.0                 1
                            15910          491551.0                 1
                            15350          491551.0                 1
                            15980          491551.0                 1
2                2          1              491551.0                 2
                 4          14441          491551.0                 2
                            15911          491551.0                 2
                            15351          491551.0                 2
                            15981          491551.0                 2
3                2          2              491551.0                 3
                 4          14442          491551.0                 3
                            15912          491551.0                 3
                            15352          491551.0                 3
                            15982          491551.0                 3
4                2          3              491551.0                 4
                 4          14443          491551.0                 4
                            15913          491551.0                 4
                            15353          491551.0                 4
                            15983          491551.0                 4
5                2          4800           491551.0                 5
                 4          17557          491551.0                 5
                            16801          491551.0                 5
                            16297          491551.0                 5
6                2          4801           491551.0                 6
                 4          17558          491551.0                 6
                            16802          491551.0                 6
                            16298          491551.0                 6
7                2          4802           491551.0                 7
                 4          19521          491551.0                 7
...                                             ...               ...
396              2          2513           491551.0               396
397              2          3474           491551.0               397
                            2514           491551.0               397
398              2          3475           491551.0               398
                            2515           491551.0               398
399              2          9410           491551.0               399
                            8138           491551.0               399
400              2          12986          491551.0               400
                            12482          491551.0               400
401              2          3476           491551.0               401
                            2516           491551.0               401
402              2          3477           491551.0               402
                            2517           491551.0               402
403              2          3478           491551.0               403
                            2518           491551.0               403
404              2          3479           491551.0               404
                            2519           491551.0               404
405              2          14420          491551.0               405
                            14428          491551.0               405
                 4          26835          491551.0               405
406              2          14053          491551.0               406
                            14197          491551.0               406
407              2          14054          491551.0               407
                            14198          491551.0               407
408              2          14055          491551.0               408
                            14199          491551.0               408
409              2          14056          491551.0               409
                            14200          491551.0               409
410              2          14057          491551.0               410
                            14201          491551.0               410

                                   otp_leg_id otp_mode otp_route  bt_bus_code  \
otp_itinerary_id otp_leg_id
1                2          0               2      BUS       944       1002.0
                 4          14440           4      BUS      903B       1016.0
                            15910           4      BUS      903B       2065.0
                            15350           4      BUS      903B       2010.0
                            15980           4      BUS      903B       2065.0
2                2          1               2      BUS       944       1002.0
                 4          14441           4      BUS      903B       1016.0
                            15911           4      BUS      903B       2065.0
                            15351           4      BUS      903B       2010.0
                            15981           4      BUS      903B       2065.0
3                2          2               2      BUS       944       1002.0
                 4          14442           4      BUS      903B       1016.0
                            15912           4      BUS      903B       2065.0
                            15352           4      BUS      903B       2010.0
                            15982           4      BUS      903B       2065.0
4                2          3               2      BUS       944       1002.0
                 4          14443           4      BUS      903B       1016.0
                            15913           4      BUS      903B       2065.0
                            15353           4      BUS      903B       2010.0
                            15983           4      BUS      903B       2065.0
5                2          4800            2      BUS       944       1002.0
                 4          17557           4      BUS       020       1100.0
                            16801           4      BUS       020       1056.0
                            16297           4      BUS       020       1046.0
6                2          4801            2      BUS       944       1002.0
                 4          17558           4      BUS       020       1100.0
                            16802           4      BUS       020       1056.0
                            16298           4      BUS       020       1046.0
7                2          4802            2      BUS       944       1002.0
                 4          19521           4      BUS       333       1066.0
...                                       ...      ...       ...          ...
396              2          2513            2      BUS       944       1051.0
397              2          3474            2      BUS       944       1052.0
                            2514            2      BUS       944       1051.0
398              2          3475            2      BUS       944       1052.0
                            2515            2      BUS       944       1051.0
399              2          9410            2      BUS       944       1052.0
                            8138            2      BUS       944       1051.0
400              2          12986           2      BUS       944       1052.0
                            12482           2      BUS       944       1051.0
401              2          3476            2      BUS       944       1052.0
                            2516            2      BUS       944       1051.0
402              2          3477            2      BUS       944       1052.0
                            2517            2      BUS       944       1051.0
403              2          3478            2      BUS       944       1052.0
                            2518            2      BUS       944       1051.0
404              2          3479            2      BUS       944       1052.0
                            2519            2      BUS       944       1051.0
405              2          14420           2      BUS       944       1051.0
                            14428           2      BUS       944       1052.0
                 4          26835           4      BUS       245       1036.0
406              2          14053           2      BUS       944       1051.0
                            14197           2      BUS       944       1052.0
407              2          14054           2      BUS       944       1051.0
                            14198           2      BUS       944       1052.0
408              2          14055           2      BUS       944       1051.0
                            14199           2      BUS       944       1052.0
409              2          14056           2      BUS       944       1051.0
                            14200           2      BUS       944       1052.0
410              2          14057           2      BUS       944       1051.0
                            14201           2      BUS       944       1052.0

                                   bt_trip_num  otp_from_stop_id  \
otp_itinerary_id otp_leg_id
1                2          0              2.0          491551.0
                 4          14440          1.0          386641.0
                            15910          1.0          386641.0
                            15350          1.0          386641.0
                            15980          3.0          386641.0
2                2          1              2.0          491551.0
                 4          14441          1.0          386641.0
                            15911          1.0          386641.0
                            15351          1.0          386641.0
                            15981          3.0          386641.0
3                2          2              2.0          491551.0
                 4          14442          1.0          386641.0
                            15912          1.0          386641.0
                            15352          1.0          386641.0
                            15982          3.0          386641.0
4                2          3              2.0          491551.0
                 4          14443          1.0          386641.0
                            15913          1.0          386641.0
                            15353          1.0          386641.0
                            15983          3.0          386641.0
5                2          4800           2.0          491551.0
                 4          17557          1.0          386254.0
                            16801          1.0          386254.0
                            16297          3.0          386254.0
6                2          4801           2.0          491551.0
                 4          17558          1.0          386254.0
                            16802          1.0          386254.0
                            16298          3.0          386254.0
7                2          4802           2.0          491551.0
                 4          19521          1.0          386340.0
...                                        ...               ...
396              2          2513          14.0          491551.0
397              2          3474          15.0          491551.0
                            2514          14.0          491551.0
398              2          3475          15.0          491551.0
                            2515          14.0          491551.0
399              2          9410          15.0          491551.0
                            8138          14.0          491551.0
400              2          12986         15.0          491551.0
                            12482         14.0          491551.0
401              2          3476          15.0          491551.0
                            2516          14.0          491551.0
402              2          3477          15.0          491551.0
                            2517          14.0          491551.0
403              2          3478          15.0          491551.0
                            2518          14.0          491551.0
404              2          3479          15.0          491551.0
                            2519          14.0          491551.0
405              2          14420         14.0          491551.0
                            14428         15.0          491551.0
                 4          26835          8.0          491277.0
406              2          14053         14.0          491551.0
                            14197         15.0          491551.0
407              2          14054         14.0          491551.0
                            14198         15.0          491551.0
408              2          14055         14.0          491551.0
                            14199         15.0          491551.0
409              2          14056         14.0          491551.0
                            14200         15.0          491551.0
410              2          14057         14.0          491551.0
                            14201         15.0          491551.0

                                       otp_start_time       bt_start_time  \
otp_itinerary_id otp_leg_id
1                2          0     2019-05-13 05:13:47 2019-05-13 06:29:21
                 4          14440 2019-05-13 05:47:40 2019-05-13 05:59:23
                            15910 2019-05-13 05:47:40 2019-05-13 05:22:34
                            15350 2019-05-13 05:47:40 2019-05-13 06:37:51
                            15980 2019-05-13 05:47:40 2019-05-13 07:07:33
2                2          1     2019-05-13 05:13:47 2019-05-13 06:29:21
                 4          14441 2019-05-13 05:47:40 2019-05-13 05:59:23
                            15911 2019-05-13 05:47:40 2019-05-13 05:22:34
                            15351 2019-05-13 05:47:40 2019-05-13 06:37:51
                            15981 2019-05-13 05:47:40 2019-05-13 07:07:33
3                2          2     2019-05-13 05:13:47 2019-05-13 06:29:21
                 4          14442 2019-05-13 05:47:40 2019-05-13 05:59:23
                            15912 2019-05-13 05:47:40 2019-05-13 05:22:34
                            15352 2019-05-13 05:47:40 2019-05-13 06:37:51
                            15982 2019-05-13 05:47:40 2019-05-13 07:07:33
4                2          3     2019-05-13 05:13:47 2019-05-13 06:29:21
                 4          14443 2019-05-13 05:47:40 2019-05-13 05:59:23
                            15913 2019-05-13 05:47:40 2019-05-13 05:22:34
                            15353 2019-05-13 05:47:40 2019-05-13 06:37:51
                            15983 2019-05-13 05:47:40 2019-05-13 07:07:33
5                2          4800  2019-05-13 05:18:47 2019-05-13 06:29:21
                 4          17557 2019-05-13 05:48:13 2019-05-13 06:12:13
                            16801 2019-05-13 05:48:13 2019-05-13 06:30:03
                            16297 2019-05-13 05:48:13 2019-05-13 06:59:38
6                2          4801  2019-05-13 05:17:47 2019-05-13 06:29:21
                 4          17558 2019-05-13 05:48:13 2019-05-13 06:12:13
                            16802 2019-05-13 05:48:13 2019-05-13 06:30:03
                            16298 2019-05-13 05:48:13 2019-05-13 06:59:38
7                2          4802  2019-05-13 05:26:47 2019-05-13 06:29:21
                 4          19521 2019-05-13 05:58:55 2019-05-13 06:52:30
...                                               ...                 ...
396              2          2513  2019-05-13 21:59:47 2019-05-13 22:55:35
397              2          3474  2019-05-13 21:59:47 2019-05-13 22:20:39
                            2514  2019-05-13 21:59:47 2019-05-13 22:55:35
398              2          3475  2019-05-13 21:59:47 2019-05-13 22:20:39
                            2515  2019-05-13 21:59:47 2019-05-13 22:55:35
399              2          9410  2019-05-13 22:03:47 2019-05-13 22:20:39
                            8138  2019-05-13 22:03:47 2019-05-13 22:55:35
400              2          12986 2019-05-13 22:33:47 2019-05-13 22:20:39
                            12482 2019-05-13 22:33:47 2019-05-13 22:55:35
401              2          3476  2019-05-13 22:33:47 2019-05-13 22:20:39
                            2516  2019-05-13 22:33:47 2019-05-13 22:55:35
402              2          3477  2019-05-13 22:33:47 2019-05-13 22:20:39
                            2517  2019-05-13 22:33:47 2019-05-13 22:55:35
403              2          3478  2019-05-13 22:33:47 2019-05-13 22:20:39
                            2518  2019-05-13 22:33:47 2019-05-13 22:55:35
404              2          3479  2019-05-13 22:33:47 2019-05-13 22:20:39
                            2519  2019-05-13 22:33:47 2019-05-13 22:55:35
405              2          14420 2019-05-13 23:03:47 2019-05-13 22:55:35
                            14428 2019-05-13 23:03:47 2019-05-13 22:20:39
                 4          26835 2019-05-13 23:25:14 2019-05-13 22:57:21
406              2          14053 2019-05-13 23:09:47 2019-05-13 22:55:35
                            14197 2019-05-13 23:09:47 2019-05-13 22:20:39
407              2          14054 2019-05-13 23:09:47 2019-05-13 22:55:35
                            14198 2019-05-13 23:09:47 2019-05-13 22:20:39
408              2          14055 2019-05-13 23:09:47 2019-05-13 22:55:35
                            14199 2019-05-13 23:09:47 2019-05-13 22:20:39
409              2          14056 2019-05-13 23:09:47 2019-05-13 22:55:35
                            14200 2019-05-13 23:09:47 2019-05-13 22:20:39
410              2          14057 2019-05-13 23:03:47 2019-05-13 22:55:35
                            14201 2019-05-13 23:03:47 2019-05-13 22:20:39

                                  sched_obs_start_timediff  otp_to_stop_id  \
otp_itinerary_id otp_leg_id
1                2          0                     01:15:34        386521.0
                 4          14440                 00:11:43        386291.0
                            15910                 00:25:06        386291.0
                            15350                 00:50:11        386291.0
                            15980                 01:19:53        386291.0
2                2          1                     01:15:34        386521.0
                 4          14441                 00:11:43        386291.0
                            15911                 00:25:06        386291.0
                            15351                 00:50:11        386291.0
                            15981                 01:19:53        386291.0
3                2          2                     01:15:34        386521.0
                 4          14442                 00:11:43        386291.0
                            15912                 00:25:06        386291.0
                            15352                 00:50:11        386291.0
                            15982                 01:19:53        386291.0
4                2          3                     01:15:34        386521.0
                 4          14443                 00:11:43        386291.0
                            15913                 00:25:06        386291.0
                            15353                 00:50:11        386291.0
                            15983                 01:19:53        386291.0
5                2          4800                  01:10:34        386255.0
                 4          17557                 00:24:00        386291.0
                            16801                 00:41:50        386291.0
                            16297                 01:11:25        386291.0
6                2          4801                  01:11:34        386255.0
                 4          17558                 00:24:00        386291.0

In [123]:
# Filtering out itineraries which lost bus legs along the processing
original_suggested_itins_num_legs = otp_suggestions.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(x)}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})

curr_matched_itins_num_legs = scheduled_itin_observed_od_full_clean.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(np.unique(x))}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})

complete_matched_itins = original_suggested_itins_num_legs.merge(curr_matched_itins_num_legs, how='inner')

all_complete_vehicle_legs_options = scheduled_itin_observed_od_full_clean.merge(complete_matched_itins.drop('num_legs', axis=1), how='inner')

In [124]:
def is_new_itinerary(prev_trip_id,curr_trip_id,prev_itin_id,curr_itin_id):
    return ((prev_trip_id != curr_trip_id) | (prev_itin_id != curr_itin_id))

def choose_leg_matches(leg_matches_groups):
        colnames = leg_matches_groups.obj.columns.values
        chosen_leg_matches = pd.DataFrame(columns = colnames)
        prev_trip_id = -1
        prev_itin_id = -1
        prev_leg_mode = ""
        prev_leg_end_time = pd.NaT
        num_groups_not_survived = 0
        new_itinerary = False

        for name, group in leg_matches_groups:
            
                #print
                #print "Name:", name
                #print "Group:"
                #print group
                #print
                
                curr_trip_id = group['otp_user_trip_id'].iloc[0]
                curr_itin_id = group['otp_itinerary_id'].iloc[0]
                curr_leg_id = group['otp_leg_id'].iloc[0]
                curr_leg_mode = group['otp_mode'].iloc[0]
                
                new_itinerary = is_new_itinerary(prev_trip_id,curr_trip_id,prev_itin_id,curr_itin_id)
                if new_itinerary:
                    prev_leg_end_time = group['otp_start_time'].dt.floor('d').iloc[0]

                #if (prev_group_id == ()):
                #        prev_leg_end_time = group['bt_start_time'].dt.floor('d')[0]

                #print
                #print "Previous itinerary id:", prev_itin_id
                #print "Previous leg mode:", prev_leg_mode
                #print "Previous leg end time:", prev_leg_end_time
                #print "Current leg id:", curr_leg_id
                #print "Current leg mode:", curr_leg_mode
                #print
                #print "Original Group"
                #print group.filter(['otp_start_time','bt_start_time','bt_end_time'])
                
                if (curr_leg_mode == 'WALK'):
                    #print "Walking duration:", filtered_group['otp_duration_mins']
                    filtered_group = group.reset_index()
                    if new_itinerary: #first leg is a WALK leg
                        filtered_group.loc[0,'bt_end_time'] = prev_leg_end_time
                    else:
                        filtered_group.loc[0,'bt_start_time'] = prev_leg_end_time
                        filtered_group.loc[0,'bt_end_time'] = prev_leg_end_time + \
                            pd.Timedelta(minutes=np.rint(filtered_group['otp_duration_mins'].iloc[0]))
                    #print "Filtered Group"
                    #print filtered_group
                else:
                    filtered_group = group[group['bt_start_time'] > prev_leg_end_time]
                
                #print
                #print "Filtered Group"
                #print filtered_group.filter(['otp_start_time','bt_start_time','bt_end_time'])

                if (len(filtered_group) == 0):
                        #print "Group did not survive! =("
                        #print
                        #print "Previous itinerary id:", prev_itin_id
                        #print "Previous leg mode:", prev_leg_mode
                        #print "Previous leg end time:", prev_leg_end_time
                        #print "Current leg id:", curr_leg_id
                        #print "Current leg mode:", curr_leg_mode
                        #print
                        #print "Original Group"
                        #print group#.filter(['otp_start_time','bt_start_time','bt_end_time'])
                        num_groups_not_survived += 1
                        continue

                chosen_leg_match = filtered_group.sort_values('bt_start_time').iloc[0]
                
                if ((curr_leg_id == 2) & 
                    ((curr_leg_mode == 'BUS') & (prev_leg_mode == 'WALK'))):
                        #Update previous walk start/end_times
                        #print
                        #print "Chosen Leg Matches"
                        #print chosen_leg_matches.iloc[-1]
                        #print
                        chosen_leg_matches.iloc[-1,chosen_leg_matches.columns.get_loc('bt_start_time')] = chosen_leg_match['bt_start_time'] - \
                            pd.Timedelta(minutes=np.rint(chosen_leg_matches.iloc[-1].otp_duration_mins))
                        chosen_leg_matches.iloc[-1,chosen_leg_matches.columns.get_loc('bt_end_time')] = chosen_leg_match['bt_start_time']
                #print "Chosen Leg"
                #print chosen_leg_match

                chosen_leg_matches = chosen_leg_matches.append(chosen_leg_match)

                #Update variables
                #prev_group_id = name
                prev_trip_id = curr_trip_id
                prev_itin_id = curr_itin_id
                prev_leg_mode = curr_leg_mode
                prev_leg_end_time = chosen_leg_match['bt_end_time']

        #print "Number of groups which did not survive:", num_groups_not_survived
        return chosen_leg_matches.filter(colnames)

In [125]:
# Choose best actual leg matches (based on feasibility and start time)
feasible_legs = choose_leg_matches(scheduled_itin_observed_od_full_clean.groupby(['otp_user_trip_id','otp_itinerary_id','otp_leg_id']))

if len(feasible_legs) == 0:
    print "No matches left after matching and selecting feasible bus legs."
    print "Skipping next steps..."
    exit(0)

# Filtering out itineraries which lost bus legs after feasible legs choice processing
feasible_itins_num_legs = feasible_legs.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(x)}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})

feasible_complete_itins = feasible_itins_num_legs.merge(original_suggested_itins_num_legs,how='inner')

feasible_complete_itins_legs = feasible_legs.merge(feasible_complete_itins.drop('num_legs', axis=1),how='inner')

In [126]:
def add_stops_data_to_legs(itineraries_legs,stops_locs):
    itineraries_legs_stops = itineraries_legs.merge(stops_locs, left_on='otp_from_stop_id', right_on='stop_id', how='left') \
                                                                                .drop('stop_id', axis=1) \
                                                                                .rename(index=str, columns={'stop_lat':'from_stop_lat','stop_lon':'from_stop_lon'}) \
                                                                                .merge(stops_locations, left_on='otp_to_stop_id', right_on='stop_id', how='left') \
                                                                                .drop('stop_id', axis=1) \
                                                                                .rename(index=str, columns={'stop_lat':'to_stop_lat','stop_lon':'to_stop_lon'}) 
    return itineraries_legs_stops

In [127]:
stops_locations = stops_df[['stop_id','stop_lat','stop_lon']]
itineraries_legs = add_stops_data_to_legs(feasible_complete_itins_legs,stops_locations)

In [128]:
feasible_complete_itins_legs

Empty DataFrame
Columns: [otp_user_trip_id, otp_itinerary_id, otp_leg_id, otp_mode, otp_route, bt_bus_code, bt_trip_num, otp_from_stop_id, otp_start_time, bt_start_time, sched_obs_start_timediff, otp_to_stop_id, otp_end_time, bt_end_time, sched_obs_end_timediff, otp_duration_mins]
Index: []