In [4]:
#Libraries

#Python Libs
import sys
import os
import glob
import traceback
from datetime import datetime
import time
from geopy import distance


#Data Analysis Libs
import pandas as pd
import numpy as np

In [5]:
#Functions
def select_input_files(enh_buste_base_path,init_date,fin_date,suffix):
        selected_files = []
        all_files = glob.glob(os.path.join(enh_buste_base_path,"*"))

        for file_ in all_files:
                try:
                        file_date = pd.to_datetime(file_.split('/')[-1],format=('%Y_%m_%d' + suffix  + '.csv'))
                        if (file_date >= init_date) and (file_date <= fin_date):
                                selected_files.append((file_,file_date))
                except:
                        continue

        return sorted(selected_files)

def get_gtfs_path(query_date):
    INTERMEDIATE_OTP_DATE = pd.to_datetime("2019-05-13", format="%Y-%m-%d")
    router_id = ''

    if (query_date <= INTERMEDIATE_OTP_DATE):
        return 'campina-gtfs-2019'
    else:
        return 'campina-gtfs-2017'

## Main

In [6]:
otp_suggestions_filepath = 'data/output/2019_05_13_bus_trips_otp_itineraries.csv'
bus_trips_folderpath = 'data/input'
gtfs_base_folderpath = 'data/input'
output_folderpath = 'data/output'

In [7]:
file_date_str = otp_suggestions_filepath.split('/')[-1].split('_bus_trips_')[0]
file_date = pd.to_datetime(file_date_str,format='%Y_%m_%d')
print "Processing File:", otp_suggestions_filepath

Processing File: data/output/2019_05_13_bus_trips_otp_itineraries.csv

In [8]:
    # Extracting itinerary part name for later use
    itinerary_part_name = otp_suggestions_filepath.split('/')[-1].split('_')[5]
    # Read OTP Suggestions
    otp_suggestions_raw = pd.read_csv(otp_suggestions_filepath, parse_dates=['date','otp_start_time','otp_end_time'])

    if len(otp_suggestions_raw) == 0:
        print "Zero OTP suggestions found."
        print "Skipping next steps..."
        exit(0)

In [9]:
def prepare_otp_data(otp_data):
        #Fixing prefix
        otp_data.columns = otp_data.columns.str.replace('otp_','')
        otp_data = otp_data.add_prefix('otp_')
        
        #Fixing Timezone difference - when needed
        otp_data['otp_start_time'] = otp_data['otp_start_time'] - pd.Timedelta('10800 s')
        otp_data['otp_end_time'] = otp_data['otp_end_time'] - pd.Timedelta('10800 s')
        
        #Adjusting route format to have 3 numbers
        otp_data['otp_route'] = otp_data['otp_route'].astype(str)
        otp_data['otp_route'] = np.where(otp_data['otp_mode'] == 'BUS',
                            otp_data['otp_route'].astype(str).str.replace("\.0",'').str.zfill(3),
                            otp_data['otp_route'])

        return otp_data

In [10]:
    # Prepare OTP data for analysis
    otp_suggestions = prepare_otp_data(otp_suggestions_raw)    
    
    # Read stops data
    stops_filepath = gtfs_base_folderpath + os.sep + get_gtfs_path(file_date) + os.sep + 'stops.txt'
    stops_df = pd.read_csv(stops_filepath)
    
    # Adding Parent Stop data to OTP Suggestions TODO
    stops_parent_stations = stops_df[['stop_id','parent_station']]
    otp_suggestions = otp_suggestions.merge(stops_parent_stations.add_prefix('from_'),
                                                left_on='otp_from_stop_id',
                                                right_on='from_stop_id',
                                                how='left') \
                                        .merge(stops_parent_stations.add_prefix('to_'),
                                                left_on='otp_to_stop_id',
                                                right_on='to_stop_id',
                                                how='left') \
                                        .drop(['from_stop_id','to_stop_id'], axis=1) \
                                        .rename(index=str, columns={'from_parent_station':'otp_from_parent_station',
                                                                    'to_parent_station':'otp_to_parent_station'})
        
    otp_suggestions_bus_legs = otp_suggestions[otp_suggestions['otp_mode'] == 'BUS']
    otp_suggestions_walk_legs = otp_suggestions[otp_suggestions['otp_mode'] == 'WALK']

In [11]:
otp_suggestions.head()

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,2019-05-13,491551.0,1,1,2019-05-13 05:13:45,2019-05-13 05:13:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
1,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN
2,2019-05-13,491551.0,1,3,2019-05-13 05:43:31,2019-05-13 05:47:06,WALK,nan,NaN,NaN,3.583333,NaN,NaN
3,2019-05-13,491551.0,1,4,2019-05-13 05:47:40,2019-05-13 05:56:33,BUS,903B,386641.0,386291.0,8.883333,NaN,NaN
4,2019-05-13,491551.0,1,5,2019-05-13 05:56:34,2019-05-13 05:56:35,WALK,nan,NaN,NaN,0.016667,NaN,NaN

## Read and Prepare Bus Trip Data

In [12]:
bus_trips_filepath = bus_trips_folderpath + os.sep + file_date_str + '_bus_trips.csv'
bus_trips = pd.read_csv(bus_trips_filepath, dtype={'route': object},parse_dates=['gps_datetime']) \
                                        .sort_values(['route','busCode','tripNum','gps_datetime']) \
                                        .assign(route = lambda x: x['route'].astype(str).str.replace("\.0",'').str.zfill(3))  \
                                        .drop_duplicates()

In [13]:
bus_trips.head()

,route,tripNum,shapeId,routeFrequency,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,busCode,gpsPointId,gpsLat,gpsLon,distanceToShapePoint,gps_datetime,stopPointId,problem
94276,004A,1,90026,low_frequency,173,-7.23043,-35.87588,9535.0,3005,11553,-7.230581,-35.87565,30.42416,2019-05-13 06:45:24,385835,NO_PROBLEM
94216,004A,1,90026,low_frequency,45,-7.22907,-35.87689,3163.0,3005,11678,-7.228993,-35.87696,11.529692,2019-05-13 06:45:55,386394,NO_PROBLEM
94048,004A,1,90026,low_frequency,74,-7.22220,-35.87565,4030.0,3005,-,-,-,-,2019-05-13 06:47:47,386129,BETWEEN
93932,004A,1,90026,low_frequency,86,-7.21908,-35.87549,4429.0,3005,12300,-7.219028,-35.8755,5.8864255,2019-05-13 06:48:59,386131,NO_PROBLEM
93692,004A,1,90026,low_frequency,152,-7.22434,-35.87674,8788.0,3005,-,-,-,-,2019-05-13 06:51:35,385833,BETWEEN

In [13]:
bus_trips[(bus_trips.route == "944") & (bus_trips.stopPointId == 491551.0)].head()

,route,tripNum,shapeId,routeFrequency,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,busCode,gpsPointId,gpsLat,gpsLon,distanceToShapePoint,gps_datetime,stopPointId,problem
95910,944,2,72976,high_frequency,40,-7.28659,-35.89567,1398.0,1002,-,-,-,-,2019-05-13 06:29:21,491551,BETWEEN
87640,944,3,72976,high_frequency,40,-7.28659,-35.89567,1398.0,1002,24653,-7.286584,-35.89571,4.4620376,2019-05-13 07:44:09,491551,NO_PROBLEM
78256,944,4,72976,high_frequency,40,-7.28659,-35.89567,1398.0,1002,-,-,-,-,2019-05-13 08:54:42,491551,BETWEEN
71392,944,5,72976,high_frequency,40,-7.28659,-35.89567,1398.0,1002,-,-,-,-,2019-05-13 10:08:54,491551,BETWEEN
62009,944,6,72976,high_frequency,40,-7.28659,-35.89567,1398.0,1002,-,-,-,-,2019-05-13 11:25:35,491551,BETWEEN

In [14]:
bus_trips_clean = bus_trips.filter(['route','busCode','tripNum','stopPointId','gps_datetime'])

In [15]:
bus_trips_clean.head()

      route  busCode  tripNum  stopPointId        gps_datetime
94276  004A     3005        1       385835 2019-05-13 06:45:24
94216  004A     3005        1       386394 2019-05-13 06:45:55
94048  004A     3005        1       386129 2019-05-13 06:47:47
93932  004A     3005        1       386131 2019-05-13 06:48:59
93692  004A     3005        1       385833 2019-05-13 06:51:35

In [18]:
bus_trips_clean[bus_trips_clean.route == "944"].head()

      route  busCode  tripNum  stopPointId        gps_datetime
99900   944     1002        1       386660 2019-05-13 05:22:52
99891   944     1002        1       386659 2019-05-13 05:23:22
99880   944     1002        1       386657 2019-05-13 05:23:53
99840   944     1002        1       386656 2019-05-13 05:25:55
99800   944     1002        1       497506 2019-05-13 05:27:16

In [19]:
bus_trips_clean.dtypes

route                   object
busCode                  int64
tripNum                  int64
stopPointId              int64
gps_datetime    datetime64[ns]
dtype: object

In [20]:
otp_suggestions_bus_legs.dtypes

otp_date                   datetime64[ns]
otp_user_trip_id                  float64
otp_itinerary_id                    int64
otp_leg_id                          int64
otp_start_time             datetime64[ns]
otp_end_time               datetime64[ns]
otp_mode                           object
otp_route                          object
otp_from_stop_id                  float64
otp_to_stop_id                    float64
otp_duration_mins                 float64
otp_from_parent_station           float64
otp_to_parent_station             float64
dtype: object

## Identify Possible Matches between OTP Itineraries and Bus Trips Observed Data

In [16]:
scheduled_itin_observed_o = otp_suggestions_bus_legs.merge(bus_trips_clean.add_prefix('bt_'),
                                left_on=['otp_route','otp_from_stop_id'],
                                right_on=['bt_route','bt_stopPointId'],
                                how='inner') \
                                .drop(['bt_route','bt_stopPointId'], axis=1) \
                                .rename(index=str, columns={'bt_gps_datetime':'bt_start_time',
                                                            'bt_tripNum':'bt_trip_num',
                                                            'bt_busCode':'bt_bus_code'}) \
                                .assign(sched_obs_start_timediff = 
                                        lambda x: np.absolute(x['bt_start_time'] - x['otp_start_time']))

In [23]:
bus_trips_clean[(bus_trips_clean.route == "944") & (bus_trips_clean.stopPointId == 491551.0)].sort_values(by=['gps_datetime']).head()

      route  busCode  tripNum  stopPointId        gps_datetime
95910   944     1002        2       491551 2019-05-13 06:29:21
94030   944     1052        2       491551 2019-05-13 06:47:57
92092   944     1096        2       491551 2019-05-13 07:06:16
87640   944     1002        3       491551 2019-05-13 07:44:09
85996   944     1051        2       491551 2019-05-13 07:56:49

In [24]:
scheduled_itin_observed_o.head()

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff
0,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,2,2019-05-13 06:29:21,01:15:34
1,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,3,2019-05-13 07:44:09,02:30:22
2,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,4,2019-05-13 08:54:42,03:40:55
3,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,5,2019-05-13 10:08:54,04:55:07
4,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,6,2019-05-13 11:25:35,06:11:48

In [17]:
scheduled_itin_observed_o[(scheduled_itin_observed_o.otp_route == "944") & (scheduled_itin_observed_o.otp_start_time == '2019-05-13 14:05:47')][['otp_itinerary_id',"otp_start_time","otp_route","otp_from_stop_id",
                                                                           "otp_from_stop_id", "bt_start_time", "sched_obs_start_timediff"]].sort_values(by=['sched_obs_start_timediff']).head()

,otp_itinerary_id,otp_start_time,otp_route,otp_from_stop_id,otp_from_stop_id,bt_start_time,sched_obs_start_timediff
9407,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:51:44,00:14:03
9360,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:51:44,00:14:03
9454,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:51:44,00:14:03
9266,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:51:44,00:14:03
9406,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:47:41,00:18:06

In [55]:
scheduled_itin_observed_o[((scheduled_itin_observed_o.sched_obs_start_timediff >= pd.Timedelta('0s') | (pandas.isnull(np.datetime64('NaT'))scheduled_itin_observed_o.sched_obs_start_timediff.Nat))) & (scheduled_itin_observed_o.sched_obs_start_timediff < pd.Timedelta('1.5h'))]

AttributeError: 'Series' object has no attribute 'Nat'

In [22]:
scheduled_itin_observed_od = scheduled_itin_observed_o.merge(bus_trips_clean.add_prefix('bt_'),
                                left_on=['otp_route','bt_bus_code','bt_trip_num','otp_to_stop_id'],
                                right_on=['bt_route','bt_busCode','bt_tripNum','bt_stopPointId'],
                                how='inner') \
                                .drop(['bt_route','bt_stopPointId'], axis=1) \
                                .rename(index=str, columns={'bt_gps_datetime':'bt_end_time'}) \
                                .assign(sched_obs_end_timediff = 
                                        lambda x: np.absolute(x['bt_end_time'] - x['otp_end_time'])) \
                                .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','sched_obs_start_timediff','sched_obs_end_timediff'])

In [25]:
len(scheduled_itin_observed_od)

26845

In [28]:
scheduled_itin_observed_od['bt_duration_mins'] = (scheduled_itin_observed_od['bt_end_time'] - scheduled_itin_observed_od['bt_start_time'])/pd.Timedelta(minutes=1)
scheduled_itin_observed_od = scheduled_itin_observed_od[scheduled_itin_observed_od['bt_duration_mins'] > 0]

In [27]:
len(scheduled_itin_observed_od)

22121

In [38]:
scheduled_itin_observed_od_full = pd.concat([scheduled_itin_observed_od,otp_suggestions_walk_legs], sort=False)

In [39]:
scheduled_itin_observed_od_full

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,...,otp_from_parent_station,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff,bt_busCode,bt_tripNum,bt_end_time,sched_obs_end_timediff
0,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1002.0,2.0,2019-05-13 06:29:21,01:15:34,1002.0,2.0,2019-05-13 07:11:02,01:27:31
2520,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1052.0,2.0,2019-05-13 06:47:57,01:34:10,1052.0,2.0,2019-05-13 07:31:28,01:47:57
3480,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1096.0,2.0,2019-05-13 07:06:16,01:52:29,1096.0,2.0,2019-05-13 07:47:36,02:04:05
120,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1002.0,3.0,2019-05-13 07:44:09,02:30:22,1002.0,3.0,2019-05-13 08:23:26,02:39:55
1200,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1051.0,2.0,2019-05-13 07:56:49,02:43:02,1051.0,2.0,2019-05-13 09:49:33,04:06:02
3600,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1096.0,3.0,2019-05-13 08:18:15,03:04:28,1096.0,3.0,2019-05-13 08:26:03,02:42:32
240,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1002.0,4.0,2019-05-13 08:54:42,03:40:55,1002.0,4.0,2019-05-13 09:36:25,03:52:54
3720,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1096.0,5.0,2019-05-13 09:34:54,04:21:07,1096.0,5.0,2019-05-13 10:13:32,04:30:01
360,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1002.0,5.0,2019-05-13 10:08:54,04:55:07,1002.0,5.0,2019-05-13 10:53:29,05:09:58
1320,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1051.0,3.0,2019-05-13 10:19:02,05:05:15,1051.0,3.0,2019-05-13 10:25:05,04:41:34
3840,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1096.0,6.0,2019-05-13 10:45:12,05:31:25,1096.0,6.0,2019-05-13 11:25:37,05:42:06
480,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1002.0,6.0,2019-05-13 11:25:35,06:11:48,1002.0,6.0,2019-05-13 12:08:36,06:25:05
1440,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1051.0,4.0,2019-05-13 11:25:48,06:12:01,1051.0,4.0,2019-05-13 11:03:36,05:20:05
1560,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1051.0,5.0,2019-05-13 11:36:10,06:22:23,1051.0,5.0,2019-05-13 12:19:40,06:36:09
3960,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1096.0,7.0,2019-05-13 11:57:15,06:43:28,1096.0,7.0,2019-05-13 12:31:31,06:48:00
2640,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1052.0,6.0,2019-05-13 12:22:26,07:08:39,1052.0,6.0,2019-05-13 13:07:57,07:24:26
1680,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1051.0,6.0,2019-05-13 12:50:51,07:37:04,1051.0,6.0,2019-05-13 13:32:38,07:49:07
4080,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1096.0,8.0,2019-05-13 13:00:06,07:46:19,1096.0,8.0,2019-05-13 14:04:19,08:20:48
2760,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1052.0,7.0,2019-05-13 13:40:01,08:26:14,1052.0,7.0,2019-05-13 14:23:23,08:39:52
600,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1002.0,8.0,2019-05-13 13:47:41,08:33:54,1002.0,8.0,2019-05-13 13:23:09,07:39:38
720,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1002.0,9.0,2019-05-13 13:51:44,08:37:57,1002.0,9.0,2019-05-13 14:39:42,08:56:11
2880,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1052.0,8.0,2019-05-13 14:52:34,09:38:47,1052.0,8.0,2019-05-13 15:37:31,09:54:00
4200,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1096.0,9.0,2019-05-13 15:51:29,10:37:42,1096.0,9.0,2019-05-13 15:26:09,09:42:38
4320,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1096.0,10.0,2019-05-13 15:55:46,10:41:59,1096.0,10.0,2019-05-13 16:40:14,10:56:43
3000,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1052.0,9.0,2019-05-13 16:08:39,10:54:52,1052.0,9.0,2019-05-13 16:51:29,11:07:58
840,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1002.0,12.0,2019-05-13 16:28:21,11:14:34,1002.0,12.0,2019-05-13 16:34:37,10:51:06
1800,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1051.0,8.0,2019-05-13 16:34:07,11:20:20,1051.0,8.0,2019-05-13 16:07:56,10:24:25
1920,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1051.0,9.0,2019-05-13 16:38:11,11:24:24,1051.0,9.0,2019-05-13 17:18:25,11:34:54
4440,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1096.0,11.0,2019-05-13 17:11:14,11:57:27,1096.0,11.0,2019-05-13 18:01:54,12:18:23
3120,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1052.0,10.0,2019-05-13 17:25:59,12:12:12,1052.0,10.0,2019-05-13 18:05:57,12:22:26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1979,2019-05-13,491551.0,399,3,2019-05-13 22:32:02,2019-05-13 22:33:57,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
1981,2019-05-13,491551.0,399,5,2019-05-13 22:44:23,2019-05-13 22:44:24,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
1982,2019-05-13,491551.0,400,1,2019-05-13 22:33:45,2019-05-13 22:33:46,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
1984,2019-05-13,491551.0,400,3,2019-05-13 22:59:58,2019-05-13 23:03:39,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
1986,2019-05-13,491551.0,400,5,2019-05-13 23:15:54,2019-05-13 23:16:36,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
1987,2019-05-13,491551.0,401,1,2019-05-13 22:33:45,2019-05-13 22:33:46,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
1989,2019-05-13,491551.0,401,3,2019-05-13 23:03:31,2019-05-13 23:05:08,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
1991,2019-05-13,491551.0,401,5,2019-05-13 23:28:54,2019-05-13 23:29:36,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
1992,2019-05-13,491551.0,402,1,2019-05-13 22:33:45,2019-05-13 22:33:46,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
1994,2019-05-13,491551.0,402,3,2019-05-13 23:03:31,2019-05-13 23:05:08,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
1996,2019-05-13,491551.0,402,5,2019-05-13 23:28:54,2019-05-13 23:29:36,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
1997,2019-05-13,491551.0,403,1,2019-05-13 22:33:45,2019-05-13 22:33:46,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
1999,2019-05-13,491551.0,403,3,2019-05-13 23:03:31,2019-05-13 23:05:08,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
2001,2019-05-13,491551.0,403,5,2019-05-13 23:28:54,2019-05-13 23:29:36,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
2002,2019-05-13,491551.0,404,1,2019-05-13 22:33:45,2019-05-13 22:33:46,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
2004,2019-05-13,491551.0,404,3,2019-05-13 23:03:31,2019-05-13 23:05:08,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
2006,2019-05-13,491551.0,404,5,2019-05-13 23:28:54,2019-05-13 23:29:36,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
2007,2019-05-13,491551.0,405,1,2019-05-13 23:03:45,2019-05-13 23:03:46,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
2009,2019-05-13,491551.0,405,3,2019-05-13 23:22:02,2019-05-13 23:22:05,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
2011,2019-05-13,491551.0,405,5,2019-05-14 00:04:42,2019-05-14 00:14:18,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
2012,2019-05-13,491551.0,406,1,2019-05-13 23:09:45,2019-05-13 23:09:46,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
2015,2019-05-13,491551.0,406,4,2019-05-14 05:26:34,2019-05-14 05:26:35,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
2016,2019-05-13,491551.0,407,1,2019-05-13 23:09:45,2019-05-13 23:09:46,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
2019,2019-05-13,491551.0,407,4,2019-05-14 05:26:34,2019-05-14 05:26:35,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
2020,2019-05-13,491551.0,408,1,2019-05-13 23:09:45,2019-05-13 23:09:46,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
2023,2019-05-13,491551.0,408,4,2019-05-14 05:26:34,2019-05-14 05:26:35,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
2024,2019-05-13,491551.0,409,1,2019-05-13 23:09:45,2019-05-13 23:09:46,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
2027,2019-05-13,491551.0,409,4,2019-05-14 05:26:34,2019-05-14 05:26:35,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
2028,2019-05-13,491551.0,410,1,2019-05-13 23:03:45,2019-05-13 23:03:46,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT
2031,2019-05-13,491551.0,410,4,2019-05-14 05:26:34,2019-05-14 05:26:35,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT

In [30]:
bus_trips_clean[(bus_trips['route'] == '944') & (bus_trips['stopPointId'] == 491551)].sort_values(['gps_datetime'])

      route  busCode  tripNum  stopPointId        gps_datetime
95910   944     1002        2       491551 2019-05-13 06:29:21
94030   944     1052        2       491551 2019-05-13 06:47:57
92092   944     1096        2       491551 2019-05-13 07:06:16
87640   944     1002        3       491551 2019-05-13 07:44:09
85996   944     1051        2       491551 2019-05-13 07:56:49
85067   944     1052        3       491551 2019-05-13 08:04:18
83326   944     1096        3       491551 2019-05-13 08:18:15
78256   944     1002        4       491551 2019-05-13 08:54:42
75567   944     1096        5       491551 2019-05-13 09:34:54
71392   944     1002        5       491551 2019-05-13 10:08:54
70211   944     1051        3       491551 2019-05-13 10:19:02
66874   944     1096        6       491551 2019-05-13 10:45:12
62009   944     1002        6       491551 2019-05-13 11:25:35
61979   944     1051        4       491551 2019-05-13 11:25:48
60694   944     1051        5       491551 2019-05-13 11:36:10
58328   944     1096        7       491551 2019-05-13 11:57:15
55237   944     1052        6       491551 2019-05-13 12:22:26
53344   944     1002        7       491551 2019-05-13 12:38:05
51822   944     1051        6       491551 2019-05-13 12:50:51
50830   944     1096        8       491551 2019-05-13 13:00:06
46292   944     1052        7       491551 2019-05-13 13:40:01
45386   944     1002        8       491551 2019-05-13 13:47:41
44887   944     1002        9       491551 2019-05-13 13:51:44
38431   944     1052        8       491551 2019-05-13 14:52:34
36651   944     1002       10       491551 2019-05-13 15:09:42
32186   944     1096        9       491551 2019-05-13 15:51:29
31784   944     1096       10       491551 2019-05-13 15:55:46
30493   944     1052        9       491551 2019-05-13 16:08:39
28323   944     1002       12       491551 2019-05-13 16:28:21
27701   944     1051        8       491551 2019-05-13 16:34:07
27282   944     1051        9       491551 2019-05-13 16:38:11
23724   944     1096       11       491551 2019-05-13 17:11:14
22109   944     1052       10       491551 2019-05-13 17:25:59
20314   944     1002       13       491551 2019-05-13 17:43:07
19148   944     1051       10       491551 2019-05-13 17:54:37
19144   944     1002       14       491551 2019-05-13 17:54:40
15240   944     1096       12       491551 2019-05-13 18:34:03
15081   944     1052       11       491551 2019-05-13 18:35:26
12495   944     1002       15       491551 2019-05-13 18:58:51
11369   944     1051       11       491551 2019-05-13 19:09:40
8645    944     1096       13       491551 2019-05-13 19:44:08
8385    944     1052       13       491551 2019-05-13 19:48:22
6634    944     1051       12       491551 2019-05-13 20:16:21
5316    944     1096       14       491551 2019-05-13 20:38:54
1210    944     1052       15       491551 2019-05-13 22:20:39
553     944     1051       13       491551 2019-05-13 22:51:30
495     944     1051       14       491551 2019-05-13 22:55:35

In [40]:
scheduled_itin_observed_od_full_clean = scheduled_itin_observed_od_full \
                            .filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_mode','otp_route',
                                     'bt_bus_code','bt_trip_num','otp_from_stop_id','otp_start_time',
                                     'bt_start_time','sched_obs_start_timediff','otp_to_stop_id',
                                     'otp_end_time','bt_end_time','sched_obs_end_timediff','otp_duration_mins','minimun_obs_start_time']) \
                            .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

In [41]:
scheduled_itin_observed_od_full.head() \
                            .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,...,otp_from_parent_station,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff,bt_busCode,bt_tripNum,bt_end_time,sched_obs_end_timediff
0,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1002.0,2.0,2019-05-13 06:29:21,01:15:34,1002.0,2.0,2019-05-13 07:11:02,01:27:31
2520,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1052.0,2.0,2019-05-13 06:47:57,01:34:10,1052.0,2.0,2019-05-13 07:31:28,01:47:57
3480,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1096.0,2.0,2019-05-13 07:06:16,01:52:29,1096.0,2.0,2019-05-13 07:47:36,02:04:05
120,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1002.0,3.0,2019-05-13 07:44:09,02:30:22,1002.0,3.0,2019-05-13 08:23:26,02:39:55
1200,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1051.0,2.0,2019-05-13 07:56:49,02:43:02,1051.0,2.0,2019-05-13 09:49:33,04:06:02

In [33]:
scheduled_itin_observed_od_full_clean[(scheduled_itin_observed_od_full_clean.otp_route == "944") & (scheduled_itin_observed_od_full_clean.otp_start_time == '2019-05-13 14:05:47')][['otp_itinerary_id',"otp_start_time","otp_route","otp_from_stop_id",
                                                                           "otp_from_stop_id", "bt_start_time", "sched_obs_start_timediff"]].sort_values(by=['sched_obs_start_timediff'])

,otp_itinerary_id,otp_start_time,otp_route,otp_from_stop_id,otp_from_stop_id,bt_start_time,sched_obs_start_timediff
783,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:51:44,00:14:03
5847,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:51:44,00:14:03
5848,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:51:44,00:14:03
5849,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:51:44,00:14:03
8550,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:40:01,00:25:46
8551,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:40:01,00:25:46
8552,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:40:01,00:25:46
2823,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:40:01,00:25:46
8711,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 14:52:34,00:46:47
8710,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 14:52:34,00:46:47
8709,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 14:52:34,00:46:47
2943,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 14:52:34,00:46:47
4143,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:00:06,01:05:41
10301,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:00:06,01:05:41
10299,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:00:06,01:05:41
10300,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:00:06,01:05:41
7121,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:50:51,01:14:56
7120,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:50:51,01:14:56
7119,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:50:51,01:14:56
1743,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:50:51,01:14:56
2703,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:22:26,01:43:21
8393,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:22:26,01:43:21
8391,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:22:26,01:43:21
8392,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:22:26,01:43:21
4383,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 15:55:46,01:49:59
10619,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 15:55:46,01:49:59
10617,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 15:55:46,01:49:59
10618,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 15:55:46,01:49:59
8868,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 16:08:39,02:02:52
8869,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 16:08:39,02:02:52
...,...,...,...,...,...,...,...
3663,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 08:18:15,05:47:32
9664,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 08:18:15,05:47:32
6483,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:56:49,06:08:58
1263,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:56:49,06:08:58
6485,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:56:49,06:08:58
6484,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:56:49,06:08:58
5052,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:44:09,06:21:38
5054,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:44:09,06:21:38
5053,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:44:09,06:21:38
183,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:44:09,06:21:38
9506,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:06:16,06:59:31
9505,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:06:16,06:59:31
9504,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:06:16,06:59:31
3543,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:06:16,06:59:31
8233,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 06:47:57,07:17:50
8232,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 06:47:57,07:17:50
2583,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 06:47:57,07:17:50
8234,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 06:47:57,07:17:50
4894,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 06:29:21,07:36:26
4895,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 06:29:21,07:36:26
63,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 06:29:21,07:36:26
4893,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 06:29:21,07:36:26
9346,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:20:39,08:14:52
9347,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:20:39,08:14:52
9345,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:20:39,08:14:52
3423,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:20:39,08:14:52
8073,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:55:35,08:49:48
2463,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:55:35,08:49:48
8074,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:55:35,08:49:48
8075,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:55:35,08:49:48

In [42]:
scheduled_itin_observed_od_full_clean = scheduled_itin_observed_od_full \
                            .filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_mode','otp_route',
                                     'bt_bus_code','bt_trip_num','otp_from_stop_id','otp_start_time',
                                     'bt_start_time','sched_obs_start_timediff','otp_to_stop_id',
                                     'otp_end_time','bt_end_time','sched_obs_end_timediff','otp_duration_mins','minimun_obs_start_time']) \
                            .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

In [46]:
scheduled_itin_observed_od_full_clean[(scheduled_itin_observed_od_full_clean.sched_obs_start_timediff >= pd.Timedelta('0s')) & (scheduled_itin_observed_od_full_clean.sched_obs_start_timediff < pd.Timedelta('1.5h'))]

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins
0,491551.0,1,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:13:47,2019-05-13 06:29:21,01:15:34,386521.0,2019-05-13 05:43:31,2019-05-13 07:11:02,01:27:31,29.733333
14440,491551.0,1,4,BUS,903B,1016.0,1.0,386641.0,2019-05-13 05:47:40,2019-05-13 05:59:23,00:11:43,386291.0,2019-05-13 05:56:33,2019-05-13 06:06:31,00:09:58,8.883333
15945,491551.0,1,4,BUS,903B,2065.0,2.0,386641.0,2019-05-13 05:47:40,2019-05-13 06:05:27,00:17:47,386291.0,2019-05-13 05:56:33,2019-05-13 06:03:50,00:07:17,8.883333
15910,491551.0,1,4,BUS,903B,2065.0,1.0,386641.0,2019-05-13 05:47:40,2019-05-13 05:22:34,00:25:06,386291.0,2019-05-13 05:56:33,2019-05-13 05:42:43,00:13:50,8.883333
14895,491551.0,1,4,BUS,903B,1043.0,1.0,386641.0,2019-05-13 05:47:40,2019-05-13 05:03:11,00:44:29,386291.0,2019-05-13 05:56:33,2019-05-13 05:01:50,00:54:43,8.883333
15350,491551.0,1,4,BUS,903B,2010.0,1.0,386641.0,2019-05-13 05:47:40,2019-05-13 06:37:51,00:50:11,386291.0,2019-05-13 05:56:33,2019-05-13 06:47:02,00:50:29,8.883333
14930,491551.0,1,4,BUS,903B,1043.0,2.0,386641.0,2019-05-13 05:47:40,2019-05-13 06:48:06,01:00:26,386291.0,2019-05-13 05:56:33,2019-05-13 06:45:20,00:48:47,8.883333
14755,491551.0,1,4,BUS,903B,1019.0,1.0,386641.0,2019-05-13 05:47:40,2019-05-13 06:58:53,01:11:13,386291.0,2019-05-13 05:56:33,2019-05-13 06:57:15,01:00:42,8.883333
15980,491551.0,1,4,BUS,903B,2065.0,3.0,386641.0,2019-05-13 05:47:40,2019-05-13 07:07:33,01:19:53,386291.0,2019-05-13 05:56:33,2019-05-13 07:11:53,01:15:20,8.883333
1,491551.0,2,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:13:47,2019-05-13 06:29:21,01:15:34,386521.0,2019-05-13 05:43:31,2019-05-13 07:11:02,01:27:31,29.733333
14441,491551.0,2,4,BUS,903B,1016.0,1.0,386641.0,2019-05-13 05:47:40,2019-05-13 05:59:23,00:11:43,386291.0,2019-05-13 05:56:33,2019-05-13 06:06:31,00:09:58,8.883333
15946,491551.0,2,4,BUS,903B,2065.0,2.0,386641.0,2019-05-13 05:47:40,2019-05-13 06:05:27,00:17:47,386291.0,2019-05-13 05:56:33,2019-05-13 06:03:50,00:07:17,8.883333
15911,491551.0,2,4,BUS,903B,2065.0,1.0,386641.0,2019-05-13 05:47:40,2019-05-13 05:22:34,00:25:06,386291.0,2019-05-13 05:56:33,2019-05-13 05:42:43,00:13:50,8.883333
14896,491551.0,2,4,BUS,903B,1043.0,1.0,386641.0,2019-05-13 05:47:40,2019-05-13 05:03:11,00:44:29,386291.0,2019-05-13 05:56:33,2019-05-13 05:01:50,00:54:43,8.883333
15351,491551.0,2,4,BUS,903B,2010.0,1.0,386641.0,2019-05-13 05:47:40,2019-05-13 06:37:51,00:50:11,386291.0,2019-05-13 05:56:33,2019-05-13 06:47:02,00:50:29,8.883333
14931,491551.0,2,4,BUS,903B,1043.0,2.0,386641.0,2019-05-13 05:47:40,2019-05-13 06:48:06,01:00:26,386291.0,2019-05-13 05:56:33,2019-05-13 06:45:20,00:48:47,8.883333
14756,491551.0,2,4,BUS,903B,1019.0,1.0,386641.0,2019-05-13 05:47:40,2019-05-13 06:58:53,01:11:13,386291.0,2019-05-13 05:56:33,2019-05-13 06:57:15,01:00:42,8.883333
15981,491551.0,2,4,BUS,903B,2065.0,3.0,386641.0,2019-05-13 05:47:40,2019-05-13 07:07:33,01:19:53,386291.0,2019-05-13 05:56:33,2019-05-13 07:11:53,01:15:20,8.883333
2,491551.0,3,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:13:47,2019-05-13 06:29:21,01:15:34,386521.0,2019-05-13 05:43:31,2019-05-13 07:11:02,01:27:31,29.733333
14442,491551.0,3,4,BUS,903B,1016.0,1.0,386641.0,2019-05-13 05:47:40,2019-05-13 05:59:23,00:11:43,386291.0,2019-05-13 05:56:33,2019-05-13 06:06:31,00:09:58,8.883333
15947,491551.0,3,4,BUS,903B,2065.0,2.0,386641.0,2019-05-13 05:47:40,2019-05-13 06:05:27,00:17:47,386291.0,2019-05-13 05:56:33,2019-05-13 06:03:50,00:07:17,8.883333
15912,491551.0,3,4,BUS,903B,2065.0,1.0,386641.0,2019-05-13 05:47:40,2019-05-13 05:22:34,00:25:06,386291.0,2019-05-13 05:56:33,2019-05-13 05:42:43,00:13:50,8.883333
14897,491551.0,3,4,BUS,903B,1043.0,1.0,386641.0,2019-05-13 05:47:40,2019-05-13 05:03:11,00:44:29,386291.0,2019-05-13 05:56:33,2019-05-13 05:01:50,00:54:43,8.883333
15352,491551.0,3,4,BUS,903B,2010.0,1.0,386641.0,2019-05-13 05:47:40,2019-05-13 06:37:51,00:50:11,386291.0,2019-05-13 05:56:33,2019-05-13 06:47:02,00:50:29,8.883333
14932,491551.0,3,4,BUS,903B,1043.0,2.0,386641.0,2019-05-13 05:47:40,2019-05-13 06:48:06,01:00:26,386291.0,2019-05-13 05:56:33,2019-05-13 06:45:20,00:48:47,8.883333
14757,491551.0,3,4,BUS,903B,1019.0,1.0,386641.0,2019-05-13 05:47:40,2019-05-13 06:58:53,01:11:13,386291.0,2019-05-13 05:56:33,2019-05-13 06:57:15,01:00:42,8.883333
15982,491551.0,3,4,BUS,903B,2065.0,3.0,386641.0,2019-05-13 05:47:40,2019-05-13 07:07:33,01:19:53,386291.0,2019-05-13 05:56:33,2019-05-13 07:11:53,01:15:20,8.883333
3,491551.0,4,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:13:47,2019-05-13 06:29:21,01:15:34,386521.0,2019-05-13 05:43:31,2019-05-13 07:11:02,01:27:31,29.733333
14443,491551.0,4,4,BUS,903B,1016.0,1.0,386641.0,2019-05-13 05:47:40,2019-05-13 05:59:23,00:11:43,386291.0,2019-05-13 05:56:33,2019-05-13 06:06:31,00:09:58,8.883333
15948,491551.0,4,4,BUS,903B,2065.0,2.0,386641.0,2019-05-13 05:47:40,2019-05-13 06:05:27,00:17:47,386291.0,2019-05-13 05:56:33,2019-05-13 06:03:50,00:07:17,8.883333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2397,491551.0,402,2,BUS,944,1051.0,13.0,491551.0,2019-05-13 22:33:47,2019-05-13 22:51:30,00:17:43,386521.0,2019-05-13 23:03:31,2019-05-13 22:30:13,00:33:18,29.733333
2517,491551.0,402,2,BUS,944,1051.0,14.0,491551.0,2019-05-13 22:33:47,2019-05-13 22:55:35,00:21:48,386521.0,2019-05-13 23:03:31,2019-05-13 23:28:48,00:25:17,29.733333
26817,491551.0,402,4,BUS,555,2014.0,12.0,386113.0,2019-05-13 23:13:33,2019-05-13 22:49:25,00:24:08,386318.0,2019-05-13 23:28:53,2019-05-13 22:24:35,01:04:18,15.333333
3478,491551.0,403,2,BUS,944,1052.0,15.0,491551.0,2019-05-13 22:33:47,2019-05-13 22:20:39,00:13:08,386521.0,2019-05-13 23:03:31,2019-05-13 22:56:25,00:07:06,29.733333
2398,491551.0,403,2,BUS,944,1051.0,13.0,491551.0,2019-05-13 22:33:47,2019-05-13 22:51:30,00:17:43,386521.0,2019-05-13 23:03:31,2019-05-13 22:30:13,00:33:18,29.733333
2518,491551.0,403,2,BUS,944,1051.0,14.0,491551.0,2019-05-13 22:33:47,2019-05-13 22:55:35,00:21:48,386521.0,2019-05-13 23:03:31,2019-05-13 23:28:48,00:25:17,29.733333
26818,491551.0,403,4,BUS,555,2014.0,12.0,386113.0,2019-05-13 23:13:33,2019-05-13 22:49:25,00:24:08,386318.0,2019-05-13 23:28:53,2019-05-13 22:24:35,01:04:18,15.333333
3479,491551.0,404,2,BUS,944,1052.0,15.0,491551.0,2019-05-13 22:33:47,2019-05-13 22:20:39,00:13:08,386521.0,2019-05-13 23:03:31,2019-05-13 22:56:25,00:07:06,29.733333
2399,491551.0,404,2,BUS,944,1051.0,13.0,491551.0,2019-05-13 22:33:47,2019-05-13 22:51:30,00:17:43,386521.0,2019-05-13 23:03:31,2019-05-13 22:30:13,00:33:18,29.733333
2519,491551.0,404,2,BUS,944,1051.0,14.0,491551.0,2019-05-13 22:33:47,2019-05-13 22:55:35,00:21:48,386521.0,2019-05-13 23:03:31,2019-05-13 23:28:48,00:25:17,29.733333
26819,491551.0,404,4,BUS,555,2014.0,12.0,386113.0,2019-05-13 23:13:33,2019-05-13 22:49:25,00:24:08,386318.0,2019-05-13 23:28:53,2019-05-13 22:24:35,01:04:18,15.333333
14420,491551.0,405,2,BUS,944,1051.0,14.0,491551.0,2019-05-13 23:03:47,2019-05-13 22:55:35,00:08:12,385788.0,2019-05-13 23:22:02,2019-05-13 23:15:03,00:06:59,18.250000
14419,491551.0,405,2,BUS,944,1051.0,13.0,491551.0,2019-05-13 23:03:47,2019-05-13 22:51:30,00:12:17,385788.0,2019-05-13 23:22:02,2019-05-13 22:14:54,01:07:08,18.250000
14428,491551.0,405,2,BUS,944,1052.0,15.0,491551.0,2019-05-13 23:03:47,2019-05-13 22:20:39,00:43:08,385788.0,2019-05-13 23:22:02,2019-05-13 23:05:04,00:16:58,18.250000
26835,491551.0,405,4,BUS,245,1036.0,8.0,491277.0,2019-05-13 23:25:14,2019-05-13 22:57:21,00:27:53,386228.0,2019-05-14 00:04:41,2019-05-13 23:54:30,00:10:11,39.450000
14053,491551.0,406,2,BUS,944,1051.0,14.0,491551.0,2019-05-13 23:09:47,2019-05-13 22:55:35,00:14:12,385834.0,2019-05-13 23:42:47,2019-05-13 23:32:20,00:10:27,33.000000
14035,491551.0,406,2,BUS,944,1051.0,13.0,491551.0,2019-05-13 23:09:47,2019-05-13 22:51:30,00:18:17,385834.0,2019-05-13 23:42:47,2019-05-13 22:32:31,01:10:16,33.000000
14197,491551.0,406,2,BUS,944,1052.0,15.0,491551.0,2019-05-13 23:09:47,2019-05-13 22:20:39,00:49:08,385834.0,2019-05-13 23:42:47,2019-05-13 22:59:29,00:43:18,33.000000
14054,491551.0,407,2,BUS,944,1051.0,14.0,491551.0,2019-05-13 23:09:47,2019-05-13 22:55:35,00:14:12,385834.0,2019-05-13 23:42:47,2019-05-13 23:32:20,00:10:27,33.000000
14036,491551.0,407,2,BUS,944,1051.0,13.0,491551.0,2019-05-13 23:09:47,2019-05-13 22:51:30,00:18:17,385834.0,2019-05-13 23:42:47,2019-05-13 22:32:31,01:10:16,33.000000
14198,491551.0,407,2,BUS,944,1052.0,15.0,491551.0,2019-05-13 23:09:47,2019-05-13 22:20:39,00:49:08,385834.0,2019-05-13 23:42:47,2019-05-13 22:59:29,00:43:18,33.000000
14055,491551.0,408,2,BUS,944,1051.0,14.0,491551.0,2019-05-13 23:09:47,2019-05-13 22:55:35,00:14:12,385834.0,2019-05-13 23:42:47,2019-05-13 23:32:20,00:10:27,33.000000
14037,491551.0,408,2,BUS,944,1051.0,13.0,491551.0,2019-05-13 23:09:47,2019-05-13 22:51:30,00:18:17,385834.0,2019-05-13 23:42:47,2019-05-13 22:32:31,01:10:16,33.000000
14199,491551.0,408,2,BUS,944,1052.0,15.0,491551.0,2019-05-13 23:09:47,2019-05-13 22:20:39,00:49:08,385834.0,2019-05-13 23:42:47,2019-05-13 22:59:29,00:43:18,33.000000
14056,491551.0,409,2,BUS,944,1051.0,14.0,491551.0,2019-05-13 23:09:47,2019-05-13 22:55:35,00:14:12,385834.0,2019-05-13 23:42:47,2019-05-13 23:32:20,00:10:27,33.000000
14038,491551.0,409,2,BUS,944,1051.0,13.0,491551.0,2019-05-13 23:09:47,2019-05-13 22:51:30,00:18:17,385834.0,2019-05-13 23:42:47,2019-05-13 22:32:31,01:10:16,33.000000
14200,491551.0,409,2,BUS,944,1052.0,15.0,491551.0,2019-05-13 23:09:47,2019-05-13 22:20:39,00:49:08,385834.0,2019-05-13 23:42:47,2019-05-13 22:59:29,00:43:18,33.000000
14057,491551.0,410,2,BUS,944,1051.0,14.0,491551.0,2019-05-13 23:03:47,2019-05-13 22:55:35,00:08:12,385834.0,2019-05-13 23:36:47,2019-05-13 23:32:20,00:04:27,33.000000
14039,491551.0,410,2,BUS,944,1051.0,13.0,491551.0,2019-05-13 23:03:47,2019-05-13 22:51:30,00:12:17,385834.0,2019-05-13 23:36:47,2019-05-13 22:32:31,01:04:16,33.000000
14201,491551.0,410,2,BUS,944,1052.0,15.0,491551.0,2019-05-13 23:03:47,2019-05-13 22:20:39,00:43:08,385834.0,2019-05-13 23:36:47,2019-05-13 22:59:29,00:37:18,33.000000

In [49]:
scheduled_itin_observed_od_full_clean \
                        .groupby(['otp_itinerary_id', 'otp_leg_id']) \
                        .apply(lambda x: x.sort_values(["sched_obs_start_timediff"]))

                                   otp_user_trip_id  otp_itinerary_id  \
otp_itinerary_id otp_leg_id
1                1          0              491551.0                 1
                 2          0              491551.0                 1
                            2520           491551.0                 1
                            3480           491551.0                 1
                            120            491551.0                 1
                            1200           491551.0                 1
                            3600           491551.0                 1
                            240            491551.0                 1
                            3720           491551.0                 1
                            360            491551.0                 1
                            1320           491551.0                 1
                            3840           491551.0                 1
                            480            491551.0                 1
                            1440           491551.0                 1
                            1560           491551.0                 1
                            3960           491551.0                 1
                            2640           491551.0                 1
                            1680           491551.0                 1
                            4080           491551.0                 1
                            2760           491551.0                 1
                            600            491551.0                 1
                            720            491551.0                 1
                            2880           491551.0                 1
                            4200           491551.0                 1
                            4320           491551.0                 1
                            3000           491551.0                 1
                            840            491551.0                 1
                            1800           491551.0                 1
                            1920           491551.0                 1
                            4440           491551.0                 1
...                                             ...               ...
410              3          16119          491551.0               410
                            15104          491551.0               410
                            15524          491551.0               410
                            14614          491551.0               410
                            16084          491551.0               410
                            15069          491551.0               410
                            15489          491551.0               410
                            14894          491551.0               410
                            15769          491551.0               410
                            14579          491551.0               410
                            16049          491551.0               410
                            15034          491551.0               410
                            15454          491551.0               410
                            14859          491551.0               410
                            15734          491551.0               410
                            14544          491551.0               410
                            14999          491551.0               410
                            15419          491551.0               410
                            14824          491551.0               410
                            15699          491551.0               410
                            14509          491551.0               410
                            16014          491551.0               410
                            14789          491551.0               410
                            14964          491551.0               410
                            15384          491551.0               410
                            15979          491551.0               410
                            14474          491551.0               410
                            15944          491551.0               410
                            14929          491551.0               410
                 4          2031           491551.0               410

                                   otp_leg_id otp_mode otp_route  bt_bus_code  \
otp_itinerary_id otp_leg_id
1                1          0               1     WALK       nan          NaN
                 2          0               2      BUS       944       1002.0
                            2520            2      BUS       944       1052.0
                            3480            2      BUS       944       1096.0
                            120             2      BUS       944       1002.0
                            1200            2      BUS       944       1051.0
                            3600            2      BUS       944       1096.0
                            240             2      BUS       944       1002.0
                            3720            2      BUS       944       1096.0
                            360             2      BUS       944       1002.0
                            1320            2      BUS       944       1051.0
                            3840            2      BUS       944       1096.0
                            480             2      BUS       944       1002.0
                            1440            2      BUS       944       1051.0
                            1560            2      BUS       944       1051.0
                            3960            2      BUS       944       1096.0
                            2640            2      BUS       944       1052.0
                            1680            2      BUS       944       1051.0
                            4080            2      BUS       944       1096.0
                            2760            2      BUS       944       1052.0
                            600             2      BUS       944       1002.0
                            720             2      BUS       944       1002.0
                            2880            2      BUS       944       1052.0
                            4200            2      BUS       944       1096.0
                            4320            2      BUS       944       1096.0
                            3000            2      BUS       944       1052.0
                            840             2      BUS       944       1002.0
                            1800            2      BUS       944       1051.0
                            1920            2      BUS       944       1051.0
                            4440            2      BUS       944       1096.0
...                                       ...      ...       ...          ...
410              3          16119           3      BUS      903B       2065.0
                            15104           3      BUS      903B       1043.0
                            15524           3      BUS      903B       2010.0
                            14614           3      BUS      903B       1016.0
                            16084           3      BUS      903B       2065.0
                            15069           3      BUS      903B       1043.0
                            15489           3      BUS      903B       2010.0
                            14894           3      BUS      903B       1019.0
                            15769           3      BUS      903B       2050.0
                            14579           3      BUS      903B       1016.0
                            16049           3      BUS      903B       2065.0
                            15034           3      BUS      903B       1043.0
                            15454           3      BUS      903B       2010.0
                            14859           3      BUS      903B       1019.0
                            15734           3      BUS      903B       2050.0
                            14544           3      BUS      903B       1016.0
                            14999           3      BUS      903B       1043.0
                            15419           3      BUS      903B       2010.0
                            14824           3      BUS      903B       1019.0
                            15699           3      BUS      903B       2050.0
                            14509           3      BUS      903B       1016.0
                            16014           3      BUS      903B       2065.0
                            14789           3      BUS      903B       1019.0
                            14964           3      BUS      903B       1043.0
                            15384           3      BUS      903B       2010.0
                            15979           3      BUS      903B       2065.0
                            14474           3      BUS      903B       1016.0
                            15944           3      BUS      903B       2065.0
                            14929           3      BUS      903B       1043.0
                 4          2031            4     WALK       nan          NaN

                                   bt_trip_num  otp_from_stop_id  \
otp_itinerary_id otp_leg_id
1                1          0              NaN               NaN
                 2          0              2.0          491551.0
                            2520           2.0          491551.0
                            3480           2.0          491551.0
                            120            3.0          491551.0
                            1200           2.0          491551.0
                            3600           3.0          491551.0
                            240            4.0          491551.0
                            3720           5.0          491551.0
                            360            5.0          491551.0
                            1320           3.0          491551.0
                            3840           6.0          491551.0
                            480            6.0          491551.0
                            1440           4.0          491551.0
                            1560           5.0          491551.0
                            3960           7.0          491551.0
                            2640           6.0          491551.0
                            1680           6.0          491551.0
                            4080           8.0          491551.0
                            2760           7.0          491551.0
                            600            8.0          491551.0
                            720            9.0          491551.0
                            2880           8.0          491551.0
                            4200           9.0          491551.0
                            4320          10.0          491551.0
                            3000           9.0          491551.0
                            840           12.0          491551.0
                            1800           8.0          491551.0
                            1920           9.0          491551.0
                            4440          11.0          491551.0
...                                        ...               ...
410              3          16119          8.0          385834.0
                            15104          6.0          385834.0
                            15524          6.0          385834.0
                            14614          7.0          385834.0
                            16084          6.0          385834.0
                            15069          5.0          385834.0
                            15489          5.0          385834.0
                            14894          5.0          385834.0
                            15769          4.0          385834.0
                            14579          6.0          385834.0
                            16049          5.0          385834.0
                            15034          4.0          385834.0
                            15454          4.0          385834.0
                            14859          3.0          385834.0
                            15734          3.0          385834.0
                            14544          5.0          385834.0
                            14999          3.0          385834.0
                            15419          2.0          385834.0
                            14824          2.0          385834.0
                            15699          2.0          385834.0
                            14509          3.0          385834.0
                            16014          3.0          385834.0
                            14789          1.0          385834.0
                            14964          2.0          385834.0
                            15384          1.0          385834.0
                            15979          2.0          385834.0
                            14474          1.0          385834.0
                            15944          1.0          385834.0
                            14929          1.0          385834.0
                 4          2031           NaN               NaN

                                       otp_start_time       bt_start_time  \
otp_itinerary_id otp_leg_id
1                1          0     2019-05-13 05:13:45                 NaT
                 2          0     2019-05-13 05:13:47 2019-05-13 06:29:21
                            2520  2019-05-13 05:13:47 2019-05-13 06:47:57
                            3480  2019-05-13 05:13:47 2019-05-13 07:06:16
                            120   2019-05-13 05:13:47 2019-05-13 07:44:09
                            1200  2019-05-13 05:13:47 2019-05-13 07:56:49
                            3600  2019-05-13 05:13:47 2019-05-13 08:18:15
                            240   2019-05-13 05:13:47 2019-05-13 08:54:42
                            3720  2019-05-13 05:13:47 2019-05-13 09:34:54
                            360   2019-05-13 05:13:47 2019-05-13 10:08:54
                            1320  2019-05-13 05:13:47 2019-05-13 10:19:02
                            3840  2019-05-13 05:13:47 2019-05-13 10:45:12
                            480   2019-05-13 05:13:47 2019-05-13 11:25:35
                            1440  2019-05-13 05:13:47 2019-05-13 11:25:48
                            1560  2019-05-13 05:13:47 2019-05-13 11:36:10
                            3960  2019-05-13 05:13:47 2019-05-13 11:57:15
                            2640  2019-05-13 05:13:47 2019-05-13 12:22:26
                            1680  2019-05-13 05:13:47 2019-05-13 12:50:51
                            4080  2019-05-13 05:13:47 2019-05-13 13:00:06
                            2760  2019-05-13 05:13:47 2019-05-13 13:40:01
                            600   2019-05-13 05:13:47 2019-05-13 13:47:41
                            720   2019-05-13 05:13:47 2019-05-13 13:51:44
                            2880  2019-05-13 05:13:47 2019-05-13 14:52:34
                            4200  2019-05-13 05:13:47 2019-05-13 15:51:29
                            4320  2019-05-13 05:13:47 2019-05-13 15:55:46
                            3000  2019-05-13 05:13:47 2019-05-13 16:08:39
                            840   2019-05-13 05:13:47 2019-05-13 16:28:21
                            1800  2019-05-13 05:13:47 2019-05-13 16:34:07
                            1920  2019-05-13 05:13:47 2019-05-13 16:38:11
                            4440  2019-05-13 05:13:47 2019-05-13 17:11:14
...                                               ...                 ...
410              3          16119 2019-05-14 05:12:33 2019-05-13 12:58:23
                            15104 2019-05-14 05:12:33 2019-05-13 12:47:08
                            15524 2019-05-14 05:12:33 2019-05-13 12:31:18
                            14614 2019-05-14 05:12:33 2019-05-13 11:47:35
                            16084 2019-05-14 05:12:33 2019-05-13 11:25:16
                            15069 2019-05-14 05:12:33 2019-05-13 11:14:53
                            15489 2019-05-14 05:12:33 2019-05-13 11:02:54
                            14894 2019-05-14 05:12:33 2019-05-13 10:46:17
                            15769 2019-05-14 05:12:33 2019-05-13 10:27:01
                            14579 2019-05-14 05:12:33 2019-05-13 10:12:01
                            16049 2019-05-14 05:12:33 2019-05-13 10:01:29
                            15034 2019-05-14 05:12:33 2019-05-13 09:48:08
                            15454 2019-05-14 05:12:33 2019-05-13 09:31:58
                            14859 2019-05-14 05:12:33 2019-05-13 09:11:59
                            15734 2019-05-14 05:12:33 2019-05-13 09:00:22
                            14544 2019-05-14 05:12:33 2019-05-13 08:47:53
                            14999 2019-05-14 05:12:33 2019-05-13 08:20:07
                            15419 2019-05-14 05:12:33 2019-05-13 07:59:02
                            14824 2019-05-14 05:12:33 2019-05-13 07:58:07
                            15699 2019-05-14 05:12:33 2019-05-13 07:41:42
                            14509 2019-05-14 05:12:33 2019-05-13 07:20:03
                            16014 2019-05-14 05:12:33 2019-05-13 07:00:56
                            14789 2019-05-14 05:12:33 2019-05-13 06:59:50
                            14964 2019-05-14 05:12:33 2019-05-13 06:40:58
                            15384 2019-05-14 05:12:33 2019-05-13 06:30:49
                            15979 2019-05-14 05:12:33 2019-05-13 06:06:24
                            14474 2019-05-14 05:12:33 2019-05-13 05:54:48
                            15944 2019-05-14 05:12:33 2019-05-13 05:22:32
                            14929 2019-05-14 05:12:33 2019-05-13 05:02:27
                 4          2031  2019-05-14 05:26:34                 NaT

                                  sched_obs_start_timediff  otp_to_stop_id  \
otp_itinerary_id otp_leg_id
1                1          0                          NaT             NaN
                 2          0              0 days 01:15:34        386521.0
                            2520           0 days 01:34:10        386521.0
                            3480           0 days 01:52:29        386521.0
                            120            0 days 02:30:22        386521.0
                            1200           0 days 02:43:02        386521.0
                            3600           0 days 03:04:28        386521.0
                            240            0 days 03:40:55        386521.0
                            3720           0 days 04:21:07        386521.0
                            360            0 days 04:55:07        386521.0
                            1320           0 days 05:05:15        386521.0
                            3840           0 days 05:31:25        386521.0
                            480            0 days 06:11:48        386521.0
                            1440           0 days 06:12:01        386521.0
                            1560           0 days 06:22:23        386521.0
                            3960           0 days 06:43:28        386521.0
                            2640           0 days 07:08:39        386521.0
                            1680           0 days 07:37:04        386521.0
                            4080           0 days 07:46:19        386521.0
                            2760           0 days 08:26:14        386521.0
                            600            0 days 08:33:54        386521.0
                            720            0 days 08:37:57        386521.0
                            2880           0 days 09:38:47        386521.0
                            4200           0 days 10:37:42        386521.0
                            4320           0 days 10:41:59        386521.0
                            3000           0 days 10:54:52        386521.0

In [2]:
scheduled_itin_observed_od_full_clean[(scheduled_itin_observed_od_full_clean.otp_route == "944") & (scheduled_itin_observed_od_full_clean.otp_start_time == '2019-05-13 14:05:47') & (scheduled_itin_observed_od_full_clean.otp_itinerary_id == 230)][['otp_itinerary_id','otp_leg_id',"otp_start_time","otp_route","otp_from_stop_id",
                                                                           "otp_from_stop_id", "bt_start_time", "sched_obs_start_timediff"]].sort_values(by=['sched_obs_start_timediff']).head()

NameError: name 'scheduled_itin_observed_od_full_clean' is not defined

In [50]:
a = scheduled_itin_observed_od_full_clean.drop_duplicates(subset=['otp_itinerary_id','otp_leg_id'])

In [51]:
a

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins
0,491551.0,1,1,WALK,nan,NaN,NaN,NaN,2019-05-13 05:13:45,NaT,NaT,NaN,2019-05-13 05:13:46,NaT,NaT,0.016667
0,491551.0,1,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:13:47,2019-05-13 06:29:21,01:15:34,386521.0,2019-05-13 05:43:31,2019-05-13 07:11:02,01:27:31,29.733333
2,491551.0,1,3,WALK,nan,NaN,NaN,NaN,2019-05-13 05:43:31,NaT,NaT,NaN,2019-05-13 05:47:06,NaT,NaT,3.583333
14440,491551.0,1,4,BUS,903B,1016.0,1.0,386641.0,2019-05-13 05:47:40,2019-05-13 05:59:23,00:11:43,386291.0,2019-05-13 05:56:33,2019-05-13 06:06:31,00:09:58,8.883333
4,491551.0,1,5,WALK,nan,NaN,NaN,NaN,2019-05-13 05:56:34,NaT,NaT,NaN,2019-05-13 05:56:35,NaT,NaT,0.016667
5,491551.0,2,1,WALK,nan,NaN,NaN,NaN,2019-05-13 05:13:45,NaT,NaT,NaN,2019-05-13 05:13:46,NaT,NaT,0.016667
1,491551.0,2,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:13:47,2019-05-13 06:29:21,01:15:34,386521.0,2019-05-13 05:43:31,2019-05-13 07:11:02,01:27:31,29.733333
7,491551.0,2,3,WALK,nan,NaN,NaN,NaN,2019-05-13 05:43:31,NaT,NaT,NaN,2019-05-13 05:47:06,NaT,NaT,3.583333
14441,491551.0,2,4,BUS,903B,1016.0,1.0,386641.0,2019-05-13 05:47:40,2019-05-13 05:59:23,00:11:43,386291.0,2019-05-13 05:56:33,2019-05-13 06:06:31,00:09:58,8.883333
9,491551.0,2,5,WALK,nan,NaN,NaN,NaN,2019-05-13 05:56:34,NaT,NaT,NaN,2019-05-13 05:56:35,NaT,NaT,0.016667
10,491551.0,3,1,WALK,nan,NaN,NaN,NaN,2019-05-13 05:13:45,NaT,NaT,NaN,2019-05-13 05:13:46,NaT,NaT,0.016667
2,491551.0,3,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:13:47,2019-05-13 06:29:21,01:15:34,386521.0,2019-05-13 05:43:31,2019-05-13 07:11:02,01:27:31,29.733333
12,491551.0,3,3,WALK,nan,NaN,NaN,NaN,2019-05-13 05:43:31,NaT,NaT,NaN,2019-05-13 05:47:06,NaT,NaT,3.583333
14442,491551.0,3,4,BUS,903B,1016.0,1.0,386641.0,2019-05-13 05:47:40,2019-05-13 05:59:23,00:11:43,386291.0,2019-05-13 05:56:33,2019-05-13 06:06:31,00:09:58,8.883333
14,491551.0,3,5,WALK,nan,NaN,NaN,NaN,2019-05-13 05:56:34,NaT,NaT,NaN,2019-05-13 05:56:35,NaT,NaT,0.016667
15,491551.0,4,1,WALK,nan,NaN,NaN,NaN,2019-05-13 05:13:45,NaT,NaT,NaN,2019-05-13 05:13:46,NaT,NaT,0.016667
3,491551.0,4,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:13:47,2019-05-13 06:29:21,01:15:34,386521.0,2019-05-13 05:43:31,2019-05-13 07:11:02,01:27:31,29.733333
17,491551.0,4,3,WALK,nan,NaN,NaN,NaN,2019-05-13 05:43:31,NaT,NaT,NaN,2019-05-13 05:47:06,NaT,NaT,3.583333
14443,491551.0,4,4,BUS,903B,1016.0,1.0,386641.0,2019-05-13 05:47:40,2019-05-13 05:59:23,00:11:43,386291.0,2019-05-13 05:56:33,2019-05-13 06:06:31,00:09:58,8.883333
19,491551.0,4,5,WALK,nan,NaN,NaN,NaN,2019-05-13 05:56:34,NaT,NaT,NaN,2019-05-13 05:56:35,NaT,NaT,0.016667
20,491551.0,5,1,WALK,nan,NaN,NaN,NaN,2019-05-13 05:18:45,NaT,NaT,NaN,2019-05-13 05:18:46,NaT,NaT,0.016667
4800,491551.0,5,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:18:47,2019-05-13 06:29:21,01:10:34,386255.0,2019-05-13 05:47:02,2019-05-13 07:04:54,01:17:52,28.250000
22,491551.0,5,3,WALK,nan,NaN,NaN,NaN,2019-05-13 05:47:02,NaT,NaT,NaN,2019-05-13 05:47:17,NaT,NaT,0.250000
16225,491551.0,5,4,BUS,020,1046.0,1.0,386254.0,2019-05-13 05:48:13,2019-05-13 05:53:54,00:05:41,386291.0,2019-05-13 06:03:34,2019-05-13 05:44:04,00:19:30,15.350000
24,491551.0,5,5,WALK,nan,NaN,NaN,NaN,2019-05-13 06:03:35,NaT,NaT,NaN,2019-05-13 06:03:36,NaT,NaT,0.016667
25,491551.0,6,1,WALK,nan,NaN,NaN,NaN,2019-05-13 05:17:45,NaT,NaT,NaN,2019-05-13 05:17:46,NaT,NaT,0.016667
4801,491551.0,6,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:17:47,2019-05-13 06:29:21,01:11:34,386255.0,2019-05-13 05:46:02,2019-05-13 07:04:54,01:18:52,28.250000
27,491551.0,6,3,WALK,nan,NaN,NaN,NaN,2019-05-13 05:46:02,NaT,NaT,NaN,2019-05-13 05:46:17,NaT,NaT,0.250000
16226,491551.0,6,4,BUS,020,1046.0,1.0,386254.0,2019-05-13 05:48:13,2019-05-13 05:53:54,00:05:41,386291.0,2019-05-13 06:03:34,2019-05-13 05:44:04,00:19:30,15.350000
29,491551.0,6,5,WALK,nan,NaN,NaN,NaN,2019-05-13 06:03:35,NaT,NaT,NaN,2019-05-13 06:03:36,NaT,NaT,0.016667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002,491551.0,404,1,WALK,nan,NaN,NaN,NaN,2019-05-13 22:33:45,NaT,NaT,NaN,2019-05-13 22:33:46,NaT,NaT,0.016667
3479,491551.0,404,2,BUS,944,1052.0,15.0,491551.0,2019-05-13 22:33:47,2019-05-13 22:20:39,00:13:08,386521.0,2019-05-13 23:03:31,2019-05-13 22:56:25,00:07:06,29.733333
2004,491551.0,404,3,WALK,nan,NaN,NaN,NaN,2019-05-13 23:03:31,NaT,NaT,NaN,2019-05-13 23:05:08,NaT,NaT,1.616667
26819,491551.0,404,4,BUS,555,2014.0,12.0,386113.0,2019-05-13 23:13:33,2019-05-13 22:49:25,00:24:08,386318.0,2019-05-13 23:28:53,2019-05-13 22:24:35,01:04:18,15.333333
2006,491551.0,404,5,WALK,nan,NaN,NaN,NaN,2019-05-13 23:28:54,NaT,NaT,NaN,2019-05-13 23:29:36,NaT,NaT,0.700000
2007,491551.0,405,1,WALK,nan,NaN,NaN,NaN,2019-05-13 23:03:45,NaT,NaT,NaN,2019-05-13 23:03:46,NaT,NaT,0.016667
14420,491551.0,405,2,BUS,944,1051.0,14.0,491551.0,2019-05-13 23:03:47,2019-05-13 22:55:35,00:08:12,385788.0,2019-05-13 23:22:02,2019-05-13 23:15:03,00:06:59,18.250000
2009,491551.0,405,3,WALK,nan,NaN,NaN,NaN,2019-05-13 23:22:02,NaT,NaT,NaN,2019-05-13 23:22:05,NaT,NaT,0.050000
26835,491551.0,405,4,BUS,245,1036.0,8.0,491277.0,2019-05-13 23:25:14,2019-05-13 22:57:21,00:27:53,386228.0,2019-05-14 00:04:41,2019-05-13 23:54:30,00:10:11,39.450000
2011,491551.0,405,5,WALK,nan,NaN,NaN,NaN,2019-05-14 00:04:42,NaT,NaT,NaN,2019-05-14 00:14:18,NaT,NaT,9.600000
2012,491551.0,406,1,WALK,nan,NaN,NaN,NaN,2019-05-13 23:09:45,NaT,NaT,NaN,2019-05-13 23:09:46,NaT,NaT,0.016667
14053,491551.0,406,2,BUS,944,1051.0,14.0,491551.0,2019-05-13 23:09:47,2019-05-13 22:55:35,00:14:12,385834.0,2019-05-13 23:42:47,2019-05-13 23:32:20,00:10:27,33.000000
15345,491551.0,406,3,BUS,903B,1043.0,17.0,385834.0,2019-05-14 05:12:33,2019-05-13 23:22:58,05:49:35,386291.0,2019-05-14 05:26:33,2019-05-13 23:02:58,06:23:35,14.000000
2015,491551.0,406,4,WALK,nan,NaN,NaN,NaN,2019-05-14 05:26:34,NaT,NaT,NaN,2019-05-14 05:26:35,NaT,NaT,0.016667
2016,491551.0,407,1,WALK,nan,NaN,NaN,NaN,2019-05-13 23:09:45,NaT,NaT,NaN,2019-05-13 23:09:46,NaT,NaT,0.016667
14054,491551.0,407,2,BUS,944,1051.0,14.0,491551.0,2019-05-13 23:09:47,2019-05-13 22:55:35,00:14:12,385834.0,2019-05-13 23:42:47,2019-05-13 23:32:20,00:10:27,33.000000
15346,491551.0,407,3,BUS,903B,1043.0,17.0,385834.0,2019-05-14 05:12:33,2019-05-13 23:22:58,05:49:35,386291.0,2019-05-14 05:26:33,2019-05-13 23:02:58,06:23:35,14.000000
2019,491551.0,407,4,WALK,nan,NaN,NaN,NaN,2019-05-14 05:26:34,NaT,NaT,NaN,2019-05-14 05:26:35,NaT,NaT,0.016667
2020,491551.0,408,1,WALK,nan,NaN,NaN,NaN,2019-05-13 23:09:45,NaT,NaT,NaN,2019-05-13 23:09:46,NaT,NaT,0.016667
14055,491551.0,408,2,BUS,944,1051.0,14.0,491551.0,2019-05-13 23:09:47,2019-05-13 22:55:35,00:14:12,385834.0,2019-05-13 23:42:47,2019-05-13 23:32:20,00:10:27,33.000000
15347,491551.0,408,3,BUS,903B,1043.0,17.0,385834.0,2019-05-14 05:12:33,2019-05-13 23:22:58,05:49:35,386291.0,2019-05-14 05:26:33,2019-05-13 23:02:58,06:23:35,14.000000
2023,491551.0,408,4,WALK,nan,NaN,NaN,NaN,2019-05-14 05:26:34,NaT,NaT,NaN,2019-05-14 05:26:35,NaT,NaT,0.016667
2024,491551.0,409,1,WALK,nan,NaN,NaN,NaN,2019-05-13 23:09:45,NaT,NaT,NaN,2019-05-13 23:09:46,NaT,NaT,0.016667
14056,491551.0,409,2,BUS,944,1051.0,14.0,491551.0,2019-05-13 23:09:47,2019-05-13 22:55:35,00:14:12,385834.0,2019-05-13 23:42:47,2019-05-13 23:32:20,00:10:27,33.000000
15348,491551.0,409,3,BUS,903B,1043.0,17.0,385834.0,2019-05-14 05:12:33,2019-05-13 23:22:58,05:49:35,386291.0,2019-05-14 05:26:33,2019-05-13 23:02:58,06:23:35,14.000000
2027,491551.0,409,4,WALK,nan,NaN,NaN,NaN,2019-05-14 05:26:34,NaT,NaT,NaN,2019-05-14 05:26:35,NaT,NaT,0.016667
2028,491551.0,410,1,WALK,nan,NaN,NaN,NaN,2019-05-13 23:03:45,NaT,NaT,NaN,2019-05-13 23:03:46,NaT,NaT,0.016667
14057,491551.0,410,2,BUS,944,1051.0,14.0,491551.0,2019-05-13 23:03:47,2019-05-13 22:55:35,00:08:12,385834.0,2019-05-13 23:36:47,2019-05-13 23:32:20,00:04:27,33.000000
15349,491551.0,410,3,BUS,903B,1043.0,17.0,385834.0,2019-05-14 05:12:33,2019-05-13 23:22:58,05:49:35,386291.0,2019-05-14 05:26:33,2019-05-13 23:02:58,06:23:35,14.000000
2031,491551.0,410,4,WALK,nan,NaN,NaN,NaN,2019-05-14 05:26:34,NaT,NaT,NaN,2019-05-14 05:26:35,NaT,NaT,0.016667

In [ ]:
a[(a.otp_route == "944") & (a.otp_start_time == '2019-05-13 14:05:47') & (a.otp_itinerary_id == 230)][['otp_itinerary_id','otp_leg_id',"otp_start_time","otp_route","otp_from_stop_id",
                                                                           "otp_from_stop_id", "bt_start_time", "sched_obs_start_timediff"]].sort_values(by=['sched_obs_start_timediff']).head()

In [ ]:
alfa = scheduled_itin_observed_od_full_clean[((scheduled_itin_observed_od_full_clean['sched_obs_start_timediff']  >= pd.Timedelta('0s')) & (scheduled_itin_observed_od_full_clean['sched_obs_end_timediff']< pd.Timedelta('1.5h')))]

In [ ]:
# Filtering out itineraries which lost bus legs along the processing


curr_matched_itins_num_legs = alfa.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(np.unique(x))}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})

In [ ]:
original_suggested_itins_num_legs = otp_suggestions.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(x)}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})

In [ ]:
complete_matched_itins = original_suggested_itins_num_legs

In [ ]:
complete_matched_itins

In [ ]:
all_complete_vehicle_legs_options = alfa.merge(complete_matched_itins.drop('num_legs', axis=1), how='inner')

In [ ]:
all_complete_vehicle_legs_options

In [ ]:
def is_new_itinerary(prev_trip_id,curr_trip_id,prev_itin_id,curr_itin_id):
    return ((prev_trip_id != curr_trip_id) | (prev_itin_id != curr_itin_id))

def choose_leg_matches(leg_matches_groups):
        colnames = leg_matches_groups.obj.columns.values
        chosen_leg_matches = pd.DataFrame(columns = colnames)
        prev_trip_id = -1
        prev_itin_id = -1
        prev_leg_mode = ""
        prev_leg_end_time = pd.NaT
        num_groups_not_survived = 0
        new_itinerary = False

        for name, group in leg_matches_groups:
            
                #print
                #print "Name:", name
                #print "Group:"
                #print group
                #print
                
                curr_trip_id = group['otp_user_trip_id'].iloc[0]
                curr_itin_id = group['otp_itinerary_id'].iloc[0]
                curr_leg_id = group['otp_leg_id'].iloc[0]
                curr_leg_mode = group['otp_mode'].iloc[0]
                
                new_itinerary = is_new_itinerary(prev_trip_id,curr_trip_id,prev_itin_id,curr_itin_id)
                if new_itinerary:
                    prev_leg_end_time = group['otp_start_time'].dt.floor('d').iloc[0]

                #if (prev_group_id == ()):
                #        prev_leg_end_time = group['bt_start_time'].dt.floor('d')[0]

                #print
                #print "Previous itinerary id:", prev_itin_id
                #print "Previous leg mode:", prev_leg_mode
                #print "Previous leg end time:", prev_leg_end_time
                #print "Current leg id:", curr_leg_id
                #print "Current leg mode:", curr_leg_mode
                #print
                #print "Original Group"
                #print group.filter(['otp_start_time','bt_start_time','bt_end_time'])
                
                if (curr_leg_mode == 'WALK'):
                    #print "Walking duration:", filtered_group['otp_duration_mins']
                    filtered_group = group.reset_index()
                    if new_itinerary: #first leg is a WALK leg
                        filtered_group.loc[0,'bt_end_time'] = prev_leg_end_time
                    else:
                        filtered_group.loc[0,'bt_start_time'] = prev_leg_end_time
                        filtered_group.loc[0,'bt_end_time'] = prev_leg_end_time + \
                            pd.Timedelta(minutes=np.rint(filtered_group['otp_duration_mins'].iloc[0]))
                    #print "Filtered Group"
                    #print filtered_group
                else:
                    filtered_group = group[group['bt_start_time'] > prev_leg_end_time]
                
                #print
                #print "Filtered Group"
                #print filtered_group.filter(['otp_start_time','bt_start_time','bt_end_time'])

                if (len(filtered_group) == 0):
                        #print "Group did not survive! =("
                        #print
                        #print "Previous itinerary id:", prev_itin_id
                        #print "Previous leg mode:", prev_leg_mode
                        #print "Previous leg end time:", prev_leg_end_time
                        #print "Current leg id:", curr_leg_id
                        #print "Current leg mode:", curr_leg_mode
                        #print
                        #print "Original Group"
                        #print group#.filter(['otp_start_time','bt_start_time','bt_end_time'])
                        num_groups_not_survived += 1
                        continue

                chosen_leg_match = filtered_group.sort_values('bt_start_time').iloc[0]
                
                if ((curr_leg_id == 2) & 
                    ((curr_leg_mode == 'BUS') & (prev_leg_mode == 'WALK'))):
                        #Update previous walk start/end_times
                        #print
                        #print "Chosen Leg Matches"
                        #print chosen_leg_matches.iloc[-1]
                        #print
                        chosen_leg_matches.iloc[-1,chosen_leg_matches.columns.get_loc('bt_start_time')] = chosen_leg_match['bt_start_time'] - \
                            pd.Timedelta(minutes=np.rint(chosen_leg_matches.iloc[-1].otp_duration_mins))
                        chosen_leg_matches.iloc[-1,chosen_leg_matches.columns.get_loc('bt_end_time')] = chosen_leg_match['bt_start_time']
                #print "Chosen Leg"
                #print chosen_leg_match

                chosen_leg_matches = chosen_leg_matches.append(chosen_leg_match)

                #Update variables
                #prev_group_id = name
                prev_trip_id = curr_trip_id
                prev_itin_id = curr_itin_id
                prev_leg_mode = curr_leg_mode
                prev_leg_end_time = chosen_leg_match['bt_end_time']

        #print "Number of groups which did not survive:", num_groups_not_survived
        return chosen_leg_matches.filter(colnames)

In [ ]:
# Choose best actual leg matches (based on feasibility and start time)
feasible_legs = choose_leg_matches(scheduled_itin_observed_od_full_clean.groupby(['otp_user_trip_id','otp_itinerary_id','otp_leg_id']))

if len(feasible_legs) == 0:
    print "No matches left after matching and selecting feasible bus legs."
    print "Skipping next steps..."
    exit(0)

# Filtering out itineraries which lost bus legs after feasible legs choice processing
feasible_itins_num_legs = feasible_legs.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(x)}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})

feasible_complete_itins = feasible_itins_num_legs.merge(original_suggested_itins_num_legs,how='inner')

feasible_complete_itins_legs = feasible_legs.merge(feasible_complete_itins.drop('num_legs', axis=1),how='inner')

In [ ]:
def add_stops_data_to_legs(itineraries_legs,stops_locs):
    itineraries_legs_stops = itineraries_legs.merge(stops_locs, left_on='otp_from_stop_id', right_on='stop_id', how='left') \
                                                                                .drop('stop_id', axis=1) \
                                                                                .rename(index=str, columns={'stop_lat':'from_stop_lat','stop_lon':'from_stop_lon'}) \
                                                                                .merge(stops_locations, left_on='otp_to_stop_id', right_on='stop_id', how='left') \
                                                                                .drop('stop_id', axis=1) \
                                                                                .rename(index=str, columns={'stop_lat':'to_stop_lat','stop_lon':'to_stop_lon'}) 
    return itineraries_legs_stops

In [ ]:
stops_locations = stops_df[['stop_id','stop_lat','stop_lon']]
itineraries_legs = add_stops_data_to_legs(feasible_complete_itins_legs,stops_locations)

In [ ]:
feasible_complete_itins_legs