In [154]:
#Libraries

#Python Libs
import sys
import os
import glob
import traceback
from datetime import datetime
import time
#from geopy import distance


#Data Analysis Libs
import pandas as pd
import numpy as np

In [155]:
#Functions
def select_input_files(enh_buste_base_path,init_date,fin_date,suffix):
        selected_files = []
        all_files = glob.glob(os.path.join(enh_buste_base_path,"*"))

        for file_ in all_files:
                try:
                        file_date = pd.to_datetime(file_.split('/')[-1],format=('%Y_%m_%d' + suffix  + '.csv'))
                        if (file_date >= init_date) and (file_date <= fin_date):
                                selected_files.append((file_,file_date))
                except:
                        continue

        return sorted(selected_files)

def get_gtfs_path(query_date):
    INTERMEDIATE_OTP_DATE = pd.to_datetime("2019-02-05", format="%Y-%m-%d")
    router_id = ''

    if (query_date <= INTERMEDIATE_OTP_DATE):
        return 'campina-gtfs-2019'
    else:
        return 'campina-gtfs-2017'

In [156]:
## Main

In [157]:
otp_suggestions_folderpath = 'data/output/output_merged_otp_bulma/january'
#otp_suggestions_filepath = 'data/output/2019_02_02_bus_trips_otp_itineraries.csv'
bus_trips_folderpath = 'data/input/bus_trips/january'
gtfs_base_folderpath = 'data/input'
output_folderpath = 'data/output'

In [158]:
# for file in os.listdir(otp_suggestions_folderpath):
#     otp_suggestions_filepath = otp_suggestions_folderpath + "/" + file
#     print otp_suggestions_filepath

In [159]:
#gtfs_base_folderpath + os.sep + get_gtfs_path(file_date) + os.sep
otp_suggestions_filepath = 'data/output/output_otp/january/2019_01_08_bus_trips_otp_itineraries.csv'

In [160]:
file_date_str = otp_suggestions_filepath.split('/')[-1].split('_bus_trips_')[0]
file_date = pd.to_datetime(file_date_str,format='%Y_%m_%d')
print "Processing File:", otp_suggestions_filepath

Processing File: data/output/output_otp/january/2019_01_08_bus_trips_otp_itineraries.csv

In [161]:
otp_suggestions_filepath

'data/output/output_otp/january/2019_01_08_bus_trips_otp_itineraries.csv'

In [162]:
print pd.to_datetime(1549023680000/1000, unit='s')
print pd.to_datetime(1549095223000/1000, unit='s')

2019-02-01 12:21:20
2019-02-02 08:13:43

In [163]:
    # Extracting itinerary part name for later use
    itinerary_part_name = otp_suggestions_filepath.split('/')[-1].split('_')[5]
    # Read OTP Suggestions
    otp_suggestions_raw = pd.read_csv(otp_suggestions_filepath, parse_dates=['date','otp_start_time','otp_end_time'])

#     if len(otp_suggestions_raw) == 0:
#         print "Zero OTP suggestions found."
#         print "Skipping next steps..."
#         exit(0)

In [164]:
otp_suggestions_raw.head(10)

,date,user_trip_id,itinerary_id,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins
0,2019-01-08,491551.0,1,1,2019-01-08 17:53:45,2019-01-08 17:53:46,WALK,NaN,NaN,NaN,0.016667
1,2019-01-08,491551.0,1,2,2019-01-08 17:53:47,2019-01-08 18:23:31,BUS,944,491551.0,386521.0,29.733333
2,2019-01-08,491551.0,1,3,2019-01-08 18:35:54,2019-01-08 19:00:04,BUS,220,386521.0,386259.0,24.166667
3,2019-01-08,491551.0,1,4,2019-01-08 19:00:05,2019-01-08 19:02:34,WALK,NaN,NaN,NaN,2.483333
4,2019-01-08,491551.0,2,1,2019-01-08 18:23:45,2019-01-08 18:23:46,WALK,NaN,NaN,NaN,0.016667
5,2019-01-08,491551.0,2,2,2019-01-08 18:23:47,2019-01-08 18:53:31,BUS,944,491551.0,386521.0,29.733333
6,2019-01-08,491551.0,2,3,2019-01-08 19:09:33,2019-01-08 19:33:43,BUS,220,386521.0,386259.0,24.166667
7,2019-01-08,491551.0,2,4,2019-01-08 19:33:44,2019-01-08 19:36:13,WALK,NaN,NaN,NaN,2.483333
8,2019-01-08,491551.0,3,1,2019-01-08 18:40:03,2019-01-08 18:50:48,WALK,NaN,NaN,NaN,10.750000
9,2019-01-08,491551.0,3,2,2019-01-08 18:50:49,2019-01-08 19:09:04,BUS,944A,385814.0,385786.0,18.250000

In [165]:
def prepare_otp_data(otp_data):
        #Fixing prefix
        otp_data.columns = otp_data.columns.str.replace('otp_','')
        otp_data = otp_data.add_prefix('otp_')
        
        #Fixing Timezone difference - when needed
        otp_data['otp_start_time'] = otp_data['otp_start_time'] - pd.Timedelta('10800 s')
        otp_data['otp_end_time'] = otp_data['otp_end_time'] - pd.Timedelta('10800 s')
        
        #Adjusting route format to have 3 numbers
        otp_data['otp_route'] = otp_data['otp_route'].astype(str)
        otp_data['otp_route'] = np.where(otp_data['otp_mode'] == 'BUS',
                            otp_data['otp_route'].astype(str).str.replace("\.0",'').str.zfill(3),
                            otp_data['otp_route'])

        return otp_data

In [166]:
    # Prepare OTP data for analysis
    otp_suggestions = prepare_otp_data(otp_suggestions_raw)    
    
    # Read stops data
    stops_filepath = gtfs_base_folderpath + os.sep + get_gtfs_path(file_date) + os.sep + 'stops.txt'
    stops_df = pd.read_csv(stops_filepath)
    
    # Adding Parent Stop data to OTP Suggestions TODO
    stops_parent_stations = stops_df[['stop_id','parent_station']]
    otp_suggestions = otp_suggestions.merge(stops_parent_stations.add_prefix('from_'),
                                                left_on='otp_from_stop_id',
                                                right_on='from_stop_id',
                                                how='left') \
                                        .merge(stops_parent_stations.add_prefix('to_'),
                                                left_on='otp_to_stop_id',
                                                right_on='to_stop_id',
                                                how='left') \
                                        .drop(['from_stop_id','to_stop_id'], axis=1) \
                                        .rename(index=str, columns={'from_parent_station':'otp_from_parent_station',
                                                                    'to_parent_station':'otp_to_parent_station'})
        
    otp_suggestions_bus_legs = otp_suggestions[otp_suggestions['otp_mode'] == 'BUS']
    otp_suggestions_walk_legs = otp_suggestions[otp_suggestions['otp_mode'] == 'WALK']

In [167]:
#otp_suggestions.drop_duplicates(subset=['otp_leg_id','otp_end_time','otp_mode','otp_duration_mins'],inplace=True)
#otp_suggestions.duplicated(subset=['otp_leg_id','otp_end_time','otp_mode','otp_duration_mins'])
otp_suggestions.head(10)

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,2019-01-08,491551.0,1,1,2019-01-08 14:53:45,2019-01-08 14:53:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
1,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN
2,2019-01-08,491551.0,1,3,2019-01-08 15:35:54,2019-01-08 16:00:04,BUS,220,386521.0,386259.0,24.166667,NaN,NaN
3,2019-01-08,491551.0,1,4,2019-01-08 16:00:05,2019-01-08 16:02:34,WALK,nan,NaN,NaN,2.483333,NaN,NaN
4,2019-01-08,491551.0,2,1,2019-01-08 15:23:45,2019-01-08 15:23:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
5,2019-01-08,491551.0,2,2,2019-01-08 15:23:47,2019-01-08 15:53:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN
6,2019-01-08,491551.0,2,3,2019-01-08 16:09:33,2019-01-08 16:33:43,BUS,220,386521.0,386259.0,24.166667,NaN,NaN
7,2019-01-08,491551.0,2,4,2019-01-08 16:33:44,2019-01-08 16:36:13,WALK,nan,NaN,NaN,2.483333,NaN,NaN
8,2019-01-08,491551.0,3,1,2019-01-08 15:40:03,2019-01-08 15:50:48,WALK,nan,NaN,NaN,10.750000,NaN,NaN
9,2019-01-08,491551.0,3,2,2019-01-08 15:50:49,2019-01-08 16:09:04,BUS,944A,385814.0,385786.0,18.250000,NaN,NaN

## Read and Prepare Bus Trip Data

In [168]:
bus_trips_folderpath + os.sep + file_date_str + '_bus_trips.csv'

'data/input/bus_trips/january/2019_01_08_bus_trips.csv'

In [169]:
bus_trips_filepath = bus_trips_folderpath + os.sep + file_date_str + '_bus_trips.csv'
bus_trips = pd.read_csv(bus_trips_filepath, dtype={'route': object},parse_dates=['gps_datetime']) \
                                        .sort_values(['route','busCode','tripNum','gps_datetime']) \
                                        .assign(route = lambda x: x['route'].astype(str).str.replace("\.0",'').str.zfill(3))  \
                                        .drop_duplicates()

In [170]:
bus_trips.head(10)

,route,tripNum,shapeId,routeFrequency,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,busCode,gpsPointId,gpsLat,gpsLon,distanceToShapePoint,gps_datetime,stopPointId,streetName,problem
70483,003,-,140305,low_frequency,1,-7.22063,-35.88955,0.0,-,-,-,-,-,-,703787,-,BETWEEN
70484,003,1,140305,low_frequency,69,-7.21628,-35.85904,4533.0,-,-,-,-,-,-,497969,-,BETWEEN
70485,003,1,140305,low_frequency,71,-7.21568,-35.85810,4657.0,-,-,-,-,-,-,497970,-,BETWEEN
70486,003,1,140305,low_frequency,77,-7.21439,-35.85596,4933.0,-,-,-,-,-,-,385963,-,BETWEEN
70487,003,1,140305,low_frequency,84,-7.21483,-35.85349,5232.0,-,-,-,-,-,-,385958,-,BETWEEN
70488,003,1,140305,low_frequency,89,-7.21386,-35.85467,5552.0,-,-,-,-,-,-,385959,-,BETWEEN
70489,003,1,140305,low_frequency,94,-7.21496,-35.85687,5881.0,-,-,-,-,-,-,497973,-,BETWEEN
70490,003,1,140305,low_frequency,102,-7.21417,-35.85934,6226.0,-,-,-,-,-,-,491437,-,BETWEEN
70482,003,10,140305,low_frequency,102,-7.21417,-35.85934,6226.0,-,-,-,-,-,-,491437,-,BETWEEN
70472,003,11,140305,low_frequency,102,-7.21417,-35.85934,6226.0,-,-,-,-,-,-,491437,-,BETWEEN

In [171]:
#bus_trips[(bus_trips.route == "944") & (bus_trips.stopPointId == 491551.0)].head()
#bus_trips['gps_datetime'] = pd.to_datetime(bus_trips['gps_datetime'], format='%Y_%m_%d %H:%M:%S')

In [172]:
#trezentos = bus_trips[(bus_trips.route == "333")]
#output = trezentos.to_csv("data/output/trezentos.csv",index=False)

In [173]:
bus_trips_clean = bus_trips.filter(['route','busCode','tripNum','stopPointId','gps_datetime'])

In [174]:
bus_trips_clean.head()

      route busCode tripNum  stopPointId gps_datetime
70483   003       -       -       703787            -
70484   003       -       1       497969            -
70485   003       -       1       497970            -
70486   003       -       1       385963            -
70487   003       -       1       385958            -

In [175]:
#bus_trips_clean[bus_trips_clean.route == "944"].head()

In [176]:
bus_trips_clean.dtypes

route           object
busCode         object
tripNum         object
stopPointId      int64
gps_datetime    object
dtype: object

In [177]:
otp_suggestions_bus_legs.dtypes

otp_date                   datetime64[ns]
otp_user_trip_id                  float64
otp_itinerary_id                    int64
otp_leg_id                          int64
otp_start_time             datetime64[ns]
otp_end_time               datetime64[ns]
otp_mode                           object
otp_route                          object
otp_from_stop_id                  float64
otp_to_stop_id                    float64
otp_duration_mins                 float64
otp_from_parent_station           float64
otp_to_parent_station             float64
dtype: object

## Identify Possible Matches between OTP Itineraries and Bus Trips Observed Data

In [178]:
#bus_trips_clean.gps_datetime = bus_trips_clean.drop(bus_trips_clean.gps_datetime[bus_trips_clean.gps_datetime == "-"].index, inplace=True)

bus_trips_clean.drop(bus_trips_clean.loc[bus_trips_clean['gps_datetime']=='-'].index, inplace=True)


#bus_trips_clean = bus_trips_clean[bus_trips_clean.gps_datetime == "-"]
bus_trips_clean.dtypes
#bus_trips_clean.gps_datetime = pd.to_datetime(bus_trips_clean.gps_datetime)
#pd.to_datetime('01-02-2019 06:01:01')
bus_trips_clean.head()

      route busCode tripNum  stopPointId         gps_datetime
91334   003    1037       1       386305  08-01-2019 06:34:08
91335   003    1037       1       386648  08-01-2019 06:35:17
91336   003    1037       1       497796  08-01-2019 06:36:48
91337   003    1037       1       497906  08-01-2019 06:37:19
91338   003    1037       1       386065  08-01-2019 06:38:03

In [179]:
bus_trips_clean['gps_datetime'] = pd.to_datetime(bus_trips_clean['gps_datetime'], format='%d-%m-%Y %H:%M:%S')
bus_trips_clean.head()

      route busCode tripNum  stopPointId        gps_datetime
91334   003    1037       1       386305 2019-01-08 06:34:08
91335   003    1037       1       386648 2019-01-08 06:35:17
91336   003    1037       1       497796 2019-01-08 06:36:48
91337   003    1037       1       497906 2019-01-08 06:37:19
91338   003    1037       1       386065 2019-01-08 06:38:03

In [180]:
scheduled_itin_observed_o = otp_suggestions_bus_legs.merge(bus_trips_clean.add_prefix('bt_'),
                                left_on=['otp_route','otp_from_stop_id'],
                                right_on=['bt_route','bt_stopPointId'],
                                how='inner') \
                                .drop(['bt_route','bt_stopPointId'], axis=1) \
                                .rename(index=str, columns={'bt_gps_datetime':'bt_start_time',
                                                            'bt_tripNum':'bt_trip_num',
                                                            'bt_busCode':'bt_bus_code'}) \
                                .assign(sched_obs_start_timediff = 
                                        lambda x: np.absolute(pd.to_datetime(x['bt_start_time']) - x['otp_start_time']))

In [181]:
#bus_trips_clean[(bus_trips_clean.route == "944") & (bus_trips_clean.stopPointId == 491551.0)].sort_values(by=['gps_datetime']).head()

In [182]:
scheduled_itin_observed_o.head(10)

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff
0,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,1,2019-01-08 06:19:33,08:34:14
1,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,2,2019-01-08 07:42:00,07:11:47
2,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,3,2019-01-08 08:14:08,06:39:39
3,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,4,2019-01-08 09:06:15,05:47:32
4,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,5,2019-01-08 10:08:08,04:45:39
5,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,7,2019-01-08 13:52:09,01:01:38
6,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,8,2019-01-08 13:55:44,00:58:03
7,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,9,2019-01-08 17:41:09,02:47:22
8,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,10,2019-01-08 18:50:06,03:56:19
9,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,11,2019-01-08 18:53:57,04:00:10

In [183]:
#scheduled_itin_observed_o[(scheduled_itin_observed_o.otp_route == "944") & (scheduled_itin_observed_o.otp_start_time == '2019-05-13 14:05:47')][['otp_itinerary_id',"otp_start_time","otp_route","otp_from_stop_id",
                                                                           #"otp_from_stop_id", "bt_start_time", "sched_obs_start_timediff"]].sort_values(by=['sched_obs_start_timediff']).head()
#scheduled_itin_observed_o[(scheduled_itin_observed_o.otp_itinerary_id == 112)]

In [184]:
scheduled_itin_observed_o_1 = scheduled_itin_observed_o[(scheduled_itin_observed_o.otp_mode == "BUS") & (scheduled_itin_observed_o.sched_obs_start_timediff >= pd.Timedelta('0s'))  ]#& (scheduled_itin_observed_o.sched_obs_start_timediff < pd.Timedelta('1.5h'))]
scheduled_itin_observed_o_1

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff
0,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,1,2019-01-08 06:19:33,08:34:14
1,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,2,2019-01-08 07:42:00,07:11:47
2,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,3,2019-01-08 08:14:08,06:39:39
3,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,4,2019-01-08 09:06:15,05:47:32
4,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,5,2019-01-08 10:08:08,04:45:39
5,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,7,2019-01-08 13:52:09,01:01:38
6,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,8,2019-01-08 13:55:44,00:58:03
7,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,9,2019-01-08 17:41:09,02:47:22
8,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,10,2019-01-08 18:50:06,03:56:19
9,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,11,2019-01-08 18:53:57,04:00:10
10,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1051,2,2019-01-08 07:50:31,07:03:16
11,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1051,3,2019-01-08 09:03:02,05:50:45
12,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1051,4,2019-01-08 10:17:57,04:35:50
13,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1051,7,2019-01-08 12:58:05,01:55:42
14,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1051,9,2019-01-08 16:42:06,01:48:19
15,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1051,10,2019-01-08 17:53:10,02:59:23
16,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1051,11,2019-01-08 18:54:13,04:00:26
17,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1051,12,2019-01-08 20:19:12,05:25:25
18,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1051,13,2019-01-08 20:43:23,05:49:36
19,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1066,1,2019-01-08 08:09:59,06:43:48
20,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1066,2,2019-01-08 09:35:20,05:18:27
21,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1052,1,2019-01-08 06:48:33,08:05:14
22,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1052,11,2019-01-08 17:28:14,02:34:27
23,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1052,2,2019-01-08 07:18:37,07:35:10
24,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1052,3,2019-01-08 07:59:58,06:53:49
25,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1052,6,2019-01-08 12:21:32,02:32:15
26,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1052,7,2019-01-08 12:25:05,02:28:42
27,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1052,8,2019-01-08 13:39:16,01:14:31
28,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1052,9,2019-01-08 14:55:12,00:01:25
29,2019-01-08,491551.0,2,2,2019-01-08 15:23:47,2019-01-08 15:53:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,1,2019-01-08 06:19:33,09:04:14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6205,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3040,6,2019-01-08 14:57:18,05:56:41
6206,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3040,7,2019-01-08 17:17:56,03:36:03
6207,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3040,8,2019-01-08 18:23:31,02:30:28
6208,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3040,9,2019-01-08 18:55:04,01:58:55
6209,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3045,1,2019-01-08 06:31:13,14:22:46
6210,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3045,10,2019-01-08 14:49:59,06:04:00
6211,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3045,11,2019-01-08 16:01:00,04:52:59
6212,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3045,12,2019-01-08 17:12:19,03:41:40
6213,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3045,13,2019-01-08 18:29:27,02:24:32
6214,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3045,14,2019-01-08 19:36:21,01:17:38
6215,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3045,15,2019-01-08 20:37:59,00:16:00
6216,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3045,2,2019-01-08 07:31:59,13:22:00
6217,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3045,3,2019-01-08 08:43:03,12:10:56
6218,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3045,4,2019-01-08 09:58:58,10:55:01
6219,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3045,5,2019-01-08 10:09:59,10:44:00
6220,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3045,6,2019-01-08 10:43:54,10:10:05
6221,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3045,8,2019-01-08 12:18:42,08:35:17
6222,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3045,9,2019-01-08 13:04:35,07:49:24
6223,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3049,1,2019-01-08 07:11:58,13:42:01
6224,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3049,10,2019-01-08 17:23:59,03:30:00
6225,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3049,11,2019-01-08 19:12:16,01:41:43
6226,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3049,12,2019-01-08 22:29:58,01:35:59
6227,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3049,2,2019-01-08 08:19:54,12:34:05
6228,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3049,3,2019-01-08 09:35:55,11:18:04
6229,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3049,4,2019-01-08 10:41:44,10:12:15
6230,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3049,5,2019-01-08 11:54:10,08:59:49
6231,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3049,6,2019-01-08 13:06:10,07:47:49
6232,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3049,7,2019-01-08 14:25:18,06:28:41
6233,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3049,8,2019-01-08 15:32:34,05:21:25
6234,2019-01-08,491551.0,11,4,2019-01-08 20:53:59,2019-01-08 21:06:28,BUS,909,385746.0,386212.0,12.483333,NaN,NaN,3049,9,2019-01-08 16:43:45,04:10:14

In [185]:
scheduled_itin_observed_od = scheduled_itin_observed_o.merge(bus_trips_clean.add_prefix('bt_'),
                                left_on=['otp_route','bt_bus_code','bt_trip_num','otp_to_stop_id'],
                                right_on=['bt_route','bt_busCode','bt_tripNum','bt_stopPointId'],
                                how='inner') \
                                .drop(['bt_route','bt_stopPointId'], axis=1) \
                                .rename(index=str, columns={'bt_gps_datetime':'bt_end_time'}) \
                                .assign(sched_obs_end_timediff = 
                                        lambda x: np.absolute(x['bt_end_time'] - x['otp_end_time'])) \
                                .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','sched_obs_start_timediff','sched_obs_end_timediff'])

In [186]:
scheduled_itin_observed_od.head()

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,...,otp_from_parent_station,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff,bt_busCode,bt_tripNum,bt_end_time,sched_obs_end_timediff
1616,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:08:21,BUS,944,491551.0,497505.0,...,NaN,NaN,1052,9,2019-01-08 14:55:12,00:01:25,1052,9,2019-01-08 15:13:06,00:04:45
1038,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:13:40,BUS,944,491551.0,385784.0,...,NaN,NaN,1052,9,2019-01-08 14:55:12,00:01:25,1052,9,2019-01-08 15:19:42,00:06:02
775,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:18:09,BUS,944,491551.0,386653.0,...,NaN,NaN,1052,9,2019-01-08 14:55:12,00:01:25,1052,9,2019-01-08 15:25:56,00:07:47
1357,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:22:02,BUS,944,491551.0,386255.0,...,NaN,NaN,1052,9,2019-01-08 14:55:12,00:01:25,1052,9,2019-01-08 15:30:41,00:08:39
308,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,...,NaN,NaN,1052,9,2019-01-08 14:55:12,00:01:25,1052,9,2019-01-08 15:34:52,00:11:21

In [187]:
scheduled_itin_observed_od['bt_duration_mins'] = (scheduled_itin_observed_od['bt_end_time'] - scheduled_itin_observed_od['bt_start_time'])/pd.Timedelta(minutes=1)
scheduled_itin_observed_od = scheduled_itin_observed_od[scheduled_itin_observed_od['bt_duration_mins'] > 0]

In [188]:
scheduled_itin_observed_od

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,...,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff,bt_busCode,bt_tripNum,bt_end_time,sched_obs_end_timediff,bt_duration_mins
1616,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:08:21,BUS,944,491551.0,497505.0,...,NaN,1052,9,2019-01-08 14:55:12,00:01:25,1052,9,2019-01-08 15:13:06,00:04:45,17.900000
1038,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:13:40,BUS,944,491551.0,385784.0,...,NaN,1052,9,2019-01-08 14:55:12,00:01:25,1052,9,2019-01-08 15:19:42,00:06:02,24.500000
775,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:18:09,BUS,944,491551.0,386653.0,...,NaN,1052,9,2019-01-08 14:55:12,00:01:25,1052,9,2019-01-08 15:25:56,00:07:47,30.733333
1357,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:22:02,BUS,944,491551.0,386255.0,...,NaN,1052,9,2019-01-08 14:55:12,00:01:25,1052,9,2019-01-08 15:30:41,00:08:39,35.483333
308,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,...,NaN,1052,9,2019-01-08 14:55:12,00:01:25,1052,9,2019-01-08 15:34:52,00:11:21,39.666667
1793,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:26:47,BUS,944,491551.0,385834.0,...,NaN,1052,9,2019-01-08 14:55:12,00:01:25,1052,9,2019-01-08 15:39:36,00:12:49,44.400000
906,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:13:40,BUS,944,491551.0,385784.0,...,NaN,1002,8,2019-01-08 13:55:44,00:58:03,1002,8,2019-01-08 14:47:28,00:26:12,51.733333
1440,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:08:21,BUS,944,491551.0,497505.0,...,NaN,1002,8,2019-01-08 13:55:44,00:58:03,1002,8,2019-01-08 14:32:20,00:36:01,36.600000
1661,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:26:47,BUS,944,491551.0,385834.0,...,NaN,1002,8,2019-01-08 13:55:44,00:58:03,1002,8,2019-01-08 14:39:33,00:47:14,43.816667
66,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,...,NaN,1002,8,2019-01-08 13:55:44,00:58:03,1002,8,2019-01-08 14:34:43,00:48:48,38.983333
1115,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:22:02,BUS,944,491551.0,386255.0,...,NaN,1002,8,2019-01-08 13:55:44,00:58:03,1002,8,2019-01-08 14:29:44,00:52:18,34.000000
577,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:18:09,BUS,944,491551.0,386653.0,...,NaN,1002,8,2019-01-08 13:55:44,00:58:03,1002,8,2019-01-08 14:24:49,00:53:20,29.083333
1787,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:26:47,BUS,944,491551.0,385834.0,...,NaN,1052,8,2019-01-08 13:39:16,01:14:31,1052,8,2019-01-08 14:28:24,00:58:23,49.133333
297,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,...,NaN,1052,8,2019-01-08 13:39:16,01:14:31,1052,8,2019-01-08 14:22:37,01:00:54,43.350000
1346,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:22:02,BUS,944,491551.0,386255.0,...,NaN,1052,8,2019-01-08 13:39:16,01:14:31,1052,8,2019-01-08 14:18:26,01:03:36,39.166667
766,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:18:09,BUS,944,491551.0,386653.0,...,NaN,1052,8,2019-01-08 13:39:16,01:14:31,1052,8,2019-01-08 14:12:43,01:05:26,33.450000
1032,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:13:40,BUS,944,491551.0,385784.0,...,NaN,1052,8,2019-01-08 13:39:16,01:14:31,1052,8,2019-01-08 14:04:21,01:09:19,25.083333
1608,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:08:21,BUS,944,491551.0,497505.0,...,NaN,1052,8,2019-01-08 13:39:16,01:14:31,1052,8,2019-01-08 13:57:26,01:10:55,18.166667
1703,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:26:47,BUS,944,491551.0,385834.0,...,NaN,1051,7,2019-01-08 12:58:05,01:55:42,1051,7,2019-01-08 13:45:44,01:41:03,47.650000
143,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,...,NaN,1051,7,2019-01-08 12:58:05,01:55:42,1051,7,2019-01-08 13:40:16,01:43:15,42.183333
640,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:18:09,BUS,944,491551.0,386653.0,...,NaN,1051,7,2019-01-08 12:58:05,01:55:42,1051,7,2019-01-08 13:29:54,01:48:15,31.816667
1192,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:22:02,BUS,944,491551.0,386255.0,...,NaN,1051,7,2019-01-08 12:58:05,01:55:42,1051,7,2019-01-08 13:33:44,01:48:18,35.650000
948,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:13:40,BUS,944,491551.0,385784.0,...,NaN,1051,7,2019-01-08 12:58:05,01:55:42,1051,7,2019-01-08 13:22:17,01:51:23,24.200000
1496,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:08:21,BUS,944,491551.0,497505.0,...,NaN,1051,7,2019-01-08 12:58:05,01:55:42,1051,7,2019-01-08 13:15:00,01:53:21,16.916667
1026,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:13:40,BUS,944,491551.0,385784.0,...,NaN,1052,7,2019-01-08 12:25:05,02:28:42,1052,7,2019-01-08 13:10:14,02:03:26,45.150000
1781,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:26:47,BUS,944,491551.0,385834.0,...,NaN,1052,7,2019-01-08 12:25:05,02:28:42,1052,7,2019-01-08 13:12:08,02:14:39,47.050000
286,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,...,NaN,1052,7,2019-01-08 12:25:05,02:28:42,1052,7,2019-01-08 13:02:30,02:21:01,37.416667
757,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:18:09,BUS,944,491551.0,386653.0,...,NaN,1052,7,2019-01-08 12:25:05,02:28:42,1052,7,2019-01-08 12:55:17,02:22:52,30.200000
1335,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:22:02,BUS,944,491551.0,386255.0,...,NaN,1052,7,2019-01-08 12:25:05,02:28:42,1052,7,2019-01-08 12:58:38,02:23:24,33.550000
1600,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:08:21,BUS,944,491551.0,497505.0,...,NaN,1052,7,2019-01-08 12:25:05,02:28:42,1052,7,2019-01-08 12:42:41,02:25:40,17.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3575,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-08 23:46:51,BUS,092,386341.0,386138.0,...,NaN,2015,2,2019-01-08 08:39:31,14:56:53,2015,2,2019-01-08 08:46:28,15:00:23,6.950000
3591,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-08 23:46:51,BUS,092,386341.0,386138.0,...,NaN,2039,1,2019-01-08 08:07:32,15:28:52,2039,1,2019-01-08 08:16:22,15:30:29,8.833333
2694,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-08 23:54:33,BUS,092,386341.0,386169.0,...,NaN,2039,1,2019-01-08 08:07:32,15:28:52,2039,1,2019-01-08 08:23:49,15:30:44,16.283333
3341,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-09 00:00:35,BUS,092,386341.0,386737.0,...,NaN,2039,1,2019-01-08 08:07:32,15:28:52,2039,1,2019-01-08 08:27:59,15:32:36,20.450000
2616,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-08 23:54:33,BUS,092,386341.0,386169.0,...,NaN,2032,3,2019-01-08 08:05:09,15:31:15,2032,3,2019-01-08 08:25:46,15:28:47,20.616667
3579,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-08 23:46:51,BUS,092,386341.0,386138.0,...,NaN,2032,3,2019-01-08 08:05:09,15:31:15,2032,3,2019-01-08 08:16:19,15:30:32,11.166667
3311,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-09 00:00:35,BUS,092,386341.0,386737.0,...,NaN,2032,3,2019-01-08 08:05:09,15:31:15,2032,3,2019-01-08 08:27:57,15:32:38,22.800000
3643,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-08 23:46:51,BUS,092,386341.0,386138.0,...,NaN,2038,2,2019-01-08 07:54:11,15:42:13,2038,2,2019-01-08 08:05:19,15:41:32,11.133333
3032,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-08 23:54:33,BUS,092,386341.0,386169.0,...,NaN,2038,2,2019-01-08 07:54:11,15:42:13,2038,2,2019-01-08 08:12:41,15:41:52,18.500000
3471,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-09 00:00:35,BUS,092,386341.0,386737.0,...,NaN,2038,2,2019-01-08 07:54:11,15:42:13,2038,2,2019-01-08 08:16:40,15:43:55,22.483333
2512,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-08 23:54:33,BUS,092,386341.0,386169.0,...,NaN,2002,1,2019-01-08 07:37:16,15:59:08,2002,1,2019-01-08 07:55:29,15:59:04,18.216667
3563,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-08 23:46:51,BUS,092,386341.0,386138.0,...,NaN,2002,1,2019-01-08 07:37:16,15:59:08,2002,1,2019-01-08 07:47:44,15:59:07,10.466667
3271,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-09 00:00:35,BUS,092,386341.0,386737.0,...,NaN,2002,1,2019-01-08 07:37:16,15:59:08,2002,1,2019-01-08 07:59:04,16:01:31,21.800000
3627,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-08 23:46:51,BUS,092,386341.0,386138.0,...,NaN,2026,1,2019-01-08 07:22:04,16:14:20,2026,1,2019-01-08 07:32:14,16:14:37,10.166667
2928,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-08 23:54:33,BUS,092,386341.0,386169.0,...,NaN,2026,1,2019-01-08 07:22:04,16:14:20,2026,1,2019-01-08 07:39:22,16:15:11,17.300000
3431,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-09 00:00:35,BUS,092,386341.0,386737.0,...,NaN,2026,1,2019-01-08 07:22:04,16:14:20,2026,1,2019-01-08 07:43:38,16:16:57,21.566667
2785,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-08 23:54:33,BUS,092,386341.0,386169.0,...,NaN,2072,1,2019-01-08 07:06:41,16:29:43,2072,1,2019-01-08 07:25:53,16:28:40,19.200000
3605,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-08 23:46:51,BUS,092,386341.0,386138.0,...,NaN,2072,1,2019-01-08 07:06:41,16:29:43,2072,1,2019-01-08 07:18:02,16:28:49,11.350000
3376,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-09 00:00:35,BUS,092,386341.0,386737.0,...,NaN,2072,1,2019-01-08 07:06:41,16:29:43,2072,1,2019-01-08 07:30:57,16:29:38,24.266667
3653,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-08 23:46:51,BUS,092,386341.0,386138.0,...,NaN,2069,1,2019-01-08 06:53:01,16:43:23,2069,1,2019-01-08 07:05:44,16:41:07,12.716667
3097,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-08 23:54:33,BUS,092,386341.0,386169.0,...,NaN,2069,1,2019-01-08 06:53:01,16:43:23,2069,1,2019-01-08 07:12:30,16:42:03,19.483333
3496,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-09 00:00:35,BUS,092,386341.0,386737.0,...,NaN,2069,1,2019-01-08 06:53:01,16:43:23,2069,1,2019-01-08 07:17:04,16:43:31,24.050000
2577,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-08 23:54:33,BUS,092,386341.0,386169.0,...,NaN,2015,1,2019-01-08 06:30:32,17:05:52,2015,1,2019-01-08 06:52:14,17:02:19,21.700000
3573,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-08 23:46:51,BUS,092,386341.0,386138.0,...,NaN,2015,1,2019-01-08 06:30:32,17:05:52,2015,1,2019-01-08 06:43:14,17:03:37,12.700000
2603,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-08 23:54:33,BUS,092,386341.0,386169.0,...,NaN,2032,1,2019-01-08 05:48:56,17:47:28,2032,1,2019-01-08 06:10:39,17:43:54,21.716667
3577,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-08 23:46:51,BUS,092,386341.0,386138.0,...,NaN,2032,1,2019-01-08 05:48:56,17:47:28,2032,1,2019-01-08 06:01:47,17:45:04,12.850000
3306,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-09 00:00:35,BUS,092,386341.0,386737.0,...,NaN,2032,1,2019-01-08 05:48:56,17:47:28,2032,1,2019-01-08 06:14:28,17:46:07,25.533333
3641,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-08 23:46:51,BUS,092,386341.0,386138.0,...,NaN,2038,1,2019-01-08 05:37:17,17:59:07,2038,1,2019-01-08 05:46:05,18:00:46,8.800000
3019,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-08 23:54:33,BUS,092,386341.0,386169.0,...,NaN,2038,1,2019-01-08 05:37:17,17:59:07,2038,1,2019-01-08 05:51:57,18:02:36,14.666667
3466,2019-01-08,491551.0,15,4,2019-01-08 23:36:24,2019-01-09 00:00:35,BUS,092,386341.0,386737.0,...,NaN,2038,1,2019-01-08 05:37:17,17:59:07,2038,1,2019-01-08 05:57:15,18:03:20,19.966667

In [189]:
scheduled_itin_observed_od_full = pd.concat([scheduled_itin_observed_od,otp_suggestions_walk_legs], sort=False)
scheduled_itin_observed_od_full

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,...,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff,bt_busCode,bt_tripNum,bt_end_time,sched_obs_end_timediff,bt_duration_mins
1616,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:08:21,BUS,944,491551.0,497505.0,...,NaN,1052,9,2019-01-08 14:55:12,00:01:25,1052,9,2019-01-08 15:13:06,00:04:45,17.900000
1038,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:13:40,BUS,944,491551.0,385784.0,...,NaN,1052,9,2019-01-08 14:55:12,00:01:25,1052,9,2019-01-08 15:19:42,00:06:02,24.500000
775,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:18:09,BUS,944,491551.0,386653.0,...,NaN,1052,9,2019-01-08 14:55:12,00:01:25,1052,9,2019-01-08 15:25:56,00:07:47,30.733333
1357,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:22:02,BUS,944,491551.0,386255.0,...,NaN,1052,9,2019-01-08 14:55:12,00:01:25,1052,9,2019-01-08 15:30:41,00:08:39,35.483333
308,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,...,NaN,1052,9,2019-01-08 14:55:12,00:01:25,1052,9,2019-01-08 15:34:52,00:11:21,39.666667
1793,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:26:47,BUS,944,491551.0,385834.0,...,NaN,1052,9,2019-01-08 14:55:12,00:01:25,1052,9,2019-01-08 15:39:36,00:12:49,44.400000
906,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:13:40,BUS,944,491551.0,385784.0,...,NaN,1002,8,2019-01-08 13:55:44,00:58:03,1002,8,2019-01-08 14:47:28,00:26:12,51.733333
1440,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:08:21,BUS,944,491551.0,497505.0,...,NaN,1002,8,2019-01-08 13:55:44,00:58:03,1002,8,2019-01-08 14:32:20,00:36:01,36.600000
1661,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:26:47,BUS,944,491551.0,385834.0,...,NaN,1002,8,2019-01-08 13:55:44,00:58:03,1002,8,2019-01-08 14:39:33,00:47:14,43.816667
66,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,...,NaN,1002,8,2019-01-08 13:55:44,00:58:03,1002,8,2019-01-08 14:34:43,00:48:48,38.983333
1115,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:22:02,BUS,944,491551.0,386255.0,...,NaN,1002,8,2019-01-08 13:55:44,00:58:03,1002,8,2019-01-08 14:29:44,00:52:18,34.000000
577,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:18:09,BUS,944,491551.0,386653.0,...,NaN,1002,8,2019-01-08 13:55:44,00:58:03,1002,8,2019-01-08 14:24:49,00:53:20,29.083333
1787,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:26:47,BUS,944,491551.0,385834.0,...,NaN,1052,8,2019-01-08 13:39:16,01:14:31,1052,8,2019-01-08 14:28:24,00:58:23,49.133333
297,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,...,NaN,1052,8,2019-01-08 13:39:16,01:14:31,1052,8,2019-01-08 14:22:37,01:00:54,43.350000
1346,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:22:02,BUS,944,491551.0,386255.0,...,NaN,1052,8,2019-01-08 13:39:16,01:14:31,1052,8,2019-01-08 14:18:26,01:03:36,39.166667
766,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:18:09,BUS,944,491551.0,386653.0,...,NaN,1052,8,2019-01-08 13:39:16,01:14:31,1052,8,2019-01-08 14:12:43,01:05:26,33.450000
1032,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:13:40,BUS,944,491551.0,385784.0,...,NaN,1052,8,2019-01-08 13:39:16,01:14:31,1052,8,2019-01-08 14:04:21,01:09:19,25.083333
1608,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:08:21,BUS,944,491551.0,497505.0,...,NaN,1052,8,2019-01-08 13:39:16,01:14:31,1052,8,2019-01-08 13:57:26,01:10:55,18.166667
1703,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:26:47,BUS,944,491551.0,385834.0,...,NaN,1051,7,2019-01-08 12:58:05,01:55:42,1051,7,2019-01-08 13:45:44,01:41:03,47.650000
143,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,...,NaN,1051,7,2019-01-08 12:58:05,01:55:42,1051,7,2019-01-08 13:40:16,01:43:15,42.183333
640,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:18:09,BUS,944,491551.0,386653.0,...,NaN,1051,7,2019-01-08 12:58:05,01:55:42,1051,7,2019-01-08 13:29:54,01:48:15,31.816667
1192,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:22:02,BUS,944,491551.0,386255.0,...,NaN,1051,7,2019-01-08 12:58:05,01:55:42,1051,7,2019-01-08 13:33:44,01:48:18,35.650000
948,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:13:40,BUS,944,491551.0,385784.0,...,NaN,1051,7,2019-01-08 12:58:05,01:55:42,1051,7,2019-01-08 13:22:17,01:51:23,24.200000
1496,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:08:21,BUS,944,491551.0,497505.0,...,NaN,1051,7,2019-01-08 12:58:05,01:55:42,1051,7,2019-01-08 13:15:00,01:53:21,16.916667
1026,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:13:40,BUS,944,491551.0,385784.0,...,NaN,1052,7,2019-01-08 12:25:05,02:28:42,1052,7,2019-01-08 13:10:14,02:03:26,45.150000
1781,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:26:47,BUS,944,491551.0,385834.0,...,NaN,1052,7,2019-01-08 12:25:05,02:28:42,1052,7,2019-01-08 13:12:08,02:14:39,47.050000
286,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,...,NaN,1052,7,2019-01-08 12:25:05,02:28:42,1052,7,2019-01-08 13:02:30,02:21:01,37.416667
757,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:18:09,BUS,944,491551.0,386653.0,...,NaN,1052,7,2019-01-08 12:25:05,02:28:42,1052,7,2019-01-08 12:55:17,02:22:52,30.200000
1335,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:22:02,BUS,944,491551.0,386255.0,...,NaN,1052,7,2019-01-08 12:25:05,02:28:42,1052,7,2019-01-08 12:58:38,02:23:24,33.550000
1600,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:08:21,BUS,944,491551.0,497505.0,...,NaN,1052,7,2019-01-08 12:25:05,02:28:42,1052,7,2019-01-08 12:42:41,02:25:40,17.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,2019-01-08,491551.0,7,3,2019-01-08 18:15:07,2019-01-08 18:16:07,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
400,2019-01-08,491551.0,7,5,2019-01-08 18:37:18,2019-01-08 18:39:56,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
402,2019-01-08,491551.0,8,5,2019-01-08 19:18:11,2019-01-08 19:20:49,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
405,2019-01-08,491551.0,9,5,2019-01-08 19:31:46,2019-01-08 19:31:50,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
406,2019-01-08,491551.0,10,4,2019-01-08 20:01:33,2019-01-08 20:02:37,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
408,2019-01-08,491551.0,10,6,2019-01-08 20:06:53,2019-01-08 20:13:24,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
410,2019-01-08,491551.0,11,5,2019-01-08 21:18:11,2019-01-08 21:20:49,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
412,2019-01-08,491551.0,12,5,2019-01-08 21:58:11,2019-01-08 22:00:49,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
414,2019-01-08,491551.0,13,3,2019-01-08 22:02:02,2019-01-08 22:03:02,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
416,2019-01-08,491551.0,13,5,2019-01-08 22:33:11,2019-01-08 22:35:49,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
418,2019-01-08,491551.0,14,3,2019-01-08 22:32:02,2019-01-08 22:33:02,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
420,2019-01-08,491551.0,14,5,2019-01-08 23:13:12,2019-01-08 23:19:43,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
422,2019-01-08,491551.0,15,4,2019-01-08 23:50:40,2019-01-09 00:08:00,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
424,2019-01-08,491551.0,1,5,2019-01-08 15:31:21,2019-01-08 15:32:17,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
426,2019-01-08,491551.0,2,5,2019-01-08 16:06:21,2019-01-08 16:07:17,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
428,2019-01-08,491551.0,3,5,2019-01-08 16:33:29,2019-01-08 16:34:25,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
430,2019-01-08,491551.0,4,5,2019-01-08 17:07:29,2019-01-08 17:08:25,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
432,2019-01-08,491551.0,5,5,2019-01-08 17:26:21,2019-01-08 17:27:17,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
434,2019-01-08,491551.0,6,5,2019-01-08 18:06:21,2019-01-08 18:07:17,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
436,2019-01-08,491551.0,7,5,2019-01-08 18:32:29,2019-01-08 18:33:25,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
438,2019-01-08,491551.0,8,5,2019-01-08 19:06:29,2019-01-08 19:07:25,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
440,2019-01-08,491551.0,9,3,2019-01-08 19:11:13,2019-01-08 19:12:34,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
442,2019-01-08,491551.0,9,5,2019-01-08 19:26:21,2019-01-08 19:27:17,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
443,2019-01-08,491551.0,10,3,2019-01-08 19:52:02,2019-01-08 19:53:13,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
445,2019-01-08,491551.0,10,5,2019-01-08 20:15:29,2019-01-08 20:16:25,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
447,2019-01-08,491551.0,11,5,2019-01-08 21:06:29,2019-01-08 21:07:25,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
449,2019-01-08,491551.0,12,5,2019-01-08 21:36:37,2019-01-08 21:47:17,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
451,2019-01-08,491551.0,13,5,2019-01-08 22:11:52,2019-01-08 22:22:46,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
453,2019-01-08,491551.0,14,5,2019-01-08 22:36:37,2019-01-08 22:47:17,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
455,2019-01-08,491551.0,15,5,2019-01-08 23:46:52,2019-01-08 23:57:46,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN

In [190]:
otp_suggestions_walk_legs

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,2019-01-08,491551.0,1,1,2019-01-08 14:53:45,2019-01-08 14:53:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
3,2019-01-08,491551.0,1,4,2019-01-08 16:00:05,2019-01-08 16:02:34,WALK,nan,NaN,NaN,2.483333,NaN,NaN
4,2019-01-08,491551.0,2,1,2019-01-08 15:23:45,2019-01-08 15:23:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
7,2019-01-08,491551.0,2,4,2019-01-08 16:33:44,2019-01-08 16:36:13,WALK,nan,NaN,NaN,2.483333,NaN,NaN
8,2019-01-08,491551.0,3,1,2019-01-08 15:40:03,2019-01-08 15:50:48,WALK,nan,NaN,NaN,10.750000,NaN,NaN
10,2019-01-08,491551.0,3,3,2019-01-08 16:09:04,2019-01-08 16:09:18,WALK,nan,NaN,NaN,0.233333,NaN,NaN
12,2019-01-08,491551.0,3,5,2019-01-08 16:34:24,2019-01-08 16:50:39,WALK,nan,NaN,NaN,16.250000,NaN,NaN
13,2019-01-08,491551.0,4,1,2019-01-08 16:23:45,2019-01-08 16:23:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
15,2019-01-08,491551.0,4,3,2019-01-08 16:49:58,2019-01-08 16:53:39,WALK,nan,NaN,NaN,3.683333,NaN,NaN
17,2019-01-08,491551.0,4,5,2019-01-08 17:08:05,2019-01-08 17:10:34,WALK,nan,NaN,NaN,2.483333,NaN,NaN
18,2019-01-08,491551.0,5,1,2019-01-08 16:40:03,2019-01-08 16:50:48,WALK,nan,NaN,NaN,10.750000,NaN,NaN
21,2019-01-08,491551.0,5,4,2019-01-08 17:41:44,2019-01-08 17:44:13,WALK,nan,NaN,NaN,2.483333,NaN,NaN
22,2019-01-08,491551.0,6,1,2019-01-08 17:23:45,2019-01-08 17:23:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
24,2019-01-08,491551.0,6,3,2019-01-08 17:53:31,2019-01-08 17:55:52,WALK,nan,NaN,NaN,2.350000,NaN,NaN
26,2019-01-08,491551.0,6,5,2019-01-08 18:16:05,2019-01-08 18:18:34,WALK,nan,NaN,NaN,2.483333,NaN,NaN
27,2019-01-08,491551.0,7,1,2019-01-08 17:40:03,2019-01-08 17:50:48,WALK,nan,NaN,NaN,10.750000,NaN,NaN
30,2019-01-08,491551.0,7,4,2019-01-08 18:49:44,2019-01-08 18:52:13,WALK,nan,NaN,NaN,2.483333,NaN,NaN
31,2019-01-08,491551.0,8,1,2019-01-08 18:23:45,2019-01-08 18:23:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
33,2019-01-08,491551.0,8,3,2019-01-08 18:49:58,2019-01-08 18:53:39,WALK,nan,NaN,NaN,3.683333,NaN,NaN
35,2019-01-08,491551.0,8,5,2019-01-08 19:12:34,2019-01-08 19:22:34,WALK,nan,NaN,NaN,10.000000,NaN,NaN
36,2019-01-08,491551.0,9,1,2019-01-08 18:40:03,2019-01-08 18:50:48,WALK,nan,NaN,NaN,10.750000,NaN,NaN
39,2019-01-08,491551.0,9,4,2019-01-08 19:55:44,2019-01-08 19:58:13,WALK,nan,NaN,NaN,2.483333,NaN,NaN
40,2019-01-08,491551.0,10,1,2019-01-08 19:23:45,2019-01-08 19:23:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
42,2019-01-08,491551.0,10,3,2019-01-08 19:48:09,2019-01-08 19:49:30,WALK,nan,NaN,NaN,1.350000,NaN,NaN
44,2019-01-08,491551.0,10,5,2019-01-08 20:02:04,2019-01-08 20:24:56,WALK,nan,NaN,NaN,22.866667,NaN,NaN
45,2019-01-08,491551.0,11,1,2019-01-08 20:23:45,2019-01-08 20:23:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
47,2019-01-08,491551.0,11,3,2019-01-08 20:49:58,2019-01-08 20:53:39,WALK,nan,NaN,NaN,3.683333,NaN,NaN
49,2019-01-08,491551.0,11,5,2019-01-08 21:05:44,2019-01-08 21:08:13,WALK,nan,NaN,NaN,2.483333,NaN,NaN
50,2019-01-08,491551.0,12,1,2019-01-08 21:03:45,2019-01-08 21:03:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
52,2019-01-08,491551.0,12,3,2019-01-08 21:22:02,2019-01-08 21:22:05,WALK,nan,NaN,NaN,0.050000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,2019-01-08,491551.0,7,3,2019-01-08 18:15:07,2019-01-08 18:16:07,WALK,nan,NaN,NaN,1.000000,NaN,NaN
400,2019-01-08,491551.0,7,5,2019-01-08 18:37:18,2019-01-08 18:39:56,WALK,nan,NaN,NaN,2.633333,NaN,NaN
402,2019-01-08,491551.0,8,5,2019-01-08 19:18:11,2019-01-08 19:20:49,WALK,nan,NaN,NaN,2.633333,NaN,NaN
405,2019-01-08,491551.0,9,5,2019-01-08 19:31:46,2019-01-08 19:31:50,WALK,nan,NaN,NaN,0.066667,NaN,NaN
406,2019-01-08,491551.0,10,4,2019-01-08 20:01:33,2019-01-08 20:02:37,WALK,nan,NaN,NaN,1.066667,NaN,NaN
408,2019-01-08,491551.0,10,6,2019-01-08 20:06:53,2019-01-08 20:13:24,WALK,nan,NaN,NaN,6.516667,NaN,NaN
410,2019-01-08,491551.0,11,5,2019-01-08 21:18:11,2019-01-08 21:20:49,WALK,nan,NaN,NaN,2.633333,NaN,NaN
412,2019-01-08,491551.0,12,5,2019-01-08 21:58:11,2019-01-08 22:00:49,WALK,nan,NaN,NaN,2.633333,NaN,NaN
414,2019-01-08,491551.0,13,3,2019-01-08 22:02:02,2019-01-08 22:03:02,WALK,nan,NaN,NaN,1.000000,NaN,NaN
416,2019-01-08,491551.0,13,5,2019-01-08 22:33:11,2019-01-08 22:35:49,WALK,nan,NaN,NaN,2.633333,NaN,NaN
418,2019-01-08,491551.0,14,3,2019-01-08 22:32:02,2019-01-08 22:33:02,WALK,nan,NaN,NaN,1.000000,NaN,NaN
420,2019-01-08,491551.0,14,5,2019-01-08 23:13:12,2019-01-08 23:19:43,WALK,nan,NaN,NaN,6.516667,NaN,NaN
422,2019-01-08,491551.0,15,4,2019-01-08 23:50:40,2019-01-09 00:08:00,WALK,nan,NaN,NaN,17.333333,NaN,NaN
424,2019-01-08,491551.0,1,5,2019-01-08 15:31:21,2019-01-08 15:32:17,WALK,nan,NaN,NaN,0.933333,NaN,NaN
426,2019-01-08,491551.0,2,5,2019-01-08 16:06:21,2019-01-08 16:07:17,WALK,nan,NaN,NaN,0.933333,NaN,NaN
428,2019-01-08,491551.0,3,5,2019-01-08 16:33:29,2019-01-08 16:34:25,WALK,nan,NaN,NaN,0.933333,NaN,NaN
430,2019-01-08,491551.0,4,5,2019-01-08 17:07:29,2019-01-08 17:08:25,WALK,nan,NaN,NaN,0.933333,NaN,NaN
432,2019-01-08,491551.0,5,5,2019-01-08 17:26:21,2019-01-08 17:27:17,WALK,nan,NaN,NaN,0.933333,NaN,NaN
434,2019-01-08,491551.0,6,5,2019-01-08 18:06:21,2019-01-08 18:07:17,WALK,nan,NaN,NaN,0.933333,NaN,NaN
436,2019-01-08,491551.0,7,5,2019-01-08 18:32:29,2019-01-08 18:33:25,WALK,nan,NaN,NaN,0.933333,NaN,NaN
438,2019-01-08,491551.0,8,5,2019-01-08 19:06:29,2019-01-08 19:07:25,WALK,nan,NaN,NaN,0.933333,NaN,NaN
440,2019-01-08,491551.0,9,3,2019-01-08 19:11:13,2019-01-08 19:12:34,WALK,nan,NaN,NaN,1.350000,NaN,NaN
442,2019-01-08,491551.0,9,5,2019-01-08 19:26:21,2019-01-08 19:27:17,WALK,nan,NaN,NaN,0.933333,NaN,NaN
443,2019-01-08,491551.0,10,3,2019-01-08 19:52:02,2019-01-08 19:53:13,WALK,nan,NaN,NaN,1.183333,NaN,NaN
445,2019-01-08,491551.0,10,5,2019-01-08 20:15:29,2019-01-08 20:16:25,WALK,nan,NaN,NaN,0.933333,NaN,NaN
447,2019-01-08,491551.0,11,5,2019-01-08 21:06:29,2019-01-08 21:07:25,WALK,nan,NaN,NaN,0.933333,NaN,NaN
449,2019-01-08,491551.0,12,5,2019-01-08 21:36:37,2019-01-08 21:47:17,WALK,nan,NaN,NaN,10.666667,NaN,NaN
451,2019-01-08,491551.0,13,5,2019-01-08 22:11:52,2019-01-08 22:22:46,WALK,nan,NaN,NaN,10.900000,NaN,NaN
453,2019-01-08,491551.0,14,5,2019-01-08 22:36:37,2019-01-08 22:47:17,WALK,nan,NaN,NaN,10.666667,NaN,NaN
455,2019-01-08,491551.0,15,5,2019-01-08 23:46:52,2019-01-08 23:57:46,WALK,nan,NaN,NaN,10.900000,NaN,NaN

In [191]:
#scheduled_itin_observed_od_full[scheduled_itin_observed_od_full.otp_itinerary_id == 296]

In [192]:
#bus_trips_clean[(bus_trips['route'] == '944') & (bus_trips['stopPointId'] == 491551)].sort_values(['gps_datetime'])

In [193]:
scheduled_itin_observed_od_full_clean = scheduled_itin_observed_od_full \
                            .filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_mode','otp_route',
                                     'bt_bus_code','bt_trip_num','otp_from_stop_id','otp_start_time',
                                     'bt_start_time','sched_obs_start_timediff','otp_to_stop_id',
                                     'otp_end_time','bt_end_time','sched_obs_end_timediff','otp_duration_mins','minimun_obs_start_time','bt_duration_mins']) \
                            .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

In [194]:
scheduled_itin_observed_od_full.head() \
                            .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,...,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff,bt_busCode,bt_tripNum,bt_end_time,sched_obs_end_timediff,bt_duration_mins
1616,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:08:21,BUS,944,491551.0,497505.0,...,NaN,1052,9,2019-01-08 14:55:12,00:01:25,1052,9,2019-01-08 15:13:06,00:04:45,17.900000
1038,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:13:40,BUS,944,491551.0,385784.0,...,NaN,1052,9,2019-01-08 14:55:12,00:01:25,1052,9,2019-01-08 15:19:42,00:06:02,24.500000
775,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:18:09,BUS,944,491551.0,386653.0,...,NaN,1052,9,2019-01-08 14:55:12,00:01:25,1052,9,2019-01-08 15:25:56,00:07:47,30.733333
1357,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:22:02,BUS,944,491551.0,386255.0,...,NaN,1052,9,2019-01-08 14:55:12,00:01:25,1052,9,2019-01-08 15:30:41,00:08:39,35.483333
308,2019-01-08,491551.0,1,2,2019-01-08 14:53:47,2019-01-08 15:23:31,BUS,944,491551.0,386521.0,...,NaN,1052,9,2019-01-08 14:55:12,00:01:25,1052,9,2019-01-08 15:34:52,00:11:21,39.666667

In [195]:
# coisa = scheduled_itin_observed_od_full_clean[(scheduled_itin_observed_od_full_clean.otp_route == "944") & (scheduled_itin_observed_od_full_clean.otp_start_time == '2019-05-13 15:05:47')][['otp_itinerary_id',"otp_start_time","otp_route","otp_from_stop_id",
#                                                                            "otp_from_stop_id", "bt_start_time", "sched_obs_start_timediff"]].sort_values(by=['sched_obs_start_timediff'])

# coisa

In [196]:
scheduled_itin_observed_od_full_clean = scheduled_itin_observed_od_full \
                            .filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_mode','otp_route',
                                     'bt_bus_code','bt_trip_num','otp_from_stop_id','otp_start_time',
                                     'bt_start_time','sched_obs_start_timediff','otp_to_stop_id',
                                     'otp_end_time','bt_end_time','sched_obs_end_timediff','otp_duration_mins','minimun_obs_start_time','bt_duration_mins']) \
                            .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

In [197]:
scheduled_itin_observed_od_full_clean

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,bt_duration_mins
0,491551.0,1,1,WALK,nan,NaN,NaN,NaN,2019-01-08 14:53:45,NaT,NaT,NaN,2019-01-08 14:53:46,NaT,NaT,0.016667,NaN
1616,491551.0,1,2,BUS,944,1052,9,491551.0,2019-01-08 14:53:47,2019-01-08 14:55:12,00:01:25,497505.0,2019-01-08 15:08:21,2019-01-08 15:13:06,00:04:45,14.566667,17.900000
1038,491551.0,1,2,BUS,944,1052,9,491551.0,2019-01-08 14:53:47,2019-01-08 14:55:12,00:01:25,385784.0,2019-01-08 15:13:40,2019-01-08 15:19:42,00:06:02,19.883333,24.500000
775,491551.0,1,2,BUS,944,1052,9,491551.0,2019-01-08 14:53:47,2019-01-08 14:55:12,00:01:25,386653.0,2019-01-08 15:18:09,2019-01-08 15:25:56,00:07:47,24.366667,30.733333
1357,491551.0,1,2,BUS,944,1052,9,491551.0,2019-01-08 14:53:47,2019-01-08 14:55:12,00:01:25,386255.0,2019-01-08 15:22:02,2019-01-08 15:30:41,00:08:39,28.250000,35.483333
308,491551.0,1,2,BUS,944,1052,9,491551.0,2019-01-08 14:53:47,2019-01-08 14:55:12,00:01:25,386521.0,2019-01-08 15:23:31,2019-01-08 15:34:52,00:11:21,29.733333,39.666667
1793,491551.0,1,2,BUS,944,1052,9,491551.0,2019-01-08 14:53:47,2019-01-08 14:55:12,00:01:25,385834.0,2019-01-08 15:26:47,2019-01-08 15:39:36,00:12:49,33.000000,44.400000
906,491551.0,1,2,BUS,944,1002,8,491551.0,2019-01-08 14:53:47,2019-01-08 13:55:44,00:58:03,385784.0,2019-01-08 15:13:40,2019-01-08 14:47:28,00:26:12,19.883333,51.733333
1440,491551.0,1,2,BUS,944,1002,8,491551.0,2019-01-08 14:53:47,2019-01-08 13:55:44,00:58:03,497505.0,2019-01-08 15:08:21,2019-01-08 14:32:20,00:36:01,14.566667,36.600000
1661,491551.0,1,2,BUS,944,1002,8,491551.0,2019-01-08 14:53:47,2019-01-08 13:55:44,00:58:03,385834.0,2019-01-08 15:26:47,2019-01-08 14:39:33,00:47:14,33.000000,43.816667
66,491551.0,1,2,BUS,944,1002,8,491551.0,2019-01-08 14:53:47,2019-01-08 13:55:44,00:58:03,386521.0,2019-01-08 15:23:31,2019-01-08 14:34:43,00:48:48,29.733333,38.983333
1115,491551.0,1,2,BUS,944,1002,8,491551.0,2019-01-08 14:53:47,2019-01-08 13:55:44,00:58:03,386255.0,2019-01-08 15:22:02,2019-01-08 14:29:44,00:52:18,28.250000,34.000000
577,491551.0,1,2,BUS,944,1002,8,491551.0,2019-01-08 14:53:47,2019-01-08 13:55:44,00:58:03,386653.0,2019-01-08 15:18:09,2019-01-08 14:24:49,00:53:20,24.366667,29.083333
1787,491551.0,1,2,BUS,944,1052,8,491551.0,2019-01-08 14:53:47,2019-01-08 13:39:16,01:14:31,385834.0,2019-01-08 15:26:47,2019-01-08 14:28:24,00:58:23,33.000000,49.133333
297,491551.0,1,2,BUS,944,1052,8,491551.0,2019-01-08 14:53:47,2019-01-08 13:39:16,01:14:31,386521.0,2019-01-08 15:23:31,2019-01-08 14:22:37,01:00:54,29.733333,43.350000
1346,491551.0,1,2,BUS,944,1052,8,491551.0,2019-01-08 14:53:47,2019-01-08 13:39:16,01:14:31,386255.0,2019-01-08 15:22:02,2019-01-08 14:18:26,01:03:36,28.250000,39.166667
766,491551.0,1,2,BUS,944,1052,8,491551.0,2019-01-08 14:53:47,2019-01-08 13:39:16,01:14:31,386653.0,2019-01-08 15:18:09,2019-01-08 14:12:43,01:05:26,24.366667,33.450000
1032,491551.0,1,2,BUS,944,1052,8,491551.0,2019-01-08 14:53:47,2019-01-08 13:39:16,01:14:31,385784.0,2019-01-08 15:13:40,2019-01-08 14:04:21,01:09:19,19.883333,25.083333
1608,491551.0,1,2,BUS,944,1052,8,491551.0,2019-01-08 14:53:47,2019-01-08 13:39:16,01:14:31,497505.0,2019-01-08 15:08:21,2019-01-08 13:57:26,01:10:55,14.566667,18.166667
1703,491551.0,1,2,BUS,944,1051,7,491551.0,2019-01-08 14:53:47,2019-01-08 12:58:05,01:55:42,385834.0,2019-01-08 15:26:47,2019-01-08 13:45:44,01:41:03,33.000000,47.650000
143,491551.0,1,2,BUS,944,1051,7,491551.0,2019-01-08 14:53:47,2019-01-08 12:58:05,01:55:42,386521.0,2019-01-08 15:23:31,2019-01-08 13:40:16,01:43:15,29.733333,42.183333
640,491551.0,1,2,BUS,944,1051,7,491551.0,2019-01-08 14:53:47,2019-01-08 12:58:05,01:55:42,386653.0,2019-01-08 15:18:09,2019-01-08 13:29:54,01:48:15,24.366667,31.816667
1192,491551.0,1,2,BUS,944,1051,7,491551.0,2019-01-08 14:53:47,2019-01-08 12:58:05,01:55:42,386255.0,2019-01-08 15:22:02,2019-01-08 13:33:44,01:48:18,28.250000,35.650000
948,491551.0,1,2,BUS,944,1051,7,491551.0,2019-01-08 14:53:47,2019-01-08 12:58:05,01:55:42,385784.0,2019-01-08 15:13:40,2019-01-08 13:22:17,01:51:23,19.883333,24.200000
1496,491551.0,1,2,BUS,944,1051,7,491551.0,2019-01-08 14:53:47,2019-01-08 12:58:05,01:55:42,497505.0,2019-01-08 15:08:21,2019-01-08 13:15:00,01:53:21,14.566667,16.916667
1026,491551.0,1,2,BUS,944,1052,7,491551.0,2019-01-08 14:53:47,2019-01-08 12:25:05,02:28:42,385784.0,2019-01-08 15:13:40,2019-01-08 13:10:14,02:03:26,19.883333,45.150000
1781,491551.0,1,2,BUS,944,1052,7,491551.0,2019-01-08 14:53:47,2019-01-08 12:25:05,02:28:42,385834.0,2019-01-08 15:26:47,2019-01-08 13:12:08,02:14:39,33.000000,47.050000
286,491551.0,1,2,BUS,944,1052,7,491551.0,2019-01-08 14:53:47,2019-01-08 12:25:05,02:28:42,386521.0,2019-01-08 15:23:31,2019-01-08 13:02:30,02:21:01,29.733333,37.416667
757,491551.0,1,2,BUS,944,1052,7,491551.0,2019-01-08 14:53:47,2019-01-08 12:25:05,02:28:42,386653.0,2019-01-08 15:18:09,2019-01-08 12:55:17,02:22:52,24.366667,30.200000
1335,491551.0,1,2,BUS,944,1052,7,491551.0,2019-01-08 14:53:47,2019-01-08 12:25:05,02:28:42,386255.0,2019-01-08 15:22:02,2019-01-08 12:58:38,02:23:24,28.250000,33.550000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3311,491551.0,15,4,BUS,092,2032,3,386341.0,2019-01-08 23:36:24,2019-01-08 08:05:09,15:31:15,386737.0,2019-01-09 00:00:35,2019-01-08 08:27:57,15:32:38,24.183333,22.800000
3643,491551.0,15,4,BUS,092,2038,2,386341.0,2019-01-08 23:36:24,2019-01-08 07:54:11,15:42:13,386138.0,2019-01-08 23:46:51,2019-01-08 08:05:19,15:41:32,10.450000,11.133333
3032,491551.0,15,4,BUS,092,2038,2,386341.0,2019-01-08 23:36:24,2019-01-08 07:54:11,15:42:13,386169.0,2019-01-08 23:54:33,2019-01-08 08:12:41,15:41:52,18.150000,18.500000
3471,491551.0,15,4,BUS,092,2038,2,386341.0,2019-01-08 23:36:24,2019-01-08 07:54:11,15:42:13,386737.0,2019-01-09 00:00:35,2019-01-08 08:16:40,15:43:55,24.183333,22.483333
2512,491551.0,15,4,BUS,092,2002,1,386341.0,2019-01-08 23:36:24,2019-01-08 07:37:16,15:59:08,386169.0,2019-01-08 23:54:33,2019-01-08 07:55:29,15:59:04,18.150000,18.216667
3563,491551.0,15,4,BUS,092,2002,1,386341.0,2019-01-08 23:36:24,2019-01-08 07:37:16,15:59:08,386138.0,2019-01-08 23:46:51,2019-01-08 07:47:44,15:59:07,10.450000,10.466667
3271,491551.0,15,4,BUS,092,2002,1,386341.0,2019-01-08 23:36:24,2019-01-08 07:37:16,15:59:08,386737.0,2019-01-09 00:00:35,2019-01-08 07:59:04,16:01:31,24.183333,21.800000
3627,491551.0,15,4,BUS,092,2026,1,386341.0,2019-01-08 23:36:24,2019-01-08 07:22:04,16:14:20,386138.0,2019-01-08 23:46:51,2019-01-08 07:32:14,16:14:37,10.450000,10.166667
2928,491551.0,15,4,BUS,092,2026,1,386341.0,2019-01-08 23:36:24,2019-01-08 07:22:04,16:14:20,386169.0,2019-01-08 23:54:33,2019-01-08 07:39:22,16:15:11,18.150000,17.300000
3431,491551.0,15,4,BUS,092,2026,1,386341.0,2019-01-08 23:36:24,2019-01-08 07:22:04,16:14:20,386737.0,2019-01-09 00:00:35,2019-01-08 07:43:38,16:16:57,24.183333,21.566667
2785,491551.0,15,4,BUS,092,2072,1,386341.0,2019-01-08 23:36:24,2019-01-08 07:06:41,16:29:43,386169.0,2019-01-08 23:54:33,2019-01-08 07:25:53,16:28:40,18.150000,19.200000
3605,491551.0,15,4,BUS,092,2072,1,386341.0,2019-01-08 23:36:24,2019-01-08 07:06:41,16:29:43,386138.0,2019-01-08 23:46:51,2019-01-08 07:18:02,16:28:49,10.450000,11.350000
3376,491551.0,15,4,BUS,092,2072,1,386341.0,2019-01-08 23:36:24,2019-01-08 07:06:41,16:29:43,386737.0,2019-01-09 00:00:35,2019-01-08 07:30:57,16:29:38,24.183333,24.266667
3653,491551.0,15,4,BUS,092,2069,1,386341.0,2019-01-08 23:36:24,2019-01-08 06:53:01,16:43:23,386138.0,2019-01-08 23:46:51,2019-01-08 07:05:44,16:41:07,10.450000,12.716667
3097,491551.0,15,4,BUS,092,2069,1,386341.0,2019-01-08 23:36:24,2019-01-08 06:53:01,16:43:23,386169.0,2019-01-08 23:54:33,2019-01-08 07:12:30,16:42:03,18.150000,19.483333
3496,491551.0,15,4,BUS,092,2069,1,386341.0,2019-01-08 23:36:24,2019-01-08 06:53:01,16:43:23,386737.0,2019-01-09 00:00:35,2019-01-08 07:17:04,16:43:31,24.183333,24.050000
2577,491551.0,15,4,BUS,092,2015,1,386341.0,2019-01-08 23:36:24,2019-01-08 06:30:32,17:05:52,386169.0,2019-01-08 23:54:33,2019-01-08 06:52:14,17:02:19,18.150000,21.700000
3573,491551.0,15,4,BUS,092,2015,1,386341.0,2019-01-08 23:36:24,2019-01-08 06:30:32,17:05:52,386138.0,2019-01-08 23:46:51,2019-01-08 06:43:14,17:03:37,10.450000,12.700000
2603,491551.0,15,4,BUS,092,2032,1,386341.0,2019-01-08 23:36:24,2019-01-08 05:48:56,17:47:28,386169.0,2019-01-08 23:54:33,2019-01-08 06:10:39,17:43:54,18.150000,21.716667
3577,491551.0,15,4,BUS,092,2032,1,386341.0,2019-01-08 23:36:24,2019-01-08 05:48:56,17:47:28,386138.0,2019-01-08 23:46:51,2019-01-08 06:01:47,17:45:04,10.450000,12.850000
3306,491551.0,15,4,BUS,092,2032,1,386341.0,2019-01-08 23:36:24,2019-01-08 05:48:56,17:47:28,386737.0,2019-01-09 00:00:35,2019-01-08 06:14:28,17:46:07,24.183333,25.533333
3641,491551.0,15,4,BUS,092,2038,1,386341.0,2019-01-08 23:36:24,2019-01-08 05:37:17,17:59:07,386138.0,2019-01-08 23:46:51,2019-01-08 05:46:05,18:00:46,10.450000,8.800000
3019,491551.0,15,4,BUS,092,2038,1,386341.0,2019-01-08 23:36:24,2019-01-08 05:37:17,17:59:07,386169.0,2019-01-08 23:54:33,2019-01-08 05:51:57,18:02:36,18.150000,14.666667
3466,491551.0,15,4,BUS,092,2038,1,386341.0,2019-01-08 23:36:24,2019-01-08 05:37:17,17:59:07,386737.0,2019-01-09 00:00:35,2019-01-08 05:57:15,18:03:20,24.183333,19.966667
119,491551.0,15,4,WALK,nan,NaN,NaN,NaN,2019-01-08 23:51:34,NaT,NaT,NaN,2019-01-08 23:54:43,NaT,NaT,3.150000,NaN
422,491551.0,15,4,WALK,nan,NaN,NaN,NaN,2019-01-08 23:50:40,NaT,NaT,NaN,2019-01-09 00:08:00,NaT,NaT,17.333333,NaN
69,491551.0,15,5,WALK,nan,NaN,NaN,NaN,2019-01-08 23:51:34,NaT,NaT,NaN,2019-01-09 00:01:34,NaT,NaT,10.000000,NaN
258,491551.0,15,5,WALK,nan,NaN,NaN,NaN,2019-01-08 23:54:34,NaT,NaT,NaN,2019-01-08 23:54:50,NaT,NaT,0.266667,NaN
295,491551.0,15,5,WALK,nan,NaN,NaN,NaN,2019-01-09 00:00:36,NaT,NaT,NaN,2019-01-09 00:25:21,NaT,NaT,24.750000,NaN
455,491551.0,15,5,WALK,nan,NaN,NaN,NaN,2019-01-08 23:46:52,NaT,NaT,NaN,2019-01-08 23:57:46,NaT,NaT,10.900000,NaN

In [198]:
scheduled_itin_observed_od_full_clean \
                        .groupby(['otp_itinerary_id', 'otp_leg_id']) \
                        .apply(lambda x: x.sort_values(["sched_obs_start_timediff"]))

                                  otp_user_trip_id  otp_itinerary_id  \
otp_itinerary_id otp_leg_id
1                1          0             491551.0                 1
                 2          1616          491551.0                 1
                            1038          491551.0                 1
                            775           491551.0                 1
                            1357          491551.0                 1
                            308           491551.0                 1
                            1793          491551.0                 1
                            577           491551.0                 1
                            1115          491551.0                 1
                            66            491551.0                 1
                            1440          491551.0                 1
                            906           491551.0                 1
                            1661          491551.0                 1
                            1787          491551.0                 1
                            297           491551.0                 1
                            1346          491551.0                 1
                            766           491551.0                 1
                            1032          491551.0                 1
                            1608          491551.0                 1
                            1496          491551.0                 1
                            1192          491551.0                 1
                            948           491551.0                 1
                            143           491551.0                 1
                            1703          491551.0                 1
                            640           491551.0                 1
                            1026          491551.0                 1
                            1781          491551.0                 1
                            286           491551.0                 1
                            757           491551.0                 1
                            1335          491551.0                 1
...                                            ...               ...
15               4          3311          491551.0                15
                            3643          491551.0                15
                            3032          491551.0                15
                            3471          491551.0                15
                            3563          491551.0                15
                            3271          491551.0                15
                            2512          491551.0                15
                            3627          491551.0                15
                            2928          491551.0                15
                            3431          491551.0                15
                            2785          491551.0                15
                            3605          491551.0                15
                            3376          491551.0                15
                            3653          491551.0                15
                            3097          491551.0                15
                            3496          491551.0                15
                            2577          491551.0                15
                            3573          491551.0                15
                            3577          491551.0                15
                            2603          491551.0                15
                            3306          491551.0                15
                            3019          491551.0                15
                            3641          491551.0                15
                            3466          491551.0                15
                            119           491551.0                15
                            422           491551.0                15
                 5          69            491551.0                15
                            258           491551.0                15
                            295           491551.0                15
                            455           491551.0                15

                                  otp_leg_id otp_mode otp_route bt_bus_code  \
otp_itinerary_id otp_leg_id
1                1          0              1     WALK       nan         NaN
                 2          1616           2      BUS       944        1052
                            1038           2      BUS       944        1052
                            775            2      BUS       944        1052
                            1357           2      BUS       944        1052
                            308            2      BUS       944        1052
                            1793           2      BUS       944        1052
                            577            2      BUS       944        1002
                            1115           2      BUS       944        1002
                            66             2      BUS       944        1002
                            1440           2      BUS       944        1002
                            906            2      BUS       944        1002
                            1661           2      BUS       944        1002
                            1787           2      BUS       944        1052
                            297            2      BUS       944        1052
                            1346           2      BUS       944        1052
                            766            2      BUS       944        1052
                            1032           2      BUS       944        1052
                            1608           2      BUS       944        1052
                            1496           2      BUS       944        1051
                            1192           2      BUS       944        1051
                            948            2      BUS       944        1051
                            143            2      BUS       944        1051
                            1703           2      BUS       944        1051
                            640            2      BUS       944        1051
                            1026           2      BUS       944        1052
                            1781           2      BUS       944        1052
                            286            2      BUS       944        1052
                            757            2      BUS       944        1052
                            1335           2      BUS       944        1052
...                                      ...      ...       ...         ...
15               4          3311           4      BUS       092        2032
                            3643           4      BUS       092        2038
                            3032           4      BUS       092        2038
                            3471           4      BUS       092        2038
                            3563           4      BUS       092        2002
                            3271           4      BUS       092        2002
                            2512           4      BUS       092        2002
                            3627           4      BUS       092        2026
                            2928           4      BUS       092        2026
                            3431           4      BUS       092        2026
                            2785           4      BUS       092        2072
                            3605           4      BUS       092        2072
                            3376           4      BUS       092        2072
                            3653           4      BUS       092        2069
                            3097           4      BUS       092        2069
                            3496           4      BUS       092        2069
                            2577           4      BUS       092        2015
                            3573           4      BUS       092        2015
                            3577           4      BUS       092        2032
                            2603           4      BUS       092        2032
                            3306           4      BUS       092        2032
                            3019           4      BUS       092        2038
                            3641           4      BUS       092        2038
                            3466           4      BUS       092        2038
                            119            4     WALK       nan         NaN
                            422            4     WALK       nan         NaN
                 5          69             5     WALK       nan         NaN
                            258            5     WALK       nan         NaN
                            295            5     WALK       nan         NaN
                            455            5     WALK       nan         NaN

                                 bt_trip_num  otp_from_stop_id  \
otp_itinerary_id otp_leg_id
1                1          0            NaN               NaN
                 2          1616           9          491551.0
                            1038           9          491551.0
                            775            9          491551.0
                            1357           9          491551.0
                            308            9          491551.0
                            1793           9          491551.0
                            577            8          491551.0
                            1115           8          491551.0
                            66             8          491551.0
                            1440           8          491551.0
                            906            8          491551.0
                            1661           8          491551.0
                            1787           8          491551.0
                            297            8          491551.0
                            1346           8          491551.0
                            766            8          491551.0
                            1032           8          491551.0
                            1608           8          491551.0
                            1496           7          491551.0
                            1192           7          491551.0
                            948            7          491551.0
                            143            7          491551.0
                            1703           7          491551.0
                            640            7          491551.0
                            1026           7          491551.0
                            1781           7          491551.0
                            286            7          491551.0
                            757            7          491551.0
                            1335           7          491551.0
...                                      ...               ...
15               4          3311           3          386341.0
                            3643           2          386341.0
                            3032           2          386341.0
                            3471           2          386341.0
                            3563           1          386341.0
                            3271           1          386341.0
                            2512           1          386341.0
                            3627           1          386341.0
                            2928           1          386341.0
                            3431           1          386341.0
                            2785           1          386341.0
                            3605           1          386341.0
                            3376           1          386341.0
                            3653           1          386341.0
                            3097           1          386341.0
                            3496           1          386341.0
                            2577           1          386341.0
                            3573           1          386341.0
                            3577           1          386341.0
                            2603           1          386341.0
                            3306           1          386341.0
                            3019           1          386341.0
                            3641           1          386341.0
                            3466           1          386341.0
                            119          NaN               NaN
                            422          NaN               NaN
                 5          69           NaN               NaN
                            258          NaN               NaN
                            295          NaN               NaN
                            455          NaN               NaN

                                      otp_start_time       bt_start_time  \
otp_itinerary_id otp_leg_id
1                1          0    2019-01-08 14:53:45                 NaT
                 2          1616 2019-01-08 14:53:47 2019-01-08 14:55:12
                            1038 2019-01-08 14:53:47 2019-01-08 14:55:12
                            775  2019-01-08 14:53:47 2019-01-08 14:55:12
                            1357 2019-01-08 14:53:47 2019-01-08 14:55:12
                            308  2019-01-08 14:53:47 2019-01-08 14:55:12
                            1793 2019-01-08 14:53:47 2019-01-08 14:55:12
                            577  2019-01-08 14:53:47 2019-01-08 13:55:44
                            1115 2019-01-08 14:53:47 2019-01-08 13:55:44
                            66   2019-01-08 14:53:47 2019-01-08 13:55:44
                            1440 2019-01-08 14:53:47 2019-01-08 13:55:44
                            906  2019-01-08 14:53:47 2019-01-08 13:55:44
                            1661 2019-01-08 14:53:47 2019-01-08 13:55:44
                            1787 2019-01-08 14:53:47 2019-01-08 13:39:16
                            297  2019-01-08 14:53:47 2019-01-08 13:39:16
                            1346 2019-01-08 14:53:47 2019-01-08 13:39:16
                            766  2019-01-08 14:53:47 2019-01-08 13:39:16
                            1032 2019-01-08 14:53:47 2019-01-08 13:39:16
                            1608 2019-01-08 14:53:47 2019-01-08 13:39:16
                            1496 2019-01-08 14:53:47 2019-01-08 12:58:05
                            1192 2019-01-08 14:53:47 2019-01-08 12:58:05
                            948  2019-01-08 14:53:47 2019-01-08 12:58:05
                            143  2019-01-08 14:53:47 2019-01-08 12:58:05
                            1703 2019-01-08 14:53:47 2019-01-08 12:58:05
                            640  2019-01-08 14:53:47 2019-01-08 12:58:05
                            1026 2019-01-08 14:53:47 2019-01-08 12:25:05
                            1781 2019-01-08 14:53:47 2019-01-08 12:25:05
                            286  2019-01-08 14:53:47 2019-01-08 12:25:05
                            757  2019-01-08 14:53:47 2019-01-08 12:25:05
                            1335 2019-01-08 14:53:47 2019-01-08 12:25:05
...                                              ...                 ...
15               4          3311 2019-01-08 23:36:24 2019-01-08 08:05:09
                            3643 2019-01-08 23:36:24 2019-01-08 07:54:11
                            3032 2019-01-08 23:36:24 2019-01-08 07:54:11
                            3471 2019-01-08 23:36:24 2019-01-08 07:54:11
                            3563 2019-01-08 23:36:24 2019-01-08 07:37:16
                            3271 2019-01-08 23:36:24 2019-01-08 07:37:16
                            2512 2019-01-08 23:36:24 2019-01-08 07:37:16
                            3627 2019-01-08 23:36:24 2019-01-08 07:22:04
                            2928 2019-01-08 23:36:24 2019-01-08 07:22:04
                            3431 2019-01-08 23:36:24 2019-01-08 07:22:04
                            2785 2019-01-08 23:36:24 2019-01-08 07:06:41
                            3605 2019-01-08 23:36:24 2019-01-08 07:06:41
                            3376 2019-01-08 23:36:24 2019-01-08 07:06:41
                            3653 2019-01-08 23:36:24 2019-01-08 06:53:01
                            3097 2019-01-08 23:36:24 2019-01-08 06:53:01
                            3496 2019-01-08 23:36:24 2019-01-08 06:53:01
                            2577 2019-01-08 23:36:24 2019-01-08 06:30:32
                            3573 2019-01-08 23:36:24 2019-01-08 06:30:32
                            3577 2019-01-08 23:36:24 2019-01-08 05:48:56
                            2603 2019-01-08 23:36:24 2019-01-08 05:48:56
                            3306 2019-01-08 23:36:24 2019-01-08 05:48:56
                            3019 2019-01-08 23:36:24 2019-01-08 05:37:17
                            3641 2019-01-08 23:36:24 2019-01-08 05:37:17
                            3466 2019-01-08 23:36:24 2019-01-08 05:37:17
                            119  2019-01-08 23:51:34                 NaT
                            422  2019-01-08 23:50:40                 NaT
                 5          69   2019-01-08 23:51:34                 NaT
                            258  2019-01-08 23:54:34                 NaT
                            295  2019-01-09 00:00:36                 NaT
                            455  2019-01-08 23:46:52                 NaT

                                 sched_obs_start_timediff  otp_to_stop_id  \
otp_itinerary_id otp_leg_id
1                1          0                         NaT             NaN
                 2          1616                 00:01:25        497505.0
                            1038                 00:01:25        385784.0
                            775                  00:01:25        386653.0
                            1357                 00:01:25        386255.0
                            308                  00:01:25        386521.0
                            1793                 00:01:25        385834.0
                            577                  00:58:03        386653.0
                            1115                 00:58:03        386255.0
                            66                   00:58:03        386521.0
                            1440                 00:58:03        497505.0
                            906                  00:58:03        385784.0
                            1661                 00:58:03        385834.0
                            1787                 01:14:31        385834.0
                            297                  01:14:31        386521.0
                            1346                 01:14:31        386255.0
                            766                  01:14:31        386653.0
                            1032                 01:14:31        385784.0
                            1608                 01:14:31        497505.0
                            1496                 01:55:42        497505.0
                            1192                 01:55:42        386255.0
                            948                  01:55:42        385784.0
                            143                  01:55:42        386521.0
                            1703                 01:55:42        385834.0
                            640                  01:55:42        386653.0
                            1026                 02:28:42        385784.0
                            1781                 02:28:42        385834.0
                            286                  02:28:42        386521.0
                            757                  02:28:42        386653.0
                            1335                 02:28:42        386255.0
...                                                   ...             ...

In [199]:
#scheduled_itin_observed_od_full_clean[(scheduled_itin_observed_od_full_clean.otp_route == "944") & (scheduled_itin_observed_od_full_clean.otp_start_time == '2019-05-13 14:05:47') & (scheduled_itin_observed_od_full_clean.otp_itinerary_id == 230)][['otp_itinerary_id','otp_leg_id',"otp_start_time","otp_route","otp_from_stop_id",
                                                                           #"otp_from_stop_id", "bt_start_time", "sched_obs_start_timediff"]].sort_values(by=['sched_obs_start_timediff']).head()

In [200]:
scheduled_itin_observed_od_full_clean = scheduled_itin_observed_od_full_clean.drop_duplicates(subset=['otp_itinerary_id','otp_leg_id'])

In [201]:
scheduled_itin_observed_od_full_clean

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,bt_duration_mins
0,491551.0,1,1,WALK,nan,NaN,NaN,NaN,2019-01-08 14:53:45,NaT,NaT,NaN,2019-01-08 14:53:46,NaT,NaT,0.016667,NaN
1616,491551.0,1,2,BUS,944,1052,9,491551.0,2019-01-08 14:53:47,2019-01-08 14:55:12,00:01:25,497505.0,2019-01-08 15:08:21,2019-01-08 15:13:06,00:04:45,14.566667,17.900000
3823,491551.0,1,3,BUS,245,1045,5,385784.0,2019-01-08 15:30:01,2019-01-08 15:39:34,00:09:33,491287.0,2019-01-08 15:38:44,2019-01-08 15:46:37,00:07:53,8.716667,7.050000
3150,491551.0,1,4,BUS,092,2069,6,385746.0,2019-01-08 15:20:10,2019-01-08 15:21:21,00:01:11,386169.0,2019-01-08 15:34:33,2019-01-08 15:36:43,00:02:10,14.383333,15.366667
160,491551.0,1,5,WALK,nan,NaN,NaN,NaN,2019-01-08 15:46:09,NaT,NaT,NaN,2019-01-08 15:46:21,NaT,NaT,0.200000,NaN
4,491551.0,2,1,WALK,nan,NaN,NaN,NaN,2019-01-08 15:23:45,NaT,NaT,NaN,2019-01-08 15:23:46,NaT,NaT,0.016667,NaN
309,491551.0,2,2,BUS,944,1052,9,491551.0,2019-01-08 15:23:47,2019-01-08 14:55:12,00:28:35,386521.0,2019-01-08 15:53:31,2019-01-08 15:34:52,00:18:39,29.733333,39.666667
3789,491551.0,2,3,BUS,245,1034,5,385784.0,2019-01-08 15:53:39,2019-01-08 15:52:37,00:01:02,491287.0,2019-01-08 16:01:33,2019-01-08 16:01:55,00:00:22,7.900000,9.300000
2969,491551.0,2,4,BUS,092,2026,7,385746.0,2019-01-08 15:50:10,2019-01-08 15:50:18,00:00:08,386169.0,2019-01-08 16:04:33,2019-01-08 16:04:47,00:00:14,14.383333,14.483333
163,491551.0,2,5,WALK,nan,NaN,NaN,NaN,2019-01-08 16:29:09,NaT,NaT,NaN,2019-01-08 16:29:21,NaT,NaT,0.200000,NaN
8,491551.0,3,1,WALK,nan,NaN,NaN,NaN,2019-01-08 15:40:03,NaT,NaT,NaN,2019-01-08 15:50:48,NaT,NaT,10.750000,NaN
3925,491551.0,3,3,BUS,092,2021,3,385744.0,2019-01-08 16:13:08,2019-01-08 16:12:59,00:00:09,386214.0,2019-01-08 16:31:23,2019-01-08 16:37:20,00:05:57,18.250000,24.350000
3082,491551.0,3,4,BUS,092,2038,8,386341.0,2019-01-08 16:16:24,2019-01-08 16:16:02,00:00:22,386169.0,2019-01-08 16:34:33,2019-01-08 16:35:36,00:01:03,18.150000,19.566667
12,491551.0,3,5,WALK,nan,NaN,NaN,NaN,2019-01-08 16:34:24,NaT,NaT,NaN,2019-01-08 16:50:39,NaT,NaT,16.250000,NaN
13,491551.0,4,1,WALK,nan,NaN,NaN,NaN,2019-01-08 16:23:45,NaT,NaT,NaN,2019-01-08 16:23:46,NaT,NaT,0.016667,NaN
317,491551.0,4,2,BUS,944,1052,9,491551.0,2019-01-08 16:23:47,2019-01-08 14:55:12,01:28:35,386521.0,2019-01-08 16:53:31,2019-01-08 15:34:52,01:18:39,29.733333,39.666667
15,491551.0,4,3,WALK,nan,NaN,NaN,NaN,2019-01-08 16:49:58,NaT,NaT,NaN,2019-01-08 16:53:39,NaT,NaT,3.683333,NaN
4408,491551.0,4,4,BUS,111,3026,4,385974.0,2019-01-08 16:49:14,2019-01-08 16:53:17,00:04:03,386087.0,2019-01-08 17:07:13,2019-01-08 17:13:36,00:06:23,17.983333,20.316667
5089,491551.0,4,5,BUS,055,2060,8,386162.0,2019-01-08 17:10:23,2019-01-08 16:55:10,00:15:13,497492.0,2019-01-08 17:11:45,2019-01-08 16:56:10,00:15:35,1.366667,1.000000
390,491551.0,4,6,WALK,nan,NaN,NaN,NaN,2019-01-08 17:11:46,NaT,NaT,NaN,2019-01-08 17:11:50,NaT,NaT,0.066667,NaN
18,491551.0,5,1,WALK,nan,NaN,NaN,NaN,2019-01-08 16:40:03,NaT,NaT,NaN,2019-01-08 16:50:48,NaT,NaT,10.750000,NaN
4781,491551.0,5,3,BUS,444,3051,14,385834.0,2019-01-08 17:22:59,2019-01-08 17:29:06,00:06:07,386709.0,2019-01-08 17:39:49,2019-01-08 17:40:00,00:00:11,16.833333,10.900000
2893,491551.0,5,4,BUS,092,2021,3,385746.0,2019-01-08 17:20:10,2019-01-08 17:06:12,00:13:58,386169.0,2019-01-08 17:34:33,2019-01-08 17:24:12,00:10:21,14.383333,18.000000
173,491551.0,5,5,WALK,nan,NaN,NaN,NaN,2019-01-08 17:50:10,NaT,NaT,NaN,2019-01-08 17:50:22,NaT,NaT,0.200000,NaN
22,491551.0,6,1,WALK,nan,NaN,NaN,NaN,2019-01-08 17:23:45,NaT,NaT,NaN,2019-01-08 17:23:46,NaT,NaT,0.016667,NaN
607,491551.0,6,2,BUS,944,1002,11,491551.0,2019-01-08 17:23:47,2019-01-08 18:53:57,01:30:10,386653.0,2019-01-08 17:48:09,2019-01-08 20:43:42,02:55:33,24.366667,109.750000
4764,491551.0,6,3,BUS,444,3047,15,385834.0,2019-01-08 17:58:59,2019-01-08 17:58:52,00:00:07,386709.0,2019-01-08 18:15:49,2019-01-08 18:10:35,00:05:14,16.833333,11.716667
2985,491551.0,6,4,BUS,092,2026,8,385746.0,2019-01-08 17:50:10,2019-01-08 17:58:50,00:08:40,386169.0,2019-01-08 18:04:33,2019-01-08 18:17:48,00:13:15,14.383333,18.966667
26,491551.0,6,5,WALK,nan,NaN,NaN,NaN,2019-01-08 18:16:05,NaT,NaT,NaN,2019-01-08 18:18:34,NaT,NaT,2.483333,NaN
27,491551.0,7,1,WALK,nan,NaN,NaN,NaN,2019-01-08 17:40:03,NaT,NaT,NaN,2019-01-08 17:50:48,NaT,NaT,10.750000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1467,491551.0,10,2,BUS,944,1002,11,491551.0,2019-01-08 19:23:47,2019-01-08 18:53:57,00:29:50,497505.0,2019-01-08 19:38:21,2019-01-08 20:30:58,00:52:37,14.566667,97.016667
4446,491551.0,10,3,BUS,111,3058,10,386521.0,2019-01-08 20:23:36,2019-01-08 21:34:50,01:11:14,386087.0,2019-01-08 20:32:13,2019-01-08 21:43:16,01:11:03,8.616667,8.433333
5208,491551.0,10,4,BUS,909,3017,12,386341.0,2019-01-08 19:59:13,2019-01-08 19:54:52,00:04:21,386212.0,2019-01-08 20:15:28,2019-01-08 20:27:33,00:12:05,16.250000,32.683333
5145,491551.0,10,5,BUS,555,2058,7,386267.0,2019-01-08 20:03:30,2019-01-08 19:44:04,00:19:26,386157.0,2019-01-08 20:06:52,2019-01-08 19:45:46,00:21:06,3.366667,1.700000
408,491551.0,10,6,WALK,nan,NaN,NaN,NaN,2019-01-08 20:06:53,NaT,NaT,NaN,2019-01-08 20:13:24,NaT,NaT,6.516667,NaN
45,491551.0,11,1,WALK,nan,NaN,NaN,NaN,2019-01-08 20:23:45,NaT,NaT,NaN,2019-01-08 20:23:46,NaT,NaT,0.016667,NaN
1245,491551.0,11,2,BUS,944,1051,13,491551.0,2019-01-08 20:23:47,2019-01-08 20:43:23,00:19:36,386255.0,2019-01-08 20:52:02,2019-01-08 22:22:18,01:30:16,28.250000,98.916667
47,491551.0,11,3,WALK,nan,NaN,NaN,NaN,2019-01-08 20:49:58,NaT,NaT,NaN,2019-01-08 20:53:39,NaT,NaT,3.683333,NaN
5422,491551.0,11,4,BUS,909,3040,11,385746.0,2019-01-08 20:53:59,2019-01-08 20:51:58,00:02:01,386212.0,2019-01-08 21:06:28,2019-01-08 21:04:22,00:02:06,12.483333,12.400000
49,491551.0,11,5,WALK,nan,NaN,NaN,NaN,2019-01-08 21:05:44,NaT,NaT,NaN,2019-01-08 21:08:13,NaT,NaT,2.483333,NaN
50,491551.0,12,1,WALK,nan,NaN,NaN,NaN,2019-01-08 21:03:45,NaT,NaT,NaN,2019-01-08 21:03:46,NaT,NaT,0.016667,NaN
1246,491551.0,12,2,BUS,944,1051,13,491551.0,2019-01-08 21:03:47,2019-01-08 20:43:23,00:20:24,386255.0,2019-01-08 21:32:02,2019-01-08 22:22:18,00:50:16,28.250000,98.916667
4486,491551.0,12,3,BUS,101,1088,10,386521.0,2019-01-08 21:45:38,2019-01-08 22:06:24,00:20:46,386473.0,2019-01-08 22:06:30,2019-01-08 22:22:45,00:16:15,20.866667,16.350000
4666,491551.0,12,4,BUS,922,2025,7,386341.0,2019-01-08 21:39:18,2019-01-08 20:55:52,00:43:26,386169.0,2019-01-08 22:01:28,2019-01-08 21:12:54,00:48:34,22.166667,17.033333
54,491551.0,12,5,WALK,nan,NaN,NaN,NaN,2019-01-08 21:46:45,NaT,NaT,NaN,2019-01-08 22:03:00,NaT,NaT,16.250000,NaN
55,491551.0,13,1,WALK,nan,NaN,NaN,NaN,2019-01-08 21:33:45,NaT,NaT,NaN,2019-01-08 21:33:46,NaT,NaT,0.016667,NaN
1251,491551.0,13,2,BUS,944,1051,13,491551.0,2019-01-08 21:33:47,2019-01-08 20:43:23,00:50:24,386255.0,2019-01-08 22:02:02,2019-01-08 22:22:18,00:20:16,28.250000,98.916667
3862,491551.0,13,3,BUS,245,1070,4,385784.0,2019-01-08 22:00:01,2019-01-08 18:37:00,03:23:01,491287.0,2019-01-08 22:08:44,2019-01-08 18:46:08,03:22:36,8.716667,9.133333
3369,491551.0,13,4,BUS,092,2039,13,385746.0,2019-01-08 22:05:10,2019-01-08 22:32:02,00:26:52,386737.0,2019-01-08 22:25:35,2019-01-08 22:48:37,00:23:02,20.416667,16.583333
59,491551.0,13,5,WALK,nan,NaN,NaN,NaN,2019-01-08 22:15:44,NaT,NaT,NaN,2019-01-08 22:18:13,NaT,NaT,2.483333,NaN
60,491551.0,14,1,WALK,nan,NaN,NaN,NaN,2019-01-08 22:03:45,NaT,NaT,NaN,2019-01-08 22:03:46,NaT,NaT,0.016667,NaN
982,491551.0,14,2,BUS,944,1051,13,491551.0,2019-01-08 22:03:47,2019-01-08 20:43:23,01:20:24,385784.0,2019-01-08 22:23:40,2019-01-08 22:15:47,00:07:53,19.883333,92.400000
3863,491551.0,14,3,BUS,245,1070,4,385784.0,2019-01-08 22:48:39,2019-01-08 18:37:00,04:11:39,491287.0,2019-01-08 22:56:33,2019-01-08 18:46:08,04:10:25,7.900000,9.133333
2769,491551.0,14,4,BUS,092,2039,13,385746.0,2019-01-08 22:35:10,2019-01-08 22:32:02,00:03:08,386169.0,2019-01-08 22:49:33,2019-01-08 22:45:24,00:04:09,14.383333,13.366667
64,491551.0,14,5,WALK,nan,NaN,NaN,NaN,2019-01-08 22:46:45,NaT,NaT,NaN,2019-01-08 23:03:00,NaT,NaT,16.250000,NaN
65,491551.0,15,1,WALK,nan,NaN,NaN,NaN,2019-01-08 23:03:45,NaT,NaT,NaN,2019-01-08 23:03:46,NaT,NaT,0.016667,NaN
1543,491551.0,15,2,BUS,944,1051,13,491551.0,2019-01-08 23:03:47,2019-01-08 20:43:23,02:20:24,497505.0,2019-01-08 23:18:21,2019-01-08 22:28:27,00:49:54,14.566667,105.066667
3864,491551.0,15,3,BUS,245,1070,4,385784.0,2019-01-08 23:43:39,2019-01-08 18:37:00,05:06:39,491287.0,2019-01-08 23:51:33,2019-01-08 18:46:08,05:05:25,7.900000,9.133333
2402,491551.0,15,4,BUS,022,1091,11,386637.0,2019-01-08 23:34:36,2019-01-08 23:08:46,00:25:50,491163.0,2019-01-08 23:51:33,2019-01-08 23:42:14,00:09:19,16.950000,33.466667
69,491551.0,15,5,WALK,nan,NaN,NaN,NaN,2019-01-08 23:51:34,NaT,NaT,NaN,2019-01-09 00:01:34,NaT,NaT,10.000000,NaN

In [202]:
#scheduled_itin_observed_od_full_clean[["otp_itinerary_id","otp_leg_id","otp_mode","otp_route","bt_start_time","bt_end_time"]]

In [203]:
# Filtering out itineraries which lost bus legs along the processing


curr_matched_itins_num_legs = scheduled_itin_observed_od_full_clean.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(np.unique(x))}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})

In [204]:
original_suggested_itins_num_legs = otp_suggestions.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(x)}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})

In [205]:
original_suggested_itins_num_legs.dtypes

otp_user_trip_id    float64
otp_itinerary_id      int64
num_legs              int64
dtype: object

In [206]:
complete_matched_itins = original_suggested_itins_num_legs

In [207]:
complete_matched_itins.head()

   otp_user_trip_id  otp_itinerary_id  num_legs
0          491551.0                 1        29
1          491551.0                 2        30
2          491551.0                 3        30
3          491551.0                 4        33
4          491551.0                 5        29

In [208]:
all_complete_vehicle_legs_options = scheduled_itin_observed_od_full_clean.merge(complete_matched_itins.drop('num_legs', axis=1), how='inner')

In [209]:
all_complete_vehicle_legs_options.drop_duplicates(keep='first',subset=['otp_mode','otp_route','bt_bus_code','bt_trip_num', 'otp_from_stop_id','otp_start_time','bt_start_time','sched_obs_start_timediff','otp_to_stop_id','otp_end_time','bt_end_time','sched_obs_end_timediff','otp_duration_mins'])

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,bt_duration_mins
0,491551.0,1,1,WALK,nan,NaN,NaN,NaN,2019-01-08 14:53:45,NaT,NaT,NaN,2019-01-08 14:53:46,NaT,NaT,0.016667,NaN
1,491551.0,1,2,BUS,944,1052,9,491551.0,2019-01-08 14:53:47,2019-01-08 14:55:12,00:01:25,497505.0,2019-01-08 15:08:21,2019-01-08 15:13:06,00:04:45,14.566667,17.900000
2,491551.0,1,3,BUS,245,1045,5,385784.0,2019-01-08 15:30:01,2019-01-08 15:39:34,00:09:33,491287.0,2019-01-08 15:38:44,2019-01-08 15:46:37,00:07:53,8.716667,7.050000
3,491551.0,1,4,BUS,092,2069,6,385746.0,2019-01-08 15:20:10,2019-01-08 15:21:21,00:01:11,386169.0,2019-01-08 15:34:33,2019-01-08 15:36:43,00:02:10,14.383333,15.366667
4,491551.0,1,5,WALK,nan,NaN,NaN,NaN,2019-01-08 15:46:09,NaT,NaT,NaN,2019-01-08 15:46:21,NaT,NaT,0.200000,NaN
5,491551.0,2,1,WALK,nan,NaN,NaN,NaN,2019-01-08 15:23:45,NaT,NaT,NaN,2019-01-08 15:23:46,NaT,NaT,0.016667,NaN
6,491551.0,2,2,BUS,944,1052,9,491551.0,2019-01-08 15:23:47,2019-01-08 14:55:12,00:28:35,386521.0,2019-01-08 15:53:31,2019-01-08 15:34:52,00:18:39,29.733333,39.666667
7,491551.0,2,3,BUS,245,1034,5,385784.0,2019-01-08 15:53:39,2019-01-08 15:52:37,00:01:02,491287.0,2019-01-08 16:01:33,2019-01-08 16:01:55,00:00:22,7.900000,9.300000
8,491551.0,2,4,BUS,092,2026,7,385746.0,2019-01-08 15:50:10,2019-01-08 15:50:18,00:00:08,386169.0,2019-01-08 16:04:33,2019-01-08 16:04:47,00:00:14,14.383333,14.483333
9,491551.0,2,5,WALK,nan,NaN,NaN,NaN,2019-01-08 16:29:09,NaT,NaT,NaN,2019-01-08 16:29:21,NaT,NaT,0.200000,NaN
10,491551.0,3,1,WALK,nan,NaN,NaN,NaN,2019-01-08 15:40:03,NaT,NaT,NaN,2019-01-08 15:50:48,NaT,NaT,10.750000,NaN
11,491551.0,3,3,BUS,092,2021,3,385744.0,2019-01-08 16:13:08,2019-01-08 16:12:59,00:00:09,386214.0,2019-01-08 16:31:23,2019-01-08 16:37:20,00:05:57,18.250000,24.350000
12,491551.0,3,4,BUS,092,2038,8,386341.0,2019-01-08 16:16:24,2019-01-08 16:16:02,00:00:22,386169.0,2019-01-08 16:34:33,2019-01-08 16:35:36,00:01:03,18.150000,19.566667
13,491551.0,3,5,WALK,nan,NaN,NaN,NaN,2019-01-08 16:34:24,NaT,NaT,NaN,2019-01-08 16:50:39,NaT,NaT,16.250000,NaN
14,491551.0,4,1,WALK,nan,NaN,NaN,NaN,2019-01-08 16:23:45,NaT,NaT,NaN,2019-01-08 16:23:46,NaT,NaT,0.016667,NaN
15,491551.0,4,2,BUS,944,1052,9,491551.0,2019-01-08 16:23:47,2019-01-08 14:55:12,01:28:35,386521.0,2019-01-08 16:53:31,2019-01-08 15:34:52,01:18:39,29.733333,39.666667
16,491551.0,4,3,WALK,nan,NaN,NaN,NaN,2019-01-08 16:49:58,NaT,NaT,NaN,2019-01-08 16:53:39,NaT,NaT,3.683333,NaN
17,491551.0,4,4,BUS,111,3026,4,385974.0,2019-01-08 16:49:14,2019-01-08 16:53:17,00:04:03,386087.0,2019-01-08 17:07:13,2019-01-08 17:13:36,00:06:23,17.983333,20.316667
18,491551.0,4,5,BUS,055,2060,8,386162.0,2019-01-08 17:10:23,2019-01-08 16:55:10,00:15:13,497492.0,2019-01-08 17:11:45,2019-01-08 16:56:10,00:15:35,1.366667,1.000000
19,491551.0,4,6,WALK,nan,NaN,NaN,NaN,2019-01-08 17:11:46,NaT,NaT,NaN,2019-01-08 17:11:50,NaT,NaT,0.066667,NaN
20,491551.0,5,1,WALK,nan,NaN,NaN,NaN,2019-01-08 16:40:03,NaT,NaT,NaN,2019-01-08 16:50:48,NaT,NaT,10.750000,NaN
21,491551.0,5,3,BUS,444,3051,14,385834.0,2019-01-08 17:22:59,2019-01-08 17:29:06,00:06:07,386709.0,2019-01-08 17:39:49,2019-01-08 17:40:00,00:00:11,16.833333,10.900000
22,491551.0,5,4,BUS,092,2021,3,385746.0,2019-01-08 17:20:10,2019-01-08 17:06:12,00:13:58,386169.0,2019-01-08 17:34:33,2019-01-08 17:24:12,00:10:21,14.383333,18.000000
23,491551.0,5,5,WALK,nan,NaN,NaN,NaN,2019-01-08 17:50:10,NaT,NaT,NaN,2019-01-08 17:50:22,NaT,NaT,0.200000,NaN
24,491551.0,6,1,WALK,nan,NaN,NaN,NaN,2019-01-08 17:23:45,NaT,NaT,NaN,2019-01-08 17:23:46,NaT,NaT,0.016667,NaN
25,491551.0,6,2,BUS,944,1002,11,491551.0,2019-01-08 17:23:47,2019-01-08 18:53:57,01:30:10,386653.0,2019-01-08 17:48:09,2019-01-08 20:43:42,02:55:33,24.366667,109.750000
26,491551.0,6,3,BUS,444,3047,15,385834.0,2019-01-08 17:58:59,2019-01-08 17:58:52,00:00:07,386709.0,2019-01-08 18:15:49,2019-01-08 18:10:35,00:05:14,16.833333,11.716667
27,491551.0,6,4,BUS,092,2026,8,385746.0,2019-01-08 17:50:10,2019-01-08 17:58:50,00:08:40,386169.0,2019-01-08 18:04:33,2019-01-08 18:17:48,00:13:15,14.383333,18.966667
28,491551.0,6,5,WALK,nan,NaN,NaN,NaN,2019-01-08 18:16:05,NaT,NaT,NaN,2019-01-08 18:18:34,NaT,NaT,2.483333,NaN
29,491551.0,7,1,WALK,nan,NaN,NaN,NaN,2019-01-08 17:40:03,NaT,NaT,NaN,2019-01-08 17:50:48,NaT,NaT,10.750000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44,491551.0,10,2,BUS,944,1002,11,491551.0,2019-01-08 19:23:47,2019-01-08 18:53:57,00:29:50,497505.0,2019-01-08 19:38:21,2019-01-08 20:30:58,00:52:37,14.566667,97.016667
45,491551.0,10,3,BUS,111,3058,10,386521.0,2019-01-08 20:23:36,2019-01-08 21:34:50,01:11:14,386087.0,2019-01-08 20:32:13,2019-01-08 21:43:16,01:11:03,8.616667,8.433333
46,491551.0,10,4,BUS,909,3017,12,386341.0,2019-01-08 19:59:13,2019-01-08 19:54:52,00:04:21,386212.0,2019-01-08 20:15:28,2019-01-08 20:27:33,00:12:05,16.250000,32.683333
47,491551.0,10,5,BUS,555,2058,7,386267.0,2019-01-08 20:03:30,2019-01-08 19:44:04,00:19:26,386157.0,2019-01-08 20:06:52,2019-01-08 19:45:46,00:21:06,3.366667,1.700000
48,491551.0,10,6,WALK,nan,NaN,NaN,NaN,2019-01-08 20:06:53,NaT,NaT,NaN,2019-01-08 20:13:24,NaT,NaT,6.516667,NaN
49,491551.0,11,1,WALK,nan,NaN,NaN,NaN,2019-01-08 20:23:45,NaT,NaT,NaN,2019-01-08 20:23:46,NaT,NaT,0.016667,NaN
50,491551.0,11,2,BUS,944,1051,13,491551.0,2019-01-08 20:23:47,2019-01-08 20:43:23,00:19:36,386255.0,2019-01-08 20:52:02,2019-01-08 22:22:18,01:30:16,28.250000,98.916667
51,491551.0,11,3,WALK,nan,NaN,NaN,NaN,2019-01-08 20:49:58,NaT,NaT,NaN,2019-01-08 20:53:39,NaT,NaT,3.683333,NaN
52,491551.0,11,4,BUS,909,3040,11,385746.0,2019-01-08 20:53:59,2019-01-08 20:51:58,00:02:01,386212.0,2019-01-08 21:06:28,2019-01-08 21:04:22,00:02:06,12.483333,12.400000
53,491551.0,11,5,WALK,nan,NaN,NaN,NaN,2019-01-08 21:05:44,NaT,NaT,NaN,2019-01-08 21:08:13,NaT,NaT,2.483333,NaN
54,491551.0,12,1,WALK,nan,NaN,NaN,NaN,2019-01-08 21:03:45,NaT,NaT,NaN,2019-01-08 21:03:46,NaT,NaT,0.016667,NaN
55,491551.0,12,2,BUS,944,1051,13,491551.0,2019-01-08 21:03:47,2019-01-08 20:43:23,00:20:24,386255.0,2019-01-08 21:32:02,2019-01-08 22:22:18,00:50:16,28.250000,98.916667
56,491551.0,12,3,BUS,101,1088,10,386521.0,2019-01-08 21:45:38,2019-01-08 22:06:24,00:20:46,386473.0,2019-01-08 22:06:30,2019-01-08 22:22:45,00:16:15,20.866667,16.350000
57,491551.0,12,4,BUS,922,2025,7,386341.0,2019-01-08 21:39:18,2019-01-08 20:55:52,00:43:26,386169.0,2019-01-08 22:01:28,2019-01-08 21:12:54,00:48:34,22.166667,17.033333
58,491551.0,12,5,WALK,nan,NaN,NaN,NaN,2019-01-08 21:46:45,NaT,NaT,NaN,2019-01-08 22:03:00,NaT,NaT,16.250000,NaN
59,491551.0,13,1,WALK,nan,NaN,NaN,NaN,2019-01-08 21:33:45,NaT,NaT,NaN,2019-01-08 21:33:46,NaT,NaT,0.016667,NaN
60,491551.0,13,2,BUS,944,1051,13,491551.0,2019-01-08 21:33:47,2019-01-08 20:43:23,00:50:24,386255.0,2019-01-08 22:02:02,2019-01-08 22:22:18,00:20:16,28.250000,98.916667
61,491551.0,13,3,BUS,245,1070,4,385784.0,2019-01-08 22:00:01,2019-01-08 18:37:00,03:23:01,491287.0,2019-01-08 22:08:44,2019-01-08 18:46:08,03:22:36,8.716667,9.133333
62,491551.0,13,4,BUS,092,2039,13,385746.0,2019-01-08 22:05:10,2019-01-08 22:32:02,00:26:52,386737.0,2019-01-08 22:25:35,2019-01-08 22:48:37,00:23:02,20.416667,16.583333
63,491551.0,13,5,WALK,nan,NaN,NaN,NaN,2019-01-08 22:15:44,NaT,NaT,NaN,2019-01-08 22:18:13,NaT,NaT,2.483333,NaN
64,491551.0,14,1,WALK,nan,NaN,NaN,NaN,2019-01-08 22:03:45,NaT,NaT,NaN,2019-01-08 22:03:46,NaT,NaT,0.016667,NaN
65,491551.0,14,2,BUS,944,1051,13,491551.0,2019-01-08 22:03:47,2019-01-08 20:43:23,01:20:24,385784.0,2019-01-08 22:23:40,2019-01-08 22:15:47,00:07:53,19.883333,92.400000
66,491551.0,14,3,BUS,245,1070,4,385784.0,2019-01-08 22:48:39,2019-01-08 18:37:00,04:11:39,491287.0,2019-01-08 22:56:33,2019-01-08 18:46:08,04:10:25,7.900000,9.133333
67,491551.0,14,4,BUS,092,2039,13,385746.0,2019-01-08 22:35:10,2019-01-08 22:32:02,00:03:08,386169.0,2019-01-08 22:49:33,2019-01-08 22:45:24,00:04:09,14.383333,13.366667
68,491551.0,14,5,WALK,nan,NaN,NaN,NaN,2019-01-08 22:46:45,NaT,NaT,NaN,2019-01-08 23:03:00,NaT,NaT,16.250000,NaN
69,491551.0,15,1,WALK,nan,NaN,NaN,NaN,2019-01-08 23:03:45,NaT,NaT,NaN,2019-01-08 23:03:46,NaT,NaT,0.016667,NaN
70,491551.0,15,2,BUS,944,1051,13,491551.0,2019-01-08 23:03:47,2019-01-08 20:43:23,02:20:24,497505.0,2019-01-08 23:18:21,2019-01-08 22:28:27,00:49:54,14.566667,105.066667
71,491551.0,15,3,BUS,245,1070,4,385784.0,2019-01-08 23:43:39,2019-01-08 18:37:00,05:06:39,491287.0,2019-01-08 23:51:33,2019-01-08 18:46:08,05:05:25,7.900000,9.133333
72,491551.0,15,4,BUS,022,1091,11,386637.0,2019-01-08 23:34:36,2019-01-08 23:08:46,00:25:50,491163.0,2019-01-08 23:51:33,2019-01-08 23:42:14,00:09:19,16.950000,33.466667
73,491551.0,15,5,WALK,nan,NaN,NaN,NaN,2019-01-08 23:51:34,NaT,NaT,NaN,2019-01-09 00:01:34,NaT,NaT,10.000000,NaN

In [223]:
output = all_complete_vehicle_legs_options.to_csv("data/output/output_merged_otp_bulma/january/output_" + file_date_str  + ".csv",index=False)

In [210]:
def is_new_itinerary(prev_trip_id,curr_trip_id,prev_itin_id,curr_itin_id):
    return ((prev_trip_id != curr_trip_id) | (prev_itin_id != curr_itin_id))

def choose_leg_matches(leg_matches_groups):
        colnames = leg_matches_groups.obj.columns.values
        chosen_leg_matches = pd.DataFrame(columns = colnames)
        prev_trip_id = -1
        prev_itin_id = -1
        prev_leg_mode = ""
        prev_leg_end_time = pd.NaT
        num_groups_not_survived = 0
        new_itinerary = False

        for name, group in leg_matches_groups:
            
                #print
                #print "Name:", name
                #print "Group:"
                #print group
                #print
                
                curr_trip_id = group['otp_user_trip_id'].iloc[0]
                curr_itin_id = group['otp_itinerary_id'].iloc[0]
                curr_leg_id = group['otp_leg_id'].iloc[0]
                curr_leg_mode = group['otp_mode'].iloc[0]
                curr_leg_route = group['otp_route'].iloc[0]
                #print curr_leg_route
                
                new_itinerary = is_new_itinerary(prev_trip_id,curr_trip_id,prev_itin_id,curr_itin_id)
                if new_itinerary:
                    prev_leg_end_time = group['otp_start_time'].dt.floor('d').iloc[0]

                #if (prev_group_id == ()):
                #        prev_leg_end_time = group['bt_start_time'].dt.floor('d')[0]

                #print
                #print "Previous itinerary id:", prev_itin_id
                #print "Previous leg mode:", prev_leg_mode
                #print "Previous leg end time:", prev_leg_end_time
                #print "Current leg id:", curr_leg_id
                #print "Current leg mode:", curr_leg_mode
                #print
                #print "Original Group"
                #print group.filter(['otp_start_time','bt_start_time','bt_end_time'])
                
                if (curr_leg_mode == 'WALK'):
                    #print "Walking duration:", filtered_group['otp_duration_mins']
                    filtered_group = group.reset_index()
                    if new_itinerary: #first leg is a WALK leg
                        filtered_group.loc[0,'bt_end_time'] = prev_leg_end_time
                    else:
                        filtered_group.loc[0,'bt_start_time'] = prev_leg_end_time
                        filtered_group.loc[0,'bt_end_time'] = prev_leg_end_time + \
                            pd.Timedelta(minutes=np.rint(filtered_group['otp_duration_mins'].iloc[0]))
                    #print "Filtered Group"
                    #print filtered_group
                else:
                    filtered_group = group[group['bt_start_time'] > prev_leg_end_time]
                
                #print
                #print "Filtered Group"
                #print filtered_group.filter(['otp_start_time','bt_start_time','bt_end_time'])

                if (len(filtered_group) == 0):
                        #print "Group did not survive! =("
                        #print
                        #print "Previous itinerary id:", prev_itin_id
                        #print "Previous leg mode:", prev_leg_mode
                        #print "Previous leg end time:", prev_leg_end_time
                        #print "Current leg id:", curr_leg_id
                        #print "Current leg mode:", curr_leg_mode
                        #print
                        #print "Original Group"
                        #print group#.filter(['otp_start_time','bt_start_time','bt_end_time'])
                        num_groups_not_survived += 1
                        continue

                chosen_leg_match = filtered_group.sort_values('bt_start_time').iloc[0]
                #print chosen_leg_match
                #if (curr_leg_id == 2):
#                 print curr_leg_id
#                 print curr_leg_mode
#                 print prev_leg_mode
                
                if ((curr_leg_id == 2) & 
                    ((curr_leg_mode == 'BUS') & (prev_leg_mode == 'WALK'))):
                        #Update previous walk start/end_times
                        #print
                        #print "Chosen Leg Matches"
                        #print chosen_leg_matches.iloc[-1]
                        #print
                        chosen_leg_matches.iloc[-1,chosen_leg_matches.columns.get_loc('bt_start_time')] = chosen_leg_match['bt_start_time'] - \
                            pd.Timedelta(minutes=np.rint(chosen_leg_matches.iloc[-1].otp_duration_mins))
                        chosen_leg_matches.iloc[-1,chosen_leg_matches.columns.get_loc('bt_end_time')] = chosen_leg_match['bt_start_time']
                #print "Chosen Leg"
                #print chosen_leg_match

                chosen_leg_matches = chosen_leg_matches.append(chosen_leg_match)

                #Update variables
                #prev_group_id = name
                prev_trip_id = curr_trip_id
                prev_itin_id = curr_itin_id
                prev_leg_mode = curr_leg_mode
                prev_leg_end_time = chosen_leg_match['bt_end_time']

        #print "Number of groups which did not survive:", num_groups_not_survived
        return chosen_leg_matches.filter(colnames)

In [211]:
legs_groups = all_complete_vehicle_legs_options.groupby(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

In [ ]:
legs_groups.obj.columns.values

In [ ]:
# for key, item in legs_groups:
#     print(legs_groups.get_group(key), "\n\n")

In [212]:
# Choose best actual leg matches (based on feasibility and start time)
import time

start = time.time()
#chosen_legs = choose_leg_matches(sample_itinerary_options.groupby(['otp_user_trip_id','otp_itinerary_id','otp_leg_id']))
feasible_legs = choose_leg_matches(legs_groups)
end = time.time()

print "Execution time in s:", (end-start)

Execution time in s: 0.606379032135

In [213]:
feasible_legs

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,bt_duration_mins
0,491551.0,1,1,WALK,nan,NaN,NaN,NaN,2019-01-08 14:53:45,2019-01-08 14:55:12,NaT,NaN,2019-01-08 14:53:46,2019-01-08 14:55:12,NaT,0.016667,NaN
1,491551.0,1,2,BUS,944,1052,9,491551.0,2019-01-08 14:53:47,2019-01-08 14:55:12,0 days 00:01:25,497505.0,2019-01-08 15:08:21,2019-01-08 15:13:06,0 days 00:04:45,14.566667,17.900000
2,491551.0,1,3,BUS,245,1045,5,385784.0,2019-01-08 15:30:01,2019-01-08 15:39:34,0 days 00:09:33,491287.0,2019-01-08 15:38:44,2019-01-08 15:46:37,0 days 00:07:53,8.716667,7.050000
0,491551.0,1,5,WALK,nan,NaN,NaN,NaN,2019-01-08 15:46:09,2019-01-08 15:46:37,NaT,NaN,2019-01-08 15:46:21,2019-01-08 15:46:37,NaT,0.200000,NaN
0,491551.0,2,1,WALK,nan,NaN,NaN,NaN,2019-01-08 15:23:45,2019-01-08 14:55:12,NaT,NaN,2019-01-08 15:23:46,2019-01-08 14:55:12,NaT,0.016667,NaN
6,491551.0,2,2,BUS,944,1052,9,491551.0,2019-01-08 15:23:47,2019-01-08 14:55:12,0 days 00:28:35,386521.0,2019-01-08 15:53:31,2019-01-08 15:34:52,0 days 00:18:39,29.733333,39.666667
7,491551.0,2,3,BUS,245,1034,5,385784.0,2019-01-08 15:53:39,2019-01-08 15:52:37,0 days 00:01:02,491287.0,2019-01-08 16:01:33,2019-01-08 16:01:55,0 days 00:00:22,7.900000,9.300000
0,491551.0,2,5,WALK,nan,NaN,NaN,NaN,2019-01-08 16:29:09,2019-01-08 16:01:55,NaT,NaN,2019-01-08 16:29:21,2019-01-08 16:01:55,NaT,0.200000,NaN
0,491551.0,3,1,WALK,nan,NaN,NaN,NaN,2019-01-08 15:40:03,NaT,NaT,NaN,2019-01-08 15:50:48,2019-01-08 00:00:00,NaT,10.750000,NaN
11,491551.0,3,3,BUS,092,2021,3,385744.0,2019-01-08 16:13:08,2019-01-08 16:12:59,0 days 00:00:09,386214.0,2019-01-08 16:31:23,2019-01-08 16:37:20,0 days 00:05:57,18.250000,24.350000
0,491551.0,3,5,WALK,nan,NaN,NaN,NaN,2019-01-08 16:34:24,2019-01-08 16:37:20,NaT,NaN,2019-01-08 16:50:39,2019-01-08 16:53:20,NaT,16.250000,NaN
0,491551.0,4,1,WALK,nan,NaN,NaN,NaN,2019-01-08 16:23:45,2019-01-08 14:55:12,NaT,NaN,2019-01-08 16:23:46,2019-01-08 14:55:12,NaT,0.016667,NaN
15,491551.0,4,2,BUS,944,1052,9,491551.0,2019-01-08 16:23:47,2019-01-08 14:55:12,0 days 01:28:35,386521.0,2019-01-08 16:53:31,2019-01-08 15:34:52,0 days 01:18:39,29.733333,39.666667
0,491551.0,4,3,WALK,nan,NaN,NaN,NaN,2019-01-08 16:49:58,2019-01-08 15:34:52,NaT,NaN,2019-01-08 16:53:39,2019-01-08 15:38:52,NaT,3.683333,NaN
17,491551.0,4,4,BUS,111,3026,4,385974.0,2019-01-08 16:49:14,2019-01-08 16:53:17,0 days 00:04:03,386087.0,2019-01-08 17:07:13,2019-01-08 17:13:36,0 days 00:06:23,17.983333,20.316667
0,491551.0,4,6,WALK,nan,NaN,NaN,NaN,2019-01-08 17:11:46,2019-01-08 17:13:36,NaT,NaN,2019-01-08 17:11:50,2019-01-08 17:13:36,NaT,0.066667,NaN
0,491551.0,5,1,WALK,nan,NaN,NaN,NaN,2019-01-08 16:40:03,NaT,NaT,NaN,2019-01-08 16:50:48,2019-01-08 00:00:00,NaT,10.750000,NaN
21,491551.0,5,3,BUS,444,3051,14,385834.0,2019-01-08 17:22:59,2019-01-08 17:29:06,0 days 00:06:07,386709.0,2019-01-08 17:39:49,2019-01-08 17:40:00,0 days 00:00:11,16.833333,10.900000
0,491551.0,5,5,WALK,nan,NaN,NaN,NaN,2019-01-08 17:50:10,2019-01-08 17:40:00,NaT,NaN,2019-01-08 17:50:22,2019-01-08 17:40:00,NaT,0.200000,NaN
0,491551.0,6,1,WALK,nan,NaN,NaN,NaN,2019-01-08 17:23:45,2019-01-08 18:53:57,NaT,NaN,2019-01-08 17:23:46,2019-01-08 18:53:57,NaT,0.016667,NaN
25,491551.0,6,2,BUS,944,1002,11,491551.0,2019-01-08 17:23:47,2019-01-08 18:53:57,0 days 01:30:10,386653.0,2019-01-08 17:48:09,2019-01-08 20:43:42,0 days 02:55:33,24.366667,109.750000
0,491551.0,6,5,WALK,nan,NaN,NaN,NaN,2019-01-08 18:16:05,2019-01-08 20:43:42,NaT,NaN,2019-01-08 18:18:34,2019-01-08 20:45:42,NaT,2.483333,NaN
0,491551.0,7,1,WALK,nan,NaN,NaN,NaN,2019-01-08 17:40:03,NaT,NaT,NaN,2019-01-08 17:50:48,2019-01-08 00:00:00,NaT,10.750000,NaN
30,491551.0,7,3,BUS,092,2021,4,385744.0,2019-01-08 18:13:08,2019-01-08 18:24:56,0 days 00:11:48,386214.0,2019-01-08 18:31:23,2019-01-08 18:39:10,0 days 00:07:47,18.250000,14.233333
0,491551.0,7,5,WALK,nan,NaN,NaN,NaN,2019-01-08 18:47:48,2019-01-08 18:39:10,NaT,NaN,2019-01-08 18:48:00,2019-01-08 18:39:10,NaT,0.200000,NaN
0,491551.0,8,1,WALK,nan,NaN,NaN,NaN,2019-01-08 18:23:45,2019-01-08 18:53:57,NaT,NaN,2019-01-08 18:23:46,2019-01-08 18:53:57,NaT,0.016667,NaN
34,491551.0,8,2,BUS,944,1002,11,491551.0,2019-01-08 18:23:47,2019-01-08 18:53:57,0 days 00:30:10,386653.0,2019-01-08 18:48:09,2019-01-08 20:43:42,0 days 01:55:33,24.366667,109.750000
0,491551.0,8,6,WALK,nan,NaN,NaN,NaN,2019-01-08 18:51:24,2019-01-08 20:43:42,NaT,NaN,2019-01-08 18:52:08,2019-01-08 20:44:42,NaT,0.733333,NaN
0,491551.0,9,1,WALK,nan,NaN,NaN,NaN,2019-01-08 18:40:03,NaT,NaT,NaN,2019-01-08 18:50:48,2019-01-08 00:00:00,NaT,10.750000,NaN
40,491551.0,9,3,BUS,101,1093,9,386521.0,2019-01-08 19:16:40,2019-01-08 19:06:41,0 days 00:09:59,386473.0,2019-01-08 19:30:00,2019-01-08 19:21:37,0 days 00:08:23,13.333333,14.933333
0,491551.0,9,5,WALK,nan,NaN,NaN,NaN,2019-01-08 19:42:10,2019-01-08 19:21:37,NaT,NaN,2019-01-08 19:42:22,2019-01-08 19:21:37,NaT,0.200000,NaN
0,491551.0,10,1,WALK,nan,NaN,NaN,NaN,2019-01-08 19:23:45,2019-01-08 18:53:57,NaT,NaN,2019-01-08 19:23:46,2019-01-08 18:53:57,NaT,0.016667,NaN
44,491551.0,10,2,BUS,944,1002,11,491551.0,2019-01-08 19:23:47,2019-01-08 18:53:57,0 days 00:29:50,497505.0,2019-01-08 19:38:21,2019-01-08 20:30:58,0 days 00:52:37,14.566667,97.016667
45,491551.0,10,3,BUS,111,3058,10,386521.0,2019-01-08 20:23:36,2019-01-08 21:34:50,0 days 01:11:14,386087.0,2019-01-08 20:32:13,2019-01-08 21:43:16,0 days 01:11:03,8.616667,8.433333
0,491551.0,10,6,WALK,nan,NaN,NaN,NaN,2019-01-08 20:06:53,2019-01-08 21:43:16,NaT,NaN,2019-01-08 20:13:24,2019-01-08 21:50:16,NaT,6.516667,NaN
0,491551.0,11,1,WALK,nan,NaN,NaN,NaN,2019-01-08 20:23:45,2019-01-08 20:43:23,NaT,NaN,2019-01-08 20:23:46,2019-01-08 20:43:23,NaT,0.016667,NaN
50,491551.0,11,2,BUS,944,1051,13,491551.0,2019-01-08 20:23:47,2019-01-08 20:43:23,0 days 00:19:36,386255.0,2019-01-08 20:52:02,2019-01-08 22:22:18,0 days 01:30:16,28.250000,98.916667
0,491551.0,11,3,WALK,nan,NaN,NaN,NaN,2019-01-08 20:49:58,2019-01-08 22:22:18,NaT,NaN,2019-01-08 20:53:39,2019-01-08 22:26:18,NaT,3.683333,NaN
0,491551.0,11,5,WALK,nan,NaN,NaN,NaN,2019-01-08 21:05:44,2019-01-08 22:26:18,NaT,NaN,2019-01-08 21:08:13,2019-01-08 22:28:18,NaT,2.483333,NaN
0,491551.0,12,1,WALK,nan,NaN,NaN,NaN,2019-01-08 21:03:45,2019-01-08 20:43:23,NaT,NaN,2019-01-08 21:03:46,2019-01-08 20:43:23,NaT,0.016667,NaN
55,491551.0,12,2,BUS,944,1051,13,491551.0,2019-01-08 21:03:47,2019-01-08 20:43:23,0 days 00:20:24,386255.0,2019-01-08 21:32:02,2019-01-08 22:22:18,0 days 00:50:16,28.250000,98.916667
0,491551.0,12,5,WALK,nan,NaN,NaN,NaN,2019-01-08 21:46:45,2019-01-08 22:22:18,NaT,NaN,2019-01-08 22:03:00,2019-01-08 22:38:18,NaT,16.250000,NaN
0,491551.0,13,1,WALK,nan,NaN,NaN,NaN,2019-01-08 21:33:45,2019-01-08 20:43:23,NaT,NaN,2019-01-08 21:33:46,2019-01-08 20:43:23,NaT,0.016667,NaN
60,491551.0,13,2,BUS,944,1051,13,491551.0,2019-01-08 21:33:47,2019-01-08 20:43:23,0 days 00:50:24,386255.0,2019-01-08 22:02:02,2019-01-08 22:22:18,0 days 00:20:16,28.250000,98.916667
62,491551.0,13,4,BUS,092,2039,13,385746.0,2019-01-08 22:05:10,2019-01-08 22:32:02,0 days 00:26:52,386737.0,2019-01-08 22:25:35,2019-01-08 22:48:37,0 days 00:23:02,20.416667,16.583333
0,491551.0,13,5,WALK,nan,NaN,NaN,NaN,2019-01-08 22:15:44,2019-01-08 22:48:37,NaT,NaN,2019-01-08 22:18:13,2019-01-08 22:50:37,NaT,2.483333,NaN
0,491551.0,14,1,WALK,nan,NaN,NaN,NaN,2019-01-08 22:03:45,2019-01-08 20:43:23,NaT,NaN,2019-01-08 22:03:46,2019-01-08 20:43:23,NaT,0.016667,NaN
65,491551.0,14,2,BUS,944,1051,13,491551.0,2019-01-08 22:03:47,2019-01-08 20:43:23,0 days 01:20:24,385784.0,2019-01-08 22:23:40,2019-01-08 22:15:47,0 days 00:07:53,19.883333,92.400000
67,491551.0,14,4,BUS,092,2039,13,385746.0,2019-01-08 22:35:10,2019-01-08 22:32:02,0 days 00:03:08,386169.0,2019-01-08 22:49:33,2019-01-08 22:45:24,0 days 00:04:09,14.383333,13.366667
0,491551.0,14,5,WALK,nan,NaN,NaN,NaN,2019-01-08 22:46:45,2019-01-08 22:45:24,NaT,NaN,2019-01-08 23:03:00,2019-01-08 23:01:24,NaT,16.250000,NaN
0,491551.0,15,1,WALK,nan,NaN,NaN,NaN,2019-01-08 23:03:45,2019-01-08 20:43:23,NaT,NaN,2019-01-08 23:03:46,2019-01-08 20:43:23,NaT,0.016667,NaN
70,491551.0,15,2,BUS,944,1051,13,491551.0,2019-01-08 23:03:47,2019-01-08 20:43:23,0 days 02:20:24,497505.0,2019-01-08 23:18:21,2019-01-08 22:28:27,0 days 00:49:54,14.566667,105.066667
72,491551.0,15,4,BUS,022,1091,11,386637.0,2019-01-08 23:34:36,2019-01-08 23:08:46,0 days 00:25:50,491163.0,2019-01-08 23:51:33,2019-01-08 23:42:14,0 days 00:09:19,16.950000,33.466667
0,491551.0,15,5,WALK,nan,NaN,NaN,NaN,2019-01-08 23:51:34,2019-01-08 23:42:14,NaT,NaN,2019-01-09 00:01:34,2019-01-08 23:52:14,NaT,10.000000,NaN

In [214]:
if len(feasible_legs) == 0:
    print "No matches left after matching and selecting feasible bus legs."
    print "Skipping next steps..."
    exit(0)

# Filtering out itineraries which lost bus legs after feasible legs choice processing
feasible_itins_num_legs = feasible_legs.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(x)}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})
feasible_itins_num_legs.head(20)

    otp_user_trip_id  otp_itinerary_id  num_legs
0           491551.0                 1         4
1           491551.0                 2         4
2           491551.0                 3         3
3           491551.0                 4         5
4           491551.0                 5         3
5           491551.0                 6         3
6           491551.0                 7         3
7           491551.0                 8         3
8           491551.0                 9         3
9           491551.0                10         4
10          491551.0                11         4
11          491551.0                12         3
12          491551.0                13         4
13          491551.0                14         4
14          491551.0                15         4

In [215]:
feasible_itins_num_legs.head()

   otp_user_trip_id  otp_itinerary_id  num_legs
0          491551.0                 1         4
1          491551.0                 2         4
2          491551.0                 3         3
3          491551.0                 4         5
4          491551.0                 5         3

In [216]:
original_suggested_itins_num_legs.head()

   otp_user_trip_id  otp_itinerary_id  num_legs
0          491551.0                 1        29
1          491551.0                 2        30
2          491551.0                 3        30
3          491551.0                 4        33
4          491551.0                 5        29

In [222]:
feasible_complete_itins = feasible_itins_num_legs.merge(original_suggested_itins_num_legs,how='inner')

feasible_complete_itins.head(20)

Empty DataFrame
Columns: [otp_user_trip_id, otp_itinerary_id, num_legs]
Index: []

In [221]:
feasible_complete_itins_legs = feasible_legs.merge(feasible_complete_itins.drop('num_legs', axis=1),how='inner')

feasible_complete_itins_legs.head(10)

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,bt_duration_mins
0,491551.0,1,1,WALK,nan,NaN,NaN,NaN,2019-01-08 14:53:45,2019-01-08 14:55:12,NaT,NaN,2019-01-08 14:53:46,2019-01-08 14:55:12,NaT,0.016667,NaN
1,491551.0,1,2,BUS,944,1052,9,491551.0,2019-01-08 14:53:47,2019-01-08 14:55:12,0 days 00:01:25,497505.0,2019-01-08 15:08:21,2019-01-08 15:13:06,0 days 00:04:45,14.566667,17.900000
2,491551.0,1,3,BUS,245,1045,5,385784.0,2019-01-08 15:30:01,2019-01-08 15:39:34,0 days 00:09:33,491287.0,2019-01-08 15:38:44,2019-01-08 15:46:37,0 days 00:07:53,8.716667,7.050000
3,491551.0,1,5,WALK,nan,NaN,NaN,NaN,2019-01-08 15:46:09,2019-01-08 15:46:37,NaT,NaN,2019-01-08 15:46:21,2019-01-08 15:46:37,NaT,0.200000,NaN
4,491551.0,2,1,WALK,nan,NaN,NaN,NaN,2019-01-08 15:23:45,2019-01-08 14:55:12,NaT,NaN,2019-01-08 15:23:46,2019-01-08 14:55:12,NaT,0.016667,NaN
5,491551.0,2,2,BUS,944,1052,9,491551.0,2019-01-08 15:23:47,2019-01-08 14:55:12,0 days 00:28:35,386521.0,2019-01-08 15:53:31,2019-01-08 15:34:52,0 days 00:18:39,29.733333,39.666667
6,491551.0,2,3,BUS,245,1034,5,385784.0,2019-01-08 15:53:39,2019-01-08 15:52:37,0 days 00:01:02,491287.0,2019-01-08 16:01:33,2019-01-08 16:01:55,0 days 00:00:22,7.900000,9.300000
7,491551.0,2,5,WALK,nan,NaN,NaN,NaN,2019-01-08 16:29:09,2019-01-08 16:01:55,NaT,NaN,2019-01-08 16:29:21,2019-01-08 16:01:55,NaT,0.200000,NaN
8,491551.0,3,1,WALK,nan,NaN,NaN,NaN,2019-01-08 15:40:03,NaT,NaT,NaN,2019-01-08 15:50:48,2019-01-08 00:00:00,NaT,10.750000,NaN
9,491551.0,3,3,BUS,092,2021,3,385744.0,2019-01-08 16:13:08,2019-01-08 16:12:59,0 days 00:00:09,386214.0,2019-01-08 16:31:23,2019-01-08 16:37:20,0 days 00:05:57,18.250000,24.350000

In [219]:
def add_stops_data_to_legs(itineraries_legs,stops_locs):
    itineraries_legs_stops = itineraries_legs.merge(stops_locs, left_on='otp_from_stop_id', right_on='stop_id', how='left') \
                                                                                .drop('stop_id', axis=1) \
                                                                                .rename(index=str, columns={'stop_lat':'from_stop_lat','stop_lon':'from_stop_lon'}) \
                                                                                .merge(stops_locations, left_on='otp_to_stop_id', right_on='stop_id', how='left') \
                                                                                .drop('stop_id', axis=1) \
                                                                                .rename(index=str, columns={'stop_lat':'to_stop_lat','stop_lon':'to_stop_lon'}) 
    return itineraries_legs_stops

In [220]:
stops_locations = stops_df[['stop_id','stop_lat','stop_lon']]
itineraries_legs = add_stops_data_to_legs(feasible_complete_itins_legs,stops_locations)

itineraries_legs.head()

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,...,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,bt_duration_mins,from_stop_lat,from_stop_lon,to_stop_lat,to_stop_lon
0,491551.0,1,1,WALK,nan,NaN,NaN,NaN,2019-01-08 14:53:45,2019-01-08 14:55:12,...,NaN,2019-01-08 14:53:46,2019-01-08 14:55:12,NaT,0.016667,NaN,NaN,NaN,NaN,NaN
1,491551.0,1,2,BUS,944,1052,9,491551.0,2019-01-08 14:53:47,2019-01-08 14:55:12,...,497505.0,2019-01-08 15:08:21,2019-01-08 15:13:06,0 days 00:04:45,14.566667,17.90,-7.286632,-35.895697,-7.250862,-35.887265
2,491551.0,1,3,BUS,245,1045,5,385784.0,2019-01-08 15:30:01,2019-01-08 15:39:34,...,491287.0,2019-01-08 15:38:44,2019-01-08 15:46:37,0 days 00:07:53,8.716667,7.05,-7.233465,-35.888842,-7.235275,-35.872099
3,491551.0,1,5,WALK,nan,NaN,NaN,NaN,2019-01-08 15:46:09,2019-01-08 15:46:37,...,NaN,2019-01-08 15:46:21,2019-01-08 15:46:37,NaT,0.200000,NaN,NaN,NaN,NaN,NaN
4,491551.0,2,1,WALK,nan,NaN,NaN,NaN,2019-01-08 15:23:45,2019-01-08 14:55:12,...,NaN,2019-01-08 15:23:46,2019-01-08 14:55:12,NaT,0.016667,NaN,NaN,NaN,NaN,NaN

In [ ]:
"data/output/output/output_merged_otp_bulma" + file_date_str  + ".csv"

In [ ]:
feasible_complete_itins_legs.head()
output = feasible_complete_itins_legs.to_csv("data/output/output/output_merged_otp_bulma" + file_date_str  + ".csv",index=False)
#feasible_complete_itins_legs[["otp_itinerary_id","otp_leg_id","otp_mode","otp_route","bt_start_time","bt_end_time"]]

In [ ]:
teste = feasible_complete_itins_legs.drop_duplicates(keep='first',subset=['otp_leg_id','otp_mode','otp_route','bt_bus_code','bt_trip_num', 'otp_from_stop_id','otp_start_time','bt_start_time',
                'sched_obs_start_timediff','otp_to_stop_id','otp_end_time','bt_end_time','sched_obs_end_timediff'])
#feasible_complete_itins_legs_drop_duplicates = choose_leg_matches_drop_duplicates(feasible_complete_itins_legs)
#output = teste.to_csv("data/output/output.csv",index=False)
teste

In [ ]:
#output2 = teste.to_csv("data/output/output/output_merged_otp_bulma/2019_01_01.csv",index=False)

In [ ]:
teste = teste[~teste.duplicated(['otp_leg_id','otp_mode','otp_route','bt_bus_code','bt_trip_num', 'otp_from_stop_id','otp_start_time','bt_start_time',
                'sched_obs_start_timediff','otp_to_stop_id','otp_end_time','bt_end_time','sched_obs_end_timediff'])
              .groupby(teste['otp_itinerary_id']).transform('any')]
teste
#output = teste.to_csv("data/output/output_2019_02_10.csv",index=False)

In [ ]:
grouped = teste.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(x) < 5}).reset_index()

In [ ]:
grouped2 = teste.groupby(['otp_user_trip_id','otp_itinerary_id']).filter(lambda g: len(g.otp_leg_id) == 5)
grouped2

In [ ]:
grouped3 = grouped2.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(x) < 5})
grouped3